[Desktop Entry]
Encoding=UTF-8
Type=Service
Comment=Embeddable Troff Viewer
Comment[af]=Inlegbare Troff Kyker
Comment[be]=Убудаваны праглядальнік Troff
Comment[bg]=Визуализатор за вграждане на Troff
Comment[ca]=Visor Troff encastable
Comment[cs]=Komponenta pro zobrazování manuálových stránek
Comment[csb]=Przezérnik lopków troff
Comment[cy]=Gwelydd Troff Mewnadeiladwy
Comment[da]=Indlejrbar Troff-fremviser
Comment[de]=Eingebetteter Troff-Betrachter
Comment[el]=Ενσωματώσιμος προβολέας Troff
Comment[eo]=Enkonstruebla bildrigardilo
Comment[es]=Visor empotrable de Troff
Comment[et]=Põimitav Troff komponent
Comment[eu]=Troff ikustailu txertagarria
Comment[fa]=مشاهده‌گر Troff نهفتنی
Comment[fi]=Upotettava Troff-näytin
Comment[fr]=Afficheur troff incorporé
Comment[fy]=Ynsletten Troff-werjefteprogramma
Comment[ga]=Amharcán Inleabaithe troff
Comment[gl]=Visor de Troff Incrustábel
Comment[he]=מציג Troff בר־שיבוץ
Comment[hr]=Ugradivi preglednik slika
Comment[hu]=Beágyazható Troff-komponens
Comment[is]=Ívefjanlegur troff skoðari
Comment[it]=Visore integrabile di file Troff
Comment[ja]=埋め込み Troff ビューア
Comment[ka]=ჩაშენებული დამთვალიერებელი პროგრამა Troff
Comment[kk]=Құрамына енгізілетін Troff қарау құралы
Comment[km]=កម្មវិធី​មើល Troff ដែល​បាន​បង្កប់
Comment[ko]=포함 가능한 Troff 뷰어
Comment[lt]=Įdedamas Troff žiūriklis
Comment[lv]=Iegults Troff skatītājs
Comment[mk]=Вгнездлив Troff прегледувач
Comment[ms]=Pemapar Troff Boleh Benam
Comment[nb]=Innebyggbar Troff-viser
Comment[nds]=Kieker för Troff, de inbett warrn kann
Comment[ne]=सम्मिलित गर्न सकिने ट्रफ दर्शक
Comment[nl]=Ingebed Troff-weergaveprogramma
Comment[nn]=Innebyggbar Troff-visar
Comment[pa]=ਸ਼ਾਮਿਲ ਹੋਣਯੋਗ Troff ਦਰਸ਼ਕ
Comment[pl]=Przeglądania plików troff
Comment[pt]=Visualizador de Troff incorporado
Comment[pt_BR]=Visualizador Troff Integrado
Comment[ro]=Componentă de vizualizare Troff înglobată
Comment[ru]=Встраиваемая программа просмотра Troff
Comment[se]=Vuojohahtti Troff-cájeheaddji
Comment[sl]=Vključen pregledovalnik za Troff
Comment[sr]=Уградиви Troff приказивач
Comment[sr@latin]=Ugradivi Troff prikazivač
Comment[sv]=Inbäddningsbar Troff-visare
Comment[ta]=உட்பொதிந்த ட்ராஃப் காட்சி
Comment[te]=పొదగదగ్గ ట్రాఫ్ వీక్షిణి
Comment[tg]=Биношавандаи барномаи намоишгари Troff
Comment[th]=โปรแกรมดู Troff ที่สามารถฝังตัวได้
Comment[tr]=Gömülebilir Troff Görüntüleyici
Comment[uk]=Вмонтований переглядач Troff
Comment[uz]=Ичига ўрнатиб бўладиган Troff-файлини кўрувчи
Comment[vi]=Bộ xem Troff nhúng được
Comment[wa]=Ravalåve håyneu di fitchîs Troff
Comment[x-test]=xxEmbeddable Troff Viewerxx
Comment[xh]=Umboniseli we Troff Elungiselekayo
Comment[zh_TW]=可嵌入的 Troff 檢視元件
MimeType=text/troff;application/x-troff-man;
Name=KManPart
Name[eo]=KMan-parto
Name[ne]=केडीई म्यान भाग
Name[pt_BR]=Componente KMan
Name[ro]=Componentă  KMan
Name[sv]=Kman-del
Name[te]=కెమేన్ భాగం
Name[x-test]=xxKManPartxx
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkmanpart
