[Desktop Entry]
Type=Service
Comment=Embeddable Troff Viewer
Comment[x-test]=xxEmbeddable Troff Viewerxx
MimeType=application/x-troff;application/x-troff-man;
Name=KManPart
Name[x-test]=xxKManPartxx
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkmanpart
