[Desktop Entry]
Type=Service
Name=SearchKeywordsFilter
Name[af]=Soektogsleutelwoordfilter
Name[be]=Фільтр пошуку ключавых словаў
Name[be@latin]=Фільтр пошуку ключавых словаў
Name[br]=SilGerioùAlc'hwezKlask
Name[ca]=Filtre de paraules de cerca
Name[csb]=Filter kluczowëch słów
Name[cy]=HidlChwilioAllweddeiriau
Name[da]=SøgNøgleordsFilter
Name[de]=Suchstichwort-Filter
Name[el]=Φίλτρο λέξεων κλειδιών αναζήτησης
Name[eo]=Filtrilo por serĉaj ŝlosilvortoj
Name[es]=Filtro de palabras clave de búsqueda
Name[eu]=Bilaketarako gako-hitzen iragazkia
Name[fa]=پالایۀ واژه‌های کلیدی جستجو
Name[fr]=Filtre de mots clés de recherche
Name[fy]=SykwurdenFilter
Name[hi]=सर्च-की-वर्ड्स-फ़िल्टर
Name[hr]=Filtar ključnih riječi pretraživanja
Name[hu]=Kulcsszavak keresési szűrője
Name[is]=StikkorðaLeitarSía
Name[ja]=キーワード検索フィルタ
Name[ka]=ძიების საკვანძო სიტყვების ფილტრი
Name[kk]=ТүйіндіСөздерІздеуСүзгісі
Name[lt]=PaieškosRaktažodžiųFiltras
Name[lv]=MeklēšanasAtslēgvārduFiltrs
Name[mr]=शोध मुळ शब्द फिल्टर
Name[nds]=Filter för Söökafkörten
Name[ne]=शब्दकुञ्जी फिल्टर खोजी गर्नुहोस्
Name[nl]=ZoekTermenFilter
Name[nn]=SøkjeuttrykkFilter
Name[pa]=ਖੋਜ ਸ਼ਬਦ ਫਿਲਟਰ
Name[pl]=Filtr słów kluczowych
Name[pt]=Filtro de Pesquisa de Palavras-Chave
Name[pt_BR]=Filtro de Busca de Palavras-Chave
Name[sk]=Hľadať Hľadania Klávesových skratiek
Name[sl]=Filter ključnih besed za iskanje
Name[sr]=Филтер речи за претраживање
Name[sr@latin]=Filter reči za pretraživanje
Name[sv]=Sökordsökningsfilter
Name[ta]=முக்கிய வார்த்தைகள் வடிகட்டியை தேடு
Name[th]=ตัวกรองคำค้นหา
Name[tr]=TaramaKelimeSüzgeci
Name[uk]=Фільтр ключових слів Інтернет
Name[uz]=Qidirish kalit soʻzlar filteri
Name[uz@cyrillic]=Қидириш калит сўзлар филтери
Name[vi]=Bộ lọc tìm từ khoá
Name[wa]=PasseteTapreceCweraedje
Name[x-test]=xxSearchKeywordsFilterxx
Name[xh]=Phendla Amagama Angundoqo Ecebo Lokucoca Ulwelo
Name[zh_CN]=搜索关键字过滤
Name[zh_TW]=搜索關鍵字過濾
X-KDE-Library=kurisearchfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=4
