[Desktop Entry]
Type=Service
Name=SearchKeywordsFilter
Name[nl]=ZoekTermenFilter
Name[uk]=Фільтр ключових слів інтернет
Name[x-test]=xxSearchKeywordsFilterxx
X-KDE-Library=kurisearchfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=4
