[Desktop Entry]
Type=Service
Name=InternetKeywordsFilter
Name[uk]=Фільтр ключових слів інтернет
Name[x-test]=xxInternetKeywordsFilterxx
X-KDE-Library=kuriikwsfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=0
