[Desktop Entry]
Type=Service
Name=InternetKeywordsFilter
Name[af]=Internetsleutelwoordefilter
Name[ar]=مرشح كلمات الإنترنت
Name[be]=Фільтр ключавых словаў
Name[br]=SilGerioùAlc'hwezArKenrouedad
Name[ca]=Filtre de paraules clau d'Internet
Name[csb]=Filter internetowëch kluczowëch słów
Name[cy]=HidlAllweddeiriauRhyngrwyd
Name[da]=InternetNøgleordsFilter
Name[de]=Internet-Stichwort-Filter
Name[el]=Φίλτρο λέξεων κλειδιών διαδικτύου
Name[eo]=Filtrilo por interretaj ŝlosilvortoj
Name[es]=Filtro de palabras clave de Internet
Name[et]=Interneti võtmesõnade filter
Name[eu]=Interneteko gako-hitzen iragazkia
Name[fa]=پالایۀ واژه‌های کلیدی اینترنت
Name[fr]=Mots clés Internet
Name[fy]=YnternetSykwurdenFilter
Name[hi]=इंटरनेट-की-वर्ड्स-फ़िल्टर
Name[hr]=Filtar internetskih ključnih riječi
Name[hu]=Internetes kulcsszavak szűrője
Name[is]=InternetStikkorðaSía
Name[ja]=インターネットキーワードフィルタ
Name[ka]=ინტერნეტ საკვანძო სიტყვების ფილტრი
Name[kk]=ИнтернетТүйіндіСөздерСүзгісі
Name[lt]=InternetoRaktažodžiųfiltras
Name[lv]=InternetaAtslēgvārduFiltrs
Name[nb]=Filter for Internettnøkkelord
Name[nds]=Filter för Internet-Slötelwöör
Name[ne]=इन्टरनेट शब्दकुञ्जी फिल्टर
Name[nl]=InternetZoektermenFilter
Name[nn]=InternettNøkkelordFilter
Name[pa]=ਇੰਟਰਨੈੱਟ ਸ਼ਬਦ ਫਿਲਟਰ
Name[pl]=Filtr internetowych słów kluczowych
Name[pt]=Filtro de Palavras-chave na Internet
Name[pt_BR]=Filtro de Palavras-chave da Internet
Name[ru]=Фильтр ключевых слов Интернет
Name[sk]=Filter Klávesových skratiek pre Internet
Name[sl]=Filter ključnih besed za internet
Name[sr]=Филтер кључних речи Интернета
Name[sr@latin]=Filter ključnih reči Interneta
Name[sv]=Sökordsfilter för Internet
Name[ta]=தேடல் மூலச்சொற்கள் வடிகட்டி
Name[tg]=Софи калидвожаҳои интернет
Name[th]=ตัวกรองคำค้นหาบนอินเทอร์เน็ต
Name[tr]=İnternetAnahtarSözcükSüzgeci
Name[uk]=Фільтр ключових слів Інтернет
Name[uz]=Интернет калит сўзлар филтери
Name[vi]=Bộ lọc từ khoá Mạng
Name[wa]=PasseteMotsclésDaegntoele
Name[x-test]=xxInternetKeywordsFilterxx
Name[xh]=Amagama Angundoqo ecebo lokucoca ulwelo e Internet
Name[zh_CN]=互联网关键字过滤
Name[zh_TW]=網際網路關鍵字過濾
X-KDE-Library=libkuriikwsfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=1
