[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SearchProvider
Comment=Search Engine
Comment[af]=Soektog Masjien
Comment[ar]=محرك البحث
Comment[be]=Рухавік пошуку
Comment[bn]=সার্চ ইঞ্জিন
Comment[br]=Keflusker klask
Comment[ca]=Motor de cerca
Comment[cs]=Vyhledávací stroj
Comment[csb]=Szëkôrz
Comment[cy]=Peiriant Chwilio
Comment[da]=Søgemaskine
Comment[de]=Suchmaschine
Comment[el]=Μηχανή αναζήτησης
Comment[eo]=Serĉilo
Comment[es]=Motor de búsqueda
Comment[et]=Otsingumootor
Comment[eu]=Bilaketa motorea
Comment[fa]=موتور جستجو
Comment[fi]=Hakukone
Comment[fr]=Moteur de recherche
Comment[fy]=Sykmasine
Comment[ga]=Inneall Cuardaigh
Comment[gl]=Motor de procura
Comment[gu]=શોધ એન્જિન
Comment[he]=מנוע חיפוש
Comment[hi]=खोज इंजिन
Comment[hr]=Tražilica
Comment[hu]=Keresőmotor
Comment[is]=Leitarvél
Comment[it]=Motore di ricerca
Comment[ja]=検索エンジン
Comment[ka]=საძიებო სისტემა
Comment[kk]=Іздеу құралы
Comment[km]=ម៉ាស៊ីន​ស្វែងរក
Comment[ko]=검색 엔진
Comment[lt]=Paieškos tarnyba
Comment[lv]=Meklēšanas dzinējs
Comment[mk]=Машина за пребарување
Comment[ms]=Enjin Carian
Comment[nb]=Søkemotor
Comment[nds]=Söökmaschien
Comment[ne]=इन्जिन खोजी गर्नुहोस्
Comment[nl]=Zoekmachine
Comment[nn]=Søkjemotor
Comment[pa]=ਖੋਜ ਇੰਜਣ
Comment[pl]=Wyszukiwarka
Comment[pt]=Motor de Busca
Comment[pt_BR]=Mecanismo de Busca
Comment[ro]=Motor de căutare
Comment[ru]=Поисковая машина
Comment[se]=Ohcanmotor
Comment[sk]=Hľadací nástroj
Comment[sl]=Iskalnik
Comment[sr]=Мотор претраге
Comment[sr@latin]=Motor pretrage
Comment[sv]=Sökmotor
Comment[ta]=தேடு இயந்திரம்
Comment[tg]=Мошини ҷустуҷӯӣ
Comment[th]=เครื่องมือสำหรับค้นหา
Comment[tr]=Arama Motoru
Comment[uk]=Механізм пошуку
Comment[uz]=Қидириш воситаси
Comment[vi]=Cơ chế Tìm kiếm
Comment[wa]=Ricwerrece
Comment[x-test]=xxSearch Enginexx
Comment[xh]=Phendla Injini
Comment[zh_CN]=搜索引擎
Comment[zh_TW]=搜索引擎

[PropertyDef::Keys]
Type=QStringList

[PropertyDef::Query]
Type=QString

[PropertyDef::Charset]
Type=QString
