[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=SearchProvider
Comment=Search Engine
Comment[af]=Soektog Masjien
Comment[ar]=محرك البحث
Comment[br]=Keflusker klask
Comment[ca]=Motor de recerca
Comment[cs]=Vyhledávací stroj
Comment[csb]=Szëkôrz
Comment[cy]=Peiriant Chwilio
Comment[da]=Søgemaskine
Comment[de]=Suchmaschine
Comment[el]=Μηχανή αναζήτησης
Comment[eo]=Serĉilo
Comment[es]=Motor de búsqueda
Comment[et]=Otsingumootor
Comment[eu]=Bilaketa motorea
Comment[fa]=موتور جستجو
Comment[fi]=Hakukone
Comment[fr]=Moteur de recherche
Comment[fy]=Sykmasine
Comment[ga]=Inneall Cuardaigh
Comment[gl]=Ferramenta de Procura
Comment[he]=מנוע חיפוש
Comment[hr]=Tražilica
Comment[hu]=Keresőmotor
Comment[is]=Leitarvél
Comment[it]=Motore di ricerca
Comment[ja]=検索エンジン
Comment[ka]=საძიებო სისტემა
Comment[kk]=Іздеу құралы
Comment[km]=ម៉ាស៊ីន​ស្វែងរក
Comment[ko]=찾는 엔진
Comment[lt]=Paieškos tarnyba
Comment[lv]=Meklēšanas dzinējs
Comment[mk]=Машина за пребарување
Comment[ms]=Enjin Carian
Comment[nb]=Søkemotor
Comment[nds]=Söökmaschien
Comment[ne]=इन्जीन खोज्नुहोस्
Comment[nl]=Zoekmachine
Comment[nn]=Søkjemotor
Comment[pa]=ਖੋਜ ਇੰਜਣ
Comment[pl]=Wyszukiwarka
Comment[pt]=Motor de Busca
Comment[pt_BR]=Mecanismo de procura
Comment[ro]=Motor de căutare
Comment[ru]=Поисковая машина
Comment[se]=Ohcanmotor
Comment[sl]=Iskalnik
Comment[sr]=Претраживачка машина
Comment[sr@latin]=Pretraživačka mašina
Comment[sv]=Sökmotor
Comment[ta]=தேடு இயந்திரம்
Comment[tg]=Мошини ҷустуҷӯӣ
Comment[tr]=Arama Motoru
Comment[uk]=Механізм пошуку
Comment[uz]=Қидириш воситаси
Comment[wa]=Ricwerrece
Comment[x-test]=xxSearch Enginexx
Comment[xh]=Phendla Injini
Comment[zh_TW]=搜索引擎

[PropertyDef::Keys]
Type=QStringList

[PropertyDef::Query]
Type=QString

[PropertyDef::Charset]
Type=QString
