[Desktop Entry]
Icon=run
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmcgi
X-DocPath=kcontrol/kcmcgi/index.html
X-KDE-Library=kcm_cgi
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=cgi

Name=CGI Scripts
Name[af]=CGI-skripte
Name[ar]=CGI سكريبت 
Name[be]=Сцэнары CGI
Name[be@latin]=Skrypty CGI
Name[bg]=CGI скриптове
Name[bn]=সি-জি-আই স্ক্রিপ্ট
Name[bn_IN]=CGI স্ক্রিপ্ট
Name[br]=Urzhiaouegoù CGI
Name[ca]=Scripts CGI
Name[ca@valencia]=Scripts CGI
Name[cs]=CGI skripty
Name[csb]=Skriptë CGI
Name[cy]=Sgriptiau CGI
Name[da]=CGI Scripter
Name[de]=CGI-Skripte
Name[el]=Σενάρια CGI
Name[en_GB]=CGI Scripts
Name[eo]=CGI-skriptoj
Name[es]=Procedimientos CGI
Name[et]=CGI skriptid
Name[eu]=CGI scriptak
Name[fa]=دست‌نوشته‌های CGI
Name[fi]=CGI-komentosarjat
Name[fr]=Scripts CGI
Name[fy]=CGI-skripts
Name[ga]=Scripteanna CGI
Name[gl]=Scripts CGI
Name[gu]=CGI સ્ક્રિપ્ટ્સ
Name[he]=תסריטי CGI
Name[hi]=सीजीआई स्क्रिप्ट
Name[hne]=सीजीआई स्क्रिप्ट
Name[hr]=CGI skripte
Name[hsb]=CGI-skripty
Name[hu]=CGI-programok
Name[id]=Skrip CGI
Name[is]=CGI Skriftur
Name[it]=Script CGI
Name[ja]=CGI スクリプト
Name[ka]=CGI სკრიპტები
Name[kk]=CGI скрипттері
Name[km]=ស្គ្រីប CGI
Name[kn]=ಸಿಜಿಐ ವಿಧಿಗುಚ್ಛಗಳು (ಸ್ಕ್ರಿಪ್ಟ್)
Name[ko]=CGI 스크립트
Name[ku]=Skrîptên CGI
Name[lt]=CGI scenarijai
Name[lv]=CGI skripts
Name[mai]=सीजीआई स्क्रिप्ट
Name[mk]=CGI-скрипти
Name[ml]=സീജീഐ സ്ക്രിപ്റ്റുകള്‍
Name[mr]=CGI स्क्रिप्ट
Name[ms]=Skrip CGI
Name[nb]=CGI-skript
Name[nds]=CGI-Skripten
Name[ne]=CGI स्क्रिप्ट
Name[nl]=CGI-scripts
Name[nn]=CGI-skript
Name[oc]=Escripts CGI
Name[or]=CGI ସ୍କ୍ରିପ୍ଟଗୁଡ଼ିକ
Name[pa]=CGI ਸਕ੍ਰਿਪਟਾਂ
Name[pl]=Skrypty CGI
Name[pt]=Programas CGI
Name[pt_BR]=Scripts CGI
Name[ro]=Scripturi CGI
Name[ru]=Скрипты CGI
Name[se]=CGI-skriptat
Name[si]=CGI ස්ක්‍රිප්ට්
Name[sk]=Skripty CGI
Name[sl]=Skripte CGI
Name[sr]=ЦГИ скрипте
Name[sr@ijekavian]=ЦГИ скрипте
Name[sr@ijekavianlatin]=CGI skripte
Name[sr@latin]=CGI skripte
Name[sv]=CGI-skript
Name[ta]=CGI எழுத்தாக்கங்கள்
Name[te]=సిజిఐ స్క్రిప్ట్లు
Name[tg]=Дастнависҳои CGI
Name[th]=สคริปต์ CGI
Name[tr]=CGI Betikleri
Name[uk]=Скрипти CGI
Name[uz]=CGI skriptlar
Name[uz@cyrillic]=CGI скриптлар
Name[vi]=Văn lệnh CGI
Name[wa]=Sicripes CGI
Name[xh]=Amagama ashicilelwe phantsi CGI
Name[x-test]=xxCGI Scriptsxx
Name[zh_CN]=CGI 脚本
Name[zh_TW]=CGI 命令稿
Comment=Configure the CGI KIO slave
Comment[af]=Stel die CGI KIO-slaaf op
Comment[ar]=اضبط CGI خادم دخل وخرج كدي
Comment[be]=Настаўленні CGI KIO slave
Comment[be@latin]=Naładź słužby „kioslave” CGI
Comment[bg]=Настройване на модула за изпълнение на скриптове без уеб сървър - CGI KIO
Comment[bn]=CGI KIO স্লেভ কনফিগার করুন
Comment[bn_IN]=CGI KIO স্লেভ কনফিগার করুন
Comment[ca]=Configura l'esclau KIO CGI
Comment[ca@valencia]=Configura l'esclau KIO CGI
Comment[cs]=Nastavení CGI pro KDE
Comment[csb]=Kònfigùracëjô procedurë òbsłużënkù CGI
Comment[cy]=Ffurfweddu'r gwas CGI KIO
Comment[da]=Indstilling af CGI KIO-slaven
Comment[de]=Ein-/Ausgabemodul für CGI einrichten
Comment[el]=Ρυθμίστε το CGI KIO slave
Comment[en_GB]=Configure the CGI KIO slave
Comment[eo]=Agordi la CGI-KIO-sklavon
Comment[es]=Configuración del KIO slave de CGI
Comment[et]=CGI KIO-mooduli seadistamine
Comment[eu]=CGI KIO slave-a konfiguratu
Comment[fa]=پیکربندی پی‌رو CGI KIO
Comment[fi]=Muokkaa CGI-KIO-palvelun asetuksia
Comment[fr]=Configuration du module d'entrées / sorties CGI
Comment[fy]=Hjir kinne jo de CGI Kio-slave ynstelle
Comment[ga]=Cumraigh an sclábhaí KIO CGI
Comment[gl]=Configuración do kioslave de CGI
Comment[gu]=CGI KIO સ્લેવ રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות פרוטוקול ה־CGI
Comment[hi]=सीजीआई केआईओ स्लेव कॉन्फ़िगर करें
Comment[hne]=सीजीआई केआईओ स्लेव कान्फिगर करव
Comment[hr]=Konfiguriranje CGI KIO podčinjenog
Comment[hsb]=CGI KIO slave připrawić
Comment[hu]=A CGI KDE-protokoll beállításai
Comment[id]=Atur hamba KIO CGI
Comment[is]=Stilla CGI kioslave þrælinn
Comment[it]=Configura il KIO-slave CGI
Comment[ja]=CGI KIO スレーブの設定
Comment[ka]=CGI KIO slave-ის კონფიგურაცია
Comment[kk]=CGI KIO slave-ты баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ CGI KIO slave
Comment[kn]=ಸಿಜಿಐ ಕೆಐಓಅಧೀನಾನ್ವಯ (ಸ್ಲೇವ್) ಅನ್ನು ಸಂರಚಿಸು
Comment[ko]=CGI KIO 슬레이브 설정
Comment[ku]=Xebatkarên CGI KIO veava bike
Comment[lt]=Konfigūruoti CGI KIO slave
Comment[lv]=Konfigurēt CGI KIO vergu
Comment[mai]=सीजीआई केआईओ स्लेव बिन्यस्त करू
Comment[mk]=Конфигурација на CGI KIO служителот
Comment[ml]=സിജിഐ കിയോ സ്ലേവ് ക്രമീകരിയ്ക്കുക
Comment[mr]=CGI KIO स्लेव संयोजीत करा
Comment[ms]=Konfigur hamba CGI KIO
Comment[nb]=Tilpass CGI KIO slave
Comment[nds]=Dat CGI-In-/Utgaavmoduul instellen
Comment[ne]=CGI KIO स्लाभ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de CGI Kio-slave instellen
Comment[nn]=Set opp CGI-KIO-slaven
Comment[or]=CGI KIO ସ୍ଲେଭକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=CGI KIO ਸਲੇਵ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja procedury obsługi CGI
Comment[pt]=Configuração do KIO slave de CGIs
Comment[pt_BR]=Configurar o KIO slave de CGIs
Comment[ro]=Configurează dispozitivul I/O CGI
Comment[ru]=Настройка поддержки CGI
Comment[se]=Heivet CGI-KIO-šláva
Comment[si]=Configure the CGI KIO slave
Comment[sk]=Nastavenie CGI KIO klienta
Comment[sl]=Nastavi podrejenega KIO CGI
Comment[sr]=Подешавање У/И захвата за ЦГИ
Comment[sr@ijekavian]=Подешавање У/И захвата за ЦГИ
Comment[sr@ijekavianlatin]=Podešavanje U/I zahvata za CGI
Comment[sr@latin]=Podešavanje U/I zahvata za CGI
Comment[sv]=Anpassa I/O-slaven för CGI
Comment[ta]=CGI KIO slaveஐ வடிவமை
Comment[te]=CGI KIO బానిసను ఆకృతీకరించుము
Comment[tg]=Танзимоти CGI KIO slave
Comment[th]=ปรับแต่ง CGI KIO slave
Comment[tr]=CGI KIO aracısını yapılandır
Comment[uk]=Налаштування підлеглого KIO CGI
Comment[uz]=CGI KIO sleyvni moslash
Comment[uz@cyrillic]=CGI KIO слейвни мослаш
Comment[vi]=Cấu hình đày tớ KIO kiểu CGI
Comment[wa]=Apontyî l' vårlet d' I/R des CGI
Comment[xh]=Qwlalsela i CGI KIO slave
Comment[x-test]=xxConfigure the CGI KIO slavexx
Comment[zh_CN]=配置 CGI KIO slave
Comment[zh_TW]=設定 CGI KIO slave

X-KDE-Keywords=CGI,KIO,Slave,Paths
X-KDE-Keywords[be]=Шляхі,CGI,KIO,Slave,Paths
X-KDE-Keywords[bg]=Keywords=скриптове, уеб, динамичен, скрипт, Интернет, път, пътища, CGI, KIO, Slave, Paths
X-KDE-Keywords[br]=CGI,KIO,sklav,hentoù
X-KDE-Keywords[ca]=CGI,KIO,Esclau,Rutes
X-KDE-Keywords[cs]=CGI,KIO,slave,cesty
X-KDE-Keywords[csb]=CGI,KIO,procedurë wé/wi,stegnë
X-KDE-Keywords[cy]=CGI,KIO,Gwas,Llwybrau
X-KDE-Keywords[da]=CGI,KIO,Slave,Stier
X-KDE-Keywords[de]=CGI,KIO,Ein-/Ausgabemodul,Pfade
X-KDE-Keywords[el]=CGI,KIO,Slave,Διαδρομές
X-KDE-Keywords[eo]=CGI,Enel,K-enel,sklavo,servo,vojoj
X-KDE-Keywords[es]=CGI,KIO,Slave,Rutas
X-KDE-Keywords[et]=CGI,KIO,moodul,otsinguteed
X-KDE-Keywords[fa]=CGI، KIO، Slave، مسیرها
X-KDE-Keywords[fi]=CGI,KIO,KIO-palvelu,palvelu,Polut
X-KDE-Keywords[fr]=CGI,KIO,Slave,Paths,Chemins
X-KDE-Keywords[fy]=cgi,kio,slave,paths,paden
X-KDE-Keywords[ga]=CGI,KIO,Sclábhaí,Bealaí
X-KDE-Keywords[gl]=CGI,KIO,Escravo,Camiños
X-KDE-Keywords[he]=CGI,KIO,פרוטוקול,נתיבים, Slave,Paths
X-KDE-Keywords[hr]=CGI,KIO,Slave,Paths,podčinjeni,putanje
X-KDE-Keywords[hu]=CGI,KIO,protokoll,elérési utak
X-KDE-Keywords[is]=CGI,KIO,þræll,slóðir
X-KDE-Keywords[it]=CGI,KIO,kioslave,percorsi
X-KDE-Keywords[ja]=CGI,KIO,スレーブ,パス
X-KDE-Keywords[km]=CGI KIO Slave ផ្លូវ
X-KDE-Keywords[ko]=CGI,KIO,슬레이브,경로
X-KDE-Keywords[lt]=CGI,KIO,Slave,Paths, keliai
X-KDE-Keywords[lv]=CGI,KIO,vergi,ceļi
X-KDE-Keywords[mk]=CGI,KIO,Slave,Paths,Патеки
X-KDE-Keywords[nb]=CGI,KIO,Slave,slave,stier
X-KDE-Keywords[nds]=CGI,KIO,Slave,IU,In-/Utgaavdeenst,Deenst,Padden
X-KDE-Keywords[ne]=CGI,KIO,स्लाभ, मार्ग
X-KDE-Keywords[nl]=cgi,kio,slave,paths,paden
X-KDE-Keywords[nn]=CGI,KIO,slave,stiar
X-KDE-Keywords[pa]=CGI,KIO,ਸਲੇਵ,ਮਾਰਗ
X-KDE-Keywords[pl]=CGI,KIO,procedury we/wy,ścieżki
X-KDE-Keywords[pt]=CGI,KIO,Slave,Localizações
X-KDE-Keywords[pt_BR]=CGI,KIO,Slave,Caminhos
X-KDE-Keywords[ro]=I/E,IE,CGI,KIO,dispozitiv,căi
X-KDE-Keywords[se]=CGI,KIO,šláva,bálgát
X-KDE-Keywords[sl]=CGI,KIO,podrejeni,pot
X-KDE-Keywords[sr]=CGI,KIO,Slave,Paths,К-У/И,захват,путање
X-KDE-Keywords[sr@latin]=CGI,KIO,Slave,Paths,K-U/I,zahvat,putanje
X-KDE-Keywords[sv]=CGI,KIO,Slav,Sökvägar
X-KDE-Keywords[ta]=CGI,KIO,ஸ்லேவ்,பாதைகள்
X-KDE-Keywords[te]=సిజిఐ,కెఐఒ,బానిస,దారులు
X-KDE-Keywords[th]=CGI,KIO,Slave,เส้นทาง
X-KDE-Keywords[tr]=CGI,KIO,Aracı,Yollar
X-KDE-Keywords[uk]=CGI,KIO,підлеглий,шлях
X-KDE-Keywords[uz]=CGI,KIO,Слейв,Йўллар
X-KDE-Keywords[vi]=CGI,KIO,Đày tớ,Đường dẫn
X-KDE-Keywords[wa]=CGI,KIO,vårlet d' I/R,ioslave,vårlet,tchimins
X-KDE-Keywords[x-test]=xxCGI,KIO,Slave,Pathsxx
X-KDE-Keywords[zh_CN]=CGI,KIO,Slave,Paths,路径
X-KDE-Keywords[zh_TW]=CGI,KIO,Slave,Paths,路徑
