[Desktop Entry]
Icon=run
Type=Application
Exec=kcmshell kcmcgi
DocPath=
X-KDE-ModuleType=Library
X-KDE-Library=cgi

Name=CGI Scripts
Name[af]=cgi kio slaaf
Name[da]=CGI KIO-slave
Name[de]=CGI/KIO-Modul
Name[eo]=CGI-enel-sklavo
Name[es]=KIO Slave de CGI
Name[he]=פרוטוקול CGI
Name[hr]=CGI KIO poslužnik
Name[hu]=CGI KDE-protokoll
Name[mt]=Skjav KIO CGI
Name[nb]=CGI KIO-slave
Name[nl]=CGI KIO-slave
Name[pt]=KIO Slave de CGIs
Name[pt_BR]=CGI KIO
Name[ro]=Dispozitiv I/O CGI
Name[sk]=IO klient CGI
Name[sv]=I/O-slav för CGI
Name[tr]=DVD IO Aracısı
Comment=Configure the CGI KIO slave
Comment[af]=konfigureer die cgi kio slaaf
Comment[bs]=Podešavanje CGI KIO slave-a
Comment[da]=Indstilling af CGI KIO-slaven
Comment[de]=CGI-Ein/Ausgabe-Modul einrichten
Comment[el]=Ρυθμίστε το CGI KIO slave
Comment[es]=Configuración del KIO slave de CGI
Comment[fi]=Aseta CGI KIO slavea
Comment[fr]=Configuration du CGI KIO slave
Comment[he]=שינוי הגדרות פרוטוקול ה-CGI
Comment[hu]=A CGI KDE-protokoll beállításai
Comment[nl]=Configureer de CGI Kio-slave
Comment[pt]=Configuração do KIO slave de CGIs
Comment[pt_BR]=Configura o CGI KIO escravo
Comment[sv]=Anpassa I/O-slaven för CGI
Comment[xh]=Qwlalsela i CGI KIO slave
Comment[zh_TW]=設定 CGI KIO slave

Keywords=CGI,KIO,Slave,Paths
Keywords[da]=CGI,KIO,Slave,Stier
Keywords[de]=CGI,KIO,Ein/Ausgabe-Modul,Pfade
Keywords[el]=CGI,KIO,Slave,Διαδρομές
Keywords[es]=CGI,KIO,Slave,Rutas
Keywords[fi]=CGI,KIO,Orja,Polut
Keywords[he]=CGI,KIO,פרוטוקול,נתיבים
Keywords[hr]=CGI,KIO,Slave,Paths,poslužnik,putanje
Keywords[hu]=CGI,KIO,protokoll,elérési utak
Keywords[ja]=CGI,KIO,Slave,Path,パス
Keywords[mt]=CGI,KIO,Slave,Paths,skjav,passaġġ
Keywords[nb]=CGI,KIO,Slave,Paths, slave,stier
Keywords[nl]=cgi,kio,slave,paths,paden
Keywords[pt]=CGI,KIO,Slave,Localizações
Keywords[pt_BR]=CGI,KIO,Escravo,Caminhos
Keywords[ro]=CGI,KIO,dispozitiv,căi
Keywords[sk]=CGI,KIO,klient,cesty
Keywords[sv]=CGI,KIO,Slav,Sökvägar
Keywords[tr]=CGI,KIO,Aracı,Yollar
Keywords[zh_TW]=CGI,KIO,Slave,Paths,路徑
