[Desktop Entry]
Type=Service
Name=LocalDomainFilter
Name[af]=Plaaslike domein filter
Name[ar]=مرشح المجال المحلي
Name[ca]=Filtre de dominis locals
Name[cs]=Filtr pro lokální doménu
Name[csb]=Filter môlowi domenë
Name[cy]=HidlParthLleol
Name[el]=Φίλτρο τοπικού τομέα
Name[eo]=LokaRetejo-filtrilo
Name[es]=FiltrodeDominioLocal
Name[eu]=Domeinu lokal iragazkia
Name[fr]=Filtre de domaine local
Name[fy]=Lokaaldomeinfilter
Name[gu]=સ્થાનિકડોમેઇનગાળક
Name[hi]=लोकल-डोमेन-फ़िल्टर
Name[hr]=Filtar lokalnih domena
Name[hu]=HelyiTartománySzűrő
Name[it]=FiltroDominioLocale
Name[lv]=LokāloDomēnuFiltrs
Name[mai]=लोकल-डोमेन-फिल्टर
Name[ml]=ലോക്കല്‍ഡൊമൈന്‍ഫില്‍ട്ടര്‍
Name[mr]=स्थानीय क्षेत्र फिल्टर
Name[nds]=Filter för LocalDomain
Name[ne]=स्थानीय डोमेन फिल्टर
Name[nl]=Lokaaldomeinfilter
Name[pa]=ਲੋਕਲ ਡੋਮੇਨ ਫਿਲਟਰ
Name[pl]=Filtr lokalnej domeny
Name[pt_BR]=Filtro de domínio local
Name[ro]=Filtru de domeniu local
Name[sk]=Filter lokálnej domény
Name[sl]=FilterLokalneDomene
Name[sr]=Филтер локалног домена
Name[sr@latin]=Filter lokalnog domena
Name[sv]=Filter för lokal domän
Name[th]=ตัวกรองโดเมนท้องถื่น
Name[uk]=Фільтр локальних доменів
Name[vi]=Lọc Tên miền Địa phương
Name[wa]=PasseteLocåDominne
Name[x-test]=xxLocalDomainFilterxx
Name[zh_CN]=本地域名过滤
Name[zh_TW]=區域網域過濾器
X-KDE-Library=localdomainurifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=2
