[Desktop Entry]
Type=Service
Name=LocalDomainFilter
Name[uk]=Фільтр локальних доменів
Name[x-test]=xxLocalDomainFilterxx
X-KDE-Library=localdomainurifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=2
