[Desktop Entry]
Encoding=UTF-8
Icon=kfm
Type=MimeType
MimeType=inode/system_directory
Comment=System Folder
Comment[el]=Φάκελος συστήματος
Comment[fr]=Dossier système
Comment[x-test]=xxSystem Folderxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
