[Desktop Entry]
Encoding=UTF-8
Icon=kfm
Type=MimeType
MimeType=inode/system_directory
Comment=System Folder
Comment[bg]=Системна директория
Comment[bn]=সিস্টেম ফোল্ডার
Comment[cs]=Systémová složka
Comment[da]=Systemmappe
Comment[es]=Carpeta del sistema
Comment[fr]=Dossier système
Comment[ga]=Comhadlann chórais
Comment[he]=תקיית מערכת
Comment[hu]=Rendszermappa
Comment[is]=Kerfismappa
Comment[nb]=Systemmappe
Comment[nl]=Systeemmap
Comment[pt]=Pasta de sistema
Comment[pt_BR]=Pasta do sistema
Comment[ru]=Системная папка
Comment[sv]=Systemkatalog
Comment[ta]=அமைப்பு அடைவு
Comment[tr]=Sistem Klasörü
Comment[uk]=Системна тека
Comment[zh_CN]=系统文件夹
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
