[Desktop Entry]
Type=Service
Name=Recent Document Watcher
Name[cs]=Sledování nedávných dokumentů
Name[el]=Επόπτης πρόσφατου εγγράφου
Name[gl]=Vixilante dos documentos recentes
Name[hi]=हालिया दस्तावेज़ चौकीदार
Name[ia]=Observator de documento recente
Name[is]=Skoðun á nýlegum skjölum
Name[nb]=Nylig brukt dokumentovervåker
Name[nds]=Tolest bruukt Dokmenten beluern
Name[nl]=Bewaker van recente documenten
Name[pa]=ਤਾਜ਼ਾ ਡੌਕੂਮੈਂਟ ਵਾਂਚਰ
Name[pl]=Obserwator ostatnich dokumentów
Name[pt]=Vigilante de Documentos Recentes
Name[pt_BR]=Monitor de documentos recentes
Name[ro]=Supraveghetor documente recente
Name[sk]=Sledovanie nedávnych dokumentov
Name[sv]=Bevakning av senaste dokument
Name[tr]=Son Kullanılan Belgeler İzleyicisi
Name[uk]=Наглядач за недавніми документами
Name[x-test]=xxRecent Document Watcherxx
Name[zh_CN]=最近文档监视器
Name[zh_TW]=最近文件監控器
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=recentdocumentsnotifier
X-KDE-FactoryName=recentdocumentsnotifier
X-KDE-DBus-ModuleName=recentdocumentsnotifier
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false
Comment=Monitors "Recent Documents" folder for changes
