[Desktop Entry]
Type=Service
Name=Recent Document Watcher
Name[cs]=Sledování nedávných dokumentů
Name[el]=Επόπτης πρόσφατου εγγράφου
Name[gl]=Vixilante dos documentos recentes
Name[ia]=Observator de documento recente
Name[is]=Skoðun á nýlegum skjölum
Name[nb]=Nylig brukt dokumentovervåker
Name[nds]=Tolest bruukt Dokmenten beluern
Name[nl]=Bewaker van recente documenten
Name[pl]=Obserwator ostatnich dokumentów
Name[pt]=Vigilante de Documentos Recentes
Name[pt_BR]=Monitor de documentos recentes
Name[ro]=Supraveghetor documente recente
Name[sk]=Sledovanie nedávnych dokumentov
Name[sv]=Bevakning av senaste dokument
Name[uk]=Наглядач за недавніми документами
Name[x-test]=xxRecent Document Watcherxx
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=recentdocumentsnotifier
X-KDE-FactoryName=recentdocumentsnotifier
X-KDE-DBus-ModuleName=recentdocumentsnotifier
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false
Comment=Monitors Recent Document for changes
Comment[cs]=Monitoruje změny v nedávno otevřených dokumentech
Comment[el]=Επίβλεψη πρόσφατου εγγράφου για αλλαγές
Comment[gl]=Vixía os cambios nos documentos recentes
Comment[ia]=Il monitora documento recente pro variationes
Comment[is]=Fylgist með breytingum á nýlegum skjölum
Comment[nb]=Overvåker nylig brukte dokumenter etter endringer
Comment[nds]=Tolest bruukt Dokmenten op Ännern beluern
Comment[nl]=Bewaakt recente documenten op wijzigingen
Comment[pl]=Monitoruje ostatnie dokumenty pod kątem zmian
Comment[pt]=Vigia as alterações nos documentos recentes
Comment[pt_BR]=Monitora as alterações nos documentos recentes
Comment[ro]=Monitorizează documentele recente după modificări
Comment[sk]=Monitoruje zmeny v nedvnych dokumentoch
Comment[sv]=Övervakar senaste dokument efter ändringar
Comment[uk]=Стежить за змінами у недавніх документах
Comment[x-test]=xxMonitors Recent Document for changesxx
