[Desktop Entry]
Type=Service
Name=Recent Document Watcher
Name[uk]=Наглядач за недавніми документами
Name[x-test]=xxRecent Document Watcherxx
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=recentdocumentsnotifier
X-KDE-FactoryName=recentdocumentsnotifier
X-KDE-DBus-ModuleName=recentdocumentsnotifier
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false
Comment=Monitors "Recent Documents" folder for changes
Comment[uk]=Стежить за змінами у теці недавніх документів
Comment[x-test]=xxMonitors "Recent Documents" folder for changesxx
