[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-Library=medianotifier
X-KDE-FactoryName=medianotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=Media Notifier Deamon
Name[x-test]=xxMedia Notifier Deamonxx
Comment=A media plugged notifier
Comment[el]=Ένας ειδοποιητής εισαγωγής μέσου
Comment[fr]=Notification de connexion de média
Comment[x-test]=xxA media plugged notifierxx
