[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-Library=medianotifier
X-KDE-FactoryName=medianotifier
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=false
Name=Media Notifier Deamon
Name[be]=Дэман абвяшчэнняў аб носьбітах
Name[bg]=Мултимедиен демон
Name[ca]=Dimoni notificador de suports
Name[csb]=Ùsłëżnota pòwiadomieniô ò zôpisownëch mediach
Name[de]=Geräteüberwachung
Name[el]=Δαίμονας ειδοποίησης μέσων
Name[es]=Servicio de notificación de medios
Name[fa]=شبح اخطاردهندۀ رسانه
Name[he]=שירות הודעות לגבי מדיה
Name[ja]=メディア通知デーモン
Name[km]=កម្មវិធី​ជូនដំណឹង​មេឌៀ Deamon
Name[nds]=Medien-Narichtendämoon
Name[nl]=Medianotificatie-daemon
Name[pa]=ਮੀਡਿਆ ਨੋਟੀਫਾਇਰ ਡੈਮਨ
Name[pt]=Servidor de Notificação de Dispositivos
Name[pt_BR]=Servidor de Notificação de Mídia
Name[sv]=Demon för mediaunderrättelser
Name[th]=แดมอนแจ้งเตือนสำหรับสื่อบันทึก
Name[x-test]=xxMedia Notifier Deamonxx
Name[zh_TW]=媒體通知伺服程式
Comment=A media plugged notifier
Comment[af]='n Inpropbare media inkennissteller
Comment[be]=Дэман абвяшчэнняў аб зменах стану носьбітаў
Comment[bg]=Мултимедиен демон за уведомяване при поставяне/включване на ново мултимедийно устройство
Comment[ca]=Un notificador de què s'ha introduït un suport
Comment[cs]=Upozorňování na připojená média
Comment[csb]=Wiédzô ò przëłączeniô zôpisownëch mediów
Comment[da]=En opdager af at medier sættes ind
Comment[de]=Benachrichtigt das System über angeschlossene Geräte
Comment[el]=Ένας ειδοποιητής εισαγωγής μέσου
Comment[eo]=Media konekt-atentigilo
Comment[es]=Un notificador de medios empotrable
Comment[et]=Andmekandja ühendamisest märkuandev deemon
Comment[eu]=Euskarri konektatze jakinarazlea
Comment[fa]=یک اخطاردهندۀ وصل‌شدۀ رسانه
Comment[fi]=Liitetyn median huomautin
Comment[fr]=Notification de connexion de média
Comment[fy]=Meidieling fan oankeppele media
Comment[gl]=Un notificador de meios disponíbeis
Comment[he]=שירות הודעות לגבי מדיה שהוכנסה או נשלפה
Comment[hr]=Priključeno obavještavanje o medijima
Comment[hu]=Lemezérzékelő
Comment[is]=Tilkynnari um tengda miðla
Comment[it]=Notifiche dei dispositivi attaccati
Comment[ja]=メディアの接続を通知します
Comment[ka]=მედიის ჩადგმის შემტყობინებელი
Comment[kk]=Медиа салынған туралы құлақтандыру
Comment[km]=កម្មវិធី​ជូនដំណឹង​ដែលបាន​ដោត​ទៅមេឌៀ
Comment[lt]=Perspėjimo apie media prijungimą priedas
Comment[mk]=Известување за приклучен медиум
Comment[nb]=En medievarsler som programtillegg
Comment[nds]=En Deenst för Narichten över tokoppelt Reedschappen
Comment[ne]=मिडिया प्लग गरिएको सूचक
Comment[nl]=Meldingen van aangesloten media
Comment[nn]=Ein medievarslar som programtillegg
Comment[pa]=ਇੱਕ ਮੀਡਿਆ ਪਲੱਗ ਨੋਟੀਫਾਇਰ
Comment[pl]=Powiadamianie o podłączeniu nośników danych
Comment[pt]=Um notificador ligado aos dispositivos
Comment[pt_BR]=um notificador para mídia que é espetada (plug)
Comment[ro]=Un notificator de adăugare mediu
Comment[ru]=Система обработки уведомлений от подключаемых устройств
Comment[sl]=Obveščanje o vstavljenih/priklopljenih nosilcih
Comment[sr]=Обавештавач о укљученим медијима
Comment[sr@latin]=Obaveštavač o uključenim medijima
Comment[sv]=Inbäddad mediaunderrättelse
Comment[th]=ตัวแจ้งเตือนการเสียบสื่อบันทึก
Comment[tr]=CD/USB/Firewire durum izleme sistemi
Comment[uk]=Сповіщення про приєднання носіїв інформації
Comment[uz]=Сақлаш ускуналар уланганида хабар берувчи
Comment[x-test]=xxA media plugged notifierxx
Comment[zh_TW]=媒體插入通知程式
