[Desktop Entry]
Type=Service
Name=Acronym Database
Name[uk]=База даних акронімів
Name[x-test]=xxAcronym Databasexx
X-KDE-ServiceTypes=SearchProvider
Keys=ad,acro,acronym
Query=http://www.abbreviations.com/\\{@}
Query[uk]=http://www.abbreviations.com/\\{@}
Query[x-test]=xxhttp://www.abbreviations.com/\\{@}xx
