[Desktop Entry]
Type=Service
Name=Alexa URL
Name[bn]=অ্যালেক্সা ইউ-আর-এল
Name[br]=URL Alexa
Name[ca]=URL d'Alexa
Name[csb]=Lënk Alexa
Name[da]=Alexa-URL
Name[de]=Alexa-Adresse
Name[eo]=Alexa-URL
Name[es]=URL de Alexa
Name[fa]=نشانی وب Alexa
Name[fr]=URL Alexa
Name[fy]=Alexa URL-adres
Name[ga]=URL Alexa
Name[he]=כתובת של Alexa
Name[hi]=एलेक्सा यूआरएल
Name[is]=Alexa slóð
Name[it]=URL Alexa
Name[ms]=URL Alexa
Name[nb]=Alexa-nettadresse
Name[ne]=एलेक्सा यूआरएल
Name[nl]=Alexa URL-adres
Name[pa]=ਅਲੀਕਸਾ URL
Name[pl]=Odnośnik Alexa
Name[pt]=URL do Alexa
Name[pt_BR]=URL do Alexa
Name[ro]=URL Alexa
Name[sl]=URL Alexe
Name[sr]=Алекса‑УРЛ
Name[sv]=Alexa webbadress
Name[ta]=அலெக்சா URL
Name[te]=ఎలెక్సా యూ అర్ ఎల్
Name[vi]=URL Alexa
Name[wa]=Hårdêye Alexa
Name[x-test]=xxAlexa URLxx
X-KDE-ServiceTypes=SearchProvider
Keys=alu,url
Query=http://info.alexa.com/data/details?url=\\{@}
Query[bg]=Query=http://info.alexa.com/data/details?url=\\{@}
Query[x-test]=xxhttp://info.alexa.com/data/details?url=\\{@}xx
