[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Alexa URL
Name[br]=URL Alexa
Name[csb]=Lënk Alexa
Name[da]=Alexa-URL
Name[de]=Alexa-Adresse
Name[eo]=Aleksa ligo
Name[es]=URL de Alexa
Name[fa]=نشانی وب Alexa
Name[fr]=URL Alexa
Name[fy]=Alexa URL-adres
Name[ga]=URL Alexa
Name[he]=כתובת של Alexa
Name[is]=Alexa slóð
Name[it]=URL Alexa
Name[ms]=URL Alexa
Name[nb]=Alexa-nettadresse
Name[ne]=एलेक्सा यू आर एल
Name[nl]=Alexa URL-adres
Name[pa]=ਅਲੀਕਸਾ URL
Name[pl]=Odnośnik Alexa
Name[pt]=URL do Alexa
Name[pt_BR]=URL do Alexa
Name[ro]=URL Alexa
Name[sl]=URL Alexe
Name[sv]=Alexa webbadress
Name[ta]=அலெக்சா URL
Name[te]=ఎలెక్సా యూ అర్ ఎల్
Name[x-test]=xxAlexa URLxx
ServiceTypes=SearchProvider
Keys=alu,url
Query=http://info.alexa.com/data/details?url=\\{@}
Query[x-test]=xxhttp://info.alexa.com/data/details?url=\\{@}xx
