[Desktop Entry]
Type=Service
Name=Alexa URL
Name[af]=Alexa URL
Name[ar]=عنوان موقع Alexa
Name[as]=Alexa URL
Name[be]=Alexa URL
Name[be@latin]=Adras „Alexa”
Name[bg]=Alexa URL
Name[bn]=অ্যালেক্সা ইউ-আর-এল
Name[bn_IN]=Alexa URL
Name[br]=URL Alexa
Name[ca]=URL d'Alexa
Name[ca@valencia]=URL d'Alexa
Name[cs]=Alexa URL
Name[csb]=Lënk Alexa
Name[cy]=Alexa URL
Name[da]=Alexa-URL
Name[de]=Alexa-Adresse
Name[el]=Alexa URL
Name[en_GB]=Alexa URL
Name[eo]=Alexa-URL
Name[es]=URL de Alexa
Name[et]=Alexa URL
Name[eu]=Alexa URL
Name[fa]=نشانی وب Alexa
Name[fi]=Alexa URL
Name[fr]=URL Alexa
Name[fy]=Alexa URL-adres
Name[ga]=URL Alexa
Name[gl]=Alexa URL
Name[gu]=અલેક્સા URL
Name[he]=כתובת של Alexa
Name[hi]=एलेक्सा यूआरएल
Name[hne]=एलेक्सा यूआरएल
Name[hr]=Alexa URL
Name[hsb]=Alexa URL
Name[hu]=Alexa URL
Name[id]=URL Alexa
Name[is]=Alexa slóð
Name[it]=URL Alexa
Name[ja]=Alexa URL
Name[ka]=Alexa URL
Name[kk]=Alexa URL
Name[km]=Alexa URL
Name[kn]=ಅಲೆಕ್ಸಾ    URL
Name[ko]=Alexa URL
Name[ku]=Alexa URL
Name[lt]=Alexa URL
Name[lv]=Alexa URL
Name[mai]=एलेक्सा यूआरएल
Name[mk]=Alexa URL
Name[ml]=അലെക്സാ യുആര്‍എല്‍
Name[mr]=एलेक्सा URL
Name[ms]=URL Alexa
Name[nb]=Alexa-nettadresse
Name[nds]=Alexa URL
Name[ne]=एलेक्सा यूआरएल
Name[nl]=Alexa URL-adres
Name[nn]=Alexa URL
Name[or]=Alexa URL
Name[pa]=ਅਲੀਕਸਾ URL
Name[pl]=Odnośnik Alexa
Name[pt]=URL do Alexa
Name[pt_BR]=URL do Alexa
Name[ro]=URL Alexa
Name[ru]=Alexa URL
Name[se]=Alexa URL
Name[si]=Alexa URL
Name[sk]=Alexa URL
Name[sl]=URL Alexe
Name[sr]=Алекса‑УРЛ
Name[sr@ijekavian]=Алекса‑УРЛ
Name[sr@ijekavianlatin]=Alexa URL
Name[sr@latin]=Alexa URL
Name[sv]=Alexa webbadress
Name[ta]=அலெக்சா URL
Name[te]=ఎలెక్సా యూ అర్ ఎల్
Name[tg]=Alexa URL
Name[th]=Alexa URL
Name[tr]=Alexa URL
Name[uk]=Alexa URL
Name[uz]=Alexa URL
Name[uz@cyrillic]=Alexa URL
Name[vi]=URL Alexa
Name[wa]=Hårdêye Alexa
Name[xh]=Alexa URL
Name[x-test]=xxAlexa URLxx
Name[zh_CN]=Alexa URL
Name[zh_TW]=Alexa URL
X-KDE-ServiceTypes=SearchProvider
Keys=alu,url
Query=http://www.alexa.com/data/details?url=\\{@}
Query[cs]=http://www.alexa.com/data/details?url=\\{@}
Query[es]=http://www.alexa.com/data/details?url=\\{@}
Query[hr]=http://www.alexa.com/data/details?url=\\{@}
Query[km]=http://www.alexa.com/data/details?url=\\{@}
Query[pt]=http://www.alexa.com/data/details?url=\\{@}
Query[pt_BR]=http://www.alexa.com/data/details?url=\\{@}
Query[sv]=http://www.alexa.com/data/details?url=\\{@}
Query[th]=http://www.alexa.com/data/details?url=\\{@}
Query[uk]=http://www.alexa.com/data/details?url=\\{@}
Query[x-test]=xxhttp://www.alexa.com/data/details?url=\\{@}xx
