[Desktop Entry]
Type=Service
Name=Alexa
Name[af]=Alexa
Name[ar]=Alexa
Name[as]=Alexa
Name[be]=Alexa
Name[be@latin]=Alexa
Name[bg]=Alexa
Name[bn]=অ্যালেক্সা
Name[bn_IN]=Alexa
Name[br]=Alexa
Name[ca]=Alexa
Name[ca@valencia]=Alexa
Name[cs]=Alexa
Name[csb]=Alexa
Name[cy]=Alexa
Name[da]=Alexa
Name[de]=Alexa
Name[el]=Alexa
Name[en_GB]=Alexa
Name[eo]=Alexa
Name[es]=Alexa
Name[et]=Alexa
Name[eu]=Alexa
Name[fi]=Alexa
Name[fr]=Alexa
Name[fy]=Alexa
Name[ga]=Alexa
Name[gl]=Alexa
Name[gu]=અલેક્સા
Name[he]=Alexa
Name[hi]=अलेक्सा
Name[hne]=अलेक्सा
Name[hr]=Alexa
Name[hsb]=Alexa
Name[hu]=Alexa
Name[id]=Alexa
Name[is]=Alexa
Name[it]=Alexa
Name[ja]=Alexa
Name[ka]=Alexa
Name[kk]=Alexa
Name[km]=Alexa
Name[kn]=ಅಲೆಕ್ಸಾ
Name[ko]=Alexa
Name[ku]=Alexa
Name[lt]=Alexa
Name[lv]=Alexa
Name[mai]=अलेक्सा
Name[mk]=Alexa
Name[ml]=അലെക്സ
Name[mr]=अलेक्सा
Name[ms]=Alexa
Name[nb]=Alexa
Name[nds]=Alexa
Name[ne]=एलेक्सा
Name[nl]=Alexa
Name[nn]=Alexa
Name[or]=Alexa
Name[pa]=ਅਲੀਕਸਾ
Name[pl]=Alexa
Name[pt]=Alexa
Name[pt_BR]=Alexa
Name[ro]=Alexa
Name[ru]=Alexa
Name[se]=Alexa
Name[si]=Alexa
Name[sk]=Alexa
Name[sl]=Alexa
Name[sr]=Алекса
Name[sr@latin]=Alexa
Name[sv]=Alexa
Name[ta]=அலெக்சா
Name[te]=ఎలెక్సా
Name[tg]=Alexa
Name[th]=Alexa
Name[tr]=Alexa
Name[uk]=Alexa
Name[uz]=Alexa
Name[uz@cyrillic]=Alexa
Name[vi]=Alexa
Name[wa]=Alexa
Name[xh]=Alexa
Name[x-test]=xxAlexaxx
Name[zh_CN]=Alexa
Name[zh_TW]=Alexa
X-KDE-ServiceTypes=SearchProvider
Keys=al,alexa
Query=http://info.alexa.com/search?q=\\{@}
Query[af]=http://info.alexa.com/search?q=\\{@}
Query[ar]=http://info.alexa.com/search?q=\\{@}
Query[as]=http://info.alexa.com/search?q=\\{@}
Query[be]=http://info.alexa.com/search?q=\\{@}
Query[be@latin]=http://info.alexa.com/search?q=\\{@}
Query[bg]=http://info.alexa.com/search?q=\\{@}
Query[bn]=http://info.alexa.com/search?q=\\{@}
Query[bn_IN]=http://info.alexa.com/search?q=\\{@}
Query[br]=http://info.alexa.com/search?q=\\{@}
Query[ca]=http://info.alexa.com/search?q=\\{@}
Query[ca@valencia]=http://info.alexa.com/search?q=\\{@}
Query[cs]=http://info.alexa.com/search?q=\\{@}
Query[csb]=http://info.alexa.com/search?q=\\{@}
Query[da]=http://info.alexa.com/search?q=\\{@}
Query[de]=http://info.alexa.com/search?q=\\{@}
Query[el]=http://info.alexa.com/search?q=\\{@}
Query[en_GB]=http://info.alexa.com/search?q=\\{@}
Query[eo]=http://info.alexa.com/search?q=\\{@}
Query[es]=http://info.alexa.com/search?q=\\{@}
Query[et]=http://info.alexa.com/search?q=\\{@}
Query[eu]=http://info.alexa.com/search?q=\\{@}
Query[fi]=http://info.alexa.com/search?q=\\{@}
Query[fr]=http://info.alexa.com/search?q=\\{@}
Query[fy]=http://info.alexa.com/search?q=\\{@}
Query[ga]=http://info.alexa.com/search?q=\\{@}
Query[gl]=http://info.alexa.com/search?q=\\{@}
Query[gu]=http://info.alexa.com/search?q=\\{@}
Query[he]=http://info.alexa.com/search?q=\\{@}
Query[hi]=http://info.alexa.com/search?q=\\{@}
Query[hne]=http://info.alexa.com/search?q=\\{@}
Query[hr]=http://info.alexa.com/search?q=\\{@}
Query[hsb]=http://info.alexa.com/search?q=\\{@}
Query[hu]=http://info.alexa.com/search?q=\\{@}
Query[id]=http://info.alexa.com/search?q=\\{@}
Query[is]=http://info.alexa.com/search?q=\\{@}
Query[it]=http://info.alexa.com/search?q=\\{@}
Query[ja]=http://info.alexa.com/search?q=\\{@}
Query[ka]=http://info.alexa.com/search?q=\\{@}
Query[kk]=http://info.alexa.com/search?q=\\{@}
Query[km]=http://info.alexa.com/search?q=\\{@}
Query[kn]=http://info.alexa.com/search?q=\\{@}
Query[ko]=http://info.alexa.com/search?q=\\{@}
Query[ku]=http://info.alexa.com/search?q=\\{@}
Query[lt]=http://info.alexa.com/search?q=\\{@}
Query[lv]=http://info.alexa.com/search?q=\\{@}
Query[mai]=http://info.alexa.com/search?q=\\{@}
Query[ml]=http://info.alexa.com/search?q=\\{@}
Query[mr]=http://info.alexa.com/search?q=\\{@}
Query[ms]=http://info.alexa.com/search?q=\\{@}
Query[nb]=http://info.alexa.com/search?q=\\{@}
Query[nds]=http://info.alexa.com/search?q=\\{@}
Query[ne]=http://info.alexa.com/search?q=\\{@}
Query[nl]=http://info.alexa.com/search?q=\\{@}
Query[nn]=http://info.alexa.com/search?q=\\{@}
Query[oc]=http://info.alexa.com/search?q=\\{@}
Query[or]=http://info.alexa.com/search?q=\\{@}
Query[pa]=http://info.alexa.com/search?q=\\{@}
Query[pl]=http://info.alexa.com/search?q=\\{@}
Query[pt]=http://info.alexa.com/search?q=\\{@}
Query[pt_BR]=http://info.alexa.com/search?q=\\{@}
Query[ro]=http://info.alexa.com/search?q=\\{@}
Query[ru]=http://info.alexa.com/search?q=\\{@}
Query[se]=http://info.alexa.com/search?q=\\{@}
Query[si]=http://info.alexa.com/search?q=\\{@}
Query[sk]=http://info.alexa.com/search?q=\\{@}
Query[sl]=http://info.alexa.com/search?q=\\{@}
Query[sr]=http://info.alexa.com/search?q=\\{@}
Query[sr@latin]=http://info.alexa.com/search?q=\\{@}
Query[sv]=http://info.alexa.com/search?q=\\{@}
Query[ta]=http://info.alexa.com/search?q=\\{@}
Query[te]=http://info.alexa.com/search?q=\\{@}
Query[tg]=http://info.alexa.com/search?q=\\{@}
Query[th]=http://info.alexa.com/search?q=\\{@}
Query[tr]=http://info.alexa.com/search?q=\\{@}
Query[uk]=http://info.alexa.com/search?q=\\{@}
Query[uz]=http://info.alexa.com/search?q=\\{@}
Query[uz@cyrillic]=http://info.alexa.com/search?q=\\{@}
Query[vi]=http://info.alexa.com/search?q=\\{@}
Query[wa]=http://info.alexa.com/search?q=\\{@}
Query[x-test]=xxhttp://info.alexa.com/search?q=\\{@}xx
Query[zh_CN]=http://info.alexa.com/search?q=\\{@}
Query[zh_TW]=http://info.alexa.com/search?q=\\{@}
