[Desktop Entry]
Type=Service
Name=AllTheWeb fast
Name[af]=Allesvandieweb vinnige
Name[ar]=AllTheWeb سريع
Name[as]=AllTheWeb fast
Name[be]=AllTheWeb fast
Name[be@latin]=Chutki „AllTheWeb”
Name[bg]=AllTheWeb fast
Name[bn]=AllTheWeb fast
Name[bn_IN]=AllTheWeb fast
Name[ca]=AllTheWeb ràpid
Name[ca@valencia]=AllTheWeb ràpid
Name[cs]=AllTheWeb fast
Name[csb]=AllTheWeb - tekstë, filmë, teledisczi, serwerë FTP
Name[cy]=AllTheWeb cyflym
Name[da]=AllTheWeb hurtigt
Name[de]=AllTheWeb fast
Name[el]=AllTheWeb fast
Name[en_GB]=AllTheWeb fast
Name[eo]=La tuta interreto rapide
Name[es]=AllTheWeb de Fast
Name[et]=AllTheWeb fast
Name[eu]=AllTheWeb fast
Name[fa]=سرعت AllTheWeb
Name[fi]=AllTheWeb fast
Name[fr]=AllTheWeb fast
Name[fy]=AllTheWeb fast
Name[ga]=AllTheWeb fast
Name[gl]=AllTheWeb rápido
Name[gu]=ઓલધવેબ ફાસ્ટ
Name[he]=חיפוש מהיר ב־AllTheWeb
Name[hi]=आल-द-वेब फास्ट
Name[hne]=आल-द-वेब फास्ट
Name[hr]=AllTheWeb brzo
Name[hsb]=AllTheWeb, spěšnje
Name[hu]=AllTheWeb (gyors)
Name[id]=AllTheWeb fast
Name[is]=AllTheWeb hratt
Name[it]=AllTheWeb veloce
Name[ja]=AllTheWeb fast
Name[ka]=AllTheWeb fast
Name[kk]=AllTheWeb fast
Name[km]=AllTheWeb លឿន
Name[kn]=ಆಲ್ ದಿ ವೆಬ್ ಫಾಸ್ಟ್
Name[ko]=AllTheWeb fast
Name[ku]=AllTheWeb bilez
Name[lt]=AllTheWeb fast
Name[lv]=AllTheWeb ātrs
Name[mai]=आल-द-वेब फास्ट
Name[mk]=AllTheWeb fast
Name[ml]=ഓള്‍ദിവെബ് ഫാസ്റ്റ്
Name[mr]=आल द वेब फास्ट
Name[ms]=AllTheWeb fast
Name[nb]=AllTheWeb fast
Name[nds]=AllTheWeb fast
Name[ne]=सबै वेब छिटो
Name[nl]=AllTheWeb fast
Name[nn]=AllTheWeb Fast
Name[pa]=ਸਭ ਵੈਬ ਤੇਜ਼
Name[pl]=AllTheWeb - teksty, filmy, teledyski, serwery FTP
Name[pt]=AllTheWeb fast
Name[pt_BR]=AllTheWeb fast
Name[ro]=AllTheWeb rapid
Name[ru]=AllTheWeb fast
Name[se]=AllTheWeb fast
Name[si]=AllTheWeb fast
Name[sk]=AllTheWeb fast
Name[sl]=AllTheWeb hitro
Name[sr]=Ол'д'веб брзи
Name[sr@latin]=AllTheWeb brzi
Name[sv]=AllTheWeb snabb
Name[ta]=எல்லா வலைப்பின்னலும் விரைவாக உள்ளது
Name[te]=ఆల్‌దవెబ్ ఫాస్‍ట్
Name[tg]=AllTheWeb тезтарин
Name[th]=AllTheWeb fast
Name[tr]=AllTheWeb
Name[uk]=AllTheWeb fast
Name[uz]=Butun vebni (tez)
Name[uz@cyrillic]=Бутун вебни (тез)
Name[vi]=Tìm mọi trang mạng nhanh
Name[wa]=AllTheWeb roed
Name[xh]=Yonke i Web ngokukhawuleza
Name[x-test]=xxAllTheWeb fastxx
Name[zh_CN]=AllTheWeb fast
Name[zh_TW]=AllTheWeb fast
X-KDE-ServiceTypes=SearchProvider
Keys=atw,alltheweb
Query=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[af]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ar]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[as]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[be]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[be@latin]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[bg]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[bn]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[bn_IN]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[br]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ca]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ca@valencia]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[cs]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[csb]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[da]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[de]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[el]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[en_GB]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[eo]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[es]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[et]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[eu]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[fi]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[fr]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[fy]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ga]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[gl]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[gu]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[he]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[hi]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[hne]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[hr]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[hsb]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[hu]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[id]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[is]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[it]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ja]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ka]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[kk]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[km]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[kn]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ko]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ku]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[lt]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[lv]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[mai]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ml]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[mr]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ms]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[nb]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[nds]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ne]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[nl]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[nn]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[oc]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[or]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[pa]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[pl]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[pt]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[pt_BR]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ro]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ru]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[se]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[si]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[sk]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[sl]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[sr]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[sr@latin]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[sv]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[ta]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[te]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[tg]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[th]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[tr]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[uk]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[uz]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[uz@cyrillic]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[vi]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[wa]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[x-test]=xxhttp://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=webxx
Query[zh_CN]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
Query[zh_TW]=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
