[Desktop Entry]
Type=Service
Name=AltaVista
Name[af]=Altavista
Name[csb]=AltaVista - szëkôrz starnów WWW
Name[eo]=Altavista
Name[et]=Altavista
Name[gu]=અલ્ટાવિસ્ટા
Name[hi]=अल्टाविस्टा
Name[ne]=अल्टाभिस्टा
Name[pa]=ਅਲਟਾ ਵੀਸਟਾ
Name[pl]=AltaVista - wyszukiwarka stron WWW
Name[sr]=Алтависта
Name[sv]=Altavista
Name[ta]=அல்டாவிஸ்டா
Name[te]=ఆల్టావిస్టా
Name[th]=อัลต้าวิสต้า
Name[x-test]=xxAltaVistaxx
X-KDE-ServiceTypes=SearchProvider
Keys=av,altavista
Query=http://www.altavista.com/cgi-bin/query?pg=q&kl=XX&stype=stext&q=\\{@}
Query[bg]=Query=http://www.altavista.com/cgi-bin/query?pg=q&kl=XX&stype=stext&q=\\{@}
Query[nb]=http://no.altavista.com/cgi-bin/query?pg=q&kl=XX&stype=stext&q=\\{@}
Query[ne]=http://www.altavista.com/cgi-bin/query?pg=qkl=XX&stype=stext&q=\\{@}
Query[nn]=http://no.altavista.com/cgi-bin/query?pg=q&kl=XX&stype=stext&q=\\{@}
Query[ro]=http://www.altavista.com/cgi-bin/query?pg=q&kl=ro&stype=stext&q=\\{@}
Query[x-test]=xxhttp://www.altavista.com/cgi-bin/query?pg=q&kl=XX&stype=stext&q=\\{@}xx
