[Desktop Entry]
Type=Service
Name=AustroNaut
Name[af]=Ruimtevaarder
Name[bn]=অস্ট্রো-নট
Name[hi]=आस्ट्रोनॉट
Name[ne]=एस्ट्रोनट
Name[pa]=ਅਸਟਰੋਨਾਊਟ
Name[sr]=Аустронаут
Name[sv]=Astronaut
Name[ta]=ஆஸ்ட்ரோநட்
Name[te]=ఆస్ట్రొనాట్
Name[x-test]=xxAustroNautxx
X-KDE-ServiceTypes=SearchProvider
Keys=austro,austronaut
Query=http://austronaut.at/page.php?begriff=\\{@}&wo=at
Query[x-test]=xxhttp://austronaut.at/page.php?begriff=\\{@}&wo=atxx
