[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=AustroNaut
Name[af]=Ruimtevaarder
Name[eo]=Aŭstronaŭto
Name[ko]=오스트로 노트
Name[ne]=एस्ट्रोनट
Name[pa]=ਅਸਟਰੋਨਾਊਟ
Name[sv]=Astronaut
Name[ta]=ஆஸ்ட்ரோநட்
Name[te]=ఆస్ట్రొనాట్
Name[x-test]=xxAustroNautxx
ServiceTypes=SearchProvider
Keys=austro,austronaut
Query=http://austronaut.at/page.php?begriff=\{@}&wo=at
Query[bg]=Query=http://austronaut.at/page.php?begriff=\{@}&wo=at
Query[ne]=http://austronaut.at/page.php?begriff=\{@}wo=at
Query[x-test]=xxhttp://austronaut.at/page.php?begriff=\{@}&wo=atxx
