[Desktop Entry]
Keys=backports
Name=Debian Backports Search
Query=http://www.backports.org/package.php?search=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
