[Desktop Entry]
Type=Service
Name=Baidu
Name[en_GB]=Baidu
Name[nds]=Baidu
Name[pt]=Baidu
Name[pt_BR]=Baidu
Name[sv]=Baidu
Name[tg]=Baidu
Name[uk]=Baidu
Name[x-test]=xxBaiduxx
X-KDE-ServiceTypes=SearchProvider
Keys=baidu
Query=http://www.baidu.com/s?wd=\\{@}
Query[en_GB]=http://www.baidu.com/s?wd=\\{@}
Query[nds]=http://www.baidu.com/s?wd=\\{@}
Query[pt]=http://www.baidu.com/s?wd=\\{@}
Query[pt_BR]=http://www.baidu.com/s?wd=\\{@}
Query[sv]=http://www.baidu.com/s?wd=\\{@}
Query[tg]=http://www.baidu.com/s?wd=\\{@}
Query[uk]=http://www.baidu.com/s?wd=\\{@}
Query[x-test]=xxhttp://www.baidu.com/s?wd=\\{@}xx
