[Desktop Entry]
Type=Service
Name=Bing
Name[cs]=Bing
Name[en_GB]=Bing
Name[es]=Bing
Name[eu]=Bing
Name[hr]=Bing
Name[ia]=Bing
Name[is]=Bing
Name[lt]=Bing
Name[nb]=Bing
Name[nds]=Bing
Name[nl]=Bing
Name[nn]=Bing
Name[pt]=Bing
Name[pt_BR]=Bing
Name[ru]=Bing
Name[sv]=Bing
Name[tg]=Bing
Name[tr]=Bing
Name[uk]=Bing
Name[x-test]=xxBingxx
Name[zh_TW]=Bing
X-KDE-ServiceTypes=SearchProvider
Keys=bing
Query=http://www.bing.com/search?q=\\{@}
Query[cs]=http://www.bing.com/search?q=\\{@}
Query[en_GB]=http://www.bing.com/search?q=\\{@}
Query[es]=http://www.bing.com/search?q=\\{@}
Query[eu]=http://www.bing.com/search?q=\\{@}
Query[hr]=http://www.bing.com/search?q=\\{@}
Query[ia]=http://www.bing.com/search?q=\\{@}
Query[is]=http://www.bing.com/search?q=\\{@}
Query[lt]=http://www.bing.com/search?q=\\{@}
Query[nb]=http://www.bing.com/search?q=\\{@}
Query[nds]=http://www.bing.com/search?q=\\{@}
Query[nl]=http://www.bing.com/search?q=\\{@}
Query[nn]=http://www.bing.com/search?q=\\{@}
Query[pt]=http://www.bing.com/search?q=\\{@}
Query[pt_BR]=http://www.bing.com/search?q=\\{@}
Query[ru]=http://www.bing.com/search?q=\\{@}
Query[sv]=http://www.bing.com/search?q=\\{@}
Query[tg]=http://www.bing.com/search?q=\\{@}
Query[tr]=http://www.bing.com/search?q=\\{@}
Query[uk]=http://www.bing.com/search?q=\\{@}
Query[x-test]=xxhttp://www.bing.com/search?q=\\{@}xx
Query[zh_TW]=http://www.bing.com/search?q=\\{@}
