[Desktop Entry]
Type=Service
Name=Bing
Name[ast]=Bing
Name[ca]=Bing
Name[cs]=Bing
Name[de]=Bing
Name[el]=Bing
Name[en_GB]=Bing
Name[es]=Bing
Name[et]=Bing
Name[eu]=Bing
Name[gu]=બિંગ
Name[hr]=Bing
Name[hu]=Bing
Name[ia]=Bing
Name[is]=Bing
Name[ja]=Bing
Name[kk]=Bing
Name[km]=Bing
Name[ko]=Bing
Name[lt]=Bing
Name[mai]=बिंग
Name[nb]=Bing
Name[nds]=Bing
Name[nl]=Bing
Name[nn]=Bing
Name[pa]=ਬਿੰਗ
Name[pt]=Bing
Name[pt_BR]=Bing
Name[ru]=Bing
Name[sv]=Bing
Name[tg]=Bing
Name[th]=Bing
Name[tr]=Bing
Name[uk]=Bing
Name[wa]=Bing
Name[x-test]=xxBingxx
Name[zh_CN]=必应
Name[zh_TW]=Bing
X-KDE-ServiceTypes=SearchProvider
Keys=bing
Query=http://www.bing.com/search?q=\\{@}
Query[ast]=http://www.bing.com/search?q=\\{@}
Query[ca]=http://www.bing.com/search?q=\\{@}
Query[cs]=http://www.bing.com/search?q=\\{@}
Query[de]=http://www.bing.de/search/?q=\\{@}
Query[el]=http://www.bing.com/search?q=\\{@}
Query[en_GB]=http://www.bing.com/search?q=\\{@}
Query[es]=http://www.bing.com/search?q=\\{@}
Query[et]=http://www.bing.com/search?q=\\{@}
Query[eu]=http://www.bing.com/search?q=\\{@}
Query[gu]=http://www.bing.com/search?q=\\{@}
Query[hr]=http://www.bing.com/search?q=\\{@}
Query[hu]=http://www.bing.com/search?q=\\{@}
Query[ia]=http://www.bing.com/search?q=\\{@}
Query[is]=http://www.bing.com/search?q=\\{@}
Query[ja]=http://www.bing.com/search?q=\\{@}
Query[kk]=http://www.bing.com/search?q=\\{@}
Query[km]=http://www.bing.com/search?q=\\{@}
Query[ko]=http://www.bing.com/search?q=\\{@}
Query[lt]=http://www.bing.com/search?q=\\{@}
Query[mai]=http://www.bing.com/search?q=\\{@}
Query[nb]=http://www.bing.com/search?q=\\{@}
Query[nds]=http://www.bing.com/search?q=\\{@}
Query[nl]=http://www.bing.com/search?q=\\{@}
Query[nn]=http://www.bing.com/search?q=\\{@}
Query[pa]=http://www.bing.com/search?q=\\{@}
Query[pt]=http://www.bing.com/search?q=\\{@}
Query[pt_BR]=http://www.bing.com/search?q=\\{@}
Query[ru]=http://www.bing.com/search?q=\\{@}
Query[sv]=http://www.bing.com/search?q=\\{@}
Query[tg]=http://www.bing.com/search?q=\\{@}
Query[th]=http://www.bing.com/search?q=\\{@}
Query[tr]=http://www.bing.com/search?q=\\{@}
Query[uk]=http://www.bing.com/search?q=\\{@}
Query[wa]=http://www.bing.com/search?q=\\{@}
Query[x-test]=xxhttp://www.bing.com/search?q=\\{@}xx
Query[zh_CN]=http://www.bing.com/search?q=\\{@}
Query[zh_TW]=http://www.bing.com/search?q=\\{@}
