[Desktop Entry]
Charset=
Hidden=false
Keys=blip,bl
Name=Blip.tv
Name[ia]=Blip.tv
Name[is]=Blip.tv
Name[pt]=Blip.tv
Name[sv]=Blip.tv
Name[uk]=Blip.tv
Name[x-test]=xxBlip.tvxx
Name[zh_TW]=Blip.tv
Query=http://blip.tv/search?q=\\{@}
Query[ia]=http://blip.tv/search?q=\\{@}
Query[is]=http://blip.tv/search?q=\\{@}
Query[pt]=http://blip.tv/search?q=\\{@}
Query[sv]=http://blip.tv/search?q=\\{@}
Query[uk]=http://blip.tv/search?q=\\{@}
Query[x-test]=xxhttp://blip.tv/search?q=\\{@}xx
Query[zh_TW]=http://blip.tv/search?q=\\{@}
ServiceTypes=SearchProvider
Type=Service
