[Desktop Entry]
Keys=bugft
Name=KDE Bug Database Fulltext Search
Name[af]=KDE Fout Databasis voltext Soektog
Name[ar]=البحث النصي في قاعدة بيانات علل الكيدي
Name[be]=Паўнатэкставы пошук па базе памылак KDE
Name[be@latin]=Paŭnatekstavy pošuk u bazie viadomych chibaŭ KDE
Name[bn]=কে.ডি.ই. বাগ ডেটাবেস-এ পূর্ণ টেক্সট অনুসন্ধান
Name[bn_IN]=KDE বাগ ডাটাবেসে অনুসন্ধান - সম্পূর্ণ টেক্সট সহযোগে
Name[ca]=Cercador de text per la base de dades d'errors de KDE
Name[ca@valencia]=Cercador de text per la base de dades d'errors de KDE
Name[cs]=Fulltextové vyhledávání v databázi chyb KDE
Name[csb]=Baza felów KDE - szëkba w òpisach felów
Name[cy]=Chwilio Llawn-destun y Gronfa Gwallau KDE
Name[da]=Fuldtekst-søgning i KDE's fejldatabase
Name[de]=KDE-Problemdatenbank: Volltextsuche
Name[el]=Αναζήτηση πλήρους κειμένου στη βάση δεδομένων σφαλμάτων του KDE
Name[eo]=Plenteksta serĉo en la KDEa Erarodatumbazo
Name[es]=Búsqueda textual en la base de datos de fallos de KDE
Name[et]=Täisteksti otsing KDE vigade andmebaasist
Name[eu]=KDEren akatsen datu-baseko testu erako bilaketa 
Name[fa]=جستجوی متن کامل دادگان اشکال KDE
Name[fi]=KDE-vikailmoitustietokannan tekstihaku
Name[fr]=Recherche textuelle de bogues de KDE
Name[fy]=KDE Bug Databank -  folsleine-tekst-sykaksje
Name[ga]=Cuardach Lán-Téacs i mBunachar Sonraí Fabhtanna KDE
Name[gl]=Procura de texto completo na base de datos de erros de KDE
Name[gu]=KDE બગ ડેટાબેઝ સંપૂર્ણલખાણ શોધ
Name[he]=חיפוש טקסט מלא במאגר הבאגים של KDE
Name[hi]=केडीई बग डाटाबेस संपूर्ण-पाठ खोज
Name[hne]=केडीई बग डाटाबेस पूरा-पाठ खोज
Name[hr]=Pretraga KDE baze podataka o nedostacima pomoću potpunog teksta
Name[hu]=A KDE hibaadatbázis teljes szöveges keresési eszköze
Name[is]=Leit eftir orðum í KDE villugagnagrunni
Name[it]=Ricerca testo completo nel Database dei bug di KDE
Name[ja]=KDE バグデータベース全文検索
Name[ka]=KDE–ს შეცდომების ძებნა სრული ტექსტით
Name[kk]=KDE қателер дерек қорында толық мәтінді іздеу
Name[km]=ការ​ស្វែងរក​អត្ថបទ​ពេញលេញ​នៃ​​មូលដ្ឋាន​ទិន្នន័យ​កំហុស​របស់ KDE
Name[kn]=ಕೆಡಿಇ ದೋಷ ದತ್ತಸಂಚಯ ಪೂರ್ಣಪಠ್ಯ ಹುಡುಕಾಟ
Name[ko]=KDE 버그 데이터베이스 전체 텍스트 검색
Name[ku]=Lêgerîna Nivîsara Bingeha Dane ya Çewtiyên KDE
Name[lv]=KDE kļūdu datubāzes pilnteksta meklēšana
Name[mai]=केडीई बग डाटाबेस संपूर्ण-पाठ खोज
Name[mk]=База на податоци со бубачки од KDE, пребарување по цел текст
Name[ml]=കെഡിഇയുടെ പിഴവുകളുടെ ഡാറ്റാബേസിലെ മുഴുവന്‍ പദാവലിയിലുമുള്ള തെരച്ചില്‍
Name[mr]=KDE बग डाटाबेस संपूर्ण पाठ्य शोध
Name[ms]=Carian Teks Penuh Pangkalan Data Pepijat
Name[nb]=Fulltekstsøk i KDEs feildatabase
Name[nds]=KDE Fehler-Datenbank: Vulltext-Söök
Name[ne]=केडीई बग डाटाबेस पूरा पाठ खोजी
Name[nl]=KDE Bug Database -  volledige-tekst-zoekactie
Name[nn]=Fulltekstsøk i feildatabasen til KDE
Name[or]=KDE ତ୍ରୁଟି ତଥ୍ଯାବଳୀ ସମ୍ପୂର୍ଣ୍ଣ ପାଠ୍ୟ ସନ୍ଧାନ
Name[pa]=KDE ਬੱਗ ਡਾਟਾਬੇਸ ਪੂਰਾ-ਟੈਕਸਟ ਖੋਜ
Name[pl]=Baza błędów KDE - wyszukiwanie w opisach błędów
Name[pt]=Pesquisa por Nome Completo na Base de Dados de Erros do KDE
Name[pt_BR]=Procura por texto no banco de dados de erros do KDE
Name[ro]=Baza de date de erori KDE - căutare integrală de text
Name[ru]=Полнотекстовый поиск ошибок в базе KDE
Name[se]=KDE dihkkediehtovuođu ollesteakstaohcan
Name[sk]=Hľadanie fulltext v KDE databáze chýb
Name[sl]=Iskanje besedila po zbirki hroščev v KDE
Name[sr]=КДЕ‑ова база грешака (текстуално)
Name[sr@latin]=KDE‑ova baza grešaka (tekstualno)
Name[sv]=Textsökning i KDE:s feldatabas
Name[ta]=KDE பிழை தகவல்தள முழு உரை தேடுதல்
Name[te]=KDE బగ్ డాటాబేస్ పూర్తిపాఠ్యము శోధన
Name[th]=ค้นหาฐานข้อมูลบัก KDE แบบเต็ม
Name[tr]=KDE Hata Veritabanı Tam Sözcük Arama
Name[uk]=Повнотекстовий пошук у базі даних KDE
Name[uz]=KDE xato maʼlumot bazasi (butun matnni qidirish)
Name[uz@cyrillic]=KDE хато маълумот базаси (бутун матнни қидириш)
Name[vi]=Tìm kiếm cơ sở dữ liệu lỗi của KDE, dùng toàn bộ dòng từ khoá đã nhập
Name[wa]=Båze di dnêyes pol cweraedje di bugs di KDE dvins l' tecse
Name[x-test]=xxKDE Bug Database Fulltext Searchxx
Name[xh]=Uphendlo lwesiseko sedata ye KDE Bug Olubhaliweyo ngokupheleleyo
Name[zh_CN]=KDE Bug 数据库全文检索
Name[zh_TW]=KDE 臭蟲資料庫全文檢索
Query=http://bugs.kde.org/buglist.cgi?quicksearch=\\{1}+\\{2}+\\{3}+\\{4}+\\{5}+\\{6}+\\{7}+\\{8}+\\{9}
Query[x-test]=xxhttp://bugs.kde.org/buglist.cgi?quicksearch=\\{1}+\\{2}+\\{3}+\\{4}+\\{5}+\\{6}+\\{7}+\\{8}+\\{9}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
