[Desktop Entry]
Encoding=UTF-8
Keys=bugft
Name=KDE Bug Database Fulltext Search
Name[af]=KDE Fout Databasis voltext Soektog
Name[be]=Паўнатэкставы пошук па базе памылак KDE
Name[ca]=Cercador de text per la base de dades d'errors de KDE
Name[cs]=Plnotextové vyhledávání v databázi chyb KDE
Name[csb]=Baza felów KDE - szëkba w òpisach felów
Name[cy]=Chwilio Llawn-destun y Gronfa Gwallau KDE
Name[da]=Fuldtekst-søgning i KDE's fejldatabase
Name[de]=KDE-Problemdatenbank: Volltextsuche
Name[el]=Αναζήτηση πλήρους κειμένου στη βάση δεδομένων σφαλμάτων του KDE
Name[eo]=Plenteksta serĉo en la KDEa Erarodatumbazo
Name[es]=Búsqueda textual en la base de datos de fallos de KDE
Name[et]=Täisteksti otsing KDE vigade andmebaasist
Name[eu]=KDEren akatsen datu-baseko testu erako bilaketa 
Name[fa]=جستجوی متن کامل دادگان اشکال KDE
Name[fi]=KDE-vikailmoitustietokannan tekstihaku
Name[fr]=Recherche de bogue de KDE par texte
Name[fy]=KDE Bug Databank -  folsleine-tekst-sykaksje
Name[gl]=Procura de Texto Completo na Base de Datos de Erros de KDE
Name[he]=חיפוש של טקסט מלא ברשימת באגים של KDE
Name[hr]=Pretraga KDE baze podataka o nedostacima pomoću potpunog teksta
Name[hu]=A KDE hibaadatbázis teljes szöveges keresési eszköze
Name[is]=Leit eftir orðum í KDE villugagnagrunni
Name[it]=Ricerca testo completo nel Database dei bug di KDE
Name[ja]=KDE バグデータベース全文検索
Name[ka]=KDE–ს შეცდომების ძებნა სრული ტექსტით
Name[kk]=KDE қателер дерек қорында толық мәтінді іздеу
Name[km]=ស្វែងរក​អត្ថបទ​ពេញលេញ​ក្នុង​មូលដ្ឋាន​ទិន្នន័យ​កំហុស​របស់ KDE
Name[ko]=KDE 벌레 자료틀에서 글월로 찾기
Name[lv]=KDE Kļūdu Datubāzes pilnteksta meklēšana
Name[mk]=База на податоци со бубачки од KDE, пребарување по цел текст
Name[ms]=Carian Teks Penuh Pangkalan Data Pepijat
Name[nb]=Fulltekstsøk i feildatabasen til KDE
Name[nds]=KDE Fehler-Datenbank: Vulltext-Söök
Name[ne]=KDE बग डेटाबेस फुलटेक्स्ट खोजी
Name[nl]=KDE Bug Database -  volledige-tekst-zoekactie
Name[nn]=Fulltekstsøk i feildatabasen til KDE
Name[pa]=KDE ਬੱਗ ਡਾਟਾਬੇਸ ਪੂਰਾ-ਪਾਠ ਖੋਜ
Name[pl]=Baza błędów KDE - wyszukiwanie w opisach błędów
Name[pt]=Pesquisa por Nome Completo na Base de Dados de Erros do KDE
Name[pt_BR]=Procura por texto no banco de erros do KDE
Name[ro]=Baza de date de erori KDE - căutare integrală de text
Name[ru]=Полнотекстовый поиск ошибок в базе KDE
Name[se]=KDE dihkkediehtovuođu ollesteakstaohcan
Name[sl]=Iskanje besedila po zbirki hroščev v KDE
Name[sr]=KDE база грешака са подршком за пуну претрагу текста
Name[sr@latin]=KDE baza grešaka sa podrškom za punu pretragu teksta
Name[sv]=Textsökning i KDE:s feldatabas
Name[ta]=KDE பிழை தகவல்தள முழு உரை தேடுதல்
Name[tg]=Ҷустуҷӯи тамоми матни бонки иттилооти ишколоти KDE
Name[tr]=KDE Hata Veritabanı Tam Sözcük Arama
Name[uk]=Повнотекстовий пошук у базі даних KDE
Name[uz]=KDE хато маълумот базаси (бутун матнни қидириш)
Name[x-test]=xxKDE Bug Database Fulltext Searchxx
Name[xh]=Uphendlo lwesiseko sedata ye KDE Bug Olubhaliweyo ngokupheleleyo
Name[zh_TW]=KDE 臭蟲資料庫全文檢索
Query=http://bugs.kde.org/simple_search.cgi?id=\\{1}+\\{2}+\\{3}+\\{4}+\\{5}+\\{6}+\\{7}+\\{8}+\\{9}
Query[bg]=Query=http://bugs.kde.org/simple_search.cgi?id=\\{1}+\\{2}+\\{3}+\\{4}+\\{5}+\\{6}+\\{7}+\\{8}+\\{9}
Query[x-test]=xxhttp://bugs.kde.org/simple_search.cgi?id=\\{1}+\\{2}+\\{3}+\\{4}+\\{5}+\\{6}+\\{7}+\\{8}+\\{9}xx
ServiceTypes=SearchProvider
Type=Service
