[Desktop Entry]
Keys=bugft
Name=KDE Bug Database Fulltext Search
Query=http://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
