[Desktop Entry]
Charset=
Hidden=false
Keys=qrz,call
Name=QRZ.com Callsign Database
Name[af]=QRZ.com Callsign databasis
Name[ar]=قاعدة بيانات محطة QRZ.com
Name[as]=QRZ.com Callsign Database
Name[be]=База дадзеных QRZ.com Callsign
Name[be@latin]=Baza źviestak „QRZ.com Callsign”
Name[bg]=QRZ.com Callsign Database
Name[bn]=QRZ.com কল-সাইন ডেটাবেস
Name[bn_IN]=QRZ.com Callsign ডাটাবেস
Name[ca]=Base de dades d'indicatius de QRZ.com
Name[ca@valencia]=Base de dades d'indicatius de QRZ.com
Name[cs]=Databáze volacích znaků QRZ.com
Name[csb]=QRZ.com - baza radiowëch wëwòłaniów
Name[cy]=Cronfa Ddata Arwydd-galwad QRZ.com
Name[da]=QRZ.com callsign-database
Name[de]=QRZ.com Callsign-Datenbank
Name[el]=QRZ.com βάση δεδομένων τηλεπικοινωνίας
Name[en_GB]=QRZ.com Callsign Database
Name[eo]=Voksigno-datumbazo ĉe QRZ.com
Name[es]=Base de datos de indicativos QRZ.com
Name[et]=QRZ.com callsign andmebaas
Name[eu]=QRZ.com callsign datu-basea
Name[fa]=دادگان QRZ.com Callsign
Name[fi]=QRZ.com-kutsumerkkitietokanta
Name[fr]=Base de données QRZ.com callsign
Name[fy]=QRZ.com callsign database
Name[ga]=Bunachar Sonraí Comharthaí Aitheantais QRZ.com
Name[gl]=Base de datos de distintivos de chamada QRZ.com
Name[gu]=QRZ.com કોલસાઇન ડેટાબેઝ
Name[he]=מאגר אותות הקריאה QRZ.com
Name[hi]=QRZ.com काल-साइन डाटाबेस
Name[hne]=QRZ.com काल-साइन डाटाबेस
Name[hr]=QRZ.com baza podataka pozivnih znakova
Name[hsb]=QRZ.com Callsign Database
Name[hu]=QRZ.com hívójel-adatbázis
Name[id]=Basis Data Tanda Panggilan QRZ.com
Name[is]=QRZ.com kallmerkjagrunnur
Name[it]=Database dei segnali di chiamata QRZ.com
Name[ja]=QRZ.com Callsign データベース
Name[ka]=QRZ.com Callsign Database
Name[kk]=QRZ.com шақыру атаулар дерек қоры
Name[km]=មូលដ្ឋាន​ទិន្នន័យ Callsign របស់ QRZ.com
Name[kn]=QRZ.com Callsign ದತ್ತಸಂಚಯ
Name[ko]=QRZ.com 호출 부호 데이터베이스
Name[ku]=QRZ.com Bingeha Daneyê Nîşana-Bangê 
Name[lt]=QRZ.com callsign duomenų bazė
Name[lv]=QRZ.com izsaukuma signālu datubāze
Name[mai]=QRZ.com काल-साइन डाटाबेस
Name[mk]=База на податоци QRZ.com callsign
Name[ml]=QRZ.com ലെ കാള്‍സൈനുകളുടെ ഡാറ്റാബേസ്
Name[mr]=QRZ.com कॉलसाइन डाटाबेस
Name[ms]=QRZ.com Callsign Database
Name[nb]=QRZ.com database for kallesignal
Name[nds]=QRZ.com Callsign-Datenbank
Name[ne]=QRZ.com कलसाइन डेटाबेस
Name[nl]=QRZ.com callsign database
Name[nn]=QRZ.com database for kallesignal
Name[or]=QRZ.com Callsign ତଥ୍ୟାବଳୀ
Name[pa]=QRZ.com Callsign ਡਾਟਾਬੇਸ
Name[pl]=QRZ.com - baza wywołań radiowych
Name[pt]=Base de Dados Callsign do QRZ.com
Name[pt_BR]=Banco de dados Callsign do QRZ.com
Name[ro]=Baza de date de indicative QRZ.com
Name[ru]=База позывных QRZ.com
Name[se]=QRZ.com gohččonsignálaid diehtovuođđu
Name[si]=QRZ.com Callsign Database
Name[sk]=Databáza skratiek QRZ.com
Name[sl]=Zbirka okrajšav QRZ.com
Name[sr]=КуРЗ.ком база позивника
Name[sr@latin]=QRZ.com baza pozivnika
Name[sv]=Databas för QRZ.com-anropssignaler
Name[ta]=QRZ.com அழைப்புநுழை தகவல்தளம்
Name[te]=QRZ.com కాల్‌సైన్ డాటాబేస్
Name[tg]=База позывных QRZ.com
Name[th]=ฐานข้อมูล QRZ.com Callsign
Name[tr]=QRZ.com Aramaişaret Veritabanı
Name[uk]=База даних callsign QRZ.com
Name[vi]=Cơ sở dữ liệu tín hiệu QRZ.com
Name[wa]=Båzes di dnêyes des indicatifs di houcaedje (avions) QRZ.com
Name[x-test]=xxQRZ.com Callsign Databasexx
Name[zh_CN]=QRZ.com Callsign 数据库
Name[zh_TW]=QRZ.com Callsign 資料庫
Query=http://www.qrz.com/database?callsign=\\{@}
Query[af]=http://www.qrz.com/database?callsign=\\{@}
Query[ar]=http://www.qrz.com/database?callsign=\\{@}
Query[as]=http://www.qrz.com/database?callsign=\\{@}
Query[be]=http://www.qrz.com/database?callsign=\\{@}
Query[be@latin]=http://www.qrz.com/database?callsign=\\{@}
Query[bg]=http://www.qrz.com/database?callsign=\\{@}
Query[bn]=http://www.qrz.com/database?callsign=\\{@}
Query[bn_IN]=http://www.qrz.com/database?callsign=\\{@}
Query[br]=http://www.qrz.com/database?callsign=\\{@}
Query[ca]=http://www.qrz.com/database?callsign=\\{@}
Query[ca@valencia]=http://www.qrz.com/database?callsign=\\{@}
Query[cs]=http://www.qrz.com/database?callsign=\\{@}
Query[csb]=http://www.qrz.com/database?callsign=\\{@}
Query[da]=http://www.qrz.com/database?callsign=\\{@}
Query[de]=http://www.qrz.com/database?callsign=\\{@}
Query[el]=http://www.qrz.com/database?callsign=\\{@}
Query[en_GB]=http://www.qrz.com/database?callsign=\\{@}
Query[eo]=http://www.qrz.com/database?callsign=\\{@}
Query[es]=http://www.qrz.com/database?callsign=\\{@}
Query[et]=http://www.qrz.com/database?callsign=\\{@}
Query[eu]=http://www.qrz.com/database?callsign=\\{@}
Query[fi]=http://www.qrz.com/database?callsign=\\{@}
Query[fr]=http://www.qrz.com/database?callsign=\\{@}
Query[fy]=http://www.qrz.com/database?callsign=\\{@}
Query[ga]=http://www.qrz.com/database?callsign=\\{@}
Query[gl]=http://www.qrz.com/database?callsign=\\{@}
Query[gu]=http://www.qrz.com/database?callsign=\\{@}
Query[he]=http://www.qrz.com/database?callsign=\\{@}
Query[hi]=http://www.qrz.com/database?callsign=\\{@}
Query[hne]=http://www.qrz.com/database?callsign=\\{@}
Query[hr]=http://www.qrz.com/database?callsign=\\{@}
Query[hsb]=http://www.qrz.com/database?callsign=\\{@}
Query[hu]=http://www.qrz.com/database?callsign=\\{@}
Query[id]=http://www.qrz.com/database?callsign=\\{@}
Query[is]=http://www.qrz.com/database?callsign=\\{@}
Query[it]=http://www.qrz.com/database?callsign=\\{@}
Query[ja]=http://www.qrz.com/database?callsign=\\{@}
Query[ka]=http://www.qrz.com/database?callsign=\\{@}
Query[kk]=http://www.qrz.com/database?callsign=\\{@}
Query[km]=http://www.qrz.com/database?callsign=\\{@}
Query[kn]=http://www.qrz.com/database?callsign=\\{@}
Query[ko]=http://www.qrz.com/database?callsign=\\{@}
Query[ku]=http://www.qrz.com/database?callsign=\\{@}
Query[lt]=http://www.qrz.com/database?callsign=\\{@}
Query[lv]=http://www.qrz.com/database?callsign=\\{@}
Query[mai]=http://www.qrz.com/database?callsign=\\{@}
Query[ml]=http://www.qrz.com/database?callsign=\\{@}
Query[mr]=http://www.qrz.com/database?callsign=\\{@}
Query[ms]=http://www.qrz.com/database?callsign=\\{@}
Query[nb]=http://www.qrz.com/database?callsign=\\{@}
Query[nds]=http://www.qrz.com/database?callsign=\\{@}
Query[ne]=http://www.qrz.com/database?callsign=\\{@}
Query[nl]=http://www.qrz.com/database?callsign=\\{@}
Query[nn]=http://www.qrz.com/database?callsign=\\{@}
Query[oc]=http://www.qrz.com/database?callsign=\\{@}
Query[or]=http://www.qrz.com/database?callsign=\\{@}
Query[pa]=http://www.qrz.com/database?callsign=\\{@}
Query[pl]=http://www.qrz.com/database?callsign=\\{@}
Query[pt]=http://www.qrz.com/database?callsign=\\{@}
Query[pt_BR]=http://www.qrz.com/database?callsign=\\{@}
Query[ro]=http://www.qrz.com/database?callsign=\\{@}
Query[ru]=http://www.qrz.com/database?callsign=\\{@}
Query[se]=http://www.qrz.com/database?callsign=\\{@}
Query[si]=http://www.qrz.com/database?callsign=\\{@}
Query[sk]=http://www.qrz.com/database?callsign=\\{@}
Query[sl]=http://www.qrz.com/database?callsign=\\{@}
Query[sr]=http://www.qrz.com/database?callsign=\\{@}
Query[sr@latin]=http://www.qrz.com/database?callsign=\\{@}
Query[sv]=http://www.qrz.com/database?callsign=\\{@}
Query[ta]=http://www.qrz.com/database?callsign=\\{@}
Query[te]=http://www.qrz.com/database?callsign=\\{@}
Query[tg]=http://www.qrz.com/database?callsign=\\{@}
Query[th]=http://www.qrz.com/database?callsign=\\{@}
Query[tr]=http://www.qrz.com/database?callsign=\\{@}
Query[uk]=http://www.qrz.com/database?callsign=\\{@}
Query[uz]=http://www.qrz.com/database?callsign=\\{@}
Query[uz@cyrillic]=http://www.qrz.com/database?callsign=\\{@}
Query[vi]=http://www.qrz.com/database?callsign=\\{@}
Query[wa]=http://www.qrz.com/database?callsign=\\{@}
Query[x-test]=xxhttp://www.qrz.com/database?callsign=\\{@}xx
Query[zh_CN]=http://www.qrz.com/database?callsign=\\{@}
Query[zh_TW]=http://www.qrz.com/database?callsign=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
