[Desktop Entry]
Charset=
Hidden=false
Keys=cite,cs
Name=CiteSeer: Scientific Literature Digital Library
Query=http://citeseer.ist.psu.edu/cs?q=\\{@}&submit=Search+Documents&cs=1
X-KDE-ServiceTypes=SearchProvider
Type=Service
