[Desktop Entry]
Charset=
Hidden=false
Keys=cite,cs
Name=CiteSeer: Scientific Literature Digital Library
Name[af]=CiteSeer: Wetenskaplike Digitale Literatuur Biblioteek
Name[be]=CiteSeer: Лічбавая бібліятэка навуковай літаратуры
Name[bn]=CiteSeer: বিজ্ঞানসাহিত্যের ডিজিটাল লাইব্রেরী
Name[ca]=CiteSeer: Biblioteca digital de literatura científica
Name[cs]=CiteSeer: Vědecká digitální knihovna
Name[csb]=CiteSeer - Nôùkòwô elektronicznô bibloteka
Name[cy]=CiteSeer: Llyfgell Digidol Llenyddiaeth Gwyddonol
Name[da]=CiteSeer: Digitalt bibliotek for digital litteratur
Name[de]=CiteSeer: Digitale Bibliothek für wissenschaftliche Literatur
Name[el]=CiteSeer: Ψηφιακή βιβλιοθήκη επιστημονικής βιβλιογραφίας
Name[eo]=CiteSeer: Sciencoliteratura biblioteko cifereca
Name[es]=CiteSeer: Biblioteca digital de literatura científica
Name[et]=CiteSeer: Teaduskirjanduse digitaalraamatukogu
Name[eu]=CiteSeer: Zientzia-literatur liburutegi digitala 
Name[fa]=CiteSeer: کتابخانۀ رقمی ادبیات علمی
Name[fi]=CiteSeer: Tieteellisten tekstien digitaalinen kirjasto
Name[fr]=CiteSeer : Bibliothèque digitale de littérature scientifique
Name[ga]=CiteSeer: Leabharlann Dhigiteach den Litríocht Eolaíochta
Name[gl]=CiteSeer: Libraria Dixital de Literatura Científica
Name[he]=‏CiteSeer: ספרייה דיגיטלית לספרות מדעית
Name[hi]=CiteSeer: वैज्ञानिक साहित्य डिजिटल पुस्तकालय
Name[hr]=CiteSeer: Digitalna knjižnica znanstvene literature 
Name[hu]=CiteSeer: tudományos szakirodalom digitális könyvtára
Name[it]=CiteSeer: Biblioteca digitale di letteratura scientifica
Name[ja]=CiteSeer: 学術電子論文ブラウザ
Name[kk]=CiteSeer: ғылыми әдебиет цифрлық кітапханасы
Name[km]=CiteSeer ៖ បណ្ណាល័យ​ឌីជីថល​អក្សរ​សាស្ត្រ​វិទ្យាសាស្ត្រ
Name[ko]=CiteSeer: 과학적 문학 디지털 도서관
Name[lt]=CiteSeer: Mokslinės literatūros skaitmeninė biblioteka
Name[lv]=CiteSeer: Zinātniskās literatūras elektroniskā bibliotēka
Name[mk]=CiteSeer: дигитална библиотека со научна литература
Name[ms]=CiteSeer: Pustaka Digital Risalah Sains
Name[nb]=CiteSeer: Digitalt bibliotek for vitenskapelig litteratur
Name[nds]=CiteSeer: Digitale Bibliotheek för wetenschaplich Literatuur
Name[ne]=CiteSeer: वैज्ञानिक साहित्य डिजिटल लाइब्रेरी
Name[nn]=CiteSeer: Digitalt bibliotek for vitskapleg litteratur
Name[pa]=CiteSeer: ਵਿਗਿਆਨਕ ਸਾਹਿਤ ਡਿਜਿਟਲ ਲਾਇਬਰੇਰੀ
Name[pl]=CiteSeer - elektroniczna biblioteka naukowa
Name[pt]=CiteSeer: Biblioteca Digital de Literatura Científica
Name[pt_BR]=CiteSeer: Biblioteca Digital de Literatura Científica
Name[ro]=CiteSeer: Biblioteca digitală de literatură ştiinţifică
Name[ru]=CiteSeer: цифровая библиотека научной литературы
Name[se]=CiteSeer:Digitálalaš bibliotehka mas lea dieđálaš litteratuvra
Name[sk]=CiteSeer: Digitálna knižnica vedeckej literatúry
Name[sl]=CiteSeer: Digitalna knjižnica znanstvene literature
Name[sr]=Сајтсир: дигитална библиотека научне литературе
Name[sr@latin]=CiteSeer: digitalna biblioteka naučne literature
Name[sv]=CiteSeer: Digitalt bibliotek med vetenskaplig litteratur
Name[ta]=சைட்சீர்: அறிவியல் சம்மந்தமான கல்வி டிஜிட்டல் நூலகம்
Name[tg]= CiteSeer: Китобхонаи digital-и адабиёти умумӣ
Name[th]=CiteSeer: ห้องสมุดดิจิตอลของข้อเขียนทางวิทยาศาสตร์
Name[tr]=CiteSeer: Bilimsel Literatür Kütüphanesi
Name[uk]=CiteSeer: цифрова бібліотека наукової літератури
Name[uz]=CiteSeer: Аниқ фанлар учун электрон кутубхона
Name[vi]=CiteSeer:Thư viện khoa học và văn học số hoá
Name[wa]=Cite Seer: Limerike livreye di syintifikes sicrijhaedjes
Name[x-test]=xxCiteSeer: Scientific Literature Digital Libraryxx
Name[zh_CN]=CiteSeer：科学文献数字图书馆
Name[zh_TW]=CiteSeer: 科學文獻數位圖書館
Query=http://citeseer.ist.psu.edu/cs?q=\\{@}&submit=Search+Documents&cs=1
Query[bg]=Query=http://citeseer.ist.psu.edu/cs?q=\\{@}&submit=Search+Documents&cs=1
Query[ne]=http://citeseer.ist.psu.edu/cs?q=\\{@}submit=Search+Documents&cs=1
Query[x-test]=xxhttp://citeseer.ist.psu.edu/cs?q=\\{@}&submit=Search+Documents&cs=1xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
