[Desktop Entry]
Encoding=UTF-8
Keys=cpan
Name=CPAN - Comprehensive Perl Archive Network
Name[af]=CPAN - Omvattende Perl Argief Netwerk
Name[ca]=CPAN - Xarxa comprensible de l'arxiu Perl
Name[csb]=CPAN - archiwa skriptów Perl
Name[cy]=CPAN - Rhwydwaith Archif Cynhwysfawr Perl
Name[da]=CPAN - omfattende Perl-arkivnetværk
Name[de]=CPAN - Umfassendes Perl-Archiv
Name[el]=CPAN - Περιεκτικό δίκτυο αρχειοθήκης perl
Name[eo]=CPAN - Ampleksa Perl-arĥiv-reto
Name[eu]=CPAN - Perl fitxategi sare ulergarria
Name[fa]=CPAN - شبکۀ‌ وسیع بایگانی پرل
Name[fr]=CPAN (Comprehensive Perl Archive Network)
Name[gl]=CPAN - Colección de Materiais Acerca  de Perl
Name[hr]=CPAN - Perl mreža sveobuhvatne arhive
Name[kk]=CPAN - Perl скрипттер архив желісі
Name[km]=CPAN - ដែល​យល់​អំពី​បណ្តាញ​ប័ណ្ណសារ​របស់​ Perl
Name[lt]=CPAN – Visapusiško Perlo Archyvo Tinklas
Name[lv]=CPAN - Visaptverošs Perl arhīvu tīkls
Name[mk]=CPAN - Обемна мрежа со Perl архиви
Name[nb]=CPAN -– Perl-arkiv: «Comprehensive Perl Archive Network»
Name[ne]=CPAN - व्यापक पर्ल सङ्ग्रह सञ्जाल
Name[nn]=CPAN – Perl-arkiv: «Comprehensive Perl Archive Network»
Name[pa]=CPAN - ਪੈਰਾ ਪਰਲ ਆਰਚੀਵ ਨੈੱਟਵਰਕ
Name[pl]=CPAN - archiwum skryptów Perl
Name[pt_BR]=CPAN - Rede Compreensiva de Arquivos de Perl
Name[ro]=CPAN - Arhiva completă de programe Perl
Name[ru]=CPAN - архив скриптов Perl
Name[se]=CPAN – Perl-vuorká: «Comprehensive Perl Archive Network»
Name[sl]=CPAN - Omrežje obsežnega arhiva za Perl
Name[ta]=CPAN -பரந்த பர்ல் ஆவண வலைப்பின்னல்
Name[tg]=CPAN -Шабакаи ҳаматарафаи архиви Perl
Name[th]=CPAN - เครือข่ายเก็บบันทึกภาษา Perl แบบครอบคลุม
Name[tr]=CPAN - Detaylı Perl Arşiv Ağı
Name[uk]=CPAN - Всеосяжна мережа архівів Perl
Name[uz]=CPAN - Perl бўйича мукаммал архив тармоғи
Name[vi]=CPAN - Mạng kho lưu Perl đầy đủ
Name[x-test]=xxCPAN - Comprehensive Perl Archive Networkxx
Name[xh]=CPAN - Enomxholo Perl Indawo yokugcina Yomsebenzi womnatha
Name[zh_TW]=CPAN - 全面的 Perl 收集網路
Query=http://search.cpan.org/search?mode=\\{mode,2,"dist"}&query=\\{query,q,1}
Query[bg]=Query=http://search.cpan.org/search?mode=\\{mode,2,"dist"}&query=\\{query,q,1}
Query[x-test]=xxhttp://search.cpan.org/search?mode=\\{mode,2,"dist"}&query=\\{query,q,1}xx
ServiceTypes=SearchProvider
Type=Service
