[Desktop Entry]
Keys=ctan
Name=CTAN - Comprehensive TeX Archive Network
Name[af]=CTAN - Omvattende Tex Argief Netwerk
Name[ar]=Cpan -- ارشيف شبكة شاملة TeX
Name[be@latin]=CTAN: zbor prahramaŭ u movie „TeX”
Name[bn]=CTAN - কমপ্রিহেনসিভ টেক আর্কাইভ নেটওয়ার্ক
Name[bn_IN]=CTAN - কম্প্রিহেনসিভ TeX আর্কাইভ নেটওয়ার্ক
Name[ca]=CTAN - Xarxa extensa d'arxius TeX
Name[csb]=CTAN - archiwa TeX-a
Name[cy]=CTAN - Rhwydwaith Archif Cynhwysfawr TeX
Name[da]=CTAN - omfattende TeX-arkivnetværk
Name[de]=CTAN - Umfassendes TeX-Archiv
Name[el]=CTAN - Περιεκτικό δίκτυο αρχειοθήκης TeX
Name[eo]=CTAN - Ampleksa TeX-arĥiv-reto
Name[eu]=CTAN - TeX fitxategi sare ulergarria
Name[fa]=CTAN - شبکۀ وسیع بایگانی TeX
Name[fr]=CTAN (Comprehensive TeX Archive Network)
Name[gu]=CTAN - કોમ્પ્રેસિવ ટેક અર્કાઇવ નેટવર્ક
Name[hi]=CTAN - कॉम्प्रेहेंसिव टीईएक्स आर्काइव नेटवर्क
Name[hr]=CTAN - TeX mreža sveobuhvatne arhive
Name[kk]=CTAN - TeX архив желісі
Name[kn]=CTAN -ವ್ಯಾಪಕ ಟೆಕ್ ( TeX) ಕಡತಾಗಾರ (ಆರ್ಕೈವ್) ಜಾಲ
Name[lt]=CTAN – Visapusiško TeX Archyvo Tinklas
Name[lv]=CTAN - visaptverošs TeX arhīvu rīkls
Name[mk]=CTAN - Обемна мрежа со TeX архиви
Name[ml]=സിടാന്‍ - അനേകം വിഷയങ്ങളടങ്ങിയിട്ടുള്ള ടെക് ശേഖരങ്ങളുടെ ശൃംഖല
Name[mr]=CTAN - कॉम्प्रेहेंसिव टेक्स आर्काइव संजाळ
Name[ms]=CTAN - Rangkaian Arkib TeX Komprehensif
Name[nb]=CTAN -– TeX-arkiv: «Comprehensive TeX Archive Network»
Name[ne]=CTAN - व्यापक TeX सङ्ग्रह सञ्जाल
Name[nn]=CTAN – TeX-arkiv: «Comprehensive TeX Archive Network»
Name[pa]=CTAN - ਪੈਰਾ TeX ਅਕਾਇਵ ਨੈੱਟਵਰਕ
Name[pl]=CTAN - archiwum TeX-a
Name[pt_BR]=CTAN - Rede Compreensiva de Arquivos de TeX
Name[ro]=CTAN - Arhiva completă de programe TeX
Name[ru]=CTAN - архив TeX
Name[se]=CTAN – TeX-vuorká: «Comprehensive TeX Archive Network»
Name[sl]=CPAN - Omrežje obsežnega arhiva za TeX
Name[sr]=ЦТАН — свеобухватна архива теха
Name[sr@latin]=CTAN — sveobuhvatna arhiva TeX‑a
Name[ta]=CTAN - முழுமையான TeX ஆவண வலைப்பின்னல்
Name[te]=CTAN - విశదీకృత Tex ఆర్చివ్ నెట్వర్‍క్
Name[th]=CTAN - เครือข่ายเก็บบันทึกภาษา TeX แบบครอบคลุม
Name[tr]=CTAN - Detaylı TeX Arşiv Ağı
Name[uk]=CTAN - Всеосяжна мережа архівів TeX
Name[uz]=CTAN - TeX boʻyicha mukammal arxiv tarmogʻi
Name[uz@cyrillic]=CTAN - TeX бўйича мукаммал архив тармоғи
Name[vi]=CTAN - Mạng kho lưu TeX đầy đủ
Name[wa]=CPAN - Rantoele d' Årtchives TeX avou ttafwait
Name[x-test]=xxCTAN - Comprehensive TeX Archive Networkxx
Name[xh]=CTAN - Enomxholo TeX Indawo yokugcina Yomsebenzi womnatha
Name[zh_CN]=CTAN - 综合性 TeX 档案网络
Name[zh_TW]=CTAN - 全面的 Tex 收集網路
Query=http://ctan.org/cgi-bin/filenameSearch.py?filename=\\{@}&Search=Search
Query[lt]=http://tug.ctan.org/cgi-bin/filenameSearch.py?action=/search/&filename=\\{ at }
Query[ml]=http://ctan.org/cgi-bin/filenameSearch.py?filename=\\{@}&തെരയുക=Search
Query[x-test]=xxhttp://ctan.org/cgi-bin/filenameSearch.py?filename=\\{@}&Search=Searchxx
X-KDE-ServiceTypes=SearchProvider
Type=Service
