[Desktop Entry]
Keys=ctan
Name=CTAN - Comprehensive TeX Archive Network
Query=http://ctan.org/cgi-bin/filenameSearch.py?filename=\\{@}&Search=Search
X-KDE-ServiceTypes=SearchProvider
Type=Service
