[Desktop Entry]
Encoding=UTF-8
Keys=ctan_cat
Name=CTAN Catalog
Name[af]=CTAN Katalogus
Name[be]=Каталог CTAN
Name[br]=Katalog CTAN
Name[ca]=Catàleg CTAN
Name[cs]=CTAN katalog
Name[csb]=CTAN - katalog TeX-owëch paczétów
Name[cy]=Catalog CTAN
Name[da]=CTAN-katalog
Name[de]=CTAN-Katalog
Name[el]=Κατάλογος CTAN
Name[en_GB]=CTAN Catalogue
Name[eo]=CTAN-Katalogo
Name[es]=Catálogo CTAN
Name[et]=CTAN kataloog
Name[eu]=CTAN Katalogoa
Name[fa]=فهرست CTAN
Name[fi]=CTAN-katalogi
Name[fr]=Catalogue du CTAN
Name[fy]=CTAN Catalogus
Name[ga]=Catalóg CTAN
Name[gl]=Catálogo CTAN
Name[he]=קטלוג CTAN
Name[hr]=CTAN katalog
Name[is]=CTAN Catalogue
Name[it]=Catalogo CTAN
Name[ja]=CTAN カタログ
Name[ka]=CTAN კატალოგი
Name[kk]=CTAN каталогы
Name[km]=កាតាឡុក CTAN
Name[lt]=CTAN katalogas
Name[lv]=CTAN Katalogs
Name[mk]=Каталог од CTAN
Name[ms]=Katalog CTAN
Name[nb]=CTAN-katalog
Name[nds]=CTAN Kataloog
Name[ne]=CTAN विवरणिका
Name[nl]=CTAN Catalogus
Name[nn]=CTAN-katalog
Name[pa]=CTAN ਸੂਚੀ
Name[pl]=CTAN - katalog pakietów TeX-owych
Name[pt_BR]=Catálogo CTAN
Name[ro]=Catalog CTAN
Name[ru]=Каталог CTAN
Name[se]=CTAN-kataloga
Name[sl]=Katalog CTAN
Name[sr]=CTAN Каталог
Name[sr@latin]=CTAN Katalog
Name[sv]=CTAN-katalog
Name[ta]=CTAN வகை
Name[tg]=Каталоги CTAN
Name[tr]=CTAN Kataloğu
Name[uk]=Каталог CTAN
Name[uz]=CTAN каталоги
Name[wa]=Catalogue do CTAN
Name[x-test]=xxCTAN Catalogxx
Name[zh_TW]=CTAN 目錄
Query=http://www.ctan.org/tools/cataloguesearch?action=/search/&catstring=\\{@}
Query[x-test]=xxhttp://www.ctan.org/tools/cataloguesearch?action=/search/&catstring=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
