[Desktop Entry]
Keys=ctan
Name=CTAN - Comprehensive TeX Archive Network
Name[af]=CTAN - Omvattende Tex Argief Netwerk
Name[bn]=CTAN - কমপ্রিহেনসিভ টেক আর্কাইভ নেটওয়ার্ক
Name[ca]=CTAN - Xarxa extensa d'arxius TeX
Name[csb]=CTAN - archiwa TeX-a
Name[cy]=CTAN - Rhwydwaith Archif Cynhwysfawr TeX
Name[da]=CTAN - omfattende TeX-arkivnetværk
Name[de]=CTAN - Umfassendes TeX-Archiv
Name[el]=CTAN - Περιεκτικό δίκτυο αρχειοθήκης TeX
Name[eo]=CTAN - Ampleksa TeX-arĥiv-reto
Name[eu]=CTAN - TeX fitxategi sare ulergarria
Name[fa]=CTAN - شبکۀ وسیع بایگانی TeX
Name[fr]=CTAN (Comprehensive TeX Archive Network)
Name[gu]=CTAN - કોમ્પ્રેસિવ ટેક અર્કાઇવ નેટવર્ક
Name[hi]=CTAN - कॉम्प्रेहेंसिव टीईएक्स आर्काइव नेटवर्क
Name[hr]=CTAN - TeX mreža sveobuhvatne arhive
Name[kk]=CTAN - TeX архив желісі
Name[lt]=CTAN – Visapusiško TeX Archyvo Tinklas
Name[lv]=CTAN - visaptverošs TeX arhīvu rīkls
Name[mk]=CTAN - Обемна мрежа со TeX архиви
Name[ms]=CTAN - Rangkaian Arkib TeX Komprehensif
Name[nb]=CTAN -– TeX-arkiv: «Comprehensive TeX Archive Network»
Name[ne]=CTAN - व्यापक TeX सङ्ग्रह सञ्जाल
Name[nn]=CTAN – TeX-arkiv: «Comprehensive TeX Archive Network»
Name[pa]=CTAN - ਪੈਰਾ TeX ਅਕਾਇਵ ਨੈੱਟਵਰਕ
Name[pl]=CTAN - archiwum TeX-a
Name[pt_BR]=CTAN - Rede Compreensiva de Arquivos de TeX
Name[ro]=CTAN - Arhiva completă de programe TeX
Name[ru]=CTAN - архив TeX
Name[se]=CTAN – TeX-vuorká: «Comprehensive TeX Archive Network»
Name[sl]=CPAN - Omrežje obsežnega arhiva za TeX
Name[sr]=ЦТАН — свеобухватна архива теха
Name[sr@latin]=CTAN — sveobuhvatna arhiva TeX‑a
Name[ta]=CTAN - முழுமையான TeX ஆவண வலைப்பின்னல்
Name[tg]=CTAN -Шабакаи ҳаматарафаи архиви TeX 
Name[th]=CTAN - เครือข่ายเก็บบันทึกภาษา TeX แบบครอบคลุม
Name[tr]=CTAN - Detaylı TeX Arşiv Ağı
Name[uk]=CTAN - Всеосяжна мережа архівів TeX
Name[uz]=CTAN - TeX бўйича мукаммал архив тармоғи
Name[vi]=CTAN - Mạng kho lưu TeX đầy đủ
Name[wa]=CPAN - Rantoele d' Årtchives TeX avou ttafwait
Name[x-test]=xxCTAN - Comprehensive TeX Archive Networkxx
Name[xh]=CTAN - Enomxholo TeX Indawo yokugcina Yomsebenzi womnatha
Name[zh_CN]=CTAN - 综合性 TeX 档案网络
Name[zh_TW]=CTAN - 全面的 Tex 收集網路
Query=http://www.ctan.org/tools/filesearch?action=/search/&filename=\\{@}
Query[be]=http://www.ctan.org/tools/cataloguesearch?action=/search/&catstring=\\{@}
Query[bg]=Query=http://www.ctan.org/tools/cataloguesearch?action=/search/&catstring=\\{@}
Query[csb]=http://www.ctan.org/tools/cataloguesearch?action=/search/&catstring=\\{@}
Query[eo]=http://www.ctan.org/tools/filesearch?action=/search/&=filename\\{@}
Query[x-test]=xxhttp://www.ctan.org/tools/filesearch?action=/search/&filename=\\{@}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
