[Desktop Entry]
Charset=
Hidden=false
Keys=de2en
Name=dict.cc Translation: German to English
Name[be]=dict.cc Пераклад: з нямецкай на англійскую
Name[ca]=Traducció dict.cc: Alemany - Anglès
Name[cs]=Překlad dic.cc: z němčiny do angličtiny
Name[csb]=dict.cc: miemiecczi -> anielsczi
Name[da]=dict.cc oversættelse: Tysk til engelsk
Name[de]=dict.cc-Übersetzung: Deutsch/Englisch
Name[el]=Μετάφραση dict.cc: Γερμανικά σε Αγγλικά
Name[eo]=dict.cc Traduko: germana al angla
Name[es]=dict.cc  Traducción: alemán a inglés
Name[et]=dict.cc tõlkimine: saksa->inglise
Name[eu]=dict.cc itzulpena: Alemanatik ingelera
Name[fa]=ترجمۀ dict.cc: آلمانی به انگلیسی
Name[fi]=dict.cc Käännös: saksasta englanniksi
Name[fr]=Traduction dict.cc : Allemand en Anglais
Name[fy]=dict.cc-oersetting Dûts nei Ingelsk
Name[ga]=dict.cc Aistriúchán: Gearmáinis go Béarla
Name[gl]=Tradución dict.cc: Alemán a inglés
Name[he]=תרגום dict.cc: גרמנית לאנגלית
Name[hi]=dict.cc अनुवादः जर्मन से अंग्रेजी
Name[hr]=dict.cc Prijevod: njemački na engleski
Name[hu]=Dict.cc - Fordítás németről angolra
Name[is]=dict.cc Þýðing: Þýska til ensku
Name[it]=Traduzioni dict.cc: dal tedesco all'inglese
Name[ja]=dict.cc ドイツ語-英語翻訳
Name[kk]=dict.cc аудармашы: неміс тілінен ағылшынға
Name[km]=ការ​បកប្រែ dict.cc ៖ ភាសា​អាល្លឺម៉ង់​ទៅ​ជា​អង់គ្លេស
Name[ko]=dict.cc 번역: 독일어에서 영어로
Name[lt]=dict.cc vertimas: iš vokiečių į anglų
Name[lv]=dict.cc tulkošana: no Vācu uz Angļu
Name[mk]=dict.cc превод: од германски на англиски
Name[nb]=dict.cc Oversettelse fra tysk til engelsk
Name[nds]=dict.cc Översetten: Hoochdüütsch na Engelsch
Name[ne]=dict.cc अनुवाद: जर्मनीलाई अङ्ग्रेजीमा
Name[nl]=dict.cc-vertaling: Duits naar Engels
Name[nn]=dict.cc Omsetjing: Tysk til engelsk
Name[pa]=dict.cc ਟਰਾਂਸਲੇਸ਼ਨ: ਜਰਮਨ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=dict.cc: niemiecki -> angielski
Name[pt]=Tradução do dict.cc: Alemão para Inglês
Name[pt_BR]=dict.cc - Tradução: Alemão para Inglês
Name[ro]=Traducere dict.cc: germană la engleză
Name[ru]=Переводчик dictcc.com: немецко-английский
Name[se]=dict.cc Jorgaleapmi: Duiskkagielas eŋgelašgillii
Name[sk]=dict.cc Preklad z nemčiny do angličtiny
Name[sl]=Prevod dict.cc: nemščina v angleščino
Name[sr]=дикт.цц: са немачког на енглески
Name[sr@latin]=dict.cc: sa nemačkog na engleski
Name[sv]=dict.cc översättning: tyska till engelska
Name[ta]=dict.cc Translation மொழிப்பெயர்ப்பு: ஜெர்மன் மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[th]=dict.cc แปลภาษาเยอรมันเป็นอังกฤษ
Name[tr]=dict.cc Çevirisi: Almancadan İngilizceye
Name[uk]=dict.cc: переклад з німецької на англійську
Name[uz]=dict.cc таржима: Олмончадан Инглизчага
Name[vi]=dict.cc Dịch: Tiếng Đức sang tiếng Anh
Name[wa]=Ratournaedje dict.cc: di l' almand viè l' inglès
Name[x-test]=xxdict.cc Translation: German to Englishxx
Name[zh_CN]=dict.cc 翻译：德语译英语
Name[zh_TW]=dict.cc 翻譯: 德文至英文
Query=http://www.dict.cc/?s=\\{@}
Query[bg]=Query=http://www.dict.cc/?s=\\{@}
Query[x-test]=xxhttp://www.dict.cc/?s=\\{@}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
