[Desktop Entry]
Type=Service
Name=Open Directory
Name[ar]=افتح مجلداً
Name[bn]=ওপেন ডিরেক্টরি
Name[bn_IN]=মুক্ত ডিরেক্টরি
Name[br]=Digeriñ ur renkell
Name[csb]=Open Directory - Ôpen katalog starnów WWW
Name[cy]=Cyfeiriadur Agored
Name[da]=Åben mappe
Name[es]=Directorio abierto
Name[eu]=Irekitako direktorioa
Name[fa]=باز کردن فهرست راهنما
Name[fi]=Avoin kansio
Name[fy]=Iepen Directory
Name[gl]=Directorio aberto
Name[gu]=ડિરેક્ટરી ખોલો
Name[he]=המדריך הפתוח
Name[hi]=ओपन डिरेक्ट्री
Name[hsb]=Zapisk wočinić
Name[ka]=ღია კატალოგები
Name[kk]=Ашық каталог
Name[km]=បើក​ថត
Name[kn]=ಕಡತಕೋಶವನ್ನು ತೆರೆ
Name[mk]=Отворен директориум
Name[ml]=തട്ടു് തുറക്കുക
Name[mr]=संचयीका उघडा
Name[ne]=डाइरेक्टरी खोल्नुहोस्
Name[or]=ଡ଼ିରେକ୍ଟୋରୀ ଖୋଲନ୍ତୁ
Name[pa]=ਖੁੱਲੀ ਡਾਇਰੈਕਟਰੀ
Name[pl]=Open Directory - katalog stron WWW
Name[ro]=Director Deschis
Name[ru]=Открытый каталог
Name[sl]=Odpri imenik
Name[sr]=Отворени именик
Name[sr@latin]=Otvoreni imenik
Name[sv]=Öppen katalog
Name[ta]=அடைவை திற
Name[te]=ఓపెన్ డైరెక్టరీ
Name[tg]=Кушодани феҳрист
Name[uk]=Відкритий каталог
Name[vi]=Thư mục mở
Name[x-test]=xxOpen Directoryxx
Name[xh]=Vula Ulawulo
Name[zh_TW]=開啟目錄
X-KDE-ServiceTypes=SearchProvider
Keys=dmoz,odp
Query=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[bg]=Query=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ne]=http://search.dmoz.org/cgi-bin/search?खोज्नुहोस्=\\{@}
Query[x-test]=xxhttp://search.dmoz.org/cgi-bin/search?search=\\{@}xx
