[Desktop Entry]
Charset=
Hidden=false
Keys=doi
Name=Digital Object Identifier
Name[ca]=Identificador d'objecte digital
Name[cs]=Digitální identifikátor objektu
Name[csb]=Cëfrowi identifikator òbiektu (DOI)
Name[cy]=Dynodydd Gwrthrych Digidol
Name[da]=Digital objekt-identifikator
Name[de]=Identifizierung digitaler Objekte
Name[el]=Αναγνώριση ψηφιακών αντικειμένων
Name[eo]=Cifereca objektnomo
Name[es]=Identificador de objeto digital
Name[eu]=Objektu digital identifikatzailea
Name[fa]=شناسۀ شئ دیجیتال
Name[fi]=Digitaalinen objektitunniste
Name[he]=מזהה האובייקטים הדיגיטלי
Name[hr]=Prepoznavanje digitalnog objekta
Name[hu]=Digitális objektumazonosító (DOI)
Name[is]=Stafrænn hlutaauðkennir
Name[it]=Identificatore oggetti digitali
Name[ja]=デジタルオブジェクト識別子
Name[ka]=ციფრული ობიექტის ამომცნობი
Name[kk]=Цифрлық нысандарды танушы
Name[km]=ឧបករណ៍​សម្គាល់​វត្ថុ​ឌីជីថល​
Name[lt]=Skaitmeninių objektų identifikatorius
Name[lv]=Digitālo objektu Meklētājs
Name[mk]=Идентификатор на дигитален објект
Name[ms]=Pengenal Pasti Objek Digital
Name[nb]=Digitalt objektnavn
Name[ne]=डिजिटल वस्तु पहिचायक
Name[nn]=Digitalt objektnamn
Name[pa]=ਡਿਜ਼ੀਟਲ ਇਕਾਈ ਪਛਾਣਕਾਰ
Name[pl]=Cyfrowy identyfikator obiektu (DOI)
Name[pt_BR]=Identificador de Objeto Digital
Name[ro]=Identificator digital obiect
Name[ru]=Идентификатор цифровых объектов
Name[se]=Digitálalaš objeaktanamma
Name[sl]=Identifikator digitalnega predmeta
Name[sr]=Идентификатор дигиталног објекта
Name[sr@latin]=Identifikator digitalnog objekta
Name[sv]=Identifikation av digitala objekt
Name[ta]=எண்ணிய பொருள் அடையாளங்காட்டி
Name[tg]=Муайянкунандаи мавзӯъҳои рақамӣ
Name[th]=ตัวระบุวัตถุดิจิตอล
Name[tr]=Sayısal Nesne Kimlikleyici
Name[uk]=Цифровий ідентифікатор об'єкта
Name[x-test]=xxDigital Object Identifierxx
Name[zh_TW]=數位物件識別
Query=http://dx.doi.org/\\{@}
Query[bg]=Query=http://dx.doi.org/\\{@}
Query[x-test]=xxhttp://dx.doi.org/\\{@}xx
ServiceTypes=SearchProvider
Type=Service
