[Desktop Entry]
Type=Service
Name=Ecosia search engine
Name[cs]=Vyhledávací stroj Ecosia
Name[de]=Ecosia-Suchmaschine
Name[en_GB]=Ecosia search engine
Name[es]=Motor de búsqueda Ecosia
Name[et]=Ecosia otsingumootor
Name[hr]=Tražilica Ecosia
Name[kk]=Ecosia іздеу құралы
Name[km]=ម៉ាស៊ីន​ស្វែងរក Ecosia
Name[lt]=Ecosia paieškos tarnyba
Name[nb]=Exosia søkemotor
Name[nds]=Ecosia-Söökmaschien
Name[nl]=Ecosia zoekmachine
Name[pt]=Motor de busca Ecosia
Name[pt_BR]=Mecanismo de busca Ecosia
Name[sv]=Ecosia söktjänst
Name[tg]=Барномаи ҷустуҷӯии Ecosia
Name[th]=บริการค้นหา Ecosia
Name[uk]=Рушій пошуку Ecosia
Name[x-test]=xxEcosia search enginexx
Name[zh_TW]=Ecosia 搜索引擎
X-KDE-ServiceTypes=SearchProvider
Keys=ec
Query=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[cs]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[de]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[en_GB]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[es]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[et]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[hr]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[kk]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[km]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[lt]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[nb]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[nds]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[nl]=http://www.ethicle.com/search.php?q=\\{@}
Query[pt]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[pt_BR]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[sv]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[tg]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[th]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[uk]=http://ecosia.org/search.php?q=\\{@}&meta=normal
Query[x-test]=xxhttp://ecosia.org/search.php?q=\\{@}&meta=normalxx
Query[zh_TW]=http://ecosia.org/search.php?q=\\{@}&meta=normal
