[Desktop Entry]
Charset=
Hidden=false
Keys=en2de
Name=dict.cc Translation: English to German
Name[af]=dict.cc Vertaling: Engels na Duits
Name[be]=dict.cc Пераклад: з англійскай на нямецкую
Name[bn]=dict.cc অনুবাদ: ইংরাজি থেকে জার্মান
Name[ca]=Traducció dict.cc: Anglès - Alemany
Name[cs]=Překlad dict.cc: z angličtiny do němčiny
Name[csb]=dict.cc: anielsczi -> miemiecczi
Name[da]=dict.cc oversættelse: Engelsk til tysk
Name[de]=dict.cc-Übersetzung: Englisch/Deutsch
Name[el]=dict.cc Μετάφραση: Αγγλικά σε Γερμανικά
Name[eo]=dict.cc Traduko: Angla al Germana
Name[es]=dict.cc Tranducción: inglés a alemán
Name[et]=dict.cc tõlkimine: inglise->saksa
Name[eu]=dict.cc Itzulpena: ingelesetik alemanerara
Name[fa]=ترجمۀ dict.cc: انگلیسی به آلمانی
Name[fi]=dict.cc käännös: englannista saksaksi
Name[fr]=Traduction dict.cc : Anglais en Allemand
Name[fy]=dict.cc-oersetting: Ingelsk nei Dûtsk
Name[ga]=dict.cc Aistriúchán: Béarla go Gearmáinis
Name[gl]=Tradución dict.cc: inglés a alemán
Name[gu]=dict.cc ભાષાંતર: અંગ્રેજી થી જર્મન
Name[he]=תרגום dict.cc: אנגלית לגרמנית
Name[hi]=dict.cc अनुवादः अंग्रेजी से जर्मन
Name[hr]=dict.cc Prijevod: engleski na njemački
Name[hu]=Dict.cc - Fordítás angolról németre
Name[is]=dict.cc Þýðing: Enska í þýsku
Name[it]=Traduzione dict.cc: dall'inglese al tedesco
Name[ja]=dict.cc 英語-ドイツ語翻訳
Name[ka]=dict.cc თარგმნა: ინგლისურ-გერმანული
Name[kk]=dict.cc аудармашы: ағылшын тілінен немісшеге
Name[km]=ការ​បកប្រែ dict.cc ៖ ភាសា​អង់គ្លេស​ទៅជា​​​អាល្លឺម៉ង់
Name[ko]=dict.cc 번역: 영어에서 독일어로
Name[lt]=dict.cc vertimas: iš anglų į vokiečių
Name[lv]=dict.cc tulkošana: no Angļu uz Vācu
Name[mk]=dict.cc превод: од англиски на германски
Name[ml]=dict.cc പരിഭാഷ: ഇംഗ്ലീഷില്‍ നിന്നും ജര്‍മനിലേയ്ക്കു്
Name[nb]=dict.cc Oversettelse fra engelsk til tysk
Name[nds]=dict.cc Översetten: Engelsch na Hoochdüütsch
Name[ne]=dict.cc अनुवाद: अङ्ग्रेजीलाई जर्मनीमा
Name[nl]=dict.cc-vertaling: Engels naar Duits
Name[nn]=dict.cc Omsetjing: Engelsk til tysk
Name[pa]=dict.cc ਟਰਾਂਸਲੇਸ਼ਨ: ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਜਰਮਨ
Name[pl]=dict.cc: angielski -> niemiecki
Name[pt]=Tradução do dict.cc: Inglês para Alemão
Name[pt_BR]=dict.cc - Tradução: Inglês para Alemão
Name[ro]=Traducere dict.cc: engleză la germană
Name[ru]=Переводчик dict.cc: англо-немецкий
Name[se]=dict.cc Jorgaleapmi: Eŋgelasgielas duiskkagillii
Name[sk]=dict.cc Preklad z angličtiny do nemčiny
Name[sl]=Prevod dict.cc: angleščina v nemščino
Name[sr]=дикт.цц: са енглеског на немачки
Name[sr@latin]=dict.cc: sa engleskog na nemački
Name[sv]=dict.cc översättning: engelska till tyska
Name[ta]=dict.cc Translation  மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து ஜெர்மன் மொழிக்கு
Name[th]=การแปล dict.cc: ภาษาอังกฤษเป็นเยอรมัน
Name[tr]=dict.cc Çevirisi: İngilizceden Almancaya
Name[uk]=dict.cc: переклад з англійської на німецьку
Name[uz]=dict.cc tarjima: Inglizchadan Olmonchaga
Name[uz@cyrillic]=dict.cc таржима: Инглизчадан Олмончага
Name[vi]=dict.cc Dịch: Tiếng Anh sang tiếng Đức
Name[wa]=Ratournaedje dict.cc: di l' inglès viè l' almand
Name[x-test]=xxdict.cc Translation: English to Germanxx
Name[zh_CN]=dict.cc 翻译：英语译德语
Name[zh_TW]=dict.cc 翻譯: 英文至德文
Query=http://www.dict.cc/?s=\\{@}
Query[bg]=Query=http://www.dict.cc/?s=\\{@}
Query[x-test]=xxhttp://www.dict.cc/?s=\\{@}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
