[Desktop Entry]
Charset=
Hidden=false
Keys=en2fr
Name=WordReference.com Translation: English to French
Name[af]=WordReference.com Vertaling: Engels na Fraans
Name[ar]=ترجمة WordReference.com : من الإنجليزية إلى الفرنسية
Name[ca]=Traducció WordReference.com: Anglès - Francès
Name[cs]=Překlad WordReference.com: z angličtiny do francouzštiny
Name[csb]=WordReference.com: anielsczi -> francësczi
Name[cy]=Cyfieithiad WordReference.com: Saesneg i Ffrangeg
Name[da]=WordReference.com oversættelse: Engelsk til fransk
Name[de]=WordReference.com-Übersetzung: Englisch/Französisch
Name[el]=WordReference.com Μετάφραση: Αγγλικά σε Γαλλικά
Name[eo]=WordReference.com Traduko: angla al franca
Name[es]=WordReference.com Traducción: inglés a francés
Name[et]=WordReference.com tõlkimine: inglise->prantsuse
Name[eu]=WordReference.com Itzulpena: ingelesetik frantsesera
Name[fa]=ترجمۀ WordReference.com: انگلیسی به فرانسوی
Name[fi]=WordReference.com-käännös: englannista ranskaksi
Name[fr]=Traduction sur WordReference.com : Anglais en Français
Name[fy]=WordReference.com-oersetting: Ingelsk nei Frânsk
Name[ga]=Aistriúchán WordReference.com: Béarla go Fraincis
Name[gl]=Tradución WordReference.com: Inglés a Francés
Name[he]=תרגום WordReference.com: אנגלי־צרפתי
Name[hr]=WordReference.com prijevod: engleski na francuski
Name[hu]=WordReference.com fordítás: angolról franciára
Name[is]=WordReference.com þýðing: Ensk/frönsk
Name[it]=Traduzione WordReferece.com: dall'inglese al francese
Name[ja]=WordReference.com 英語-フランス語翻訳
Name[kk]=WordReference.com ағылшын тілінен французшаға аудару
Name[km]=WordReference.com ៖ បកប្រែ​ពី​ភាសា​អង់គ្លេស​ទៅ​បារាំង
Name[lt]=WordReference.com vertimas: iš anglų į prancūzų
Name[lv]=WordReference.com Tulkošana: no Angļu uz Franču
Name[mk]=WordReference.com превод: од англиски на француски
Name[nb]=WordReference.com - oversettelse fra engelsk til fransk
Name[nds]=WordReference.com Översetten: Engelsch na Franzöösch
Name[ne]=WordReference.com Translation: अङ्ग्रेजीलाई फ्रेन्चमा
Name[nl]=WordReference.com-vertaling: Engels naar Frans
Name[nn]=WordReference.com – omsetjing: engelsk til fransk
Name[pa]=WordReference.com ਅਨੁਵਾਦ:ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਫਰੈਂਚ
Name[pl]=WordReference.com: angielski -> francuski
Name[pt]=Tradução do WordReference.com: Inglês para Francês
Name[pt_BR]=WordReference.com - Tradução: Inglês para Francês
Name[ro]=Traducere WordReference.com: engleză la franceză
Name[ru]=Переводчик WordReference.com: англо-французский
Name[se]=WordReference.com – jorgaleapmi: eŋgelasgielas fránskkagillii
Name[sl]=Prevod WordReference.com: angleščina v francoščino
Name[sr]=Превод на WordReference.com: са енглеског на француски
Name[sr@Latn]=Prevod na WordReference.com: sa engleskog na francuski
Name[sv]=Wordreference.com översättning: engelska till franska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து ப்ரென்சு மொழிக்கு
Name[tg]=WordReference.com Тарҷума: Аз Англисӣ ба Фаронсавӣ
Name[tr]=WordReference.com Çevirisi: İngilizceden Fransızcaya
Name[uk]=WordReference.com: переклад з англійської на французьку
Name[uz]=WordReference.com таржима: Инглизчадан Французчага
Name[x-test]=xxWordReference.com Translation: English to Frenchxx
Name[zh_TW]=WordReference.com 翻譯: 英文至法文
Query=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/fr/Translation.asp?enfr=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
