[Desktop Entry]
Charset=
Hidden=false
Keys=en2it
Name=WordReference.com Translation: English to Italian
Name[af]=WordReference.com Vertaling: Engels na Italiaans
Name[be]=WordReference.com Пераклад: з англійскай на італьянскую
Name[ca]=Traducció WordReference.com: Anglès - Italià
Name[cs]=Překlad WordReference.com: z angličtiny do italštiny
Name[csb]=WordReference.com: anielsczi -> italsczi
Name[cy]=Cyfieithiad WordReference.com: Saesneg i Eidaleg
Name[da]=WordReference.com oversættelse: Engelsk til italiensk
Name[de]=WordReference.com-Übersetzung: Englisch/Italienisch
Name[el]=WordReference.com Μετάφραση: Αγγλικά σε Ιταλικά
Name[eo]=WordReference.com Traduko: angla al itala
Name[es]=WordReference.com Traducción: inglés a italiano
Name[et]=WordReference.com tõlkimine: inglise->itaalia
Name[eu]=WordReference.com Itzulpena: ingelesetik italierara
Name[fa]=ترجمۀ WordReference.com: انگلیسی به ایتالیایی
Name[fi]=WordReference.com-käännös: englannista italiaksi
Name[fr]=Traduction sur WordReference.com : Anglais en Italien
Name[fy]=WordReference.com-oersetting: Ingelsk nei Italiaansk
Name[ga]=Aistriúchán WordReference.com: Béarla go Iodáilis
Name[gl]=Tradución WordReference.com: Inglés a Italiano
Name[he]=תרגום WordReference.com: אנגלית לאיטלקית
Name[hr]=WordReference.com Prijevod: engleski na talijanski
Name[hu]=WordReference.com fordítás: angolról olaszra
Name[is]=WordReference.com þýðing: Ensk/ítölsk
Name[it]=Traduzione WordReference.com: dall'inglese all'italiano
Name[ja]=WordReference.com 英語-イタリア語翻訳
Name[kk]=WordReference.com ағылшын тілінен итальяншаға аудару
Name[km]=WordReference.com ៖ បកប្រែ​ពី​ភាសា​អង់គ្លេស​ទៅ​អ៊ីតាលី
Name[lt]=WordReference.com vertimas: iš anglų į italų
Name[lv]=WordReference.com Tulkošana: no Angļu uz Itāļu
Name[mk]=WordReference.com превод: од англиски на италијански
Name[nb]=WordReference.com - oversettelse fra engelsk til italiensk
Name[nds]=WordReference.com Översetten: Engelsch na Italieensch
Name[ne]=WordReference.com Translation: अङ्ग्रेजीलाई इटलीमा
Name[nl]=WordReference.com-vertaling: Engels naar Italiaans
Name[nn]=WordReference.com – omsetjing: engelsk til italiensk
Name[pa]=WordReference.com ਅਨੁਵਾਦ:ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਇਤਾਲਵੀ
Name[pl]=WordReference.com: angielski -> włoski
Name[pt]=Tradução do WordReference.com: Inglês para Italiano
Name[pt_BR]=WordReference.com - Tradução: Inglês para Italiano
Name[ro]=Traducere WordReference.com: engleză la italiană
Name[ru]=Переводчик WordReference.com: англо-итальянский
Name[se]=WordReference.com – jorgaleapmi: eŋgelasgielas italialašgillii
Name[sl]=Prevod WordReference.com: angleščina v italijanščino
Name[sr]=Превод на WordReference.com: са енглеског на италијански
Name[sr@latin]=Prevod na WordReference.com: sa engleskog na italijanski
Name[sv]=Wordreference.com översättning: engelska till italienska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து இத்தாலிய மொழிக்கு
Name[tg]=WordReference.com Тарҷума: Аз Англисӣ ба Итолиёгӣ
Name[th]=การแปลจาก WordReference.com: แปลภาษาอังกฤษเป็นอิตาเลี่ยน
Name[tr]=WordReference.com Çevirisi: İngilizceden İtalyancaya
Name[uk]=WordReference.com: переклад з англійської на італійську
Name[uz]=WordReference.com таржима: Инглизчадан Италянчага
Name[vi]=WordReference.com Dịch: Tiếng Anh sang tiếng Ý
Name[x-test]=xxWordReference.com Translation: English to Italianxx
Name[zh_TW]=WordReference.com 翻譯: 英文至義大利文
Query=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[bg]=Query=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/it/translation.asp?enit=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
