[Desktop Entry]
Type=Service
Name=Ethicle
Name[x-test]=xxEthiclexx
X-KDE-ServiceTypes=SearchProvider
Keys=et,ethicle
Query=http://www.ethicle.com/search.php?q=\\{@}
Query[x-test]=xxhttp://www.ethicle.com/search.php?q=\\{@}xx
