[Desktop Entry]
Type=Service
Name=Ethicle
Name[gu]=ઇથિકલ
Name[mai]=एथिकल
Name[ml]=ഇത്തിക്കിള്‍
Name[nl]=Ethisch
Name[sr]=Етикл
Name[tg]=ickle
Name[x-test]=xxEthiclexx
X-KDE-ServiceTypes=SearchProvider
Keys=et,ethicle
Query=http://www.ethicle.com/search.php?q=\\{@}
Query[hr]=http://info.alexa.com/search?q=\\{@}
Query[x-test]=xxhttp://www.ethicle.com/search.php?q=\\{@}xx
