[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Excite
Name[csb]=Excite - szëkôrz starnów WWW
Name[eo]=Ekscito
Name[km]=ជម្រុញ
Name[ne]=उत्तेजना
Name[pa]=ਐਕਸਾਟੀ
Name[pl]=Excite - wyszukiwarka stron WWW
Name[ta]=ஆச்சர்யம்
Name[te]=ఎక్సైట్
Name[vi]=Tra Excite
Name[x-test]=xxExcitexx
ServiceTypes=SearchProvider
Keys=ex,excite
Query=http://search.excite.com/search.gw?search=\\{@}
Query[bg]=Query=http://search.excite.com/search.gw?search=\\{@}
Query[en_GB]=http://www.excite.co.uk/search/web/results?q=\\{@}&c=web
Query[x-test]=xxhttp://search.excite.com/search.gw?search=\\{@}xx
