[Desktop Entry]
Charset=
Hidden=false
Keys=facebook,face,fb
Name=Facebook
Name[bn]=ফেসবুক
Name[cs]=Facebook
Name[de]=Facebook
Name[en_GB]=Facebook
Name[es]=Facebook
Name[ia]=Facebook
Name[id]=Facebook
Name[is]=Facebook
Name[ja]=Facebook
Name[kk]=Facebook
Name[km]=Facebook
Name[lt]=Facebook
Name[nb]=Facebook
Name[nds]=Facebook
Name[nl]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[sv]=Facebook
Name[th]=เฟซบุ้ค
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
Name[zh_TW]=Facebook
Query=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[bn]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[cs]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[de]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[en_GB]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[es]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[ia]=http://www.facebook.com/search?q=\\{@}&init=quick
Query[id]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[is]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[ja]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[kk]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[km]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[lt]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[nb]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[nds]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[nl]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[pt]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[pt_BR]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[sv]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[th]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[uk]=http://www.facebook.com/search/?q=\\{@}&init=quick
Query[x-test]=xxhttp://www.facebook.com/search/?q=\\{@}&init=quickxx
Query[zh_TW]=http://www.facebook.com/search/?q=\\{@}&init=quick
ServiceTypes=SearchProvider
Type=Service
