[Desktop Entry]
Type=Service
Name=Feedster
X-KDE-ServiceTypes=SearchProvider
Keys=blog,rss,feedster
Query=http://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8
Charset=utf8
