[Desktop Entry]
Type=Service
Name=Feedster
Name[nl]=Feedster
Name[uk]=Feedster
Name[x-test]=xxFeedsterxx
X-KDE-ServiceTypes=SearchProvider
Keys=blog,rss,feedster
Query=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[nl]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[uk]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[x-test]=xxhttp://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}xx
Charset=utf8
