[Desktop Entry]
Charset=
Hidden=false
Keys=flickrcc,flkrcc,flkcc
Name=Flickr Creative Commons
Name[bg]=Flickr Creative Commons
Name[ca]=Flickr Creative Commons
Name[ca@valencia]=Flickr Creative Commons
Name[cs]=Flickr Creative Commons
Name[da]=Flickr Creative Commons
Name[de]=Flickr Creative Commons
Name[el]=Flickr Creative Commons
Name[en_GB]=Flickr Creative Commons
Name[es]=Flickr Creative Commons
Name[et]=Flickr Creative Commons
Name[eu]=Flickr Creative Commons
Name[fi]=Flickr Creative Commons
Name[fr]=Flickr Creative Commons
Name[hr]=Flickr Creative Commons
Name[ia]=Flickr Creative Commons
Name[id]=Flickr Creative Commons
Name[is]=Flickr Creative Commons
Name[it]=Creative Commons su Flickr
Name[ja]=Flickr Creative Commons
Name[kk]=Flickr Creative Commons
Name[km]=Flickr Creative Commons
Name[kn]=ಫ್ಲಿಕ್ಕರ್ ಕ್ರಿಯೇಟಿವ್ ಕಾಮನ್ಸ್
Name[ko]=Flickr 크리에이티브 커먼즈
Name[lt]=Flickr Creative Commons
Name[ml]=ഫ്ലിക്കര്‍ ക്രിയേറ്റീവ് കോമണ്‍സ്
Name[nb]=Flickr Creative Commons
Name[nds]=Flickr Creative Commons
Name[nl]=Flickr Creative Commons
Name[nn]=Flickr Creative Commons
Name[pl]=Flickr Creative Commons
Name[pt]=Flickr Creative Commons
Name[pt_BR]=Flickr Creative Commons
Name[ro]=Flickr Creative Commons
Name[ru]=Flickr: лицензия Creative Commons
Name[si]=Flickr Creative Commons
Name[sk]=Flickr Creative Commons
Name[sl]=Flickr Creative Commons
Name[sr]=Фликр (Криејтив комонс)
Name[sr@ijekavian]=Фликр (Криејтив комонс)
Name[sr@ijekavianlatin]=Flickr (Creative Commons)
Name[sr@latin]=Flickr (Creative Commons)
Name[sv]=Flickr Creative Commons
Name[uk]=Flickr Creative Commons
Name[x-test]=xxFlickr Creative Commonsxx
Name[zh_CN]=Flickr 公用创作物
Name[zh_TW]=Flickr Creative Commons
Query=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ar]=http://www.ethicle.com/search.php?q=\\{@}
Query[bg]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[bn]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ca]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ca@valencia]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[cs]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[da]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[de]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[el]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[en_GB]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[es]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[et]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[eu]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[fi]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[fr]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[gu]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[hr]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ia]=http://www.flickr.com/search?q=\\{@}&|=cc&ct=0&mt=all&adv=1
Query[id]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[is]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[it]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ja]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[kk]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[km]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[kn]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ko]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[lt]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ml]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[nb]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[nds]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[nl]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[nn]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[pa]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[pl]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[pt]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[pt_BR]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ro]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[ru]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[sk]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[sl]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[sr]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[sr@ijekavian]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[sr@ijekavianlatin]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[sr@latin]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[sv]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[tg]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[th]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[tr]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[uk]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[x-test]=xxhttp://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1xx
Query[zh_CN]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
Query[zh_TW]=http://www.flickr.com/search/?q=\\{@}&l=cc&ct=0&mt=all&adv=1
ServiceTypes=SearchProvider
Type=Service
