[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=FreeDB
Name[eo]=Libera Civilizludo
Name[ne]=नि: शुल्क DB
Name[ta]=இலவசடிபி
Name[te]=ఫ్రీడిబి
Name[tg]=ОзодиDB
Name[x-test]=xxFreeDBxx
ServiceTypes=SearchProvider
Keys=fdb,freedb
Query=http://www.freedb.org/freedb_search.php?words=\\{@}
Query[bg]=Query=http://www.freedb.org/freedb_search.php?words=\\{@}
Query[x-test]=xxhttp://www.freedb.org/freedb_search.php?words=\\{@}xx
Charset=utf8
