[Desktop Entry]
Type=Service
Name=Freshmeat
Name[ar]=مكتبة برامج اللحم الطازج ( Freshmeat)
Name[bn]=ফ্রেশমীট
Name[csb]=Freshmeat - szëkôrz programów
Name[gu]=ફ્રેશમીટ
Name[hi]=फ्रेशमीट
Name[hne]=फ्रेसमीट
Name[kn]=ಫ್ರೆಷ್ ಮೀಟ್
Name[mai]=फ्रेशमीट
Name[ml]=ഫ്രെഷ്‌മീറ്റ്
Name[ne]=फ्रेसमिट
Name[pa]=ਤਾਜ਼ਾ
Name[pl]=Freshmeat - wyszukiwarka programów
Name[sr]=Фрешмит
Name[ta]=புது இறைச்சி
Name[te]=ఫ్రెష్ మీట్
Name[th]=Freshmeat แหล่งรวมซอฟต์แวร์เสรี
Name[vi]=Tra Freshmeat
Name[x-test]=xxFreshmeatxx
X-KDE-ServiceTypes=SearchProvider
Keys=fm,freshmeat
Query=http://freshmeat.net/search/?q=\\{@}
Query[x-test]=xxhttp://freshmeat.net/search/?q=\\{@}xx
