[Desktop Entry]
Type=Service
Name=Froogle
Name[af]=Froogle
Name[ar]=Froogle
Name[as]=Froogle
Name[ast]=Froogle
Name[be]=Froogle
Name[be@latin]=Froogle
Name[bg]=Froogle
Name[bn]=ফ্রুগল্
Name[bn_IN]=Froogle
Name[br]=Froogle
Name[ca]=Froogle
Name[ca@valencia]=Froogle
Name[cs]=Froogle
Name[csb]=Froogle
Name[cy]=Froogle
Name[da]=Froogle
Name[de]=Froogle
Name[el]=Froogle
Name[en_GB]=Froogle
Name[eo]=Froogle
Name[es]=Froogle
Name[et]=Froogle
Name[eu]=Froogle
Name[fi]=Froogle
Name[fr]=Froogle
Name[fy]=Froogle
Name[ga]=Froogle
Name[gl]=Froogle
Name[gu]=ફ્રુગલ
Name[he]=Froogle
Name[hi]=फ्रूगल
Name[hne]=फ्रूगल
Name[hr]=Froogle
Name[hsb]=Froogle
Name[hu]=Froogle
Name[ia]=Froogle
Name[id]=Froogle
Name[is]=Froogle
Name[it]=Froogle
Name[ja]=Froogle
Name[ka]=Froogle
Name[kk]=Froogle
Name[km]=Froogle
Name[kn]=ಫ್ರೂಗಲ್
Name[ko]=Froogle
Name[ku]=Froogle
Name[lt]=Froogle
Name[lv]=Froogle
Name[mai]=फ्रूगल
Name[mk]=Froogle
Name[ml]=ഫ്രൂഗിള്‍
Name[mr]=Froogle
Name[ms]=Froogle
Name[nb]=Froogle
Name[nds]=Froogle
Name[ne]=फ्रुगल
Name[nl]=Froogle
Name[nn]=Froogle
Name[or]=Froogle
Name[pa]=ਫਰੂਗਲ
Name[pl]=Froogle
Name[pt]=Froogle
Name[pt_BR]=Froogle
Name[ro]=Froogle
Name[ru]=Froogle
Name[se]=Froogle
Name[si]=Froogle
Name[sk]=Froogle
Name[sl]=Froogle
Name[sr]=Фрогл
Name[sr@ijekavian]=Фрогл
Name[sr@ijekavianlatin]=Froogle
Name[sr@latin]=Froogle
Name[sv]=Froogle
Name[ta]=ஃப்ரூகுல்
Name[te]=ఫ్రూగుల్
Name[tg]=Froogle
Name[th]=Froogle - หาสินค้าผ่าน google
Name[tr]=Froogle
Name[ug]=Froogle
Name[uk]=Froogle
Name[uz]=Froogle
Name[uz@cyrillic]=Froogle
Name[vi]=Tra Froogle
Name[wa]=Froogle
Name[x-test]=xxFrooglexx
Name[zh_CN]=Froogle
Name[zh_TW]=Froogle
X-KDE-ServiceTypes=SearchProvider
Keys=froogle
Query=http://froogle.google.com/froogle?q=\\{@}
Query[af]=http://froogle.google.com/froogle?q=\\{@}
Query[ar]=http://froogle.google.com/froogle?q=\\{@}
Query[as]=http://froogle.google.com/froogle?q=\\{@}
Query[ast]=http://froogle.google.com/froogle?q=\\{@}
Query[be]=http://froogle.google.com/froogle?q=\\{@}
Query[be@latin]=http://froogle.google.com/froogle?q=\\{@}
Query[bg]=http://froogle.google.com/froogle?q=\\{@}
Query[bn]=http://froogle.google.com/froogle?q=\\{@}
Query[bn_IN]=http://froogle.google.com/froogle?q=\\{@}
Query[br]=http://froogle.google.com/froogle?q=\\{@}
Query[ca]=http://froogle.google.com/froogle?q=\\{@}
Query[ca@valencia]=http://froogle.google.com/froogle?q=\\{@}
Query[cs]=http://froogle.google.com/froogle?q=\\{@}
Query[csb]=http://froogle.google.com/froogle?q=\\{@}
Query[da]=http://froogle.google.com/froogle?q=\\{@}
Query[de]=http://froogle.google.com/froogle?q=\\{@}
Query[el]=http://froogle.google.com/froogle?q=\\{@}
Query[en_GB]=http://froogle.google.co.uk/froogle?q=\\{@}
Query[eo]=http://froogle.google.com/froogle?q=\\{@}
Query[es]=http://froogle.google.com/froogle?q=\\{@}
Query[et]=http://froogle.google.com/froogle?q=\\{@}
Query[eu]=http://froogle.google.com/froogle?q=\\{@}
Query[fi]=http://froogle.google.com/froogle?q=\\{@}
Query[fr]=http://froogle.google.com/froogle?q=\\{@}
Query[fy]=http://froogle.google.com/froogle?q=\\{@}
Query[ga]=http://froogle.google.com/froogle?q=\\{@}
Query[gl]=http://froogle.google.com/froogle?q=\\{@}
Query[gu]=http://froogle.google.com/froogle?q=\\{@}
Query[he]=http://froogle.google.com/froogle?q=\\{@}
Query[hi]=http://froogle.google.com/froogle?q=\\{@}
Query[hne]=http://froogle.google.com/froogle?q=\\{@}
Query[hr]=http://froogle.google.com/froogle?q=\\{@}
Query[hsb]=http://froogle.google.com/froogle?q=\\{@}
Query[hu]=http://froogle.google.com/froogle?q=\\{@}
Query[ia]=http://froogle.google.com/froogle?q=\\{@}
Query[id]=http://froogle.google.com/froogle?q=\\{@}
Query[is]=http://froogle.google.com/froogle?q=\\{@}
Query[it]=http://froogle.google.com/froogle?q=\\{@}
Query[ja]=http://froogle.google.com/froogle?q=\\{@}
Query[ka]=http://froogle.google.com/froogle?q=\\{@}
Query[kk]=http://froogle.google.com/froogle?q=\\{@}
Query[km]=http://froogle.google.com/froogle?q=\\{@}
Query[kn]=http://froogle.google.com/froogle?q=\\{@}
Query[ko]=http://froogle.google.com/froogle?q=\\{@}
Query[ku]=http://froogle.google.com/froogle?q=\\{@}
Query[lt]=http://froogle.google.com/froogle?q=\\{@}
Query[lv]=http://froogle.google.com/froogle?q=\\{@}
Query[mai]=http://froogle.google.com/froogle?q=\\{@}
Query[ml]=http://froogle.google.com/froogle?q=\\{@}
Query[mr]=http://froogle.google.com/froogle?q=\\{@}
Query[ms]=http://froogle.google.com/froogle?q=\\{@}
Query[nb]=http://froogle.google.no/froogle?q=\\{@}
Query[nds]=http://froogle.google.com/froogle?q=\\{@}
Query[ne]=http://froogle.google.com/froogle?q=\\{@}
Query[nl]=http://froogle.google.com/froogle?q=\\{@}
Query[nn]=http://froogle.google.com/froogle?q=\\{@}
Query[oc]=http://froogle.google.com/froogle?q=\\{@}
Query[or]=http://froogle.google.com/froogle?q=\\{@}
Query[pa]=http://froogle.google.com/froogle?q=\\{@}
Query[pl]=http://froogle.google.com/froogle?q=\\{@}
Query[pt]=http://froogle.google.com/froogle?q=\\{@}
Query[pt_BR]=http://froogle.google.com/froogle?q=\\{@}
Query[ro]=http://froogle.google.com/froogle?q=\\{@}
Query[ru]=http://froogle.google.com/froogle?q=\\{@}
Query[se]=http://froogle.google.com/froogle?q=\\{@}
Query[si]=http://froogle.google.com/froogle?q=\\{@}
Query[sk]=http://froogle.google.com/froogle?q=\\{@}
Query[sl]=http://froogle.google.com/froogle?q=\\{@}
Query[sr]=http://froogle.google.com/froogle?q=\\{@}
Query[sr@ijekavian]=http://froogle.google.com/froogle?q=\\{@}
Query[sr@ijekavianlatin]=http://froogle.google.com/froogle?q=\\{@}
Query[sr@latin]=http://froogle.google.com/froogle?q=\\{@}
Query[sv]=http://froogle.google.com/froogle?q=\\{@}
Query[ta]=http://froogle.google.com/froogle?q=\\{@}
Query[te]=http://froogle.google.com/froogle?q=\\{@}
Query[tg]=http://froogle.google.com/froogle?q=\\{@}
Query[th]=http://froogle.google.com/froogle?q=\\{@}
Query[tr]=http://froogle.google.com/froogle?q=\\{@}
Query[ug]=http://froogle.google.com/froogle?q=\\{@}
Query[uk]=http://froogle.google.com/froogle?q=\\{@}
Query[uz]=http://froogle.google.com/froogle?q=\\{@}
Query[uz@cyrillic]=http://froogle.google.com/froogle?q=\\{@}
Query[vi]=http://froogle.google.com/froogle?q=\\{@}
Query[wa]=http://froogle.google.com/froogle?q=\\{@}
Query[x-test]=xxhttp://froogle.google.com/froogle?q=\\{@}xx
Query[zh_CN]=http://froogle.google.com/froogle?q=\\{@}
Query[zh_TW]=http://froogle.google.com/froogle?q=\\{@}
