[Desktop Entry]
Type=Service
Name=FSF/UNESCO Free Software Directory
Name[uk]=Словник з вільного програмного забезпечення FSF/UNESCO
Name[x-test]=xxFSF/UNESCO Free Software Directoryxx
X-KDE-ServiceTypes=SearchProvider
Keys=fsd
Query=http://directory.fsf.org/search/?query=\\{@}
Query[uk]=http://directory.fsf.org/search/?query=\\{@}
Query[x-test]=xxhttp://directory.fsf.org/search/?query=\\{@}xx


