[Desktop Entry]
Charset=
Hidden=false
Keys=github,gh
Name=GitHub
Name[ar]=GitHub
Name[ast]=GitHub
Name[bg]=GitHub
Name[bn]=গিট-হাব
Name[bs]=Githab
Name[ca]=GitHub
Name[ca@valencia]=GitHub
Name[cs]=GitHub
Name[da]=GitHub
Name[de]=GitHub
Name[el]=GitHub
Name[en_GB]=GitHub
Name[eo]=GitHub
Name[es]=GitHub
Name[et]=GitHub
Name[eu]=GitHub
Name[fa]=GitHub
Name[fi]=GitHub
Name[fr]=GitHub
Name[ga]=GitHub
Name[gl]=GitHub
Name[gu]=ગીટહબ
Name[he]=GitHub
Name[hi]=गिटहब
Name[hr]=GitHub
Name[hu]=GitHub
Name[ia]=GitHub
Name[id]=GitHub
Name[is]=GitHub
Name[it]=GitHub
Name[ja]=GitHub
Name[kk]=GitHub
Name[km]=GitHub
Name[kn]=ಗಿಟ್ ಹಬ್
Name[ko]=GitHub
Name[lt]=GitHub
Name[lv]=GitHub
Name[mai]=GitHub
Name[ml]=ഗിറ്റ്ഹബ്
Name[mr]=जिटहब
Name[nb]=GitHub
Name[nds]=GitHub
Name[nl]=GitHub
Name[nn]=GitHub
Name[pa]=GitHub
Name[pl]=GitHub
Name[pt]=GitHub
Name[pt_BR]=GitHub
Name[ro]=GitHub
Name[ru]=GitHub
Name[si]=GitHub
Name[sk]=GitHub
Name[sl]=GitHub
Name[sr]=Гитхаб
Name[sr@ijekavian]=Гитхаб
Name[sr@ijekavianlatin]=GitHub
Name[sr@latin]=GitHub
Name[sv]=GitHub
Name[tg]=GitHub
Name[th]=GitHub
Name[tr]=GitHub
Name[ug]=GitHub
Name[uk]=GitHub
Name[vi]=GitHub
Name[wa]=GitHub
Name[x-test]=xxGitHubxx
Name[zh_CN]=GitHub
Name[zh_TW]=GitHub
Query=https://github.com/search?q=\\{@}&x=0&y=0
ServiceTypes=SearchProvider
Type=Service
