[Desktop Entry]
Charset=
Hidden=false
Keys=gitorious,gt
Name=Gitorious
Name[ia]=Gitorious
Name[is]=Gitorious
Name[pt]=Gitorious
Name[sv]=Gitorious
Name[uk]=Gitorious
Name[x-test]=xxGitoriousxx
Name[zh_TW]=Gitorious
Query=http://gitorious.org/search?q=\\{@}&commit=Search
Query[ia]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[is]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[pt]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[sv]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[uk]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[x-test]=xxhttp://gitorious.org/search?q=\\{@}&commit=Searchxx
Query[zh_TW]=http://gitorious.org/search?q=\\{@}&commit=Search
ServiceTypes=SearchProvider
Type=Service
