[Desktop Entry]
Charset=
Hidden=false
Keys=gitorious,gt
Name=Gitorious
Name[bg]=Gitorious
Name[bn]=গিটেরিয়াস
Name[ca]=Gitorious
Name[ca@valencia]=Gitorious
Name[cs]=Gitorious
Name[da]=Gitorious
Name[de]=Gitorious
Name[el]=Gitorious
Name[en_GB]=Gitorious
Name[es]=Gitorious
Name[et]=Gitorious
Name[fr]=Gitorious
Name[hr]=Gitorious
Name[ia]=Gitorious
Name[id]=Gitorious
Name[is]=Gitorious
Name[it]=Gitorious
Name[ja]=Gitorious
Name[kk]=Gitorious
Name[km]=Gitorious
Name[kn]=ಗಿಟೋರಿಯಸ್(Gitorious)
Name[lt]=Gitorious
Name[ml]=ഗിറ്റോറിയസ്
Name[nb]=Gitorious
Name[nds]=Gitorious
Name[nl]=Gitorious
Name[pa]=ਗਿਟੋਰੀਅਸ
Name[pt]=Gitorious
Name[pt_BR]=Gitorious
Name[ro]=Gitorious
Name[ru]=Gitorious
Name[sv]=Gitorious
Name[th]=Gitorious
Name[uk]=Gitorious
Name[x-test]=xxGitoriousxx
Name[zh_CN]=Gitorious
Name[zh_TW]=Gitorious
Query=http://gitorious.org/search?q=\\{@}&commit=Search
Query[bg]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[bn]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[ca]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[ca@valencia]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[cs]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[da]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[de]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[el]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[en_GB]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[es]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[et]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[fr]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[gu]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[hr]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[ia]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[id]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[is]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[it]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[ja]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[kk]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[km]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[kn]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[lt]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[nb]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[nds]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[nl]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[pa]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[pt]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[pt_BR]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[ro]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[ru]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[sv]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[th]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[uk]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[x-test]=xxhttp://gitorious.org/search?q=\\{@}&commit=Searchxx
Query[zh_CN]=http://gitorious.org/search?q=\\{@}&commit=Search
Query[zh_TW]=http://gitorious.org/search?q=\\{@}&commit=Search
ServiceTypes=SearchProvider
Type=Service
