[Desktop Entry]
Type=Service
Name=Google Maps
X-KDE-ServiceTypes=SearchProvider
Keys=googlemaps,ggmaps,ggm
Query=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[en_GB]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[de]=http://maps.google.de/maps?q=\\{@}&ie=UTF8&iwloc=addr
