[Desktop Entry]
Type=Service
Name=Google Shopping
Name[ca]=Google Shopping
Name[cs]=Google Shopping
Name[de]=Google-Shopping
Name[el]=Google Αγορές
Name[es]=Compras de Google
Name[eu]=Google erosketak
Name[fi]=Google Shopping
Name[gl]=Compras en Google
Name[ia]=Google Shopping
Name[is]=Google verslun
Name[ja]=Google ショッピング
Name[kk]=Google Shopping
Name[lt]=Yahoo parduotuvė
Name[nl]=Google Shopping
Name[pa]=ਗੂਗਲ ਖਰੀਦਦਾਰੀ
Name[pl]=Zakupy Google
Name[pt]=Compras do Google
Name[pt_BR]=Google Shopping
Name[ro]=Cumpărături Google
Name[ru]=Google: Покупки
Name[sk]=Google nakupovanie
Name[sl]=Google Shopping
Name[sr]=Гугл‑шопинг
Name[sr@ijekavian]=Гугл‑шопинг
Name[sr@ijekavianlatin]=Google Shopping
Name[sr@latin]=Google Shopping
Name[sv]=Google shopping
Name[tr]=Google Mağaza
Name[uk]=Google Shopping
Name[x-test]=xxGoogle Shoppingxx
Name[zh_TW]=Google Shopping
X-KDE-ServiceTypes=SearchProvider
Keys=ggs,ggshopping
Query=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[ca]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[cs]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[de]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[el]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[es]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[eu]=https://www.google.com/search?hl=eu&tbm=shop&q=\\{@}
Query[fi]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[gl]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[ia]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[is]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[ja]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[kk]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[lt]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[nl]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[pa]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[pl]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[pt]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[pt_BR]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[ro]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[ru]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[sk]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[sl]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[sr]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[sr@ijekavian]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[sr@ijekavianlatin]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[sr@latin]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[sv]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[tr]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[uk]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
Query[x-test]=xxhttps://www.google.com/search?hl=en&tbm=shop&q=\\{@}xx
Query[zh_TW]=https://www.google.com/search?hl=en&tbm=shop&q=\\{@}
