[Desktop Entry]
Type=Service
Name=Google Maps
Name[bn]=গুগল ম্যাপ
Name[cs]=Google mapy
Name[da]=Google Maps
Name[de]=Google-Maps
Name[el]=Google Maps
Name[en_GB]=Google Maps
Name[es]=Google Maps
Name[et]=Google Maps
Name[he]=גוגל מפות
Name[hr]=Google Maps
Name[ia]=Google Maps : Mappas de Google
Name[id]=Google Maps
Name[is]=Google Kort
Name[it]=Mappe di Google
Name[ja]=Google Maps
Name[kk]=Google карталаы
Name[km]=ផែនទី​​ហ្គូហ្គល
Name[lt]=Google žemėlapiai
Name[nb]=Google Maps
Name[nds]=Google-Koorten
Name[nl]=Google Maps
Name[pt]=Google Maps
Name[pt_BR]=Google Maps
Name[ru]=Карты Google
Name[sv]=Google kartor
Name[tg]=Харитаҳои Google
Name[th]=ดูแผนที่ต่าง ๆ ด้วยกูเกิล
Name[tr]=Google Haritaları
Name[uk]=Карти Google
Name[x-test]=xxGoogle Mapsxx
Name[zh_CN]=Google 地图
Name[zh_TW]=Google 地圖
X-KDE-ServiceTypes=SearchProvider
Keys=googlemaps,ggmaps,ggm
Query=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[bn]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[cs]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[da]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[de]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[el]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[en_GB]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[es]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[et]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[he]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[hr]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[ia]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[id]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[is]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[it]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[ja]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[kk]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[km]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[lt]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[nb]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[nds]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[nl]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[pt]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[pt_BR]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[ru]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[sk]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[sv]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[tg]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[th]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[tr]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[uk]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[x-test]=xxhttp://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addrxx
Query[zh_CN]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[zh_TW]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
