[Desktop Entry]
Type=Service
Name=Google Groups
Name[af]=Google Groepe
Name[ar]=مجموعات جوجل
Name[as]=Google Groups
Name[ast]=Grupos de Google
Name[be]=Групы Google
Name[be@latin]=Hrupy „Google”
Name[bg]=Групи в Google
Name[bn]=গুগল্ গ্রুপস
Name[bn_IN]=Google Groups (গ্রুপ)
Name[br]=Stroladoù Google
Name[ca]=Grups a Google
Name[ca@valencia]=Grups a Google
Name[cs]=Google - diskuzní skupiny
Name[csb]=Google - archiwa diskùsjowëch karnów
Name[cy]=Grwpiau Google
Name[da]=Google-grupper
Name[de]=Google-Newsgruppen
Name[el]=Ομάδες του Google
Name[en_GB]=Google Groups
Name[eo]=Forumserĉo ĉe "Google"
Name[es]=Grupos de Google
Name[et]=Google uudisegrupid
Name[eu]=Google taldeak
Name[fa]=گروههای گوگل
Name[fi]=Googlen keskusteluryhmät
Name[fr]=Groupes Google
Name[fy]=Google Diskusjegroepen
Name[ga]=Grúpaí Google
Name[gl]=Grupos de Google
Name[gu]=ગુગલ સમૂહો
Name[he]=קבוצות דיון ב־Google
Name[hi]=गूगल समूह
Name[hne]=गूगल समूह
Name[hr]=Google Grupe
Name[hsb]=Google Groups
Name[hu]=Google Groups
Name[ia]=Google Groups : Gruppos de Google
Name[id]=Google Grup
Name[is]=Google - Ráðstefnur
Name[it]=Google gruppi
Name[ja]=Google グループ
Name[ka]=Google ჯგუფები
Name[kk]=Google топтары
Name[km]=ក្រុម​ហ្គូហ្គល
Name[kn]=ಗೂಗಲ್ ಗುಂಪುಗಳು
Name[ko]=Google 그룹스
Name[ku]=Komên Googleyê
Name[lt]=Google grupės
Name[lv]=Google grupas
Name[mai]=गूगल समूह
Name[mk]=Google-групи
Name[ml]=ഗൂഗിള്‍ കൂട്ടങ്ങള്‍
Name[mr]=Google समूह
Name[ms]=Kumpulan Google
Name[nb]=Google-grupper
Name[nds]=Google-Koppeln
Name[ne]=गुगल समूह
Name[nl]=Google Groepen
Name[nn]=Google Groups
Name[oc]=Grops Google
Name[or]=Google Groups
Name[pa]=Google ਗਰੁੱਪ
Name[pl]=Google - archiwum grup dyskusyjnych
Name[pt]=Grupos do Google
Name[pt_BR]=Grupos do Google
Name[ro]=Grupuri Google
Name[ru]=Группы Google
Name[se]=Google Groups
Name[si]=ගූගල් සමූහ
Name[sk]=Diskusné skupiny Google
Name[sl]=Skupine Google
Name[sr]=Гугл‑групе
Name[sr@ijekavian]=Гугл‑групе
Name[sr@ijekavianlatin]=Google-grupe
Name[sr@latin]=Google-grupe
Name[sv]=Google-grupper
Name[ta]=கூகுல் குழுக்கள்
Name[te]=గూగుల్ గుంపులు
Name[tg]=Гурӯҳҳои Google
Name[th]=กลุ่มต่าง ๆ ของกูเกิล
Name[tr]=Google Grupları
Name[uk]=Групи Google
Name[uz]=Google - Guruhlar
Name[uz@cyrillic]=Google - Гуруҳлар
Name[vi]=Nhóm Google
Name[wa]=Google Groups
Name[xh]=Amaqela e Google
Name[x-test]=xxGoogle Groupsxx
Name[zh_CN]=Google 兴趣小组
Name[zh_TW]=Google 群組
X-KDE-ServiceTypes=SearchProvider
Keys=ggg,groups,dj,deja
Query=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[af]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ar]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[as]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ast]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[be]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[be@latin]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[bg]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[bn]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[bn_IN]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[br]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ca]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ca@valencia]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[cs]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[csb]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[da]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[de]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[el]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[en_GB]=http://groups.google.co.uk/groups?oi=djq&as_q=\\{@}
Query[eo]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[es]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[et]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[eu]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[fi]=http://groups.google.fi/groups?oi=djq&as_q=\\{@}
Query[fr]=http://groups.google.fr/groups?oi=djq&as_q=\\{@}
Query[fy]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ga]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[gl]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[gu]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[he]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[hi]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[hne]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[hr]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[hsb]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[hu]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ia]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[id]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[is]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[it]=http://groups.google.it/groups?oi=djq&as_q=\\{@}
Query[ja]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ka]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[kk]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[km]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[kn]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ko]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ku]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[lt]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[lv]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[mai]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ml]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[mr]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ms]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[nb]=http://groups.google.no/groups?hl=nn&oi=djq&as_q=\\{@}
Query[nds]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ne]=http://groups.google.com/groups?oi=djqas_q=\\{@}
Query[nl]=http://groups.google.nl/groups?oi=djq&as_q=\\{@}
Query[nn]=http://groups.google.com/groups?hl=nn&oi=djq&as_q=\\{@}
Query[oc]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[or]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[pa]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[pl]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[pt]=http://groups.google.pt/groups?oi=djq&as_q=\\{@}
Query[pt_BR]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ro]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ru]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[se]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[si]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[sk]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[sl]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[sr]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[sr@ijekavian]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[sr@ijekavianlatin]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[sr@latin]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[sv]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[ta]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[te]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[tg]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[th]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[tr]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[uk]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[uz]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[uz@cyrillic]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[vi]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[wa]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[x-test]=xxhttp://groups.google.com/groups?oi=djq&as_q=\\{@}xx
Query[zh_CN]=http://groups.google.com/groups?oi=djq&as_q=\\{@}
Query[zh_TW]=http://groups.google.com.tw/groups?oi=djq&as_q=\\{@}
