[Desktop Entry]
Type=Service
Name=Google News
Name[af]=Google Nuus
Name[ar]=أخبار جوجل
Name[be]=Навіны Google
Name[be@latin]=Naviny „Google”
Name[bn]=গুগল্ সংবাদ
Name[bn_IN]=Google খবরাখবর
Name[br]=Keleier Google
Name[ca]=Notícies de Google
Name[csb]=Google - nowinë
Name[cy]=Newyddion Google
Name[da]=Google nyheder
Name[el]=Google νέα
Name[eo]=Google novaĵoj
Name[es]=Noticias de Google
Name[fa]=اخبار گوگل
Name[fi]=Googlen uutiset
Name[fr]=Google actualités
Name[fy]=Google-nijs
Name[ga]=Nuacht Google
Name[gl]=Novas de Google
Name[gu]=ગુગલ સમાચારો
Name[he]=חדשות Google
Name[hi]=गूगल समाचार
Name[hr]=Google novosti
Name[is]=Google fréttir
Name[it]=Google notizie
Name[ja]=Google ニュース
Name[ka]=Google სიახლეები
Name[kk]=Google жаңалықтар
Name[km]=ព័ត៌មាន​តាម​ហ្គូហ្គល
Name[kn]=ಗೂಗಲ್ ವಾರ್ತೆಗಳು
Name[ko]=Google 뉴스
Name[ku]=Nûçeyên Google
Name[lt]=Google naujienos
Name[lv]=Google ziņas
Name[mk]=Google Вести
Name[ml]=ഗൂഗിള്‍ വാര്‍ത്തകള്‍
Name[mr]=Google समाचार
Name[ms]=Berita Google
Name[nb]=Google nyheter
Name[nds]=Google Narichten
Name[ne]=गुगल समाचार
Name[nl]=Google-nieuws
Name[nn]=Google-nyheiter
Name[oc]=Novèlas Google
Name[pa]=Google ਖ਼ਬਰਾਂ
Name[pl]=Google - wiadomości
Name[pt]=Notícias Google
Name[ro]=Știri Google
Name[ru]=Новости Google
Name[se]=Google ođđasat
Name[sk]=Google správy
Name[sr]=Гугл‑вести
Name[sr@latin]=Google-vesti
Name[sv]=Google diskussionsgrupper
Name[ta]=கூகுல் செய்திகள்
Name[te]=గూగుల్ వార్తలు
Name[th]=ข่าวจากกูเกิ้ล
Name[tr]=Google Haberleri
Name[uk]=Новини Google
Name[uz]=Google - Yangiliklar
Name[uz@cyrillic]=Google - Янгиликлар
Name[vi]=Tin tức Google
Name[x-test]=xxGoogle Newsxx
Name[zh_CN]=Google 新闻
Name[zh_TW]=Google 新聞
X-KDE-ServiceTypes=SearchProvider
Keys=ggn,googlenews
Query=http://news.google.com/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[en_GB]=http://news.google.co.uk/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[fi]=http://news.google.fi/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[fr]=http://news.google.fr/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[he]=http://news.google.co.il/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[it]=http://news.google.it/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[nb]=http://news.google.no/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[ne]=http://news.google.com/news?q=\\{@}ie=UTF-8&oe=UTF-8
Query[nl]=http://news.google.nl/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[pt]=http://news.google.pt/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[x-test]=xxhttp://news.google.com/news?q=\\{@}&ie=UTF-8&oe=UTF-8xx
Query[zh_TW]=http://news.google.com.tw/news?q=\\{@}&ie=UTF-8&oe=UTF-8&hl=zh-TW
Charset=utf8
