[Desktop Entry]
Type=Service
Name=Google (I'm Feeling Lucky)
Name[af]=Google (Vat 'n kaans)
Name[ar]=جوجل (انا محظوظ )
Name[be]=Google (Мне пашанцуе)
Name[be@latin]=Google („Mnie pašancuje”)
Name[bg]=Google (I"m Feeling Lucky)
Name[bn]=গুগল্ (ভাগ্যবান মনে করছি)
Name[ca]=Google (Avui tinc sort!)
Name[cs]=Google (Zkusím štěstí)
Name[csb]=Google - "Szczestlëwé trafienié"
Name[cy]=Google(Dwi'n Teimlo'n Lwcus)
Name[da]=Google (Jeg føler mig heldig)
Name[de]=Google („Auf gut Glück!“)
Name[el]=Google (Αισθάνομαι τυχερός)
Name[eo]=Google (je bonŝanco)
Name[es]=Google (Me siento afortunado)
Name[et]=Google (Ehk veab)
Name[eu]=Google (Zorte onean nago)
Name[fa]=گوگل )یا شانس و یا اقبال(
Name[fi]=Google (Kokeile onneasi)
Name[fr]=Google (J'ai de la chance)
Name[fy]=Google (Ik doch in gok)
Name[ga]=Google (Tá an t-ádh orm inniu)
Name[gl]=Google (Síntome afortunado)
Name[gu]=ગુગલ (આજે હું ખુશ છું)
Name[he]=‏Google (יותר מזל משכל)
Name[hi]=गूगल (आज मेरी क़िस्मत अच्छी है)
Name[hr]=Google (osjećam se sretnim)
Name[is]=Google (Ég er heppin(n) í dag)
Name[it]=Google (Mi sento fortunato)
Name[ka]=Google (გამიმართლა)
Name[kk]=Google (Сәтті сынап көрелік)
Name[km]=ហ្គូហ្គល (ខ្ញុំ​មាន​អារម្មណ៍​ថា​សំណាង)
Name[kn]=ಗೂಗಲ್ (ಅದೃಷ್ಟ ಚೆನ್ನಾಗಿದ್ದಂತಿದೆ)
Name[ko]=Google (운 좋은 예감)
Name[ku]=Goole (Ez Bi Siûd im)
Name[lt]=Google (Man sekasi!)
Name[lv]=Google (Es jūtos laimīgs)
Name[mai]=गूगल (आइ हमर किस्मत नीक अछि)
Name[mk]=Google Од прва рака
Name[ml]=ഗൂഗിള്‍ (ഞാന്‍ ഭാഗ്യവാനാണെന്നു് തോന്നുന്നു)
Name[mr]=Google (मी नशीबवान आहे)
Name[ms]=Google (Saya Rasa Bertuah)
Name[nb]=Google (prøv lykken)
Name[nds]=Google op goot Glück
Name[ne]=गुगल (म भाग्यमानी अनुभति गरिरहेछु)
Name[nl]=Google (Ik doe een gok)
Name[nn]=Google (Eg prøver lykka)
Name[or]=Google (ଭାଗ୍ୟବାନ ମନେକରୁଅଛି)
Name[pa]=Google (ਮੈਂ ਖੁਸ਼ਨਸੀਬ ਹਾਂ)
Name[pl]=Google - "Szczęśliwy traf"
Name[pt]=Google (Sinto-me Com Sorte)
Name[pt_BR]=Google (Estou com sorte)
Name[ro]=Google (Mă simt norocos)
Name[ru]=Google (Мне повезёт!)
Name[se]=Google (Geahččalan lihkku)
Name[sk]=Google (Skúsim štastie)
Name[sl]=Google (Počutim se srečnega)
Name[sr]=Гугл (из прве руке)
Name[sr@latin]=Google (iz prve ruke)
Name[sv]=Google (Jag har tur)
Name[ta]=கூகுல் (நான் அதிர்ஷ்டசாலியாக உணர்கிறேன்)
Name[te]=Google (నెరుగా వెబ్ లొ ప్రవేశించు)
Name[tg]=Google (Корам барор мегирад!)
Name[th]=กูเกิ้ล (ดีใจจัง ค้นแล้วเจอเลย)
Name[tr]=Google
Name[uk]=Google (Я — везунчик)
Name[uz]=Google (Omadim borga oʻxshaydi)
Name[uz@cyrillic]=Google (Омадим борга ўхшайди)
Name[vi]=Google (Xem một trang)
Name[wa]=Google (Dji tchai roed dssus)
Name[x-test]=xxGoogle (I'm Feeling Lucky)xx
Name[zh_CN]=Google (手气不错)
Name[zh_TW]=Google (好手氣)
X-KDE-ServiceTypes=SearchProvider
Keys=ggl,gglucky
Query=http://www.google.com/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[csb]=http://www.google.pl/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[en_GB]=http://www.google.co.uk/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[fi]=http://www.google.fi/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[fr]=http://www.google.fr/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[he]=http://www.google.co.il/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[it]=http://www.google.it/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[nb]=http://www.google.no/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[nl]=http://www.google.nl/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[nn]=http://www.google.no/search?hl=nn&q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[pl]=http://www.google.pl/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[pt]=http://www.google.pt/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Query[x-test]=xxhttp://www.google.com/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8xx
Query[zh_TW]=http://www.google.com.tw/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8&hl=zh-TW
Charset=utf8
