[Desktop Entry]
Type=Service
Name=Google Maps
Name[cs]=Google mapy
Name[de]=Google-Maps
Name[en_GB]=Google Maps
Name[es]=Google Maps
Name[et]=Google Maps
Name[hr]=Google Maps
Name[km]=ផែនទី​​ហ្គូហ្គល
Name[nds]=Google-Koorten
Name[pt]=Google Maps
Name[pt_BR]=Google Maps
Name[sv]=Google kartor
Name[th]=ดูแผนที่ต่าง ๆ ด้วยกูเกิล
Name[uk]=Карти Google
Name[x-test]=xxGoogle Mapsxx
X-KDE-ServiceTypes=SearchProvider
Keys=googlemaps,ggmaps,ggm
Query=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[cs]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[de]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[en_GB]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[es]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[et]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[hr]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[km]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[nds]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[pt]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[pt_BR]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[sv]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[th]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[uk]=http://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
Query[x-test]=xxhttp://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addrxx
