[Desktop Entry]
Type=Service
Name=Google Image Search
Name[af]=Google Beeld Soektog
Name[ar]=ابحث عن صور جوجل
Name[as]=Google ছবিৰৰ অনুনসন্ধান
Name[be]=Пошук відарысаў Google
Name[be@latin]=Pošuk vyjavaŭ „Google”
Name[bn]=গুগল্ চিত্র অনুসন্ধান
Name[bn_IN]=Google ছবি অনুসন্ধান
Name[br]=Klask skeudennoù Google
Name[ca]=Cerca d'imatges a Google
Name[ca@valencia]=Cerca d'imatges a Google
Name[cs]=Hledání obrázků (Google)
Name[csb]=Google - szëkba òbrôzków
Name[cy]=Chwilio Delweddau Google 
Name[da]=Google billedsøgning
Name[de]=Google-Bildersuche
Name[el]=Αναζήτηση εικόνων του Google
Name[eo]=Bildoserĉo ce "Google"
Name[es]=Búsqueda de imágenes de Google
Name[et]=Google piltide otsing
Name[eu]=Google irudi bilaketa
Name[fa]=جستجوی تصویر گوگل
Name[fi]=Googlen kuvahaku
Name[fr]=Recherche d'images avec Google
Name[fy]=Google printsjesykjen
Name[ga]=Cuardach Íomhá Google
Name[gl]=Procura de imaxes de Google
Name[gu]=ગુગલ ચિત્ર શોધ
Name[he]=חיפוש תמונות של Google
Name[hi]=गूगल छवि खोज
Name[hr]=Google pretraživanje slika
Name[hsb]=Google pytanje za wobrazami
Name[hu]=Google képkereső
Name[is]=Google - Myndaleit
Name[it]=Ricerca immagini di Google
Name[ja]=Google イメージ検索
Name[ka]=Google ნახატის ძიება
Name[kk]=Google кескіндерді табу
Name[km]=ស្វែងរក​រូបភាព​តាម​រយៈ​ហ្គូហ្គល
Name[kn]=ಗೂಗಲ್ ಚಿತ್ರ ಹುಡುಕಾಟ
Name[ko]=Google 이미지 검색
Name[ku]=Lêgerîna Wêneyan a Gooleyê
Name[lt]=Google paveikslėlių paieška
Name[lv]=Google attēlu meklēšana
Name[mai]=गूगल छवि खोज
Name[mk]=Google - пребарување на слики
Name[ml]=ഗൂഗിളില്‍ ചിത്രങ്ങള്‍ക്കുള്ള തെരച്ചില്‍
Name[mr]=Google प्रतिमा शोध
Name[ms]=Carian Imej Google
Name[nb]=Bildesøk i Google
Name[nds]=Google sien Biller-Söök
Name[ne]=गुगल छवि खोजी
Name[nl]=Google afbeeldingen zoeken
Name[nn]=Google biletsøk
Name[oc]=Recèrca d'imatges Google
Name[or]=Google ପ୍ରତିଛବି ସନ୍ଧାନ
Name[pa]=Google ਚਿੱਤਰ ਖੋਜ
Name[pl]=Google - wyszukiwanie zdjęć
Name[pt]=Pesquisa de Imagens do Google
Name[pt_BR]=Pesquisa de imagens do Google
Name[ro]=Căutare de imagini Google
Name[ru]=Рисунки Google
Name[se]=Oza govaid Google báikkis
Name[sk]=Hľadanie obrázkov Google
Name[sl]=Iskanje slik z Google
Name[sr]=Гугл‑слике
Name[sr@latin]=Google-slike
Name[sv]=Google bildsökning
Name[ta]=கூகுல் சித்திர தேடு
Name[te]=గూగుల్ బొమ్మల అన్వెషణ
Name[tg]=Тасвирҳои Google
Name[th]=ค้นหาภาพด้วยกูเกิ้ล
Name[tr]=Google Resim Arayıcı
Name[uk]=Пошук зображень на Google
Name[uz]=Google - Rasm qidirish
Name[uz@cyrillic]=Google - Расм қидириш
Name[vi]=Tìm kiếm Hình ảnh Google
Name[wa]=Cweraedje d' imådjes avou Google
Name[x-test]=xxGoogle Image Searchxx
Name[xh]=Uphendlo Lomfanekiso we Google
Name[zh_CN]=Google 图像搜索
Name[zh_TW]=Google 圖片搜尋
X-KDE-ServiceTypes=SearchProvider
Keys=ggi,images
Query=http://images.google.com/images?q=\\{@}
Query[en_GB]=http://images.google.co.uk/images?q=\\{@}
Query[fr]=http://images.google.fr/images?q=\\{@}
Query[he]=http://images.google.co.il/images?q=\\{@}
Query[nb]=http://images.google.no/images?hl=nn&q=\\{@}
Query[nl]=http://images.google.nl/images?q=\\{@}
Query[nn]=http://images.google.com/images?hl=nn&q=\\{@}
Query[pt]=http://images.google.pt/images?q=\\{@}
Query[ru]=http://images.google.com/images?q=\\{@}&hl=ru&ie=UTF-8&oe=UTF-8
Query[x-test]=xxhttp://images.google.com/images?q=\\{@}xx
Query[zh_TW]=http://images.google.com.tw/images?q=\\{@}&hl=zh-TW
