[Desktop Entry]
Type=Service
Name=Google
Name[af]=Google
Name[ar]=جوجل
Name[as]=Google
Name[ast]=Google
Name[be]=Google
Name[be@latin]=Google
Name[bg]=Google
Name[bn]=গুগল্
Name[bn_IN]=Google
Name[br]=Google
Name[bs]=Gugl
Name[ca]=Google
Name[ca@valencia]=Google
Name[cs]=Google
Name[csb]=Google - szëkôrz starnów WWW
Name[cy]=Google
Name[da]=Google
Name[de]=Google
Name[el]=Google
Name[en_GB]=Google
Name[eo]=Guglo
Name[es]=Google
Name[et]=Google
Name[eu]=Google
Name[fa]=گوگل
Name[fi]=Google
Name[fr]=Google
Name[fy]=Google
Name[ga]=Google
Name[gl]=Google
Name[gu]=ગુગલ
Name[he]=Google
Name[hi]=गूगल
Name[hne]=गूगल
Name[hr]=Google
Name[hsb]=Google
Name[hu]=Google
Name[ia]=Google
Name[id]=Google
Name[is]=Google
Name[it]=Google
Name[ja]=Google
Name[ka]=Google
Name[kk]=Google
Name[km]=ហ្គូហ្គល
Name[kn]=ಗೂಗಲ್
Name[ko]=Google
Name[ku]=Google
Name[lt]=Google
Name[lv]=Google
Name[mai]=गूगल
Name[mk]=Google
Name[ml]=ഗൂഗിള്‍
Name[mr]=गूगल
Name[ms]=Google
Name[nb]=Google
Name[nds]=Google
Name[ne]=गुगल
Name[nl]=Google
Name[nn]=Google
Name[oc]=Google
Name[or]=Google
Name[pa]=Google
Name[pl]=Google - wyszukiwarka stron WWW
Name[pt]=Google
Name[pt_BR]=Google
Name[ro]=Google
Name[ru]=Google
Name[se]=Google
Name[si]=Google
Name[sk]=Google
Name[sl]=Google
Name[sr]=Гугл
Name[sr@ijekavian]=Гугл
Name[sr@ijekavianlatin]=Google
Name[sr@latin]=Google
Name[sv]=Google
Name[ta]=கூகுல்
Name[te]=గూగుల్
Name[tg]=Google
Name[th]=กูเกิล
Name[tr]=Google
Name[ug]=گۇگىل(Google)
Name[uk]=Google
Name[uz]=Google
Name[uz@cyrillic]=Google
Name[vi]=Google
Name[wa]=Google
Name[xh]=Google
Name[x-test]=xxGooglexx
Name[zh_CN]=Google
Name[zh_TW]=Google
X-KDE-ServiceTypes=SearchProvider
Keys=gg,google
Query=https://www.google.com/search?q=\\{@}&ie=UTF-8
Suggest=http://www.google.com/complete/search?q=\\{@}&output=toolbar
Charset=utf8
