[Desktop Entry]
Charset=
Hidden=false
Keys=ggc,googlecode,ggcode
Name=Google Code
Name[uk]=Google Code
Name[x-test]=xxGoogle Codexx
Query=https://code.google.com/query/#q=\\{%2520}
Query[uk]=https://code.google.com/query/#q=\\{%2520}
Query[x-test]=xxhttps://code.google.com/query/#q=\\{%2520}xx
ServiceTypes=SearchProvider
Type=Service
