[Desktop Entry]
Type=Service
Name=Gracenote
X-KDE-ServiceTypes=SearchProvider
Keys=gn,gracenote
Query=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Charset=utf8
