[Desktop Entry]
Type=Service
Name=Gracenote
Name[af]=Gracenote
Name[ar]=مسجل الملتيميديا Gracenote
Name[as]=Gracenote
Name[ast]=Gracenote
Name[be]=Gracenote
Name[be@latin]=Gracenote
Name[bg]=Gracenote
Name[bn]=গ্রেস-নোট
Name[bn_IN]=Gracenote
Name[br]=Gracenote
Name[bs]=Grejsnout
Name[ca]=Gracenote
Name[ca@valencia]=Gracenote
Name[cs]=Gracenote
Name[csb]=Gracenote
Name[cy]=Gracenote
Name[da]=Gracenote
Name[de]=Gracenote
Name[el]=Gracenote
Name[en_GB]=Gracenote
Name[eo]=Gracenote
Name[es]=Gracenote
Name[et]=Gracenote
Name[eu]=Gracenote
Name[fi]=Gracenote
Name[fr]=Gracenote
Name[fy]=Gracenote
Name[ga]=Gracenote
Name[gl]=Gracenote
Name[gu]=ગ્રેસનોટ
Name[he]=Gracenote
Name[hi]=ग्रेसनोट
Name[hne]=ग्रेसनोट
Name[hr]=Gracenote
Name[hsb]=Gracenote
Name[hu]=Gracenote
Name[ia]=Gracenote
Name[id]=Gracenote
Name[is]=Gracenote
Name[it]=Gracenote
Name[ja]=Gracenote
Name[ka]=Gracenote
Name[kk]=Gracenote
Name[km]=Gracenote
Name[kn]=ಗ್ರೇಸ್ನೋಟ್
Name[ko]=Gracenote
Name[ku]=Gracenote
Name[lt]=Gracenote
Name[lv]=Gracenote
Name[mai]=ग्रेसनोट
Name[mk]=Gracenote
Name[ml]=ഗ്രേയ്സ്‌നോട്ട്
Name[mr]=ग्रेसनोट
Name[ms]=Gracenote
Name[nb]=Gracenote
Name[nds]=Gracenote
Name[ne]=ग्रेसनोट
Name[nl]=Gracenote
Name[nn]=Gracenote
Name[or]=Gracenote
Name[pa]=ਗਰੇਸਨੋਟ
Name[pl]=Gracenote
Name[pt]=Gracenote
Name[pt_BR]=Gracenote
Name[ro]=Gracenote
Name[ru]=Gracenote
Name[se]=Gracenote
Name[si]=Gracenote
Name[sk]=Gracenote
Name[sl]=Gracenote
Name[sr]=Грејсноут
Name[sr@ijekavian]=Грејсноут
Name[sr@ijekavianlatin]=Gracenote
Name[sr@latin]=Gracenote
Name[sv]=Gracenote
Name[ta]=க்ரேஸ்நோட்
Name[te]=గ్రెస్ నోట్
Name[tg]=Gracenote
Name[th]=Gracenote - ค้นหาดนตรี, วิดิโอ
Name[tr]=Gracenote
Name[ug]=Gracenote
Name[uk]=Gracenote
Name[uz]=Gracenote
Name[uz@cyrillic]=Gracenote
Name[vi]=Tra Gracenote
Name[wa]=Gracenote
Name[x-test]=xxGracenotexx
Name[zh_CN]=Gracenote
Name[zh_TW]=Gracenote
X-KDE-ServiceTypes=SearchProvider
Keys=gn,gracenote
Query=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[af]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ar]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[as]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ast]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[be]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[be@latin]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[bg]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[bn]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[bn_IN]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[br]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[bs]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ca]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ca@valencia]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[cs]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[csb]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[da]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[de]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[el]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[en_GB]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[eo]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[es]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[et]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[eu]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[fi]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[fr]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[fy]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ga]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[gl]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[gu]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[he]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[hi]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[hne]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[hr]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[hsb]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[hu]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ia]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[id]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[is]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[it]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ja]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ka]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[kk]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[km]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[kn]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ko]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ku]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[lt]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[lv]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[mai]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ml]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[mr]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ms]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[nb]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[nds]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ne]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[nl]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[nn]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[oc]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[or]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[pa]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[pl]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[pt]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[pt_BR]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ro]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ru]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[se]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[si]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[sk]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[sl]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[sr]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[sr@ijekavian]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[sr@ijekavianlatin]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[sr@latin]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[sv]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ta]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[te]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[tg]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[th]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[tr]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[ug]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[uk]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[uz]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[uz@cyrillic]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[vi]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[wa]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[x-test]=xxhttp://www.gracenote.com/music/search-adv.html?q=\\{@}xx
Query[zh_CN]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[zh_TW]=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Charset=utf8
