[Desktop Entry]
Type=Service
Name=Gracenote
Name[bn]=গ্রেস-নোট
Name[hi]=ग्रेसनोट
Name[ne]=ग्रेसनोट
Name[pa]=ਗਰੇਸਨੋਟ
Name[sr]=Грејсноут
Name[ta]=க்ரேஸ்நோட்
Name[te]=గ్రెస్ నోట్
Name[th]=Gracenote ค้นหาดนตรี, วิดิโอ
Name[vi]=Tra Gracenote
Name[x-test]=xxGracenotexx
X-KDE-ServiceTypes=SearchProvider
Keys=gn,gracenote
Query=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[bg]=Query=http://www.gracenote.com/music/search-adv.html?q=\\{@}
Query[x-test]=xxhttp://www.gracenote.com/music/search-adv.html?q=\\{@}xx
Charset=utf8
