[Desktop Entry]
Type=Service
Name=Hotbot
Name[af]=Hotbot
Name[ar]=Hotbot
Name[as]=Hotbot
Name[be]=Hotbot
Name[be@latin]=Hotbot
Name[bg]=Hotbot
Name[bn]=হটবট
Name[bn_IN]=Hotbot
Name[br]=Hotbot
Name[ca]=Hotbot
Name[ca@valencia]=Hotbot
Name[cs]=Hotbot
Name[csb]=Hotbot - szëkôrz starnów WWW
Name[cy]=Hotbot
Name[da]=Hotbot
Name[de]=Hotbot
Name[el]=Hotbot
Name[en_GB]=Hotbot
Name[eo]=Hotbot
Name[es]=Hotbot
Name[et]=Hotbot
Name[eu]=Hotbot
Name[fi]=Hotbot
Name[fr]=Hotbot
Name[fy]=Hotbot
Name[ga]=Hotbot
Name[gl]=Dicionario Estraviz da lingua galega
Name[gu]=હોટબોટ
Name[he]=Hotbot
Name[hi]=हॉटबॉट
Name[hne]=हाटबाट
Name[hr]=Hotbot
Name[hsb]=Hotbot
Name[hu]=Hotbot
Name[ia]=Hotbot
Name[id]=Hotbot
Name[is]=Hotbot
Name[it]=Hotbot
Name[ja]=Hotbot
Name[ka]=Hotbot
Name[kk]=Hotbot
Name[km]=Hotbot
Name[kn]=ಹಾಟ್ಬಾಟ್
Name[ko]=Hotbot
Name[ku]=Hotbot
Name[lt]=Hotbot
Name[lv]=Hotbot
Name[mai]=हाटबाट
Name[mk]=Hotbot
Name[ml]=ഹോട്ട്ബോട്ട്
Name[mr]=Hotbot
Name[ms]=Hotbot
Name[nb]=Hotbot
Name[nds]=Hotbot
Name[ne]=हटबोट
Name[nl]=Hotbot
Name[nn]=Hotbot
Name[oc]=Hotbot
Name[or]=Hotbot
Name[pa]=ਹੋਟਬੋਟ
Name[pl]=Hotbot - wyszukiwarka stron WWW
Name[pt]=Hotbot
Name[pt_BR]=Hotbot
Name[ro]=Hotbot
Name[ru]=Hotbot
Name[se]=Hotbot
Name[si]=Hotbot
Name[sk]=Hotbot
Name[sl]=Hotbot
Name[sr]=Хотбот
Name[sr@ijekavian]=Хотбот
Name[sr@ijekavianlatin]=Hotbot
Name[sr@latin]=Hotbot
Name[sv]=Hotbot
Name[ta]=ஹாட்பாட்
Name[te]=హాట్ బాట్
Name[tg]=Hotbot
Name[th]=Hotbot
Name[tr]=Hotbot
Name[uk]=Hotbot
Name[uz]=Hotbot
Name[uz@cyrillic]=Hotbot
Name[vi]=Tra Hotbot
Name[wa]=Hotbot
Name[xh]=Hotbot
Name[x-test]=xxHotbotxx
Name[zh_CN]=Hotbot
Name[zh_TW]=Hotbot
X-KDE-ServiceTypes=SearchProvider
Keys=hb,hotbot
Query=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[af]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ar]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[as]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[be]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[be@latin]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[bg]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[bn]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[bn_IN]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[br]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ca]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ca@valencia]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[cs]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[csb]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[da]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[de]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[el]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[en_GB]=http://search.hotbot.co.uk/cgi-bin/pursuit?query=\\{@}&cat=hb_loc&enc=utf-8&SITE=uk&command=
Query[eo]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[es]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[et]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[eu]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[fi]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[fr]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[fy]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ga]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[gl]=http://www.estraviz.org/\{@}
Query[gu]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[he]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[hi]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[hne]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[hr]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[hsb]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[hu]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[id]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[is]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[it]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ja]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ka]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[kk]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[km]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[kn]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ko]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ku]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[lt]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[lv]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[mai]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ml]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[mr]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ms]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[nb]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[nds]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ne]=http://hotbot.lycos.com/?MT=\\{@}SM=MC&DV=0&LG=any&DC=10&DE=2
Query[nl]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[nn]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[oc]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[or]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[pa]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[pl]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[pt]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[pt_BR]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ro]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ru]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[se]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[si]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[sk]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[sl]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[sr]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[sr@ijekavian]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[sr@ijekavianlatin]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[sr@latin]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[sv]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[ta]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[te]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[tg]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[th]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[tr]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[uk]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[uz]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[uz@cyrillic]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[vi]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[wa]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[x-test]=xxhttp://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2xx
Query[zh_CN]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
Query[zh_TW]=http://hotbot.lycos.com/?MT=\\{@}&SM=MC&DV=0&LG=any&DC=10&DE=2
