[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=HyperDictionary.com Thesaurus
Name[be]=Тэзаўрус HyperDictionary.com
Name[br]=Tezorus HyperDictionary.com
Name[cs]=Tezaurus HyperDictionary.com
Name[csb]=HyperDictionary.com - słowôrz blëskòznacznëch słów (thesarus)
Name[cy]=Thesawrws HyperDictionary.com
Name[de]=HyperDictionary.com: Thesaurus
Name[el]=Θησαυρός λέξεων HyperDictionary.com
Name[eo]=HyperDictionary.com-tezaŭro
Name[es]=Tesaurus de HyperDictionary.com
Name[et]=HyperDictionary.com tesaurus
Name[eu]=HyperDictionary.com Thesaurus-a
Name[fa]=فرهنگ جامع HyperDictionary.com
Name[fi]=HyperDictionary.com-sanakirja
Name[fr]=Thésaurus HyperDictionary.com
Name[ga]=Teasáras HyperDictionary.com
Name[he]=אגרון מילים ‏HyperDictionary.com
Name[hr]=HyperDictionary.com rječnik sinonima
Name[hu]=HyperDictionary.com szinonimaszótár
Name[is]=HyperDictionary.com samheitaorðabók
Name[it]=Sinonimi HyperDictionary.com
Name[ja]=HyperDictionary.com シソーラス
Name[ka]=Тезаурус HyperDictionary.com
Name[kk]=HyperDictionary.com тезаурус
Name[km]=កម្រង​វេវចនសព្ទ HyperDictionary.com
Name[ko]=HyperDictionary.com 시소러스
Name[lt]=Merriam-Webster sinonimų žodynas
Name[lv]=HyperDictionary.com Tēzaurs
Name[mk]=HyperDictionary.com Енциклопедија
Name[nb]=HyperDictionary.com, synonymordbok
Name[nds]=HyperDictionary.com-Synonümwöörbook
Name[pa]=HyperDictionary.com ਥੀਸਾਰਸ ਕੋਸ਼
Name[pl]=HyperDictionary.com - słownik wyrazów bliskoznacznych
Name[pt]=Gramática do HyperDictionary.com
Name[ro]=Dicţionarul HyperDictionary.com
Name[ru]=Тезаурус HyperDictionary.com
Name[sl]=Tezaver HyperDictionary.com
Name[sr]=Речник синонима на HyperDictionary.com
Name[sr@latin]=Rečnik sinonima na HyperDictionary.com
Name[sv]=HyperDictionary.com synonymlexikon
Name[ta]=HyperDictionary.com  சொற்களஞ்சியம்
Name[th]=พจนานุกรมคำพ้อง HyperDictionary.com
Name[tr]=HyperDictionary.com Terimler
Name[uk]=Словник синонімів HyperDictionary.com
Name[uz]=HyperDictionary.com луғати
Name[vi]=Từ điển đồng nghĩa HyperDictionary.com
Name[x-test]=xxHyperDictionary.com Thesaurusxx
Name[zh_CN]=HyperDictionary.com 宝藏
Name[zh_TW]=HyperDictionary.com 辭典
ServiceTypes=SearchProvider
Keys=hdt,hd-ths,hd-thesaurus
Query=http://www.hyperdictionary.com/search.aspx?Dict=T&define=\\{@}
Query[bg]=Query=http://www.hyperdictionary.com/search.aspx?Dict=T&define=\\{@}
Query[ne]=http://www.hyperdictionary.com/search.aspx?Dict=Tdefine=\\{@}
Query[x-test]=xxhttp://www.hyperdictionary.com/search.aspx?Dict=T&define=\\{@}xx
