[Desktop Entry]
Type=Service
Name=HyperDictionary.com
Name[ar]=القاموس الكبير
Name[csb]=HyperDictionary.com - słowôrz
Name[gl]=Dicionario Digalego da lingua galega
Name[gu]=હાયપરડિક્શનરી.કોમ
Name[hi]=हायपर-डिक्शनरी.कॉम
Name[hne]=हायपर-डिक्सनरी.काम
Name[hu]=HyperDirectory.com
Name[mai]=हायपर-डिक्शनरी.काम
Name[pl]=HyperDictionary.com - słownik
Name[sr]=Хиперречник
Name[sr@latin]=HyperDictionary
Name[sv]=Hyperdictionary.com
Name[ta]=திறந்த அடைவு
Name[x-test]=xxHyperDictionary.comxx
X-KDE-ServiceTypes=SearchProvider
Keys=hd,hyperdict
Query=http://www.hyperdictionary.com/search.aspx?define=\\{@}
Query[gl]=http://digalego.com/diccionario/html/index.php?op=procesa&buscado=\{@}&opcion=entrada
Query[x-test]=xxhttp://www.hyperdictionary.com/search.aspx?define=\\{@}xx
