[Desktop Entry]
Charset=iso 8859-15
Type=Service
Name=Internet Book List
Name[ar]=لائحة عناوين الإنترنت
Name[be]=Спіс інтэрнет-кніг
Name[csb]=Lësta internetowich ksążków
Name[de]=Internet-Buchliste
Name[el]=Λίστα δικτυακών βιβλίων
Name[eo]=Interreta librolisto
Name[es]=Lista de libros de Internet
Name[eu]=Internet liburu zerrenda
Name[fa]=فهرست کتاب اینترنت
Name[fi]=Internetin kirjaluettelo
Name[he]=רשימת הספרים האינטרנטית
Name[hu]=Internetes könyvlista
Name[kk]=Интернет кітап тізімі
Name[km]=បញ្ជី​សៀវភៅ​អ៊ីនធឺណិត​
Name[ko]=인터넷 책 목록
Name[lv]=Grāmatu saraksts internetā
Name[nb]=Internetts bokliste
Name[nds]=Internet-Booklist
Name[ne]=इन्टरनेट पुस्तक सूची
Name[nl]=Internet-boekenlijst
Name[pa]=ਇੰਟਰਨੈੱਟ ਕਿਤਾਬ ਲਿਸਟ
Name[pl]=Lista książek w Internecie
Name[pt]=Lista de Livros na Internet
Name[pt_BR]=Lista de Livros na Internet
Name[se]=Interneahta girjelistu
Name[sr]=Интернет списак књига
Name[sr@latin]=Internet spisak knjiga
Name[sv]=Internet boklista
Name[th]=รายการหนังสือทางอินเทอร์เน็ต
Name[vi]=Danh sách cuốn sách Mạng
Name[wa]=Djivêye des lives sol daegntoele
Name[x-test]=xxInternet Book Listxx
Name[zh_CN]=互联网图书列表
Name[zh_TW]=網際網路書目列表
X-KDE-ServiceTypes=SearchProvider
Keys=ibl
Query=http://www.iblist.com/search/search.php?item=\\{@}&submit=Search
Query[be]=http://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[bg]=Query=http://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[csb]=http://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[x-test]=xxhttp://www.iblist.com/search/search.php?item=\\{@}&submit=Searchxx
