[Desktop Entry]
Charset=iso 8859-15
Type=Service
Name=Internet Book List
Name[be]=Спіс інтэрнет-кніг
Name[csb]=Lësta internetowich ksążków
Name[de]=Internet-Buchliste
Name[el]=Λίστα δικτυακών βιβλίων
Name[es]=Lista de libros de Internet
Name[fa]=فهرست کتاب اینترنت
Name[nds]=Internet-Booklist
Name[nl]=Internet-boekenlijst
Name[sv]=Internet boklista
Name[x-test]=xxInternet Book Listxx
Name[zh_TW]=網際網路書目列表
ServiceTypes=SearchProvider
Keys=ibl
Query=http://www.iblist.com/search/search.php?item=\\{@}&submit=Search
Query[be]=http://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[csb]=http://www.feedster.com/search.php?q=\\{@}&ie=UTF-8&oe=UTF-8
Query[x-test]=xxhttp://www.iblist.com/search/search.php?item=\\{@}&submit=Searchxx
