[Desktop Entry]
Charset=
Hidden=false
Keys=identicapeople,identip,idp
Name=Identi.ca People
Name[uk]=Постаті Identi.ca
Name[x-test]=xxIdenti.ca Peoplexx
Query=https://identi.ca/search/people?q=\\{@}&search=Search
Query[uk]=https://identi.ca/search/people?q=\\{@}&search=Search
Query[x-test]=xxhttps://identi.ca/search/people?q=\\{@}&search=Searchxx
ServiceTypes=SearchProvider
Type=Service
