[Desktop Entry]
Charset=
Hidden=false
Keys=identicagroups,identig,identicag,idg
Name=Identi.ca Groups
Name[is]=Identi.ca hópar
Name[pt]=Grupos do Identi.ca
Name[sv]=Identi.ca grupper
Name[uk]=Групи Identi.ca
Name[x-test]=xxIdenti.ca Groupsxx
Name[zh_TW]=Identi.ca Groups
Query=http://identi.ca/search/group?q=\\{@}
Query[ia]=http://identi.ca/search/group?q=\\{@}
Query[is]=http://identi.ca/search/group?q=\\{@}
Query[pt]=http://identi.ca/search/group?q=\\{@}
Query[sv]=http://identi.ca/search/group?q=\\{@}
Query[uk]=http://identi.ca/search/group?q=\\{@}
Query[x-test]=xxhttp://identi.ca/search/group?q=\\{@}xx
Query[zh_TW]=http://identi.ca/search/group?q=\\{@}
ServiceTypes=SearchProvider
Type=Service
