[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Internet Movie Database
Name[el]=Βάση δεδομένων ταινιών στο διαδίκτυο
Name[x-test]=xxInternet Movie Databasexx
ServiceTypes=SearchProvider
Keys=imdb
Query=http://imdb.com/Find?\\{@}
Query[x-test]=xxhttp://imdb.com/Find?\\{@}xx

