[Desktop Entry]
Type=Service
Name=Internet Movie Database
Name[af]=Internet Film Databasis
Name[ar]=قاعدة بيانات الأفلام على الإنترنت
Name[as]=ইন্টাৰ্নে'ট বোলছবিৰ তথ্যভঁৰাল
Name[be]=База звестак пра фільмы
Name[be@latin]=Sieciŭnaja baza filmaŭ
Name[bg]=Internet Movie Database
Name[bn]=ইন্টারনেট চলচ্চিত্র ডেটাবেস
Name[bn_IN]=ইন্টারনেট ছায়াছবির ডাটাবেস
Name[br]=Stlennvon filmoù Internet
Name[ca]=Base de dades de pel·lícules a Internet
Name[ca@valencia]=Base de dades de películes a Internet
Name[cs]=Internetová databáze filmů
Name[csb]=Internetowô baza filmów (IMDB)
Name[cy]=Cronfa Ffilmiau y Rhyngrwyd
Name[da]=Internetfilm-database
Name[de]=Internet-Filmdatenbank
Name[el]=Βάση δεδομένων ταινιών στο διαδίκτυο
Name[en_GB]=Internet Movie Database
Name[eo]=Reta Filmdatumbazo
Name[es]=Base de datos de internet de películas
Name[et]=Interneti filmide andmebaas
Name[eu]=Interneteko filmeen datu-basea
Name[fa]=دادگان فیلم اینترنت
Name[fi]=Internet Movie Database
Name[fr]=Base de données vidéo sur Internet
Name[fy]=Ynternetfilm-databank
Name[ga]=Internet Movie Database
Name[gl]=Base de datos de filmes de Internet
Name[gu]=ઇન્ટરનેટ ચિત્રપટ ડેટાબેઝ
Name[he]=מאגר הסרטים האינטרנטי
Name[hi]=इंटरनेट चलचित्र डाटाबेस
Name[hne]=इंटरनेट सनीमा डाटाबेस
Name[hr]=Internetska baza podataka filmova
Name[hsb]=Internetowa datowa baza filmow
Name[hu]=IMDb filmadatbázis
Name[id]=Basis Data Film Internet
Name[is]=Internet kvikmyndagagnagrunnurinn
Name[it]=Database internet dei film
Name[ja]=インターネット映画データベース
Name[kk]=Internet фильмдер қоры
Name[km]=មូលដ្ឋាន​ទិន្នន័យ​ភាពយន្ត​តាម​អ៊ីនធឺណិត
Name[kn]=ಜಾಲ ಚಲಚ್ಚಿತ್ರ ದತ್ತಸಂಚಯ
Name[ko]=인터넷 영화 데이터베이스
Name[ku]=Danegeha Fîlman a Înternetê
Name[lt]=Interneto kinofilmų duomenų bazė
Name[lv]=Interneta filmu datubāze
Name[mai]=इंटरनेट चलचित्र डाटाबेस
Name[mk]=Интернет база на филмови
Name[ml]=ഇന്റര്‍നെറ്റിലുള്ള ചലചിത്ര ശേഖരം
Name[mr]=इंटरनेट चलप्रतिमा डाटाबेस
Name[ms]=Pangkalan Data Wayang Internet
Name[nb]=Internett filmdatabase
Name[nds]=Internet-Filmdatenbank
Name[ne]=इन्टरनेट चलचित्र डाटाबेस
Name[nl]=Internetfilm-database
Name[nn]=Internet Movie Database
Name[or]=ଇଣ୍ଟରନେଟ ଚଳଚିତ୍ର ତଥ୍ୟାବଳୀ
Name[pa]=ਇੰਟਰਨੈੱਟ ਫਿਲਮ ਡਾਟਾਬੇਸ
Name[pl]=Internetowa baza filmów (IMDB)
Name[pt]=Internet Movie Database
Name[pt_BR]=Banco de dados de filmes na Internet
Name[ro]=Bază de date Internet de filme
Name[ru]=Интернет-база кинофильмов (imdb)
Name[se]=Internet Movie Database
Name[si]=අන්තර්ජාල සිනමා දත්තගබඩාව
Name[sk]=Internetová databáza filmov IMDb
Name[sl]=Internetna zbirka filmov
Name[sr]=Интернет база филмова
Name[sr@ijekavian]=Интернет база филмова
Name[sr@ijekavianlatin]=Internet baza filmova
Name[sr@latin]=Internet baza filmova
Name[sv]=Internet filmdatabas
Name[ta]=இணைய திரைப்பட தரவுத்தளம்
Name[te]=ఇంటర్‌నెట్ చలనచిత్ర డాటాబేస్
Name[tg]=Манбаъи филмҳои Интернетӣ (imdb)
Name[th]=ฐานข้อมูลภาพยนตร์ทางอินเทอร์เน็ต
Name[tr]=İnternet Film Veritabanı
Name[uk]=База даних кінофільмів в Інтернет
Name[uz]=Internetdagi kino maʼlumot bazasi
Name[uz@cyrillic]=Интернетдаги кино маълумот базаси
Name[vi]=Cơ sở dữ liệu Phim ảnh trên Mạng
Name[wa]=Båze di dnêyes des films sol daegntoele
Name[x-test]=xxInternet Movie Databasexx
Name[zh_CN]=互联网电影数据库
Name[zh_TW]=Internet 電影資料庫
X-KDE-ServiceTypes=SearchProvider
Keys=imdb
Query=http://imdb.com/Find?\\{@}
Query[af]=http://imdb.com/Find?\\{@}
Query[ar]=http://imdb.com/Find?\\{@}
Query[as]=http://imdb.com/Find?\\{@}
Query[be]=http://imdb.com/Find?\\{@}
Query[be@latin]=http://imdb.com/Find?\\{@}
Query[bg]=http://imdb.com/Find?\\{@}
Query[bn]=http://imdb.com/Find?\\{@}
Query[bn_IN]=http://imdb.com/Find?\\{@}
Query[br]=http://imdb.com/Find?\\{@}
Query[ca]=http://imdb.com/Find?\\{@}
Query[ca@valencia]=http://imdb.com/Find?\\{@}
Query[cs]=http://imdb.com/Find?\\{@}
Query[csb]=http://imdb.com/Find?\\{@}
Query[da]=http://imdb.com/Find?\\{@}
Query[de]=http://imdb.com/Find?\\{@}
Query[el]=http://imdb.com/Find?\\{@}
Query[en_GB]=http://imdb.co.uk/Find?\\{@}
Query[eo]=http://imdb.com/Find?\\{@}
Query[es]=http://imdb.com/Find?\\{@}
Query[et]=http://imdb.com/Find?\\{@}
Query[eu]=http://imdb.com/Find?\\{@}
Query[fi]=http://imdb.com/Find?\\{@}
Query[fr]=http://imdb.com/Find?\\{@}
Query[fy]=http://imdb.com/Find?\\{@}
Query[ga]=http://imdb.com/Find?\\{@}
Query[gl]=http://imdb.com/Find?\\{@}
Query[gu]=http://imdb.com/Find?\\{@}
Query[he]=http://imdb.com/Find?\\{@}
Query[hi]=http://imdb.com/Find?\\{@}
Query[hne]=http://imdb.com/Find?\\{@}
Query[hr]=http://imdb.com/Find?\\{@}
Query[hsb]=http://imdb.com/Find?\\{@}
Query[hu]=http://imdb.com/Find?\\{@}
Query[id]=http://imdb.com/Find?\\{@}
Query[is]=http://imdb.com/Find?\\{@}
Query[it]=http://italian.imdb.com/Find?\\{@}
Query[ja]=http://imdb.com/Find?\\{@}
Query[ka]=http://imdb.com/Find?\\{@}
Query[kk]=http://imdb.com/Find?\\{@}
Query[km]=http://imdb.com/Find?\\{@}
Query[kn]=http://imdb.com/Find?\\{@}
Query[ko]=http://imdb.com/Find?\\{@}
Query[ku]=http://imdb.com/Find?\\{@}
Query[lt]=http://imdb.com/Find?\\{@}
Query[lv]=http://imdb.com/Find?\\{@}
Query[mai]=http://imdb.com/Find?\\{@}
Query[ml]=http://imdb.com/Find?\\{@}
Query[mr]=http://imdb.com/Find?\\{@}
Query[ms]=http://imdb.com/Find?\\{@}
Query[nb]=http://imdb.com/Find?\\{@}
Query[nds]=http://imdb.com/Find?\\{@}
Query[ne]=http://imdb.com/Find?\\{@}
Query[nl]=http://imdb.com/Find?\\{@}
Query[nn]=http://akas.imdb.com/Find?\\{@}
Query[oc]=http://imdb.com/Find?\\{@}
Query[or]=http://imdb.com/Find?\\{@}
Query[pa]=http://imdb.com/Find?\\{@}
Query[pl]=http://imdb.com/Find?\\{@}
Query[pt]=http://imdb.com/Find?\\{@}
Query[pt_BR]=http://imdb.com/Find?\\{@}
Query[ro]=http://imdb.com/Find?\\{@}
Query[ru]=http://imdb.com/Find?\\{@}
Query[se]=http://imdb.com/Find?\\{@}
Query[si]=http://imdb.com/Find?\\{@}
Query[sk]=http://imdb.com/Find?\\{@}
Query[sl]=http://imdb.com/Find?\\{@}
Query[sr]=http://imdb.com/Find?\\{@}
Query[sr@ijekavian]=http://imdb.com/Find?\\{@}
Query[sr@ijekavianlatin]=http://imdb.com/Find?\\{@}
Query[sr@latin]=http://imdb.com/Find?\\{@}
Query[sv]=http://imdb.com/Find?\\{@}
Query[ta]=http://imdb.com/Find?\\{@}
Query[te]=http://imdb.com/Find?\\{@}
Query[tg]=http://imdb.com/Find?\\{@}
Query[th]=http://imdb.com/Find?\\{@}
Query[tr]=http://imdb.com/Find?\\{@}
Query[uk]=http://imdb.com/Find?\\{@}
Query[uz]=http://imdb.com/Find?\\{@}
Query[uz@cyrillic]=http://imdb.com/Find?\\{@}
Query[vi]=http://imdb.com/Find?\\{@}
Query[wa]=http://imdb.com/Find?\\{@}
Query[x-test]=xxhttp://imdb.com/Find?\\{@}xx
Query[zh_CN]=http://imdb.com/Find?\\{@}
Query[zh_TW]=http://imdb.com/Find?\\{@}

