[Desktop Entry]
Charset=
Hidden=false
Keys=it2en
Name=WordReference.com Translation: Italian to English
Name[af]=WordReference.com Vertaling: Italiaans na Engels
Name[be]=WordReference.com Пераклад: з італьянскай на англійскую
Name[ca]=Traducció WordReference.com: Italià - Anglès
Name[cs]=Překlad WordReference.com: z italštiny do angličtiny
Name[csb]=WordReference.com: italsczi -> anielsczi
Name[cy]=Cyfieithiad WordReference.com: Eidaleg i Saesneg
Name[da]=WordReference.com oversættelse: Italiensk til engelsk
Name[de]=WordReference.com-Übersetzung: Italienisch/Englisch
Name[el]=WordReference.com Μετάφραση: Ιταλικά σε Αγγλικά
Name[eo]=WordReference.com Traduko: itala al angla
Name[es]=WordReference.com Traducción: italiano a inglés
Name[et]=WordReference.com tõlkimine: itaalia->inglise
Name[eu]=WordReference.com Itzulpena: italieratik ingelesera
Name[fa]=ترجمۀ WordReference.com: ایتالیایی به انگلیسی
Name[fi]=WordReference.com-käännös: italiasta englanniksi
Name[fr]=Traduction sur WordReference.com : Italien en Anglais
Name[fy]=WordReference.com-oersetting: Italiaansk nei Ingelsk
Name[ga]=Aistriúchán WordReference.com: Iodáilis go Béarla
Name[gl]=Tradución WordReference.com: Italiano a Inglés
Name[he]=תרגום WordReference.com: איטלקית לאנגלית
Name[hr]=WordReference.com Prijevod: talijanski na engleski
Name[hu]=WordReference.com fordítás: olaszról angolra
Name[is]=WordReference.com þýðing: Ítölsk/ensk
Name[it]=Traduzione WordReference.com: dall'italiano all'inglese
Name[ja]=WordReference.com イタリア語-英語翻訳
Name[kk]=WordReference.com итальян тілінен ағылшынға аудару
Name[km]=ការ​បកប្រែ WordReference.com ៖ ពី​ភាសា​អ៊ីតាលី​ទៅ​ជា​អង់គ្លេស
Name[lt]=WordReference.com vertimas: iš italų į anglų
Name[lv]=WordReference.com Tulkošana: no Itāļu uz Angļu
Name[mk]=WordReference.com превод: од италијански на англиски
Name[nb]=WordReference.com - oversettelse fra italiensk til engelsk
Name[nds]=WordReference.com Översetten: Italieensch na Engelsch
Name[ne]=WordReference.com Translation: इटालियनलाई अङ्ग्रेजीमा
Name[nl]=WordReference.com-vertaling: Italiaans naar Engels
Name[nn]=WordReference.com – omsetjing: italiensk til engelsk
Name[pa]=WordReference.com ਅਨੁਵਾਦ:ਇਤਾਲਵੀ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=WordReference.com: włoski -> angielski
Name[pt]=Traduções do WordReference.com: Italiano para Inglês
Name[pt_BR]=WordReference.com - Tradução: Italiano para Inglês
Name[ro]=Traducere WordReference.com: italiană la engleză
Name[ru]=Переводчик WordReference.com: итальянско-английский
Name[se]=WordReference.com – jorgaleapmi: italialašgielas eŋgelasgillii
Name[sl]=Prevod WordReference.com: italijanščina v angleščino
Name[sr]=Превод на WordReference.com: са италијанског на енглески
Name[sr@latin]=Prevod na WordReference.com: sa italijanskog na engleski
Name[sv]=Wordreference.com översättning: italienska till engelska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: இத்தாலிய மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[tg]=WordReference.com Тарҷума: аз Итолиёгӣ ба Англисӣ
Name[th]=การแปลจาก WordReference.com: แปลภาษาอิตาเลียนเป็นอังกฤษ
Name[tr]=WordReference.com Çevirisi: İtalyancadan İngilizceye
Name[uk]=WordReference.com: переклад з італійської на англійську
Name[uz]=WordReference.com таржима: Италянчадан Инглизчага
Name[vi]=WordReference.com Dịch: Tiếng Ý sang tiếng Anh
Name[wa]=WordReference.com ratournaedje di l' itålyin viè l' inglès
Name[x-test]=xxWordReference.com Translation: Italian to Englishxx
Name[zh_TW]=WordReference.com 翻譯: 義大利文至英文
Query=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[bg]=Query=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/it/en/translation.asp?iten=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
