[Desktop Entry]
Charset=
Hidden=false
Keys=jamendo,jmd
Name=Jamendo
Name[x-test]=xxJamendoxx
Query=http://www.jamendo.com/en/search/all/\\{@}
Query[x-test]=xxhttp://www.jamendo.com/en/search/all/\\{@}xx
ServiceTypes=SearchProvider
Type=Service
