[Desktop Entry]
Charset=
Hidden=false
Keys=jamendo,jmd
Name=Jamendo
Name[cs]=Jamendo
Name[da]=Jamendo
Name[de]=Jamendo
Name[el]=Jamendo
Name[en_GB]=Jamendo
Name[es]=Jamendo
Name[et]=Jamendo
Name[ia]=Jamendo
Name[id]=Jamendo
Name[is]=Jamendo
Name[ja]=Jamendo
Name[kk]=Jamendo
Name[km]=Jamendo
Name[lt]=Jamendo
Name[nb]=Jamendo
Name[nds]=Jamendo
Name[nl]=Jamendo
Name[pt]=Jamendo
Name[pt_BR]=Jamendo
Name[sv]=Jamendo
Name[th]=Jamendo
Name[uk]=Jamendo
Name[x-test]=xxJamendoxx
Name[zh_CN]=Jamendo
Name[zh_TW]=Jamendo
Query=http://www.jamendo.com/en/search/all/\\{@}
Query[bn]=http://www.jamendo.com/en/search/all/\\{@}
Query[cs]=http://www.jamendo.com/en/search/all/\\{@}
Query[da]=http://www.jamendo.com/en/search/all/\\{@}
Query[de]=http://www.jamendo.com/en/search/all/\\{@}
Query[el]=http://www.jamendo.com/en/search/all/\\{@}
Query[en_GB]=http://www.jamendo.com/en/search/all/\\{@}
Query[es]=http://www.jamendo.com/en/search/all/\\{@}
Query[et]=http://www.jamendo.com/en/search/all/\\{@}
Query[hr]=http://www.jamendo.com/en/search/all/\\{@}
Query[ia]=http://www.jamendo.com/en/search/all/\\{@}
Query[id]=http://www.jamendo.com/en/search/all/\\{@}
Query[is]=http://www.jamendo.com/en/search/all/\\{@}
Query[ja]=http://www.jamendo.com/en/search/all/\\{@}
Query[kk]=http://www.jamendo.com/en/search/all/\\{@}
Query[km]=http://www.jamendo.com/en/search/all/\\{@}
Query[lt]=http://www.jamendo.com/en/search/all/\\{@}
Query[nb]=http://www.jamendo.com/en/search/all/\\{@}
Query[nds]=http://www.jamendo.com/en/search/all/\\{@}
Query[nl]=http://www.jamendo.com/en/search/all/\\{@}
Query[pt]=http://www.jamendo.com/en/search/all/\\{@}
Query[pt_BR]=http://www.jamendo.com/en/search/all/\\{@}
Query[sv]=http://www.jamendo.com/en/search/all/\\{@}
Query[th]=http://www.jamendo.com/en/search/all/\\{@}
Query[uk]=http://www.jamendo.com/en/search/all/\\{@}
Query[x-test]=xxhttp://www.jamendo.com/en/search/all/\\{@}xx
Query[zh_CN]=http://www.jamendo.com/en/search/all/\\{@}
Query[zh_TW]=http://www.jamendo.com/en/search/all/\\{@}
ServiceTypes=SearchProvider
Type=Service
