[Desktop Entry]
Type=Service
Name=Ask Jeeves
Name[nl]=Ask Jeeves
Name[uk]=Ask Jeeves
Name[x-test]=xxAsk Jeevesxx
X-KDE-ServiceTypes=SearchProvider
Keys=ask,jeeves
Query=http://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}
Query[nl]=http://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}
Query[uk]=http://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}
Query[x-test]=xxhttp://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}xx
