[Desktop Entry]
Type=Service
Name=Ask Jeeves
Name[af]=Vra Jeeves
Name[ar]=اسأل Jeeves
Name[br]=Klask digant Jeeves
Name[csb]=Ask Jeeves - spëtôj ò cos
Name[de]=Frag Jeeves
Name[eo]=Demandu Jeeves
Name[fa]=پرسیدن Jeeves
Name[gl]=Pergúntalle a Jeeves
Name[gu]=આસ્ક જીવ્સ
Name[hi]=आस्क जीव्स
Name[hr]=Pitajte Jeevesa
Name[is]=Spyrja Jeeves
Name[km]=សួរ Jeeves
Name[kn]=ಜೀವಿಸ್ ನನ್ನುಕೇಳು (ಆಸ್ಕ್ ಜೀವಿಸ್)
Name[mk]=Прашајте го Jeeves
Name[ml]=ആസ്ക് ജീവ്സ്
Name[mr]=आस्क जीव्स
Name[nds]=Fraag Jeeves
Name[ne]=आस्क जीभेज
Name[pl]=Ask Jeeves - zapytaj o coś
Name[sr]=Питај Џивса
Name[sr@latin]=Pitaj Jeevesа
Name[ta]=ஜீவசை கேள்
Name[th]=บริการ Ask Jeeves
Name[vi]=Hỏi Jeeves
Name[x-test]=xxAsk Jeevesxx
X-KDE-ServiceTypes=SearchProvider
Keys=ask,jeeves
Query=http://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}
Query[bg]=http://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_Jeeves&metasearch=yes&ask=\\{@}
Query[en_GB]=http://www.ask.co.uk/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}
Query[x-test]=xxhttp://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}xx
