[Desktop Entry]
Type=Service
Name=KataTudo
Name[af]=KataTudo
Name[ar]=KataTudo
Name[as]=KataTudo
Name[be]=KataTudo
Name[be@latin]=KataTudo
Name[bg]=KataTudo
Name[bn]=কাটা-টুডো
Name[bn_IN]=KataTudo
Name[br]=KataTudo
Name[ca]=KataTudo
Name[ca@valencia]=KataTudo
Name[cs]=KataTudo
Name[csb]=KataTudo
Name[cy]=KataTudo
Name[da]=KataTudo
Name[de]=KataTudo
Name[el]=KataTudo
Name[en_GB]=KataTudo
Name[eo]=Katatudo
Name[es]=KataTudo
Name[et]=KataTudo
Name[eu]=Kata Tudo
Name[fi]=KataTudo
Name[fr]=KataTudo
Name[fy]=KataTudo
Name[ga]=KataTudo
Name[gl]=KataTudo
Name[gu]=કાટાટુડો
Name[he]=KataTudo
Name[hi]=केएटीए ट्यूडो
Name[hne]=केएटीए ट्यूडो
Name[hr]=KataTudo
Name[hsb]=KataTudo
Name[hu]=KataTudo
Name[id]=KataTudo
Name[is]=KataTudo
Name[it]=KataTudo
Name[ja]=KataTudo
Name[ka]=KataTudo
Name[kk]=KataTudo
Name[km]=KataTudo
Name[kn]=ಕಾಟಾ ಟುಡೋ
Name[ko]=KataTudo
Name[ku]=KataTudo
Name[lt]=KataTudo
Name[lv]=KataTudo
Name[mai]=केएटीए ट्यूडो
Name[mk]=KataTudo
Name[ml]=കറ്റാറ്റുടു
Name[mr]=KataTudo
Name[ms]=KataTudo
Name[nb]=KataTudo
Name[nds]=KataTudo
Name[ne]=काता टुडो
Name[nl]=KataTudo
Name[nn]=KataTudo
Name[or]=KataTudo
Name[pa]=KataTudo
Name[pl]=KataTudo
Name[pt]=KataTudo
Name[pt_BR]=KataTudo
Name[ro]=KataTudo
Name[ru]=KataTudo
Name[se]=KataTudo
Name[si]=KataTudo
Name[sk]=KataTudo
Name[sl]=KataTudo
Name[sr]=Кататудо
Name[sr@latin]=KataTudo
Name[sv]=KataTudo
Name[ta]=காட்டா ட்யூடோ
Name[te]=KataTudo
Name[tg]=KataTudo
Name[th]=บริการ KataTudo
Name[tr]=KataTudo
Name[uk]=KataTudo
Name[uz]=KataTudo
Name[uz@cyrillic]=KataTudo
Name[vi]=KataTudo
Name[wa]=KataTudo
Name[x-test]=xxKataTudoxx
Name[zh_CN]=KataTudo
Name[zh_TW]=KataTudo
X-KDE-ServiceTypes=SearchProvider
Keys=kt,katatudo
Query=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[af]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ar]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[as]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[be]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[be@latin]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[bg]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[bn]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[bn_IN]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[br]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ca]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ca@valencia]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[cs]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[csb]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[da]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[de]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[el]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[en_GB]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[eo]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[es]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[et]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[eu]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[fi]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[fr]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[fy]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ga]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[gl]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[gu]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[he]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[hi]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[hne]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[hr]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[hsb]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[hu]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[id]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[is]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[it]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ja]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ka]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[kk]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[km]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[kn]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ko]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ku]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[lt]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[lv]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[mai]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ml]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[mr]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ms]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[nb]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[nds]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ne]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}onde=&b=Buscar
Query[nl]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[nn]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[oc]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[or]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[pa]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[pl]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[pt]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[pt_BR]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ro]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ru]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[se]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[si]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[sk]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[sl]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[sr]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[sr@latin]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[sv]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ta]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[te]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[tg]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[th]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[tr]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[uk]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[uz]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[uz@cyrillic]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[vi]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[wa]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[x-test]=xxhttp://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscarxx
Query[zh_CN]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[zh_TW]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Charset=utf8
