[Desktop Entry]
Type=Service
Name=KataTudo
Name[bn]=কাটা-টুডো
Name[eo]=Katatudo
Name[eu]=Kata Tudo
Name[gu]=કાટાટુડો
Name[hi]=केएटीए ट्यूडो
Name[ne]=काता टुडो
Name[sr]=Кататудо
Name[ta]=காட்டா ட்யூடோ
Name[x-test]=xxKataTudoxx
X-KDE-ServiceTypes=SearchProvider
Keys=kt,katatudo
Query=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscar
Query[ne]=http://www.katatudo.com.br/busca/resultado.php?q=\\{@}onde=&b=Buscar
Query[x-test]=xxhttp://www.katatudo.com.br/busca/resultado.php?q=\\{@}&onde=&b=Buscarxx
Charset=utf8
