[Desktop Entry]
Charset=
Hidden=false
Keys=kde
Name=KDE API Documentation
Name[af]=KDE API Dokumentasie
Name[ar]=وثائق واجهة البرمجية للكيدي
Name[be]=Дакументацыя па KDE API
Name[be@latin]=Dakumenty pra API KDE
Name[bn]=কে.ডি.ই. এ-পি-আই নির্দেশিকা
Name[bn_IN]=KDE API সংক্রান্ত নথিপত্র
Name[br]=Teuliadur API KDE
Name[ca]=Documentació de l'API de KDE
Name[cs]=KDE API dokumentace
Name[csb]=Dokùmentacëjô API KDE
Name[cy]=Dogfenniaeth API KDE
Name[da]=KDE API Dokumentation
Name[de]=KDE-API-Dokumentation
Name[el]=Τεκμηρίωση KDE API
Name[eo]=KDE API Dokumentaro
Name[es]=Documentación de la API de KDE
Name[et]=KDE API dokumentatsioon
Name[eu]=KDEren API dokumentazioa
Name[fa]=مستندات KDE ِAPI
Name[fr]=Documentation de l'API de KDE
Name[fy]=KDE API Dokumintaasje
Name[ga]=Doiciméadú API KDE
Name[gl]=Documentación da API de KDE
Name[gu]=KDE API દસ્તાવેજ
Name[he]=תיעוד ממשק תכנות יישומים של KDE
Name[hi]=केडीई एपीआई दस्तावेज़ीकरण
Name[hr]=KDE API dokumentacija
Name[hsb]=KDE API-dokumentacija
Name[hu]=A KDE API dokumentációja
Name[is]=KDE forritunarviðmótsleiðbeiningar
Name[it]=Documentazione della API di KDE
Name[ja]=KDE API 文書
Name[kk]=KDE API құжаттамасы
Name[km]=ឯកសារ API របស់ KDE
Name[kn]=ಕೆಡಿಇ ಎಪಿಐ ದಸ್ತಾವೇಜೀಕರಣ
Name[ko]=KDE API 문서
Name[lt]=KDE API dokumentacija
Name[lv]=KDE API dokumentācija
Name[mk]=KDE API документација
Name[ml]=കെഡിഇ എപിഐ വിവരണം
Name[mr]=KDE API दस्तऐवजीकरण
Name[ms]=Dokumentasi API KDE
Name[nb]=KDE API-dokumentasjon
Name[nds]=KDE-API-Dokmentatschoon
Name[ne]=केडीई एपीआई मिसिलिकरण
Name[nl]=KDE API Documentatie
Name[nn]=KDE API-dokumentasjon
Name[pa]=KDE API ਡੌਕੂਮੈਂਟੇਸ਼ਨ
Name[pl]=Dokumentacja API KDE
Name[pt]=Documentação da API do KDE
Name[pt_BR]=Documentação da API do KDE
Name[ro]=Documentația API KDE
Name[ru]=API-документация KDE
Name[se]=KDE API-dokumentašuvdna
Name[sk]=KDE dokumentácia API
Name[sl]=Dokumentacija KDE API
Name[sr]=КДЕ АПИ документација
Name[sr@latin]=KDE API dokumentacija
Name[sv]=Dokumentation av KDE:s programmeringsgränssnitt
Name[ta]=KDE  API ஆவணமாக்கல்
Name[te]=KDE API పత్రికీకరణ
Name[tg]=Ҳуҷҷатҳои KDE оиди API
Name[th]=เอกสารอธิบาย API ของระบบ KDE
Name[tr]=KDE API Belgeleri
Name[uk]=Документація по API KDE
Name[uz]=KDE API boʻyicha qoʻllanmalar
Name[uz@cyrillic]=KDE API бўйича қўлланмалар
Name[vi]=Tài liệu về API của KDE
Name[wa]=Documintåcion di l' API di KDE
Name[x-test]=xxKDE API Documentationxx
Name[zh_CN]=KDE API 文档
Name[zh_TW]=KDE API 文件
Query=http://api.kde.org/classmapper.php?class=\\{@}
Query[el]=http://developer.kde.org/documentation/library/classmapper.php?class=\\{@}
Query[x-test]=xxhttp://api.kde.org/classmapper.php?class=\\{@}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
