[Desktop Entry]
Charset=
Hidden=false
Keys=kdetechbase,techbase,tb
Name=KDE TechBase
Name[bn]=KDE টেক-বেস
Name[ca]=KDE TechBase
Name[ca@valencia]=KDE TechBase
Name[da]=KDE TechBase
Name[de]=KDE TechBase
Name[el]=Τεχνική βάση KDE
Name[en_GB]=KDE TechBase
Name[es]=KDE TechBase
Name[et]=KDE TechBase
Name[fr]=Centre technique de KDE
Name[hr]=KDE TechBase
Name[ia]=KDE TechBase (Base Technic)
Name[id]=KDE TechBase
Name[is]=KDE Tæknigrunnur
Name[it]=KDE TechBase
Name[ja]=KDE TechBase
Name[kk]=KDE TechBase
Name[km]=KDE TechBase
Name[kn]=ಕೆಡಿಇ ಟೆಕ್ ಬೇಸ್ (TechBase)
Name[lt]=KDE TechBase
Name[nb]=KDE TechBase
Name[nds]=KDE-TechBase
Name[nl]=KDE TechBase
Name[pt]=KDE TechBase
Name[pt_BR]=KDE TechBase
Name[ro]=KDE TechBase
Name[sv]=KDE teknikbas
Name[th]=KDE TechBase
Name[uk]=TechBase KDE
Name[x-test]=xxKDE TechBasexx
Name[zh_CN]=KDE 技术信息库
Name[zh_TW]=KDE TechBase
Query=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[bg]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[bn]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ca]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ca@valencia]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[cs]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[da]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[de]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[el]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[en_GB]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[es]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[et]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[fr]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[hr]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ia]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[id]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[is]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[it]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ja]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[kk]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[km]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[kn]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[lt]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nb]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nds]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nl]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pt]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pt_BR]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ro]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ru]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sv]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[th]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[uk]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[x-test]=xxhttp://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Searchxx
Query[zh_CN]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[zh_TW]=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
ServiceTypes=SearchProvider
Type=Service
