[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE WebSVN
Name[br]=WebSVN KDE
Name[ca]=WebSVN de KDE
Name[csb]=WebSVN dlô KDE
Name[es]=WebSVN de KDE
Name[fi]=KDE:n WebSVN
Name[fr]=WebSVN de KDE
Name[ga]=WebSVN KDE
Name[gl]=WebCVS de KDE
Name[it]=SVN web di KDE
Name[nds]=KDE-WebSVN
Name[ne]=केडीई वेब एसभीएन
Name[pl]=WebSVN dla KDE
Name[pt]=WebSVN do KDE
Name[pt_BR]=WebSVN do KDE
Name[sr]=KDE-ов WebSVN
Name[sr@latin]=KDE-ov WebSVN
Name[sv]=KDE-webbsvn
Name[tg]=KDE ВэбSVN
Name[th]=SVN บนเว็บของ KDE
Name[vi]=Tra KDE WebSVN
Name[wa]=WebSVN di KDE
Name[x-test]=xxKDE WebSVNxx
Name[zh_CN]=KDE WebCVS
ServiceTypes=SearchProvider
Keys=websvn,kdesvn,ksvn,kvs
Query=http://websvn.kde.org/\\{@}
Query[bg]=Query=http://websvn.kde.org/\\{@}
Query[se]=http://webcvs.kde.org/\\{@}
Query[x-test]=xxhttp://websvn.kde.org/\\{@}xx

