[Desktop Entry]
Type=Service
Name=KDE WebSVN
Name[af]=KDE WebSVN
Name[ar]=KDE WebSVN
Name[as]=KDE WebSVN
Name[be]=KDE WebSVN
Name[be@latin]=WebSVN dla KDE
Name[bg]=KDE WebSVN
Name[bn]=কে.ডি.ই. ওয়েব-এস.ভি.এন
Name[bn_IN]=KDE WebSVN
Name[br]=WebSVN KDE
Name[ca]=WebSVN de KDE
Name[ca@valencia]=WebSVN de KDE
Name[cs]=KDE WebSVN
Name[csb]=WebSVN dlô KDE
Name[da]=KDE WebSVN
Name[de]=KDE-WebSVN
Name[el]=KDE WebSVN
Name[en_GB]=KDE WebSVN
Name[eo]=KDE WebSVN
Name[es]=WebSVN de KDE
Name[et]=KDE WebSVN
Name[eu]=KDE WebSVN
Name[fi]=KDE:n WebSVN
Name[fr]=WebSVN de KDE
Name[fy]=KDE WebSVN
Name[ga]=WebSVN KDE
Name[gl]=WebSVN de KDE
Name[gu]=KDE વેબSVN
Name[he]=KDE WebSVN
Name[hi]=केडीई वेब-एसवीएन
Name[hne]=केडीई वेब-एसवीएन
Name[hr]=KDE WebSVN
Name[hsb]=KDE WebSVN
Name[hu]=KDE WebSVN
Name[id]=KDE WebSVN
Name[is]=KDE WebSVN
Name[it]=SVN web di KDE
Name[ja]=KDE WebSVN
Name[ka]=KDE WebSVN
Name[kk]=KDE WebSVN
Name[km]=KDE WebSVN
Name[kn]=ಕೆಡಿಇ ಜಾಲ SVN
Name[ko]=KDE WebSVN
Name[ku]=KDE WebSVN
Name[lt]=KDE WebSVN
Name[lv]=KDE WebSVN
Name[mai]=केडीई वेब-एसवीएन
Name[mk]=KDE WebSVN
Name[ml]=കെഡിഇ വെബ് എസ്‌വിഎന്‍
Name[mr]=KDE वेबएसवीएन
Name[ms]=KDE WebSVN
Name[nb]=KDE WebSVN
Name[nds]=KDE-WebSVN
Name[ne]=केडीई वेब एसभीएन
Name[nl]=KDE WebSVN
Name[nn]=KDE WebSVN
Name[oc]=WebSVN KDE
Name[or]=KDE WebSVN
Name[pa]=KDE WebSVN
Name[pl]=WebSVN dla KDE
Name[pt]=WebSVN do KDE
Name[pt_BR]=WebSVN do KDE
Name[ro]=KDE WebSVN
Name[ru]=SVN-репозиторий KDE
Name[se]=KDE WebSVN
Name[si]=KDE WebSVN
Name[sk]=KDE WebSVN
Name[sl]=KDE WebSVN
Name[sr]=КДЕ‑ов вебСВН
Name[sr@ijekavian]=КДЕ‑ов вебСВН
Name[sr@ijekavianlatin]=KDE‑ov WebSVN
Name[sr@latin]=KDE‑ov WebSVN
Name[sv]=KDE-webbsvn
Name[ta]=KDE WebSVN
Name[te]=KDE WebSVN
Name[tg]=KDE WebSVN
Name[th]=ใช้งาน SVN ผ่านเว็บของ KDE
Name[tr]=KDE WebSVN
Name[uk]=KDE WebSVN
Name[uz]=KDE WebSVN
Name[uz@cyrillic]=KDE WebSVN
Name[vi]=Tra KDE WebSVN
Name[wa]=WebSVN di KDE
Name[x-test]=xxKDE WebSVNxx
Name[zh_CN]=KDE WebSVN
Name[zh_TW]=KDE WebSVN
X-KDE-ServiceTypes=SearchProvider
Keys=websvn,kdesvn,ksvn,kvs
Query=http://websvn.kde.org/\\{@}
Query[af]=http://websvn.kde.org/\\{@}
Query[ar]=http://websvn.kde.org/\\{@}
Query[as]=http://websvn.kde.org/\\{@}
Query[be]=http://websvn.kde.org/\\{@}
Query[be@latin]=http://websvn.kde.org/\\{@}
Query[bg]=http://websvn.kde.org/\\{@}
Query[bn]=http://websvn.kde.org/\\{@}
Query[bn_IN]=http://websvn.kde.org/\\{@}
Query[br]=http://websvn.kde.org/\\{@}
Query[ca]=http://websvn.kde.org/\\{@}
Query[ca@valencia]=http://websvn.kde.org/\\{@}
Query[cs]=http://websvn.kde.org/\\{@}
Query[csb]=http://websvn.kde.org/\\{@}
Query[da]=http://websvn.kde.org/\\{@}
Query[de]=http://websvn.kde.org/\\{@}
Query[el]=http://websvn.kde.org/\\{@}
Query[en_GB]=http://websvn.kde.org/\\{@}
Query[eo]=http://websvn.kde.org/\\{@}
Query[es]=http://websvn.kde.org/\\{@}
Query[et]=http://websvn.kde.org/\\{@}
Query[eu]=http://websvn.kde.org/\\{@}
Query[fi]=http://websvn.kde.org/\\{@}
Query[fr]=http://websvn.kde.org/\\{@}
Query[fy]=http://websvn.kde.org/\\{@}
Query[ga]=http://websvn.kde.org/\\{@}
Query[gl]=http://websvn.kde.org/\\{@}
Query[gu]=http://websvn.kde.org/\\{@}
Query[he]=http://websvn.kde.org/\\{@}
Query[hi]=http://webcvs.kde.org/\\{@}
Query[hne]=http://webcvs.kde.org/\\{@}
Query[hr]=http://websvn.kde.org/\\{@}
Query[hsb]=http://websvn.kde.org/\\{@}
Query[hu]=http://websvn.kde.org/\\{@}
Query[id]=http://websvn.kde.org/\\{@}
Query[is]=http://websvn.kde.org/\\{@}
Query[it]=http://websvn.kde.org/\\{@}
Query[ja]=http://websvn.kde.org/\\{@}
Query[ka]=http://websvn.kde.org/\\{@}
Query[kk]=http://websvn.kde.org/\\{@}
Query[km]=http://websvn.kde.org/\\{@}
Query[kn]=http://websvn.kde.org/\\{@}
Query[ko]=http://websvn.kde.org/\\{@}
Query[ku]=http://websvn.kde.org/\\{@}
Query[lt]=http://websvn.kde.org/\\{@}
Query[lv]=http://websvn.kde.org/\\{@}
Query[mai]=http://webcvs.kde.org/\\{@}
Query[ml]=http://websvn.kde.org/\\{@}
Query[mr]=http://websvn.kde.org/\\{@}
Query[ms]=http://websvn.kde.org/\\{@}
Query[nb]=http://websvn.kde.org/\\{@}
Query[nds]=http://websvn.kde.org/\\{@}
Query[ne]=http://websvn.kde.org/\\{@}
Query[nl]=http://websvn.kde.org/\\{@}
Query[nn]=http://websvn.kde.org/\\{@}
Query[oc]=http://websvn.kde.org/\\{@}
Query[or]=http://websvn.kde.org/\\{@}
Query[pa]=http://websvn.kde.org/\\{@}
Query[pl]=http://websvn.kde.org/\\{@}
Query[pt]=http://websvn.kde.org/\\{@}
Query[pt_BR]=http://websvn.kde.org/\\{@}
Query[ro]=http://websvn.kde.org/\\{@}
Query[ru]=http://websvn.kde.org/\\{@}
Query[se]=http://webcvs.kde.org/\\{@}
Query[si]=http://websvn.kde.org/\\{@}
Query[sk]=http://websvn.kde.org/\\{@}
Query[sl]=http://websvn.kde.org/\\{@}
Query[sr]=http://websvn.kde.org/\\{@}
Query[sr@ijekavian]=http://websvn.kde.org/\\{@}
Query[sr@ijekavianlatin]=http://websvn.kde.org/\\{@}
Query[sr@latin]=http://websvn.kde.org/\\{@}
Query[sv]=http://websvn.kde.org/\\{@}
Query[ta]=http://websvn.kde.org/\\{@}
Query[te]=http://websvn.kde.org/\\{@}
Query[tg]=http://websvn.kde.org/\\{@}
Query[th]=http://websvn.kde.org/\\{@}
Query[tr]=http://websvn.kde.org/\\{@}
Query[uk]=http://websvn.kde.org/\\{@}
Query[uz]=http://websvn.kde.org/\\{@}
Query[uz@cyrillic]=http://websvn.kde.org/\\{@}
Query[vi]=http://websvn.kde.org/\\{@}
Query[wa]=http://websvn.kde.org/\\{@}
Query[x-test]=xxhttp://websvn.kde.org/\\{@}xx
Query[zh_CN]=http://websvn.kde.org/\\{@}
Query[zh_TW]=http://websvn.kde.org/\\{@}

