[Desktop Entry]
Charset=
Hidden=false
Keys=kdeuserbase,userbase,ub
Name=KDE UserBase
Name[x-test]=xxKDE UserBasexx
Query=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[x-test]=xxhttp://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Searchxx
ServiceTypes=SearchProvider
Type=Service
