[Desktop Entry]
Type=Service
Name=KDE WebSVN
Name[be@latin]=WebSVN dla KDE
Name[bn]=কে.ডি.ই. ওয়েব-এস.ভি.এন
Name[br]=WebSVN KDE
Name[ca]=WebSVN de KDE
Name[ca@valencia]=WebSVN de KDE
Name[csb]=WebSVN dlô KDE
Name[de]=KDE-WebSVN
Name[es]=WebSVN de KDE
Name[fi]=KDE:n WebSVN
Name[fr]=WebSVN de KDE
Name[ga]=WebSVN KDE
Name[gl]=WebSVN de KDE
Name[gu]=KDE વેબSVN
Name[hi]=केडीई वेब-एसवीएन
Name[hne]=केडीई वेब-एसवीएन
Name[it]=SVN web di KDE
Name[kn]=ಕೆಡಿಇ ಜಾಲ SVN
Name[mai]=केडीई वेब-एसवीएन
Name[ml]=കെഡിഇ വെബ് എസ്‌വിഎന്‍
Name[mr]=KDE वेबएसवीएन
Name[nds]=KDE-WebSVN
Name[ne]=केडीई वेब एसभीएन
Name[oc]=WebSVN KDE
Name[pl]=WebSVN dla KDE
Name[pt]=WebSVN do KDE
Name[pt_BR]=WebSVN do KDE
Name[ru]=SVN-репозиторий KDE
Name[sr]=КДЕ‑ов вебСВН
Name[sr@latin]=KDE‑ov WebSVN
Name[sv]=KDE-webbsvn
Name[th]=ใช้งาน SVN ผ่านเว็บของ KDE
Name[vi]=Tra KDE WebSVN
Name[wa]=WebSVN di KDE
Name[x-test]=xxKDE WebSVNxx
X-KDE-ServiceTypes=SearchProvider
Keys=websvn,kdesvn,ksvn,kvs
Query=http://websvn.kde.org/\\{@}
Query[hi]=http://webcvs.kde.org/\\{@}
Query[hne]=http://webcvs.kde.org/\\{@}
Query[mai]=http://webcvs.kde.org/\\{@}
Query[se]=http://webcvs.kde.org/\\{@}
Query[x-test]=xxhttp://websvn.kde.org/\\{@}xx

