[Desktop Entry]
Charset=
Hidden=false
Keys=kdelook,klook,kdel
Name=KDE Look
Name[ia]=Semblante KDE
Name[is]=KDE útlit
Name[ja]=KDE Look
Name[km]=រូបរាង​របស់ KDE
Name[pt]=KDE Look
Name[pt_BR]=KDE Look
Name[sv]=KDE Look
Name[uk]=KDE Look
Name[x-test]=xxKDE Lookxx
Name[zh_TW]=KDE Look
Query=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ia]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[is]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ja]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[km]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[nds]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[pt]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[pt_BR]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sv]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[uk]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[x-test]=xxhttp://www.kde-look.org/content/search.php?search=Search&name=\\{@}xx
Query[zh_TW]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
ServiceTypes=SearchProvider
Type=Service
