[Desktop Entry]
Charset=
Hidden=false
Keys=kdeuserbase,userbase,ub
Name=KDE UserBase
Name[bn]=কে.ডি.ই. ইউসার-বেস
Name[ca]=KDE UserBase
Name[ca@valencia]=KDE UserBase
Name[da]=KDE UserBase
Name[de]=KDE UserBase
Name[el]=Βάση χρηστών KDE
Name[en_GB]=KDE UserBase
Name[es]=KDE UserBase
Name[et]=KDE UserBase
Name[ia]=KDE UserBase (Base de Usator)
Name[id]=KDE UserBase
Name[is]=KDE Notandagrunnur
Name[it]=KDE UserBase
Name[ja]=KDE UserBase
Name[kk]=KDE UserBase
Name[km]=KDE UserBase
Name[lt]=KDE UserBase
Name[nb]=Brukerbase for KDE
Name[nds]=KDE-UserBase
Name[nl]=KDE UserBase
Name[pt]=KDE UserBase
Name[pt_BR]=KDE UserBase
Name[sv]=KDE:s användarbas
Name[th]=KDE UserBase
Name[uk]=UserBase KDE
Name[x-test]=xxKDE UserBasexx
Name[zh_CN]=KDE 用户信息库
Name[zh_TW]=KDE UserBase
Query=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[bn]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ca]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ca@valencia]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[cs]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[da]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[de]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[el]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[en_GB]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[es]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[et]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[hr]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ia]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[id]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[is]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[it]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ja]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[kk]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[km]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[lt]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nb]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nds]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nl]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pt]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pt_BR]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ru]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sv]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[th]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[uk]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[x-test]=xxhttp://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Searchxx
Query[zh_CN]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[zh_TW]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
ServiceTypes=SearchProvider
Type=Service
