[Desktop Entry]
Type=Service
Name=LEO-Translate
Name[af]=LEO-Vertaal
Name[ar]=LEO-ترجم
Name[bg]=LEO-превод
Name[csb]=LEO - dwastarnowi anielskò-miemiecczi
Name[cy]=LEO-Cyfieithu
Name[de]=LEO-Übersetzung
Name[eo]=LEO-Tradukilo
Name[fa]=LEO - ترجمه کردن
Name[fi]=LEO-käännös
Name[fy]=LEO-oersetting (oersetting: Dûtsk-Ingelsk-Dûtsk)
Name[ga]=Aistriúchán LEO
Name[gl]=Tradución con LEO
Name[gu]=લીઓ-ટ્રાન્સલેટ
Name[he]=תרגום LEO
Name[hi]=लिओ-अनुवाद
Name[hr]=LEO-Prijevod
Name[is]=LEO-þýðandi
Name[kk]=LEO-аудару
Name[km]=LEO-បកប្រែ
Name[ko]=LEO-번역
Name[lv]=LEO-tulkošana
Name[mk]=LEO - превод
Name[ml]=ലിയോ-പരിഭാഷ
Name[ms]=LEO-Terjemah
Name[nb]=LEO-oversetter
Name[nds]=LEO-Översetten
Name[ne]=LEO-अनुवाद
Name[nl]=LEO-Translate (Vertaling Duits-Engels-Duits)
Name[pa]=LEO-ਟਰਾਂਸਲੇਟ
Name[pl]=LEO - dwustronny słownik angielsko-niemiecki
Name[pt_BR]=LEO-Tradutor
Name[sr]=Лео‑превод
Name[sr@latin]=Leo‑prevod
Name[ta]=லியோ-மொழிபெயர்ப்பு
Name[tg]=Тарҷумаҳои LEO
Name[th]=บริการแปลภาษาของ LEO
Name[uz]=LEO tarjima
Name[uz@cyrillic]=LEO таржима
Name[vi]=Dịch bằng LEO
Name[x-test]=xxLEO-Translatexx
Name[xh]=LEO-Guqulela
X-KDE-ServiceTypes=SearchProvider
Keys=leo
Query=http://dict.leo.org/?search=\\{@}
Query[x-test]=xxhttp://dict.leo.org/?search=\\{@}xx
