[Desktop Entry]
Type=Service
Name=Lycos
Name[af]=Lycos
Name[ar]=Lycos
Name[as]=Lycos
Name[be]=Lycos
Name[be@latin]=Lycos
Name[bg]=Lycos
Name[bn]=লাইকস
Name[bn_IN]=Lycos
Name[br]=Lycos
Name[ca]=Lycos
Name[ca@valencia]=Lycos
Name[cs]=Lycos
Name[csb]=Lycos - szëkôrz starnów WWW
Name[cy]=Lycos
Name[da]=Lycos
Name[de]=Lycos
Name[el]=Lycos
Name[en_GB]=Lycos
Name[eo]=Lycos
Name[es]=Lycos
Name[et]=Lycos
Name[eu]=Lycos
Name[fi]=Lycos
Name[fr]=Lycos
Name[fy]=Lycos
Name[ga]=Lycos
Name[gl]=Lycos
Name[gu]=લાયકોસ
Name[he]=Lycos
Name[hi]=लायकोस
Name[hne]=लाइकोस
Name[hr]=Lycos
Name[hsb]=Lycos
Name[hu]=Lycos
Name[id]=Lycos
Name[is]=Lycos
Name[it]=Lycos
Name[ja]=Lycos
Name[ka]=Lycos
Name[kk]=Lycos
Name[km]=Lycos
Name[kn]=ಲೈಕೋಸ್
Name[ko]=Lycos
Name[ku]=Lycos
Name[lt]=Lycos
Name[lv]=Lycos
Name[mai]=लायकोस
Name[mk]=Lycos
Name[ml]=ലൈകോസ്
Name[mr]=Lycos
Name[ms]=Lycos
Name[nb]=Lycos
Name[nds]=Lycos
Name[ne]=लाइकस
Name[nl]=Lycos
Name[nn]=Lycos
Name[or]=Lycos
Name[pa]=ਲੁਕੋਸ
Name[pl]=Lycos - wyszukiwarka stron WWW
Name[pt]=Lycos
Name[pt_BR]=Lycos
Name[ro]=Lycos
Name[ru]=Lycos
Name[se]=Lycos
Name[si]=Lycos
Name[sk]=Lycos
Name[sl]=Lycos
Name[sr]=Ликос
Name[sr@latin]=Likos
Name[sv]=Lycos
Name[ta]=லைகோஸ்
Name[te]=లైకోస్
Name[tg]=Lycos
Name[th]=บริการ Lycos
Name[tr]=Lycos
Name[uk]=Lycos
Name[uz]=Lycos
Name[uz@cyrillic]=Lycos
Name[vi]=Tra Lycos
Name[wa]=Lycos
Name[xh]=Lycos
Name[x-test]=xxLycosxx
Name[zh_CN]=Lycos
Name[zh_TW]=Lycos
X-KDE-ServiceTypes=SearchProvider
Keys=lycos,ly
Query=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[af]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ar]=Query=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[as]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[be]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[be@latin]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[bg]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[bn]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[bn_IN]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[br]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ca]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ca@valencia]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[cs]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[csb]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[da]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[de]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[el]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[en_GB]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[eo]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[es]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[et]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[eu]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[fi]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[fr]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[fy]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ga]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[gl]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[gu]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[he]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[hi]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[hne]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[hr]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[hsb]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[hu]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[id]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[is]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[it]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ja]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ka]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[kk]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[km]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[kn]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ko]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ku]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[lt]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[lv]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[mai]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ml]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[mr]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ms]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[nb]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[nds]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ne]=http://www.lycos.com/cgi-bin/pursuit?cat=dirquery=\\{@}
Query[nl]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[nn]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[oc]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[or]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[pa]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[pl]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[pt]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[pt_BR]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ro]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ru]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[se]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[si]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[sk]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[sl]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[sr]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[sr@latin]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[sv]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ta]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[te]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[tg]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[th]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[tr]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[uk]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[uz]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[uz@cyrillic]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[vi]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[wa]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[x-test]=xxhttp://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}xx
Query[zh_CN]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[zh_TW]=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
