[Desktop Entry]
Type=Service
Name=Lycos
Name[bn]=লাইকস
Name[csb]=Lycos - szëkôrz starnów WWW
Name[hi]=लायकोस
Name[ne]=लाइकस
Name[pa]=ਲੁਕੋਸ
Name[pl]=Lycos - wyszukiwarka stron WWW
Name[sr]=Ликос
Name[ta]=லைகோஸ்
Name[te]=లైకోస్
Name[th]=ไลคอส
Name[vi]=Tra Lycos
Name[x-test]=xxLycosxx
X-KDE-ServiceTypes=SearchProvider
Keys=lycos,ly
Query=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ar]=Query=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[bg]=Query=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}
Query[ne]=http://www.lycos.com/cgi-bin/pursuit?cat=dirquery=\\{@}
Query[x-test]=xxhttp://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\{@}xx
