[Desktop Entry]
Charset=
Hidden=false
Keys=magnatune,mt
Name=Magnatune
Name[ia]=Magnatune
Name[is]=Magnatune
Name[pt]=Magnatune
Name[sv]=Magnatune
Name[uk]=Magnatune
Name[x-test]=xxMagnatunexx
Name[zh_TW]=Magnatune
Query=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ia]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[is]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[pt]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sv]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[uk]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[x-test]=xxhttp://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0xx
Query[zh_TW]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
ServiceTypes=SearchProvider
Type=Service
