[Desktop Entry]
Type=Service
Name=Mamma - Mother of all Search Engines
Name[af]=Mamma - Moeder van alle Soektog Enjins
Name[ar]=ام كل محركات البحث
Name[as]=Mamma - Mother of all Search Engines
Name[be]=Mamma - Маці ўсіх рухавікоў пошуку
Name[be@latin]=Mamma: matka ŭsich pašukovych sajtaŭ
Name[bg]=Mamma - майка на търсачките
Name[bn]=Mamma - Mother of all Search Engines
Name[bn_IN]=Mamma - Mother of all Search Engines
Name[br]=Mamma - Mamm pep keflusker klask
Name[ca]=Mamma - La mare de tots els motors de cerca
Name[ca@valencia]=Mamma - La mare de tots els motors de cerca
Name[cs]=Mamma
Name[csb]=Mamma - mëmka wszëstczich szëkôrzów
Name[cy]=Mamma - Mam holl Beiriannau Chwilio
Name[da]=Mamma - moderen til alle søgemaskiner
Name[de]=Mamma – Die Mutter aller Suchmaschinen
Name[el]=Mamma - Η μητέρα όλων των μηχανών αναζήτησης
Name[en_GB]=Mamma - Mother of all Search Engines
Name[eo]=Mamma - Patrino de ĉiuj retserĉiloj
Name[es]=Mamma - La madre de todos los motores de búsqueda
Name[et]=Mamma - kõigi otsingumootorite ema
Name[eu]=Mamma - Bilaketa motore guztien ama
Name[fa]=Mamma - مادر همۀ موتورهای جستجو
Name[fi]=Mamma - Mother of all Search Engines
Name[fr]=Mamma - la mère de tous les moteurs de recherche
Name[fy]=Mamma - mem fan alle sykmasines
Name[ga]=Mamma - Mother of all Search Engines
Name[gl]=Mamma, a nai dos motores de procura
Name[gu]=મામ્મા - બધા શોધ એન્જિનોની માતા
Name[he]=‏Mamma - אם כל מנועי החיפוש
Name[hi]=मम्मा- सभी खोज इंजिन की अम्मा
Name[hne]=मम्मा- सब्बो खोज इंजिन के अम्मा
Name[hr]=Mamma – Majka svih tražilica
Name[hsb]=Mamma - Mother of all Search Engines
Name[hu]=Mamma
Name[id]=Mamma - Induk Semua Mesin Pencari
Name[is]=Mamma - Mamma allra leitarvéla
Name[it]=Mamma - Madre di tutti i motori di ricerca
Name[ja]=Mamma - Mother of all Search Engines
Name[kk]=Mamma - бүкіл іздеу жүйелерінің анасы
Name[km]=Mamma - កំពូល​ម៉ាស៊ីន​ស្វែងរក
Name[kn]=ಮಮಾ-ಎಲ್ಲಾ ಶೋಧನಾ ತಂತ್ರಾಂಶಗಳ ತಾಯಿ
Name[ko]=Mamma - 모든 검색 엔진의 어머니
Name[ku]=Mamma - Dayika hemû Motorên Lêgerînê
Name[lt]=Mamma – visų paieškų motina
Name[lv]=Mamma - visu meklēšanas dzinēju māte
Name[mai]=मम्मा- सबहि खोज इंजिन की अम्मा
Name[mk]=Mamma - мајката на сите пребарувачки сервиси
Name[ml]=മാമ്മ - എല്ലാ തെരച്ചില്‍ എഞ്ചിനുകളുടേയും മാതാവു്
Name[mr]=मम्मा- सर्व शोध इंजिन चे मुळ
Name[ms]=Mamma -Ibu semua Enjin Carian
Name[nb]=Mamma – alle søkemotorers mor
Name[nds]=Mamma - de Moder vun all Söökmaschinen
Name[ne]=Mamma - सबै खोज्ने इन्जिनको जननी
Name[nl]=Mamma - moeder van alle zoekmachines
Name[nn]=Mamma – Mother of all Search Engines
Name[or]=ମାମ୍ମା - ସମସ୍ତ ସନ୍ଧାନ ଯନ୍ତ୍ରର ମାତା
Name[pa]=ਮੱਮਾ -ਸਭ ਖੋਜ ਇੰਜਣਾਂ ਦੀ ਮਾਂ
Name[pl]=Mamma - matka wszystkich przeszukiwarek
Name[pt]=Mamma - Mãe de Todos os Motores de Busca
Name[pt_BR]=Mamma - mãe de todos os mecanismos de busca
Name[ro]=Mamma - Mama tuturor motoarelor de căutare
Name[ru]=Mamma — мать всех поисковых систем
Name[se]=Mamma – Mother of all Search Engines
Name[si]=Mamma - Mother of all Search Engines
Name[sk]=Mamma - Matka všetkých vyhľadávačov
Name[sl]=Mamma - Mati vseh iskalnikov
Name[sr]=Мама - мајка свих претраживачких мотора
Name[sr@ijekavian]=Мама - мајка свих претраживачких мотора
Name[sr@ijekavianlatin]=Mama - majka svih pretraživačkih motora
Name[sr@latin]=Mama - majka svih pretraživačkih motora
Name[sv]=Mamma - Moder till alla söktjänster
Name[ta]=மம்மா - தேடு இயந்திரங்களின் தாய்
Name[te]=Mamma - అన్ని శోధన యంత్రములకు మాత్రుక
Name[tg]=Mamma - модари ҳамаи системаҳои ҷустуҷӯӣ
Name[th]=บริการ Mamma - มารดาของเครื่องมือค้นหาทั้งปวง
Name[tr]=Mamma - Bütün arama motorlarının Annesi
Name[uk]=Mamma — мати всіх пошукових машин
Name[uz]=Mamma - Hamma qidirish vositalarining onasi
Name[uz@cyrillic]=Mamma - Ҳамма қидириш воситаларининг онаси
Name[vi]=Mamma - Người mẹ của tất cả các máy truy tìm dữ liệu
Name[wa]=Mamma - Li mame di tos les éndjins d' cweraedje
Name[xh]=Mamma - Umama weenjini zonke zophendlo
Name[x-test]=xxMamma - Mother of all Search Enginesxx
Name[zh_CN]=Mamma - 所有搜索引擎之母
Name[zh_TW]=Mamma - 搜尋引擎之母
X-KDE-ServiceTypes=SearchProvider
Keys=mm,mamma
Query=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[af]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ar]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[as]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[be]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[be@latin]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[bg]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[bn]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[bn_IN]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[br]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ca]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ca@valencia]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[cs]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[csb]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[da]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[de]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[el]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[en_GB]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[eo]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[es]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[et]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[eu]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[fi]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[fr]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[fy]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ga]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[gl]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[gu]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[he]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[hi]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[hne]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[hr]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[hsb]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[hu]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[id]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[is]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[it]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ja]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ka]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[kk]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[km]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[kn]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ko]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ku]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[lt]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[lv]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[mai]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ml]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[mr]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ms]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[nb]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[nds]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ne]=http://www.mamma.com/Mamma?lang=1timeout=4&qtype=0&query=\\{@}
Query[nl]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[nn]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[oc]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[or]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[pa]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[pl]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[pt]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[pt_BR]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ro]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ru]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[se]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[si]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[sk]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[sl]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[sr]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[sr@ijekavian]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[sr@ijekavianlatin]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[sr@latin]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[sv]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ta]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[te]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[tg]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[th]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[tr]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[uk]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[uz]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[uz@cyrillic]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[vi]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[wa]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[x-test]=xxhttp://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}xx
Query[zh_CN]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[zh_TW]=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
