[Desktop Entry]
Type=Service
Name=Mamma - Mother of all Search Engines
Name[af]=Mamma - Moeder van alle Soektog Enjins
Name[ar]=ام كل محركات البحث
Name[be]=Mamma - Маці ўсіх рухавікоў пошуку
Name[be@latin]=Mamma: matka ŭsich pašukovych sajtaŭ
Name[bg]=Mamma - майка на търсачките
Name[br]=Mamma - Mamm pep keflusker klask
Name[ca]=Mamma - La mare de tots els motors de cerca
Name[cs]=Mamma
Name[csb]=Mamma - mëmka wszëstczich szëkôrzów
Name[cy]=Mamma - Mam holl Beiriannau Chwilio
Name[da]=Mamma - moderen til alle søgemaskiner
Name[de]=Mamma - Die Mutter aller Suchmaschinen
Name[el]=Mamma - Η μητέρα όλων των μηχανών αναζήτησης
Name[eo]=Mamma - Patrino de ĉiuj retserĉiloj
Name[es]=Mamma - La madre de todos los motores de búsqueda
Name[et]=Mamma - kõigi otsingumootorite ema
Name[eu]=Mamma - Bilaketa motore guztien ama
Name[fa]=Mamma - مادر همۀ موتورهای جستجو
Name[fr]=Mamma - la mère de tous les moteurs de recherche
Name[fy]=Mamma - mem fan alle sykmasines
Name[gl]=Mamma - Nai dos motores de procura
Name[gu]=મામ્મા - બધા શોધ એન્જિનોની માતા
Name[he]=‏Mamma - אם כל מנועי החיפוש
Name[hi]=मम्मा- सभी खोज इंजिन की अम्मा
Name[hr]=Mamma - Majka svih tražilica
Name[hu]=Mamma
Name[is]=Mamma - Mamma allra leitarvéla
Name[it]=Mamma - Madre di tutti i motori di ricerca
Name[kk]=Mamma - бүкіл іздеу жүйелерінің анасы
Name[km]=Mamma - កំពូល​ម៉ាស៊ីន​ស្វែងរក
Name[kn]=ಮಮಾ-ಎಲ್ಲಾ ಶೋಧನಾ ತಂತ್ರಾಂಶಗಳ ತಾಯಿ
Name[ko]=Mamma - 모든 검색 엔진의 어머니
Name[ku]=Mamma - Dayika hemû Motorên Lêgerînê
Name[lt]=Mamma – visų paieškų motina
Name[lv]=Mamma - visu meklēšanas dzinēju māte
Name[mai]=मम्मा- सबहि खोज इंजिन की अम्मा
Name[mk]=Mamma - мајката на сите пребарувачки сервиси
Name[ml]=മാമ്മ - എല്ലാ തെരച്ചില്‍ എഞ്ചിനുകളുടേയും മാതാവു്
Name[mr]=मम्मा- सर्व शोध इंजिन चे मुळ
Name[ms]=Mamma -Ibu semua Enjin Carian
Name[nb]=Mamma – alle søkemotorers mor
Name[nds]=Mamma - de Moder vun all Söökmaschinen
Name[ne]=Mamma - सबै खोज्ने इन्जिनको जननी
Name[nl]=Mamma - moeder van alle zoekmachines
Name[nn]=Mamma – Mother of all Search Engines
Name[or]=ମାମ୍ମା - ସମସ୍ତ ସନ୍ଧାନ ଯନ୍ତ୍ରର ମାତା
Name[pa]=ਮੱਮਾ -ਸਭ ਖੋਜ ਇੰਜਣਾਂ ਦੀ ਮਾਂ
Name[pl]=Mamma - matka wszystkich przeszukiwarek
Name[pt]=Mamma - Mãe de Todos os Motores de Busca
Name[pt_BR]=Mamma - mãe de todos os mecanismos de busca
Name[ro]=Mamma - Mama tuturor motoarelor de căutare
Name[ru]=Mamma - мать всех поисковых систем
Name[se]=Mamma – Mother of all Search Engines
Name[sk]=Mamma - Matka všetkých vyhľadávačov
Name[sl]=Mamma - Mati vseh iskalnikov
Name[sr]=Мама - мајка свих претраживачких мотора
Name[sr@latin]=Mama - majka svih pretraživačkih motora
Name[sv]=Mamma - Moder till alla sökmotorer
Name[ta]=மம்மா - தேடு இயந்திரங்களின் தாய்
Name[te]=Mamma - అన్ని శోధన యంత్రములకు మాత్రుక
Name[tg]=Mamma - модари ҳамаи системаҳои ҷустуҷӯӣ
Name[th]=บริการ Mamma - มารดาของเครื่องมือค้นหาทั้งปวง
Name[tr]=Mamma - Bütün arama motorlarının Annesi
Name[uk]=Mamma - мати всіх пошукових машин
Name[uz]=Mamma - Hamma qidirish vositalarining onasi
Name[uz@cyrillic]=Mamma - Ҳамма қидириш воситаларининг онаси
Name[vi]=Mamma - Người mẹ của tất cả các máy truy tìm dữ liệu
Name[wa]=Mamma - Li mame di tos les éndjins d' cweraedje
Name[x-test]=xxMamma - Mother of all Search Enginesxx
Name[xh]=Mamma - Umama weenjini zonke zophendlo
Name[zh_CN]=Mamma - 所有搜索引擎之母
Name[zh_TW]=Mamma - 搜尋引擎之母
X-KDE-ServiceTypes=SearchProvider
Keys=mm,mamma
Query=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}
Query[ne]=http://www.mamma.com/Mamma?lang=1timeout=4&qtype=0&query=\\{@}
Query[x-test]=xxhttp://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\{@}xx
