[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MetaCrawler
Name[af]=Metacrawler
Name[csb]=MetaCrawler - szëkôrz starnów WWW
Name[ko]=메타 크로울러
Name[ne]=मेटा क्रवलर
Name[pa]=ਮੈਟਾਕਰਾਵਲੀਰ
Name[pl]=MetaCrawler - wyszukiwarka stron WWW
Name[ta]=மெடா க்ராவ்லெர்
Name[te]=మెటా క్రాలర్
Name[x-test]=xxMetaCrawlerxx
ServiceTypes=SearchProvider
Keys=mc,meta,metacrawler
Query=http://search.metacrawler.com/crawler?general=\\{@}&method=0&cat=Web&target=metaworld&redirect=web&rpp=20&hpe=10&region=0&timeout=0&sort=0&format=beta99&theme=classic&refer=mc-search&refer=mc-search
Query[bg]=Query=http://search.metacrawler.com/crawler?general=\\{@}&method=0&cat=Web&target=metaworld&redirect=web&rpp=20&hpe=10&region=0&timeout=0&sort=0&format=beta99&theme=classic&refer=mc-search&refer=mc-search
Query[x-test]=xxhttp://search.metacrawler.com/crawler?general=\\{@}&method=0&cat=Web&target=metaworld&redirect=web&rpp=20&hpe=10&region=0&timeout=0&sort=0&format=beta99&theme=classic&refer=mc-search&refer=mc-searchxx
