[Desktop Entry]
Type=Service
Name=Microsoft Developer Network Search
Name[nl]=Microsoft Developer Network Search 
Name[uk]=Пошук в Microsoft Developer Network
Name[x-test]=xxMicrosoft Developer Network Searchxx
X-KDE-ServiceTypes=SearchProvider
Keys=msdn
Query=https://social.msdn.microsoft.com/Search/en-US?query=\\{@}
Query[nl]=https://social.msdn.microsoft.com/Search/en-US?query=\\{@}
Query[uk]=https://social.msdn.microsoft.com/Search/en-US?query=\\{@}
Query[x-test]=xxhttps://social.msdn.microsoft.com/Search/en-US?query=\\{@}xx
