[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between Dutch and Russian
Name[ga]=Multitran - Aistriúchán idir Ollainnis agus Rúisis
Name[km]=LEO - បកប្រែ​រវាង​ភាសា​ហុល្លង់ និង​រុស្ស៊ី
Name[nds]=Multitran - Översetten twischen Nedderlannsch un Russ'sch
Name[sl]=Multitran - Prevod med nizozemščino in ruščino
Name[zh_TW]=Multitran - 翻譯荷蘭語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=24&s=\\{@}
