[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between Italian and Russian
Name[el]=Multitran - Μετάφραση μεταξύ Ιταλικών και Ρωσσικών
Name[es]=Multitran - Traducción entre italiano y ruso
Name[ga]=Multitran - Aistriúchán idir Iodáilis agus Rúisis
Name[gu]=મલ્ટિટ્રાન - ઇટાલિઅન અને રશિયન વચ્ચેનું ભાષાંતર
Name[ja]=Multitran - イタリア語-ロシア語間の翻訳
Name[km]=Multitran - បកប្រែ​រវាង​ភាសា​អ៊ីតាលី និង​រុស្ស៊ី
Name[ko]=Multitran - 이탈리아어와 러시아어 사이 번역
Name[nds]=Multitran - Översetten twischen Italieensch un Russ'sch
Name[pt]=Multitran - Traduzir Entre Italiano e Russo
Name[pt_BR]=Multitran - Traduzir Entre Italiano e Russo
Name[sl]=Multitran - Prevod med italijanščino in ruščino
Name[tr]=Multitran - İtalyancadan Rusçaya Çeviri
Name[zh_CN]=Multitran - 在意大利语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯義大利語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
