[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between English and Russian
Name[af]=Multitran - Vertaal tussen Engels en Russies
Name[bg]=Multitran - превод от английски на руски
Name[bn_IN]=Multitran - ইংরাজি ও রাশিয়ানের মধ্যে অনুবাদ করুন
Name[ca]=Multitran - Tradueix entre anglès i rus
Name[cs]=Multitran - překlad mezi angličtinou a ruštinou
Name[csb]=Multitran - dolmaczenié: anielsczi ë rusczi
Name[da]=Multitran - oversæt mellem engelsk og russisk
Name[de]=Multitran - Übersetzung Englisch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Γαλλικών και Ρωσικών
Name[eo]=Multitran - Traduko inter la angla kaj la rusa
Name[es]=Multitran - Traducción entre inglés y ruso
Name[et]=Multitran - tõlkimine: inglise-vene
Name[fi]=Multitran - Käännä tekstiä englannin ja venäjän välillä
Name[fr]=Multitran - Traduction anglais - russe
Name[fy]=Multitran - Oersetting tusken Ingelsk en Russysk
Name[ga]=Multitran - Aistriúchán idir Béarla agus Rúisis
Name[gl]=Multitran, tradución entre inglés e ruso
Name[gu]=મલ્ટિટ્રાન - અંગ્રેજી અને રશિયન વચ્ચેનું ભાષાંતર
Name[he]=‏Multitran - תרגום בין אנגלית ורוסית
Name[hr]=Multitran - Prevođenje između engleskog i ruskog
Name[hu]=Multitran - Fordítás angolról oroszra (mindkét irányban)
Name[it]=Multitran - Traduzioni tra inglese e russo
Name[ja]=Multitran - 英語-ロシア語間の翻訳
Name[km]=Multitran - បក​ប្រែ​រវាង​ភាសា​អង់គ្លេស និង​រុស្ស៊ី
Name[ko]=Multitran - 영어와 러시아어 사이 번역
Name[ku]=Multîtran - Wergerandina Di Navbera Îngilîzî û Rûsî de
Name[lv]=Multitran - tulkot no Angļu uz Krievu
Name[mk]=Multitran - превод меѓу англиски и руски
Name[ml]=മള്‍ട്ടിട്രാന്‍ - ഇംഗ്ലീഷും റഷ്യനും തമ്മില്‍ പരിഭാഷപ്പെടുത്തുക
Name[nds]=Multitran - Översetten twischen Engelsch un Russ'sch
Name[nl]=Multitran - vertaal van Engels naar Russisch
Name[nn]=Multitran – Omsetjing mellom engelsk og russisk
Name[pa]=ਮਲਟੀ-ਟਰਾਂਸ - ਅੰਗਰੇਜ਼ੀ ਤੇ ਰੂਸੀ ਵਿੱਚ ਟਰਾਂਸਲੇਸ਼ਨ
Name[pl]=Multitran - tłumaczenie między angielskim i rosyjskim
Name[pt]=Multitran - Traduzir Entre Inglês e Russo
Name[pt_BR]=Multitran - Traduzir Entre Inglês e Russo
Name[ro]=Multitran - Traduce între engleză și rusă
Name[ru]=Multitran - англо-русский перевод
Name[sl]=Multitran - Prevod med angleščino in ruščino
Name[sr]=Мултитран: са енглеског на руски
Name[sr@latin]=Multitran: sa engleskog na ruski
Name[sv]=Multitran - översätt mellan engelska och ryska
Name[ta]=Multitran - ஆங்கிலம் மற்றும் ரஷ்ய மொழிகளுக்கிடையே மொழிபெயர்ப்பு
Name[th]=บริการ Multitran - แปลความหมายระหว่างภาษาอังกฤษและภาษารัสเซีย
Name[uk]=Multitran - переклад між англійською та російською
Name[uz]=Multitran - Inglizchadan Ruschaga tarjima
Name[uz@cyrillic]=Multitran - Инглизчадан Русчага таржима
Name[wa]=Multitran - Ratoûne inte l' Inglès eyet l' Russe
Name[x-test]=xxMultitran - Translate Between English and Russianxx
Name[zh_CN]=Multitran - 在英语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯英語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mten
Query=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}xx
