[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between German and Russian
Name[af]=Multitran - Vertaal tussen Duits en Russies
Name[ar]=المترجم المتعدد بين  ألالماني و الروسية
Name[as]=Multitran - জাৰ্মান আৰু ৰুচীয় ভাষাৰ মাজত অনুবাদ
Name[be@latin]=Pierakład „Multitran”: niamieckaja ➙ rasiejskaja
Name[bg]=Multitran - превод от немски на руски
Name[bn]=মাল্টিট্র্যান - জার্মান থেকে রুশ বা রুশ থেকে জার্মান-এ অনুবাদ করুন
Name[bn_IN]=Multitran - জার্মান ও রাশিয়ানের মধ্যে অনুবাদ করুন
Name[ca]=Multitran - Tradueix entre alemany i rus
Name[cs]=Multitran - překlad mezi němčinou a ruštinou
Name[csb]=Multitran - dolmaczenié: miemiecczi ë rusczi
Name[da]=Multitran - oversæt mellem tysk og russisk
Name[de]=Multitran - Übersetzung: Deutsch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Γερμανικών και Ρωσικών
Name[eo]=Multitran - Traduko inter la germana kaj la rusa
Name[es]=Multitran - Traducción entre alemán y ruso
Name[et]=Multitran - tõlkimine: saksa-vene
Name[eu]=Multitran - Itzuli alemana eta errusieraren artean
Name[fi]=Multitran - Käännä tekstiä saksan ja venäjän välillä
Name[fr]=Multitran - Traduction allemand - russe
Name[fy]=Multitran - Oersetting tusken Dútsk en Russysk
Name[ga]=Multitran - Aistriúchán idir Gearmáinis agus Rúisis
Name[gl]=Multitran, tradución entre alemán e ruso
Name[gu]=મલ્ટિટ્રાન - જર્મન અને રશિયન વચ્ચેનું ભાષાંતર
Name[he]=‏Multitran - תרגם מין גרמנית לרוסית
Name[hi]=मल्टीट्रान - जर्मनी तथा रूसी के बीच अनुवाद
Name[hr]=Multitran - Prevođenje između njemačkog i ruskog
Name[hsb]=Multitran - přełožowanje z němčiny a rušćiny
Name[hu]=Multitran - Fordítás németről oroszra (mindkét irányban)
Name[is]=Multitran - Þýða á milli þýsku og rússnesku
Name[it]=Multitran - Traduzioni tra tedesco e russo
Name[ja]=Multitran - ドイツ語-ロシア語間の翻訳
Name[kk]=Multitran - Неміс және орыс тілдер арасында аудару
Name[km]=Multitran - បកប្រែ​​រវាង​​ភាសា​អាល្លឺម៉ង់​ និង​រុស្ស៊ី
Name[kn]=ಮಲ್ಟಿಟ್ರಾನ್-ಜರ್ಮನ್ ಮತ್ತು ರಷ್ಯನ್ ನಡುವೆ ಅನುವಾದಿಸು
Name[ko]=Multitran - 독일어와 러시아어 사이 번역
Name[ku]=Multîtran - Wergerandina Di Navbera Almanî û Rûsî de
Name[lt]=Multitran – versti iš vokiečių į rusų ir atvirkščiai
Name[lv]=Multitran - tulkot no Vācu uz Krievu
Name[mk]=Multitran - превод меѓу германски и руски
Name[ml]=മള്‍ട്ടിട്രാന്‍ - ജര്‍മനും റഷ്യനും തമ്മില്‍ പരിഭാഷപ്പെടുത്തുക
Name[nb]=Multitran – Oversett mellom tysk og russisk
Name[nds]=Multitran - Översetten twischen Hoochdüütsch un Russ'sch
Name[nl]=Multitran - vertaal van Duits naar Russisch
Name[nn]=Multitran – Omsetjing mellom tysk og russisk
Name[or]=Multitran - ଜର୍ମାନ ଏବଂ ରୁଷିଆନ ମଧ୍ଯରେ ଅନୁବାଦ କରେ
Name[pa]=ਮਲਟੀ-ਟਰਾਂਸ - ਜਰਮਨ ਅਤੇ ਰੂਸੀ ਵਿੱਚ ਟਰਾਂਸਲੇਸ਼ਨ
Name[pl]=Multitran - tłumaczenie między niemieckim a rosyjskim
Name[pt]=Multitran - Traduzir Entre Alemão e Russo
Name[pt_BR]=Multitran - Traduzir entre alemão e russo
Name[ro]=Multitran - Traduce între germană și rusă
Name[ru]=Multitran - немецко-русский перевод
Name[sk]=Multitran - Preklad medzi nemčinou a ruštinou
Name[sl]=Multitran - Prevod med nemščino in ruščino
Name[sr]=Мултитран: са немачког на руски
Name[sr@latin]=Multitran: sa nemačkog na ruski
Name[sv]=Multitran - översätt mellan tyska och ryska
Name[ta]=Multitran - ஜெர்மன் மற்றும் ரஷ்ய மொழிகளுக்கிடையே மொழிபெயர்ப்பு
Name[te]=Multitran - జెర్మన్ మరియు రష్యన్ మద్య అనువదించు
Name[tg]=Multitran - тарҷумаҳои немисӣ-русӣ
Name[th]=บริการ Multitran - แปลความหมายระหว่างภาษาเยอรมันและภาษารัสเซีย
Name[tr]=Multitran - Almancadan Rusçaya Çeviri
Name[uk]=Multitran - переклад між німецькою та російською
Name[uz]=Multitran - Nemischadan Ruschaga tarjima
Name[uz@cyrillic]=Multitran - Немисчадан Русчага таржима
Name[wa]=Multitran - Ratoûne inte l' Almand eyet l' Russe
Name[x-test]=xxMultitran - Translate Between German and Russianxx
Name[zh_CN]=Multitran - 在德语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯德語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=3&s=\\{@}xx
