[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between Italian and Russian
Name[af]=Multitran - Vertaal tussen Italiaans en Russies
Name[ar]=المترجم المتعدد بين  الايطالية و الروسية
Name[be@latin]=Pierakład „Multitran”: italjanskaja ➙ rasiejskaja
Name[bg]=Multitran - превод от италиански на руски
Name[bn_IN]=Multitran - ইটালিয়ান ও রাশিয়ানের মধ্যে অনুবাদ করুন
Name[ca]=Multitran - Tradueix entre italià i rus
Name[cs]=Multitran - překlad mezi italštinou a ruštinou
Name[csb]=Multitran - dolmaczenié: italsczi ë rusczi
Name[da]=Multitran - oversæt mellem italiensk og russisk
Name[de]=Multitran - Übersetzung: Italienisch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Ιταλικών και Ρωσικών
Name[eo]=Multitran - Traduko inter la itala kaj la rusa
Name[es]=Multitran - Traducción entre italiano y ruso
Name[et]=Multitran - tõlkimine: itaalia-vene
Name[fi]=Multitran - Käännä tekstiä italian ja venäjän välillä
Name[fr]=Multitran - Traduction italien - russe
Name[fy]=Multitran - Oersetting tusken italiaansk en Russysk
Name[ga]=Multitran - Aistriúchán idir Iodáilis agus Rúisis
Name[gl]=Multitran, tradución entre italiano e ruso
Name[gu]=મલ્ટિટ્રાન - ઇટાલિઅન અને રશિયન વચ્ચેનું ભાષાંતર
Name[he]=‏Multitran - תרגום בין איטלקית ורוסית
Name[hr]=Multitran - Prevođenje između talijanskog i ruskog
Name[hsb]=Multitran - přełožowanje z italšćiny a rušćiny
Name[hu]=Multitran - Fordítás olaszról oroszra (mindkét irányban)
Name[it]=Multitran - Traduzioni tra italiano e russo
Name[ja]=Multitran - イタリア語-ロシア語間の翻訳
Name[kk]=LEO - итальян және орыс тілдер арасында аудару
Name[km]=Multitran - បកប្រែ​រវាង​ភាសា​អ៊ីតាលី និង​រុស្ស៊ី
Name[kn]=ಮಲ್ಟಿಟ್ರಾನ್ - ಇಟಾಲಿಯನ್ ಮತ್ತು ರಷ್ಯನ್ ಗಳ ನಡುವೆ ಭಾಷಾಂತರಿಸು
Name[ko]=Multitran - 이탈리아어와 러시아어 사이 번역
Name[ku]=Multîtran - Wergerandina Di Navbera Îtalî û Rûsî de
Name[lt]=Multitran – versti iš italų į rusų ir atvirkščiai
Name[lv]=Multitran - tulkot no Itāļu uz Krievu
Name[mk]=Multitran - превод меѓу италијански и руски
Name[ml]=മള്‍ട്ടിട്രാന്‍ - ഇറ്റാലിയനും റഷ്യനും തമ്മില്‍ പരിഭാഷപ്പെടുത്തുക
Name[nb]=Multitran – Oversett mellom italiensk og russisk
Name[nds]=Multitran - Översetten twischen Italieensch un Russ'sch
Name[nl]=Multitran - vertaal van Italiaans naar Russisch
Name[nn]=Multitran – Omsetjing mellom italiensk og russisk
Name[pa]=ਮਲਟੀਟਰਾਂਸ - ਇਤਾਲਵੀ ਅਤੇ ਰੂਸੀ ਵਿੱਚ ਅਨੁਵਾਦ
Name[pl]=Multitran - tłumaczenie między włoskim i rosyjskim
Name[pt]=Multitran - Traduzir Entre Italiano e Russo
Name[pt_BR]=Multitran - Traduzir Entre Italiano e Russo
Name[ro]=Multitran - Traduce între italiană și rusă
Name[ru]=Multitran - итальянско-русский перевод
Name[sl]=Multitran - Prevod med italijanščino in ruščino
Name[sr]=Мултитран: са италијанског на руски
Name[sr@latin]=Multitran: sa italijanskog na ruski
Name[sv]=Multitran - översätt mellan italienska och ryska
Name[ta]=Multitran - இதாலிய ரஷ்ய மொழிகளுக்கிடையேயான மொழிபெயர்ப்பு
Name[te]=Multitran - ఇటాలియన్ మరియు రష్యన్ మద్య అనువదించు
Name[th]=บริการ Multitran - แปลภาษาระหว่างภาษาอิตาลีและภาษารัสเซีย
Name[tr]=Multitran - İtalyancadan Rusçaya Çeviri
Name[uk]=Multitran - переклад між італійською та російською
Name[uz]=Multitran - Italyanchadan Ruschaga tarjima
Name[uz@cyrillic]=Multitran - Италянчадан Русчага таржима
Name[wa]=Multitran - Ratoûne inte l' Itålyin eyet l' Russe
Name[x-test]=xxMultitran - Translate Between Italian and Russianxx
Name[zh_CN]=Multitran - 在意大利语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯義大利語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=23&s=\\{@}xx
