[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between French and Russian
Name[ca]=Multitran - Tradueix entre francès i rus
Name[de]=Multitran - Übersetzung Französisch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Γαλλικών και Ρωσικών
Name[eo]=Multitran - Traduko inter la franca kaj la rusa
Name[es]=Multitran - Traducción entre francés y ruso
Name[et]=Multitran - tõlkimine: prantsuse-vene
Name[fi]=Multitran - Käännä tekstiä ranskan ja venäjän välillä
Name[ga]=Multitran - Aistriúchán idir Fraincis agus Rúisis
Name[gu]=મલ્ટિટ્રાન - ફ્રેંચ અને રશિયન વચ્ચેનું ભાષાંતર
Name[ja]=Multitran - フランス語-ロシア語間の翻訳
Name[km]=Multitran - បកប្រែ​រវាង​ភាសា​បារាំង និង​រុស្ស៊ី
Name[ko]=Multitran - 프랑스어와 러시아어 사이 번역
Name[nds]=Multitran - Översetten twischen Franzöösch un Russ'sch
Name[pt]=Multitran - Traduzir Entre Francês e Russo
Name[pt_BR]=Multitran - Traduzir Entre Francês e Russo
Name[ro]=Multitran - Traduce între franceză și rusă
Name[sl]=Multitran - Prevod med francoščino in ruščino
Name[sr]=Мултитран: са француског на руски
Name[sr@latin]=Multitran: sa francuskog na ruski
Name[sv]=Multitran - översätt mellan franska och ryska
Name[th]=บริการ Multitran - แปลภาษาระหว่างภาษาฝรั่งเศสและภาษารัสเซีย
Name[tr]=Multitran - Fransızcadan Rusçaya Çeviri
Name[uk]=Multitran - переклад між французькою та німецькою
Name[x-test]=xxMultitran - Translate Between French and Russianxx
Name[zh_CN]=Multitran - 在法语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯法語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=4&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=4&s=\\{@}xx
