[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between English and Russian
Name[ga]=Multitran - Aistriúchán idir Béarla agus Rúisis
Name[km]=Multitran - បក​ប្រែ​រវាង​ភាសា​អង់គ្លេស និង​រុស្ស៊ី
Name[nds]=Multitran - Översetten twischen Engelsch un Russ'sch
Name[pt]=Multitran - Traduzir Entre Inglês e Russo
Name[pt_BR]=Multitran - Traduzir Entre Inglês e Russo
Name[sl]=Multitran - Prevod med angleščino in ruščino
Name[zh_TW]=Multitran - 翻譯英語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mten
Query=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
