[Desktop Entry]
Type=Service
Name=Netcraft
Name[bn]=নেট-ক্রাফ্ট
Name[fy]=Netcraft 
Name[gu]=નેટક્રાફ્ટ
Name[hi]=नेटक्राफ्ट
Name[ml]=നെറ്റ്ക്രാഫ്റ്റ്
Name[ne]=नेटक्राफ्ट
Name[pa]=ਨੈੱਟਕਰਾਫਟ
Name[sr]=Неткрафт
Name[ta]=நெட்க்ராஃப்ட்
Name[te]=నెట్ క్రాఫ్ట్
Name[th]=บริการ Netcraft
Name[vi]=Tra Netcraft
Name[x-test]=xxNetcraftxx
X-KDE-ServiceTypes=SearchProvider
Keys=nc,netcraft
Query=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[bg]=Query=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[x-test]=xxhttp://uptime.netcraft.com/up/graph?site=\\{@}xx
