[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Netcraft
Name[fy]=Netcraft 
Name[ne]=नेटक्राफ्ट
Name[pa]=ਨੈੱਟਕਰਾਫਟ
Name[ta]=நெட்க்ராஃப்ட்
Name[te]=నెట్ క్రాఫ్ట్
Name[tg]=Шабакаи craft
Name[vi]=Tra Netcraft
Name[x-test]=xxNetcraftxx
ServiceTypes=SearchProvider
Keys=nc,netcraft
Query=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[bg]=Query=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[x-test]=xxhttp://uptime.netcraft.com/up/graph?site=\\{@}xx
