[Desktop Entry]
Name=Teletekst Search Provider
Name[af]=Teleteks soektog verskaffer
Name[be]=Пошук тэлетэксту
Name[bg]=Търсене в телетекст
Name[bn]=Teletekst অনুসন্ধান সরবরাহকারী
Name[ca]=Proveïdor de cerca a Teletekst
Name[cs]=Poskytovatel Teletekstového prohledávání
Name[csb]=Szëkôrz Teletekst
Name[cy]= Darparwr Chwiliadau Teletekst
Name[da]=Teletekst-søgeudbyder
Name[de]=Teletekst-Suche
Name[el]=Πάροχος αναζήτησης Teletekst 
Name[eo]=Teletekst-serĉprovizanto
Name[es]=Proveedor de búsqueda Teletekst
Name[et]=Hollandi teleteksti otsingumootor
Name[eu]=Teletekst bilaketa hornitzailea
Name[fa]=فراهم‌کنندۀ جستجوی پیام‌نما
Name[fi]=Teleteksti-palveluntarjoaja
Name[fr]=Moteur de recherche Teletekst
Name[fy]=Teletekst-sykmasine
Name[ga]=Cuardach Teletekst
Name[gl]=Fornecedor de procuras Teletekst
Name[gu]=ટેલેટક્સ્ટ સર્ચ પ્રોવાઇડર
Name[he]=חיפוש בטלטקסט
Name[hi]=टेलिटेक्स्ट खोज प्रदायक
Name[hr]=Davatelj usluge pretraživanja teleteksta
Name[hu]=Teletekst keresőszolgáltatás
Name[is]=Teletekst leitarvél
Name[it]=Motore di ricerca Teletekst
Name[ja]=Teletekst 検索プロバイダ
Name[ka]=Teletekst ძიების პროვაიდერი
Name[km]=ក្រុមហ៊ុន​ផ្ដល់​ការ​ស្វែងរក​របស់ Teletekst
Name[ko]=Teletekst 검색 공급자
Name[lt]=Teleteksto paieškos teikėjas
Name[lv]=Teleteksta meklēšanas sniedzējs
Name[mk]=Телетекст сервис за пребарување
Name[ms]=Penyedia Carian Teletekst 
Name[nb]=Søkemotor for teletekst
Name[nds]=In "Teletekst" söken (Nedderlannen)
Name[ne]=टेलिटेक्स्ट खोजी प्रदायक
Name[nl]=Teletekst-zoekmachine
Name[nn]=Søkjemotoren Teletekst
Name[pa]=ਟੇਲੇਟੇਕਸਟ ਖੋਜ ਪਰੋਵਾਇਡਰ
Name[pl]=Wyszukiwarka Teletekst
Name[pt]=Motor de Busca Teletekst
Name[pt_BR]=Provedor de Busca Teletekst
Name[ro]=Căutare Teletekst
Name[ru]=Поиск телетекста
Name[se]=Ohcanmotor Teletekst
Name[sk]=Poskytovateľ hľadania Teletekst
Name[sl]=Ponudnik iskanja po teletekstu
Name[sr]=Телетекст (Холандија)
Name[sr@latin]=Teletekst (Holandija)
Name[sv]=Teletekst söktjänst
Name[ta]=Teletekst தேடுதல் அளிப்பான்
Name[tg]=Ҷустуҷӯи матни телевизионӣ
Name[th]=ผู้ให้บริการการค้นหา Teleteskst
Name[tr]=Teletekst Arama Sağlayıcı
Name[uk]=Провайдер пошуку Teletekst
Name[uz]=Teletekstda qidirish
Name[uz@cyrillic]=Телетекстда қидириш
Name[vi]=Nhà cung cấp dịch vụ Tìm kiếm Teletekst
Name[wa]=Ahesseu d' cweraedje dins l' teletecse
Name[x-test]=xxTeletekst Search Providerxx
Name[zh_CN]=Teletekst 搜索提供者
Name[zh_TW]=Teletekst 搜尋提供者
Type=Service
X-KDE-ServiceTypes=SearchProvider
Keys=tt,teletekst
Query=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[x-test]=xxhttp://teletekst.nos.nl/gif/\\{@}-01.htmlxx
