[Desktop Entry]
Name=Telephonebook Search Provider
Type=Service
X-KDE-ServiceTypes=SearchProvider
Keys=telnl,telefoon
Query=http://www.detelefoongids.nl/tginl.dll?action=white&type=search&name=\\{1}&city=\\{2}
