[Desktop Entry]
Name=Telephonebook Search Provider
Name[af]=Telefoonbok soektog verskaffer
Name[be]=Пошук тэлефонаў
Name[ca]=Proveïdor de cerques a la guia de telèfons
Name[cs]=Poskytovatel prohledávání tel. seznamu
Name[csb]=Szëkôrz Telephonebook
Name[cy]= Darparydd Chwiliadau Llyfr Ffôn
Name[da]=Telefonbog-søgeudbyder
Name[de]=Telefonbuchsuche
Name[el]=Πάροχος αναζήτησης Telephonebook
Name[eo]=Telefonlibro-serĉprovizanto
Name[es]=Proveedor de búsqueda de teléfonos
Name[et]=Hollandi telefoniraamatu otsingumootor
Name[eu]=Telephonebook bilaketa hornitzailea
Name[fa]=فراهم‌کنندۀ جستجوی دفتر تلفن
Name[fi]=Puhelinluettelohaku
Name[fr]=Moteur de recherche Telephonebook
Name[fy]=Tillefoanboek-sykmasine
Name[gl]=Fornecedor de Procuras na Guia Telefónica
Name[he]=חיפוש בספר טלפונים
Name[hr]=Davatelj usluge pretraživanja imenika
Name[hu]=Telefonkönyv (NL)
Name[is]=Leitarvél fyrir símaskrár
Name[it]=Motore di ricerca per l'elenco telefonico
Name[ja]=Telephonebook 検索プロバイダ
Name[kk]=Телефон кітапшасын іздеу провайдері
Name[km]=ក្រុមហ៊ុន​ផ្ដល់​​ការ​​ស្វែងរក​សៀវភៅ​លេខ​ទូរស័ព្ទ
Name[ko]=전화번호부 검색 공급자
Name[lt]=Telefono knygų paieškos teikėjas
Name[lv]=Tālruņa katalogu meklēšanas sniedzējs
Name[mk]=Telephonebook сервис за пребарување
Name[ms]=Penyedia Carian Buku Telefon
Name[nb]=Søkemotor for telefonkataloger
Name[nds]=Nedderlannsch Telefoonbook
Name[ne]=टेलिफोन पुस्तिका खोजी प्रदायक
Name[nl]=Telefoonboek-zoekmachine
Name[nn]=Søkjemotor for telefonkatalog
Name[pa]=ਟੈਲੀਫੋਨ ਖੋਜ ਪੇਸ਼ਕਾਰ
Name[pl]=Wyszukiwarka Telephonebook
Name[pt]=Motor de Busca de Lista Telefónica
Name[pt_BR]=Provedor de Busca de Guia Telefônico
Name[ro]=Căutare în cartea de telefoane
Name[se]=Ohcanmotor telefonkatalogaid várás
Name[sl]=Ponudnik iskanja po telefonskem imeniku
Name[sr]=Телефонски именик (Холандија)
Name[sr@latin]=Telefonski imenik (Holandija)
Name[sv]=Söktjänst för telefonkatalog
Name[ta]=தொலைபேசிபுத்தக தேடுதலை அளிப்பான்
Name[tg]=Фароҳамкунандаи ҷустуҷӯи китобчаи рӯйхати телефонҳо
Name[th]=ผู้ให้บริการค้นหาสมุดโทรศัพท์
Name[tr]=Telefon Defteri Arama Sağlayıcı
Name[uk]=Провайдер пошуку Telephonebook
Name[uz]=Телефонлар дафтарида қидириш
Name[vi]=Nhà cung cấp dịch vụ Tìm kiếm qua Danh bạ điện thoại
Name[x-test]=xxTelephonebook Search Providerxx
Name[zh_CN]=Telephonebook 搜索提供者
Name[zh_TW]=電話號碼簿搜尋提供者
Type=Service
X-KDE-ServiceTypes=SearchProvider
Keys=telnl,telefoon
Query=http://www.detelefoongids.nl/tginl.dll?action=white&type=search&name=\\{1}&city=\\{2}
Query[x-test]=xxhttp://www.detelefoongids.nl/tginl.dll?action=white&type=search&name=\\{1}&city=\\{2}xx
