[Desktop Entry]
Name=Telephonebook Search Provider
Name[af]=Telefoonbok soektog verskaffer
Name[ar]=البحث عن مزود دليل تلفونات
Name[be]=Пошук тэлефонаў
Name[be@latin]=Pošuk telefonaŭ
Name[bg]=Търсене в телефонен указател
Name[bn]=টেলিফোন-বুক অনুসন্ধান সরবরাহকারী
Name[bn_IN]=টেলিফোন-বুক অনুসন্ধান সরবরাহকারী
Name[ca]=Proveïdor de cerques a la guia de telèfons
Name[ca@valencia]=Proveïdor de cerques a la guia de telèfons
Name[cs]=Poskytovatel prohledávání tel. seznamu
Name[csb]=Szëkôrz Telephonebook
Name[cy]= Darparydd Chwiliadau Llyfr Ffôn
Name[da]=Telefonbog-søgeudbyder
Name[de]=Telefonbuchsuche
Name[el]=Πάροχος αναζήτησης Telephonebook
Name[eo]=Telefonlibro-serĉprovizanto
Name[es]=Proveedor de búsqueda de teléfonos
Name[et]=Hollandi telefoniraamatu otsingumootor
Name[eu]=Telephonebook bilaketa hornitzailea
Name[fa]=فراهم‌کنندۀ جستجوی دفتر تلفن
Name[fi]=Puhelinluettelohaku
Name[fr]=Moteur de recherche Telephonebook
Name[fy]=Tillefoanboek-sykmasine
Name[ga]=Cuardach sa Leabhar Teileafóin
Name[gl]=Fornecedor de procuras na guía telefónica
Name[gu]=ટેલ્ફોનબુક સર્ચ પ્રોવાઇડર
Name[he]=חיפוש בספר טלפונים
Name[hi]=टेलिफोनबुक खोज प्रदायक
Name[hne]=टेलिफोनबुक खोज देवइया
Name[hr]=Davatelj usluge pretraživanja imenika
Name[hsb]=Prowider za pytanje w telefonskich knihach
Name[hu]=Telefonkönyv (NL)
Name[is]=Leitarvél fyrir símaskrár
Name[it]=Motore di ricerca per l'elenco telefonico
Name[ja]=Telephonebook 検索プロバイダ
Name[kk]=Телефон кітапшасын іздеу провайдері
Name[km]=ក្រុមហ៊ុន​ផ្ដល់​​ការ​​ស្វែងរក​សៀវភៅ​លេខ​ទូរស័ព្ទ
Name[kn]=ದೂರವಾಣಿ ಪುಸ್ತಕ ಹುಡುಕಾಟ ಪೂರೈಕೆದಾರ
Name[ko]=전화번호부 검색 공급자
Name[ku]=Peydakera Lêgerîna LênûskaTelefonê
Name[lt]=Telefono knygų paieškos teikėjas
Name[lv]=Tālruņa katalogu meklēšanas sniedzējs
Name[mai]=टेलिफोनबुक खोज प्रदायक
Name[mk]=Telephonebook сервис за пребарување
Name[ml]=ടെലിഫോണ്‍ബുക്ക് തെരച്ചില്‍ സേവനദാതാവു്
Name[mr]=टेलिफोनबुक शोध पुरवठाकर्ता
Name[ms]=Penyedia Carian Buku Telefon
Name[nb]=Søkemotor for telefonkataloger
Name[nds]=Nedderlannsch Telefoonbook
Name[ne]=टेलिफोन पुस्तिका खोजी प्रदायक
Name[nl]=Telefoonboek-zoekmachine
Name[nn]=Søkjemotor for telefonkatalog
Name[pa]=ਟੈਲੀਫੋਨ ਖੋਜ ਪਰੋਵਾਇਡਰ
Name[pl]=Wyszukiwarka Telephonebook
Name[pt]=Motor de Busca de Lista Telefónica
Name[pt_BR]=Provedor de busca de guia telefônico
Name[ro]=Căutare în cartea de telefoane
Name[se]=Ohcanmotor telefonkatalogaid várás
Name[sk]=Hľadanie v telefónnom zozname
Name[sl]=Ponudnik iskanja po telefonskem imeniku
Name[sr]=Телефонски именик (Холандија)
Name[sr@latin]=Telefonski imenik (Holandija)
Name[sv]=Söktjänst för telefonkatalog
Name[ta]=தொலைபேசிபுத்தக தேடுதலை அளிப்பான்
Name[te]=టెలిఫోన్‌బుక్ శోధన కర్త
Name[th]=ผู้ให้บริการค้นหาสมุดโทรศัพท์
Name[tr]=Telefon Defteri Arama Sağlayıcı
Name[uk]=Провайдер пошуку Telephonebook
Name[uz]=Telefonlar daftarida qidirish
Name[uz@cyrillic]=Телефонлар дафтарида қидириш
Name[vi]=Nhà cung cấp dịch vụ Tìm kiếm qua Danh bạ điện thoại
Name[wa]=Ahesseu d' cweraedje dins bultin telefonike
Name[x-test]=xxTelephonebook Search Providerxx
Name[zh_CN]=Telephonebook 搜索提供者
Name[zh_TW]=電話號碼簿搜尋提供者
Type=Service
X-KDE-ServiceTypes=SearchProvider
Keys=telnl,telefoon
Query=http://www.detelefoongids.nl/tginl.dll?action=white&type=search&name=\\{1}&city=\\{2}
Query[x-test]=xxhttp://www.detelefoongids.nl/tginl.dll?action=white&type=search&name=\\{1}&city=\\{2}xx
