[Desktop Entry]
Charset=
Hidden=false
Keys=qt
Name=Latest Qt Online Documentation
Name[af]=Nuutste Qt Aanlyn Dokumentasie
Name[be]=Найноўшая дакументацыя па Qt
Name[ca]=L'última documentació en línia de Qt
Name[cs]=Nejnovější online dokumentace Qt
Name[csb]=Slédnô dokùmentacëjô Qt
Name[cy]=Dogfennaeth Diweddar QT Online
Name[da]=Nyeste Qt online-dokumentation
Name[de]=Aktuelle Qt-Online-Dokumentation
Name[el]=Τελευταία τεκμηρίωση του Qt στο διαδίκτυο
Name[eo]=La plej aktuala reta QT Dokumentaro
Name[es]=Ultima documentación Qt en línea
Name[et]=Qt uusim dokumentatsioon võrgus
Name[eu]=Azken Qt lineako dokumentazioa
Name[fa]=آخرین مستندات برخط Qt
Name[fi]=Uusin Qt-dokumentaatio
Name[fr]=La dernière documentation en ligne de Qt
Name[fy]=Nijste Qt Online-dokumintaasje
Name[ga]=Doiciméadú Ar Líne Is Déanaí Qt4
Name[gl]=Última Documentación en Liña de Qt
Name[he]=התיעוד המקוון העדכני ביותר של Qt
Name[hr]=Najnovija Qt dokumentacija na Internetu
Name[hu]=A legfrissebb Qt online dokumentáció
Name[is]=Nýjustu Qt handbækurnar
Name[it]=Ultima documentazione online delle Qt
Name[ja]=Qt 最新オンラインドキュメント
Name[kk]=Qt-ның ең жаңа желідегі құжаттамасы
Name[km]=ឯកសារ​ថ្មី​បំផុត​លើ​បណ្ដាញ​របស់ Qt
Name[lt]=Naujausia Qt dokumentacija tinkle
Name[lv]=Jaunākā Qt Dokumentācija
Name[mk]=Последната Qt-документација на мрежа
Name[ms]=Dokumentasi Dalam Talian Kuantiti Terakhir
Name[nb]=Nyeste QT-dokumentasjon på nett
Name[nds]=Niegst Online-Dokmentatschoon vun Qt
Name[ne]=नवीनतम Qt अनलाइन मिसिलीकरण
Name[nl]=Nieuwste Qt Online-documentatie
Name[nn]=Nyaste QT-dokumentasjon på nett
Name[pa]=ਤਾਜ਼ਾ Qt ਆਨਲਾਈਨ ਦਸਤਾਵੇਜ਼
Name[pl]=Najnowsza dokumentacja Qt
Name[pt]=Última Documentação 'Online' do Qt
Name[pt_BR]=Documentação On-line Recente Sobre o Qt
Name[ro]=Documentaţia Qt on-line
Name[ru]=Наиболее свежая онлайн-документация Qt
Name[se]=Ođđamus Qt-dokumentašuvdna fierpmádagas
Name[sl]=Najnovejša spletna dokumentacija za Qt
Name[sr]=Најновија документација Qt-а на вези
Name[sr@latin]=Najnovija dokumentacija Qt-a na vezi
Name[sv]=Senaste Qt-direktdokumentation
Name[ta]=புதிய க்யூ டீ இணை ஆவணப்பதிவு
Name[tg]=Ҷадидтарин мустанадҳои рӯи хати Qt 
Name[th]=เอกสารออนไลน์ล่าสุดเกี่ยวกับ Qt
Name[tr]=Güncel Qt Dökümantasyonu
Name[uk]=Остання документація Qt онлайн
Name[uz]=Qt учун кўлланма
Name[vi]=Tài liệu Trực tuyến Mới nhất của Qt
Name[wa]=Documintåcion di Qt so les fyis
Name[x-test]=xxLatest Qt Online Documentationxx
Name[zh_TW]=最新的 Qt 線上文件
Query=http://doc.trolltech.com/latest/\\{@}.html
Query[bg]=Query=http://doc.trolltech.com/latest/\\{@}.html
Query[x-test]=xxhttp://doc.trolltech.com/latest/\\{@}.htmlxx
ServiceTypes=SearchProvider
Type=Service
