[Desktop Entry]
Charset=
Hidden=false
Keys=qt
Name=Latest Qt Online Documentation
Query=http://doc.qt.nokia.com/latest/\\{@}.html
X-KDE-ServiceTypes=SearchProvider
Type=Service
