[Desktop Entry]
Charset=
Hidden=false
Keys=qt3
Name=Qt3 Online Documentation
Name[af]=Qt3 Aanlyn Dokumentasie
Name[ar]=توثيق Qt3 على الخط
Name[be]=Дакументацыя Qt3
Name[bn]=কিউ-টি-৩ অনলাইন ডকুমেন্টেশন
Name[br]=Teuliadur Qt3 enlinenn
Name[bs]=Qt3 online dokumentacija
Name[ca]=Documentació en línia de Qt3
Name[cs]=Online dokumentace Qt3
Name[csb]=Dokùmentacëjô online Qt3
Name[da]=Qt3 online-dokumentation
Name[de]=Online-Dokumentation zu Qt3
Name[el]=Τεκμηρίωση του Qt3 στο διαδίκτυο
Name[eo]=Reta QT Dokumentaro
Name[es]=Documentación Qt3 en línea
Name[et]=Qt3 dokumentatsioon võrgus
Name[eu]=Qt3 lineako dokumentazioa
Name[fa]=مستندات برخط Qt3
Name[fi]=QT3:n verkkodokumentaatio
Name[fr]=Documentation en ligne de Qt
Name[fy]=Qt3 online dokumintaasje
Name[ga]=Doiciméadú Ar Líne Qt3
Name[gl]=Documentación en Liña de Qt3
Name[he]=תיעוד מקוון מעודכן של Qt3
Name[hr]=Qt dokumentacija na Internetu
Name[hu]=Qt3 online dokumentáció
Name[id]=Dokumentasi Online Qt3
Name[is]=Qt handbækur á Netinu
Name[it]=Documentazione online delle Qt3
Name[ja]=Qt3 オンラインドキュメント
Name[kk]=Qt3 желідегі құжаттамасы
Name[km]=ឯកសារ​ថ្មី​បំផុត​លើ​បណ្ដាញ​របស់ Qt3
Name[lt]=Qt3 dokumentacija internete
Name[mk]=Документација за Qt3 на мрежа
Name[ms]=Dokumentasi Dalam Talian Qt3
Name[nb]=QT3-dokumentasjon på nett
Name[nds]=Qt3-Online-Dokmentatschoon
Name[ne]=Qt3 अनलाइन मिसिलीकरण
Name[nl]=Qt3 online documentatie
Name[nn]=QT3-dokumentasjon på nett
Name[pa]=Qt3 ਆਨਲਾਇਨ ਦਸਤਾਵੇਜ਼
Name[pl]=Dokumentacja Qt3 w sieci
Name[pt]=Documentação 'Online' do Qt3
Name[pt_BR]=Documentação on-line da Qt3
Name[ro]=Documentația Qt online
Name[ru]=Документация Qt3
Name[se]=Qt3-dokumentašuvdna fierpmádagas
Name[sk]=Qt3 online dokumentácia
Name[sl]=Spletna dokumentacija za Qt3
Name[sr]=Документација на вези за Qt3
Name[sr@Latn]=Dokumentacija na vezi za Qt3
Name[sv]=Qt3-direktdokumentation
Name[tg]=Мустанадҳои шабакаи локалии Qt3 
Name[th]=เอกสารออนไลน์เกี่ยวกับ Qt3
Name[tr]=Qt3 Çevrimiçi Dökümantasyonu
Name[uk]=Документація Qt3
Name[uz]=Qt3 учун кўлланма
Name[vi]=Tài liệu Trực tuyến của Qt3
Name[wa]=Documintåcion di Qt3 so les fyis
Name[zh_CN]=Qt3 在线文档
Name[zh_TW]=Qt3 線上文件
Query=http://doc.trolltech.com/3.3/\\{@}.html
ServiceTypes=SearchProvider
Type=Service
