[Desktop Entry]
Charset=
Hidden=false
Keys=qt3
Name=Qt3 Online Documentation
Name[af]=Qt3 Aanlyn Dokumentasie
Name[ar]=وثائق Qt3 المباشرة
Name[be@latin]=Dakumentacyja dla „Qt3”
Name[bg]=Документация за Qt3
Name[bn]=কিউ-টি-৩ অনলাইন ডকুমেন্টেশন
Name[bn_IN]=Qt3 সংক্রান্ত অন-লাইন নথিপত্র
Name[br]=Teuliadur Qt3 enlinenn
Name[ca]=Documentació en línia de Qt3
Name[cs]=Online dokumentace Qt3
Name[csb]=Dokùmentacëjô Qt3
Name[da]=Qt3 onlinedokumentation
Name[de]=Qt3-Online-Dokumentation
Name[el]=Δικτυακή τεκμηρίωση του Qt3 στο διαδίκτυο
Name[eo]=La plej aktuala reta QT3 dokumentaro
Name[es]=Documentación Qt en línea
Name[et]=Qt3 dokumentatsioon võrgus
Name[eu]=Qt3 lineako dokumentazioa
Name[fi]=Qt3-dokumentaatio
Name[fr]=Documentation en ligne de Qt3
Name[fy]=Qt3 Online-dokumintaasje
Name[ga]=Doiciméadú Ar Líne Qt3
Name[gl]=Documentación en liña de Qt3
Name[gu]=Qt3 ઓનલાઇન દસ્તાવેજ
Name[he]=התיעוד המקוון של Qt3
Name[hi]=क्यूटी3 आनलाइन दस्तावेज़
Name[hr]=Qt dokumentacija na Internetu
Name[hsb]=Online-dokumentacija za Qt3
Name[hu]=Qt3 webes dokumentáció
Name[is]=Qt3 vefhandbækurnar
Name[it]=Documentazione online delle librerie Qt3
Name[ja]=Qt3 オンラインドキュメント
Name[ka]=Qt3 ინტერნეტ დოკუმენტაცია
Name[kk]=Qt3-тың ең жаңа желідегі құжаттамасы
Name[km]=ឯកសារ​លើ​បណ្ដាញ Qt3
Name[kn]=ಕ್ಯೂಟಿ ೩ ಜಾಲಲಭ್ಯ ದಸ್ತಾವೇಜೀಕರಣ
Name[ko]=Qt3 온라인 문서
Name[ku]=Belgekirinên Girêdayî ên Qt
Name[lt]=Qt3 dokumentacija internete
Name[lv]=Qt3 dokumentācija tīmeklī
Name[mk]=Документација за Qt3 на мрежа
Name[ml]=ക്യട്ടി3-നു് ഓണ്‍ലൈനായുള്ള സഹായക്കുറിപ്പുകള്‍
Name[mr]=Qt3 ऑनलाइन दस्तऐवज
Name[ms]=Dokumentasi Dalam Talian Qt3
Name[nb]=Nyeste QT-dokumentasjon på nett
Name[nds]=Qt3-Dokmentatschoon in't Nett
Name[nl]=Online-documentatie van Qt3
Name[nn]=Qt3-dokumentasjon på nett
Name[pa]=Qt ਆਨਲਾਈਨ ਡੌਕੂਮੈਂਟ
Name[pl]=Dokumentacja Qt3
Name[pt]=Documentação 'Online' do Qt3
Name[pt_BR]=Documentação on-line do Qt3
Name[ro]=Documentația Qt online
Name[ru]=Документация Qt3
Name[sk]=Qt3 online dokumentácia
Name[sl]=Spletna dokumentacija za Qt 3
Name[sr]=Документација КуТ‑а 3 на вези
Name[sr@latin]=Dokumentacija Qt‑a 3 na vezi
Name[sv]=Senaste Qt-direktdokumentation
Name[ta]=Qt3 இணைய ஆவணம்
Name[te]=Qt3 ఆన్‌లైన్ పత్రికీకరణ
Name[tg]=Ҳуҷҷатҳои Qt3
Name[th]=เอกสารออนไลน์ล่าสุดของ Qt3
Name[tr]=Qt3 Çevrimiçi Dokümantasyonu
Name[uk]=Документація Qt3 онлайн
Name[uz]=Qt3 uchun koʻllanma
Name[uz@cyrillic]=Qt3 учун кўлланма
Name[wa]=Documintåcion di Qt3 so les fyis
Name[x-test]=xxQt3 Online Documentationxx
Name[zh_CN]=Qt3 在线文档
Name[zh_TW]=Qt3 線上文件
Query=http://doc.trolltech.com/3.3/\\{@}.html
Query[nb]=http://doc.trolltech.com/latest/\\{@}.html
Query[x-test]=xxhttp://doc.trolltech.com/3.3/\\{@}.htmlxx
ServiceTypes=SearchProvider
Type=Service
