[Desktop Entry]
Charset=
Hidden=false
Keys=qt3
Name=Qt3 Online Documentation
Name[af]=Qt3 Aanlyn Dokumentasie
Name[bn]=কিউ-টি-৩ অনলাইন ডকুমেন্টেশন
Name[br]=Teuliadur Qt3 enlinenn
Name[el]=Δικτυακή τεκμηρίωση του Qt3 στο διαδίκτυο
Name[et]=Qt3 dokumentatsioon võrgus
Name[ga]=Doiciméadú Ar Líne Qt3
Name[hr]=Qt dokumentacija na Internetu
Name[hu]=Qt3 dokumentáció (webes)
Name[ja]=Qt3 オンラインドキュメント
Name[ka]=Qt3 ინტერნეტ დოკუმენტაცია
Name[km]=ឯកសារ​លើ​បណ្ដាញ Qt3
Name[ko]=Qt3 온라인 문서
Name[lt]=Qt3 dokumentacija internete
Name[mk]=Документација за Qt3 на мрежа
Name[ms]=Dokumentasi Dalam Talian Qt3
Name[nds]=Qt3-Dokmentatschoon in't Nett
Name[ro]=Documentaţia Qt online
Name[ru]=Документация Qt3
Name[sk]=Qt3 online dokumentácia
Name[sl]=Spletna dokumentacija za Qt 3
Name[sr]=Документација КуТ‑а 3 на вези
Name[sr@latin]=Dokumentacija Qt‑a 3 na vezi
Name[sv]=Senaste Qt-direktdokumentation
Name[tr]=Qt3 Çevrimiçi Dokümantasyonu
Name[uz]=Qt3 учун кўлланма
Name[zh_CN]=Qt3 在线文档
Name[zh_TW]=Qt3 線上文件
Query=http://doc.trolltech.com/3.3/\\{@}.html
Query[hu]=http://doc.trolltech.com/latest/\\{@}.html
ServiceTypes=SearchProvider
Type=Service
