[Desktop Entry]
Type=Service
Name=Qt4 Documentation
Name[cs]=Qt4 Documentation
Name[de]=Qt4-Dokumentation
Name[es]=Documentación de Qt4
Name[fi]=Qt4-dokumentaatio
Name[ia]=Documentation de Qt4
Name[is]=Qt4 handbækur
Name[nl]=Qt4-documentatie
Name[pt]=Documentação do Qt4
Name[pt_BR]=Documentação do Qt4
Name[ru]=Документация по Qt4
Name[sk]=Dokumentácia Qt4
Name[sr]=Документација КуТ‑а 4
Name[sr@ijekavian]=Документација КуТ‑а 4
Name[sr@ijekavianlatin]=Dokumentacija Qt‑a 4
Name[sr@latin]=Dokumentacija Qt‑a 4
Name[sv]=Qt4-dokumentation
Name[uk]=Документація з Qt4
Name[x-test]=xxQt4 Documentationxx
Name[zh_TW]=Qt4 文件
X-KDE-ServiceTypes=SearchProvider
Keys=qt4
Query=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[cs]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[de]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[es]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[fi]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[ia]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[is]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[nl]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[pt]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[pt_BR]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[ru]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[sk]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[sr]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[sr@ijekavian]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[sr@ijekavianlatin]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[sr@latin]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[sv]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[uk]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[x-test]=xxhttp://qt-project.org/doc/search/qt-4.8?search=\\{@}xx
Query[zh_TW]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
