[Desktop Entry]
Charset=
Hidden=false
Keys=rae
Name=Dictionary of the Spanish Academy (RAE)
Query=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
X-KDE-ServiceTypes=SearchProvider
Type=Service
