[Desktop Entry]
Charset=
Hidden=false
Keys=rae
Name=Dictionary of the Spanish Academy (RAE)
Name[af]=Woordeboek van die Spaanse Akademie (RAE)
Name[ar]=قاموس الأكاديمية الأسبانية (RAE)
Name[as]=Spanish Academy (RAE) ৰ অভিধান
Name[be]=Слоўнік Іспанскай акадэміі (RAE)
Name[be@latin]=Słoŭnik Hišpanskaj Akademii (RAE)
Name[bg]=Речник на испанската академия (RAE)
Name[bn]=স্প্যানিশ অ্যাকাডেমীর অভিধান (RAE)
Name[bn_IN]=স্প্যানিশ আকাডেমির অভিধান (RAE)
Name[br]=Geriaoueg akadamiezh spaniolek (RAE)
Name[ca]=Diccionari de l'Acadèmia Espanyola (RAE)
Name[ca@valencia]=Diccionari de l'Acadèmia Espanyola (RAE)
Name[cs]=Slovník Špenělské akademie
Name[csb]=Słowôrz Szpańsczi Akademijë (RAE)
Name[cy]=Geiriadur yr Academi Sbaeneg (RAE)
Name[da]=Ordbog fra det spanske akademi (RAE)
Name[de]=Lexikon der spanischen Akademie (RAE)
Name[el]=Λεξικό της ισπανικής ακαδημίας (RAE)
Name[en_GB]=Dictionary of the Spanish Academy (RAE)
Name[eo]=Vortaro de la Reĝa Akademio Hispana
Name[es]=Diccionario de la Real Academia de la Lengua Española (RAE)
Name[et]=Hispaania akadeemia (RAE) sõnaraamat
Name[eu]=Gazteleraren Akademiaren hiztegia (RAE)
Name[fa]=واژه‌نامۀ فرهنگستان اسپانیایی (RAE)
Name[fi]=Espanjan Akatemian sanakirja (RAE)
Name[fr]=Dictionnaire de l'Académie Espagnole (RAE)
Name[fy]=Wurdboek fan de Spaanske akademy (RAE)
Name[ga]=Diccionario de la lengua española (RAE)
Name[gl]=Dicionario da real academia española (RAE)
Name[gu]=સ્પેનિશ એકેદમીની ડિક્શનેરી (RAE)
Name[he]=מילון האקדמיה הספרדית (RAE)
Name[hi]=स्पेनी अकादमी का शब्दकोश(RAE)
Name[hne]=स्पेनी अकादमी के सब्दकोस(RAE)
Name[hr]=Rječnik španjolske akademije (RAE)
Name[hsb]=Słownik španiskeje akademije (RAE)
Name[hu]=A Spanyol Akadémia címjegyzéke (RAE)
Name[id]=Kamus Akademi Bahasa Spanyol (RAE)
Name[is]=Orðabók spönsku akademíunnar (RAE)
Name[it]=Dizionario dell'Accademia Spagnola (RAE)
Name[ja]=スペイン大学辞書
Name[kk]=Испан Академиясының сөздігі (RAE)
Name[km]=វចនានុក្រម​របស់ Spanish Academy (RAE)
Name[kn]=ಸ್ಪಾನಿಷ್ ಅಧ್ಯಯನ ಕೇಂದ್ರದ (ಅಕಾಡಮಿ) (RAE) ಶಬ್ದಕೋಶ
Name[ko]=스페인 아카데미 사전 (RAE)
Name[ku]=Ferhenga Akademiya Spanyolî (RAE)
Name[lt]=Ispanijos akademijos (RAE) žodynas
Name[lv]=Spāņu akadēmijas (RAE) vārdnīca
Name[mai]=स्पेनी अकादमी क' शब्दकोश(RAE)
Name[mk]=Речник на Шпанската академија (RAE)
Name[ml]=സ്പാനിഷ് അക്കാദമിയുടെ (RAE) നിഘണ്ടു
Name[mr]=स्पॅनीश अकादमी चा शब्दकोश (RAE)
Name[ms]=Kamus Akademi Bahasa Sepanyol (RAE)
Name[nb]=Ordboka til det spanske akademiet (RAE)
Name[nds]=Nakieksel vun de Spaansche Akademie (RAE)
Name[ne]=स्प्यानिश प्रतिष्ठानको शब्दकोश (RAE)
Name[nl]=Woordenboek van de Spaanse academie (RAE)
Name[nn]=Ordboka til det spanske akademiet (RAE)
Name[or]=ସ୍ପେନିସ ଏକାଡ଼େମିର ଅଭିଧାନ (RAE)
Name[pa]=ਸਪੇਨੀ ਐਕਡਮੀ ਦਾ ਡਿਕਸ਼ਨਰੀ (RAE)
Name[pl]=Słownik Akademii Hiszpańskiej (RAE)
Name[pt]=Dicionário da Academia Espanhola (RAE)
Name[pt_BR]=Dicionário da Academia Espanhola (RAE)
Name[ro]=Dicționarul Academiei Spaniole (RAE)
Name[ru]=Словарь Испанской Академии (RAE)
Name[se]=Spanialaš akademiija sátnegirji (RAE)
Name[si]=ස්පාඤ්ඤ ඇකඩමියේ (RAE) ශබ්ද කෝශය
Name[sk]=Slovník Španielskej akadémie (RAE)
Name[sl]=Slovar Španske akademije (RAE)
Name[sr]=Речник Шпанске академије (РАЕ)
Name[sr@ijekavian]=Рјечник Шпанске академије (РАЕ)
Name[sr@ijekavianlatin]=Rječnik Španske akademije (RAE)
Name[sr@latin]=Rečnik Španske akademije (RAE)
Name[sv]=Spanska akademins ordbok (RAE)
Name[ta]= ஸ்பெனிஷ் அகேடமியின் அகராதி(RAE)
Name[te]=స్పానిష్ అకాడమి (RAE) యొక్క పదకోశం
Name[tg]=Словарь Испанской Академии (RAE)
Name[th]=พจนานุกรมของ Spanish Academy (RAE)
Name[tr]=İspanyol Akademisinin Sözlüğü (RAE)
Name[uk]=Словник іспанської академії (RAE)
Name[uz]=Ispan akademiyasining (RAE) lugʻati
Name[uz@cyrillic]=Испан академиясининг (RAE) луғати
Name[vi]=Từ điển của Viện hàn lâm Tây Ban Nha (RAE)
Name[wa]=Diccionaire del Royåle Academeye Espagnole (RAE)
Name[x-test]=xxDictionary of the Spanish Academy (RAE)xx
Name[zh_CN]=西班牙学院的字典(RAE)
Name[zh_TW]=西班牙金像獎字典 (RAE)
Query=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[af]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ar]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[as]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[be]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[be@latin]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[bg]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[bn]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[bn_IN]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[br]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ca]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ca@valencia]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[cs]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[csb]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[da]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[de]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[el]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[en_GB]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[eo]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[es]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[et]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[eu]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[fi]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[fr]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[fy]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ga]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[gl]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[gu]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[he]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[hi]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[hne]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[hr]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[hsb]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[hu]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[id]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[is]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[it]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ja]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ka]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[kk]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[km]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[kn]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ko]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ku]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[lt]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[lv]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[mai]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ml]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[mr]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ms]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[nb]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[nds]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ne]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[nl]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[nn]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[oc]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[or]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[pa]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[pl]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[pt]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[pt_BR]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ro]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ru]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[se]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[si]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[sk]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[sl]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[sr]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[sr@ijekavian]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[sr@ijekavianlatin]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[sr@latin]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[sv]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[ta]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[te]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[tg]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[th]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[tr]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[uk]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[uz]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[uz@cyrillic]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[vi]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[wa]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[x-test]=xxhttp://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliadoxx
Query[zh_CN]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
Query[zh_TW]=http://buscon.rae.es/draeI/SrvltGUIBusUsual?TIPO_HTML=2&LEMA=\\{@}&FORMATO=ampliado
X-KDE-ServiceTypes=SearchProvider
Type=Service
