[Desktop Entry]
Charset=
Hidden=false
Keys=rag
Name=Dictionary of the Galician Academy (RAG)
Name[nl]=Woordenboek van de Gallische Academie (RAE)
Name[uk]=Словник галісійської академії (RAG)
Name[x-test]=xxDictionary of the Galician Academy (RAG)xx
Query=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[nl]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[uk]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[x-test]=xxhttp://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
