[Desktop Entry]
Charset=
Hidden=false
Keys=rag
Name=Dictionary of the Galician Academy (RAG)
Name[cs]=Slovník Galicijské akademie (RAG)
Name[de]=Lexikon der galizischen Akademie (RAG)
Name[es]=Diccionario de la Real Academia Gallega (RAG)
Name[eu]=Galiziera Akademiaren Hiztegia (RAG)
Name[fi]=Galician Akatemian sanakirja (RAG)
Name[hu]=A Gall Akadémia címjegyzéke (RAG)
Name[ia]=Dictionario del Academia Galician (RAG)
Name[nl]=Woordenboek van de Gallische Academie (RAE)
Name[pt]=Dicionário da Academia Galega (RAG)
Name[pt_BR]=Dicionário da Academia Galega (RAG)
Name[sk]=Slovník Galícijskej akadémie (RAG)
Name[sl]=Slovar Galicijske akademije (RAG)
Name[sv]=Galiciska akademins ordbok (RAG)
Name[ug]=گالىتسىيان تىلى ئاكادېمىيىسىنىڭ لۇغىتى(RAG)
Name[uk]=Словник галісійської академії (RAG)
Name[x-test]=xxDictionary of the Galician Academy (RAG)xx
Query=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[cs]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[de]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[es]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[eu]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[fi]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[hu]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ia]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[nl]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[pt]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[pt_BR]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sk]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sl]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sv]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ug]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[uk]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[x-test]=xxhttp://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
