[Desktop Entry]
Keys=rfc,rfcs
Name=IETF Requests for Comments
Name[af]=IETF Versoeke vir Kommentaar
Name[be]=Запыты каментараў IETF
Name[ca]=Requeriments per a comentaris de la IETF
Name[csb]=IETF - dokùmentë RFC (sztandardë ë protokòłë)
Name[cy]=Ceisiadau am Sylwadau IETF
Name[el]=IETF ερωτήσεις για σχόλια
Name[eo]=IETF-Komentodokumento (RFC)
Name[fa]=درخواست IETF برای توضیحات
Name[fi]=IETF-kommenttipyynnöt (RFC)
Name[fr]=RFC IETF
Name[ga]=Iarratais ar Thrácht IETF
Name[gl]=Petidos de comentarios da IETF
Name[hi]=IETF निवेदन, टिप्पणी के लिए
Name[hr]=IETF zahtjevi za komentarima
Name[hu]=IETF RFC-k (Request for Comments)
Name[is]=IETF Requests for Comments (RFC)
Name[it]=RFC di IETF
Name[kk]=IETF пайымдаманы сұрау (RFC)
Name[km]=សំណើ​សុំ​មតិ​យោបល់​តាម​រយៈ IETF
Name[ko]=IETF RFC
Name[lv]=IETF komentāru pieprasījumi (RFC)
Name[mk]=IETF Барања за коментари (rfc)
Name[ms]=Permintaan Komen IETF
Name[nds]=RFCs (IETF-"Requests for Comments")
Name[ne]=टिप्पणीका लागि IETF अनुरोध
Name[pa]=ਟਿੱਪਣੀ ਲਈ IETF ਬੇਨਤੀ
Name[pl]=IETF - dokumenty RFC (standardy i protokoły)
Name[pt]=Pedidos de Comentários do IETF
Name[pt_BR]=Requisições de Comentários IETF
Name[ro]=RFC-uri IETF
Name[ru]=Запросы для комментариев IETF (RFC)
Name[sl]=Zahteve IETF za komentarje
Name[sr]=ИЕТФ-ови захтеви за коментаре
Name[sr@latin]=IETF-ovi zahtevi za komentare
Name[ta]=IETF குறிப்புகளுக்கான வேண்டுதல்கள்
Name[tg]=Барои назри IETF-и дархост
Name[th]=การร้องขอ IETF สำหรับคำอธิบาย
Name[tr]=IETF Yorum istemleri
Name[uk]=Запит коментарів (RFC) IETF
Name[vi]=Yêu cầu Bình luận IETF
Name[wa]=Dimande di rawetes IETF
Name[x-test]=xxIETF Requests for Commentsxx
Name[xh]=Izicelo Zogqabazo ze IETF
Name[zh_CN]=IETF 评论请求
Name[zh_TW]=IETF RFC 文件
Query=http://www.ietf.org/rfc/rfc\\{@}.txt
Query[x-test]=xxhttp://www.ietf.org/rfc/rfc\\{@}.txtxx
X-KDE-ServiceTypes=SearchProvider
Type=Service
