[Desktop Entry]
Type=Service
Name=RPM-Find
Name[af]=RPM-Vind
Name[be]=Пошук RPM
Name[csb]=Rpmfind - szëkôrz paczétów RPM
Name[de]=RPM-Suche
Name[el]=RPM-Αναζήτηση
Name[eo]=RPM-trovilo
Name[fa]=یافتن RPM
Name[fi]=RPM-haku
Name[gu]=RPM-શોધ
Name[hi]=आरपीएम-फाइंड
Name[hr]=RPM traženje
Name[is]=RPM-leit
Name[ka]=RPM-პოვნა
Name[kk]=RPM-ды табу
Name[km]=រក RPM
Name[ko]=RPM 찾기
Name[lv]=RPM-Meklēšana
Name[mk]=RPM-барање
Name[ne]=RPM-फेला पार्नुहोस्
Name[pl]=Rpmfind - wyszukiwarka pakietów RPM
Name[ro]=Căutare pachete RPM
Name[ru]=Поиск RPM
Name[sr]=РПМ‑тражење
Name[sr@latin]=RPM‑traženje
Name[ta]=RPM-தேடு
Name[tg]=Ҷустуҷӯи RPM
Name[th]=บริการค้นหา RPM
Name[uz]=RPM qidirish
Name[uz@cyrillic]=RPM қидириш
Name[vi]=Tìm RPM
Name[x-test]=xxRPM-Findxx
Name[xh]=RPM-Fumana
X-KDE-ServiceTypes=SearchProvider
Keys=rf,rpmfind
Query=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[x-test]=xxhttp://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}xx
