[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Ruby Application Archive
Name[af]=Ruby Aansoek Argief
Name[ar]=أرشيف تطبيقات Ruby
Name[be]=Архіў праграмаў Ruby
Name[br]=Diell arloadoù Ruby
Name[ca]=Arxiu d'aplicacions Ruby
Name[cs]=Archív aplikací Ruby
Name[csb]=Ruby - archiwa programów
Name[cy]=Archif Cymhwysiadau Ruby
Name[da]=Ruby programarkiv
Name[el]=Αρχειοθήκη εφαρμογών Ruby
Name[eo]=Aplikaĵoaĥivo por "Ruby"
Name[es]=Archivo de aplicaciones en Ruby
Name[eu]=Ruby aplikazio fitxategia
Name[fa]=بایگانی کاربرد Ruby
Name[fi]=Ruby-sovelluspaketti
Name[fr]=Archive d'application Ruby
Name[fy]=Ruby programma-argyf
Name[ga]=Cartlann Feidhmchlár Ruby
Name[gl]=Arquivo de Aplicacións Ruby
Name[he]=מאגר יישומי Ruby
Name[hr]=Arhiva Ruby aplikacija
Name[hu]=Ruby alkalmazásarchívum
Name[it]=Archivio di applicazioni Ruby
Name[ja]=Ruby アプリケーションアーカイブ
Name[kk]=Ruby қолданбалар архиві
Name[km]=ប័ណ្ណសារ​កម្មវិធី Ruby
Name[lt]=Ruby taikomųjų programų archyvas
Name[lv]=Ruby Aplikāciju Arhīvs
Name[mk]=Архива со Ruby-апликации
Name[ms]=Arkib Aplikasi Ruby
Name[nb]=Ruby programarkiv
Name[nds]=Ruby-Programmarchiv
Name[ne]=रुबी अनुप्रयोग सङ्ग्रह
Name[nl]=Ruby programma-archief
Name[nn]=Ruby-programarkiv
Name[pa]=Ruby ਕਾਰਜ ਆਰਚੀਵ
Name[pl]=Ruby (język programowania) - programy
Name[pt_BR]=Arquivo de Aplicativos Ruby
Name[ro]=Arhiva de aplicaţii Ruby
Name[ru]=Архив приложений Ruby
Name[se]=Ruby-prográmmavuorká
Name[sl]=Arhiv programov Ruby
Name[sr]=Архива Ruby програма
Name[sr@latin]=Arhiva Ruby programa
Name[ta]=ரூபி பயன்பாட்டு களஞ்சியம்
Name[tg]=Архиви барномаи Ruby
Name[tr]=Ruby Uygulama Arşivi
Name[uz]=Ruby дастур архиви
Name[x-test]=xxRuby Application Archivexx
Name[xh]=Indawo ye Ruby yokugcina Isicelo
Name[zh_TW]=Ruby 應用程式檔案庫
ServiceTypes=SearchProvider
Keys=raa
Query=http://www.ruby-lang.org/en/raa-list.rhtml?name=\\{@}
Query[be]=http://raa.ruby-lang.org/search.rhtml?search=\\{@}
Query[csb]=http://raa.ruby-lang.org/search.rhtml?search=\\{@}
Query[x-test]=xxhttp://www.ruby-lang.org/en/raa-list.rhtml?name=\\{@}xx
