[Desktop Entry]
Type=Service
Name=Ruby Application Archive
Name[af]=Ruby Aansoek Argief
Name[be]=Архіў праграмаў Ruby
Name[bn]=রুবি  অ্যাপলিকেশন আর্কাইভ
Name[br]=Diell arloadoù Ruby
Name[ca]=Arxiu d'aplicacions Ruby
Name[cs]=Archív aplikací Ruby
Name[csb]=Ruby - archiwa programów
Name[cy]=Archif Cymhwysiadau Ruby
Name[da]=Ruby programarkiv
Name[el]=Αρχειοθήκη εφαρμογών Ruby
Name[eo]=Aplikaĵoarĥivo por "Ruby"
Name[es]=Archivo de aplicaciones en Ruby
Name[eu]=Ruby aplikazio fitxategia
Name[fa]=بایگانی کاربرد Ruby
Name[fi]=Ruby-sovellusarkisto
Name[fr]=Archive d'application Ruby
Name[fy]=Ruby programma-argyf
Name[ga]=Cartlann Feidhmchlár Ruby
Name[gl]=Arquivo de programas en Ruby
Name[gu]=રૂબી કાર્યક્રમ અર્કાઇવ
Name[he]=ארכיון תוכנות Ruby
Name[hi]=रूबी अनुप्रयोग आर्काइव
Name[hr]=Arhiva Ruby aplikacija
Name[hu]=Ruby alkalmazásarchívum
Name[it]=Archivio di applicazioni Ruby
Name[ja]=Ruby アプリケーションアーカイブ
Name[kk]=Ruby қолданбалар архиві
Name[km]=ប័ណ្ណសារ​កម្មវិធី​មគ្គុទ្ទេសក៍​សូរសព្ទ
Name[ko]=Ruby 프로그램 저장소
Name[lt]=Ruby taikomųjų programų archyvas
Name[lv]=Ruby aplikāciju arhīvs
Name[mk]=Архива со Ruby-апликации
Name[ms]=Arkib Aplikasi Ruby
Name[nb]=Ruby programarkiv
Name[nds]=Ruby-Programmarchiv
Name[ne]=रुबी अनुप्रयोग सङ्ग्रह
Name[nl]=Ruby programma-archief
Name[nn]=Ruby-programarkiv
Name[pa]=Ruby ਕਾਰਜ ਅਕਾਇਵ
Name[pl]=Ruby (język programowania) - programy
Name[pt]=Arquivo de Aplicações Ruby
Name[pt_BR]=Arquivo de Aplicativos Ruby
Name[ro]=Arhiva de aplicații Ruby
Name[ru]=Архив приложений Ruby
Name[se]=Ruby-prográmmavuorká
Name[sl]=Arhiv programov Ruby
Name[sr]=Архива рубијевских програма
Name[sr@latin]=Arhiva ruby programa
Name[ta]=ரூபி பயன்பாட்டு களஞ்சியம்
Name[tg]=Архиви барномаи Ruby
Name[th]=คลังแอพพลิเคชันภาษารูบี้
Name[tr]=Ruby Uygulama Arşivi
Name[uz]=Ruby дастур архиви
Name[vi]=Kho lưu Ứng dụng Ruby
Name[wa]=Årtchives di programes Ruby
Name[x-test]=xxRuby Application Archivexx
Name[xh]=Indawo ye Ruby yokugcina Isicelo
Name[zh_CN]=Ruby 应用程序档案
Name[zh_TW]=Ruby 應用程式檔案庫
X-KDE-ServiceTypes=SearchProvider
Keys=raa
Query=http://www.ruby-lang.org/en/raa-list.rhtml?name=\\{@}
Query[be]=http://raa.ruby-lang.org/search.rhtml?search=\\{@}
Query[bg]=http://raa.ruby-lang.org/search.rhtml?search=\\{@}
Query[csb]=http://raa.ruby-lang.org/search.rhtml?search=\\{@}
Query[eo]=http://raa.ruby-lang.org/en/raa-list.rhtml?name=\\{@}
Query[x-test]=xxhttp://www.ruby-lang.org/en/raa-list.rhtml?name=\\{@}xx
