[Desktop Entry]
Charset=
Hidden=false
Keys=vimeo,vm
Name=Vimeo
Name[ia]=Vimeo
Name[is]=Vimeo
Name[km]=Vimeo
Name[pt]=Vimeo
Name[sv]=Vimeo
Name[uk]=Vimeo
Name[x-test]=xxVimeoxx
Name[zh_TW]=Vimeo
Query=http://vimeo.com/videos/search:\\{@}
Query[ia]=http://vimeo.com/videos/search:\\{@}
Query[is]=http://vimeo.com/videos/search:\\{@}
Query[km]=http://vimeo.com/videos/search:\\{@}
Query[nds]=http://vimeo.com/videos/search:\\{@}
Query[pt]=http://vimeo.com/videos/search:\\{@}
Query[sv]=http://vimeo.com/videos/search:\\{@}
Query[uk]=http://vimeo.com/videos/search:\\{@}
Query[x-test]=xxhttp://vimeo.com/videos/search:\\{@}xx
Query[zh_TW]=http://vimeo.com/videos/search:\\{@}
ServiceTypes=SearchProvider
Type=Service
