[Desktop Entry]
Charset=
Hidden=false
Keys=vimeo,vm
Name=Vimeo
Name[x-test]=xxVimeoxx
Query=http://vimeo.com/videos/search:\\{@}
Query[x-test]=xxhttp://vimeo.com/videos/search:\\{@}xx
ServiceTypes=SearchProvider
Type=Service
