[Desktop Entry]
Charset=
Hidden=false
Keys=vimeo,vm
Name=Vimeo
Name[cs]=Vimeo
Name[de]=Vimeo
Name[en_GB]=Vimeo
Name[es]=Vimeo
Name[ia]=Vimeo
Name[id]=Vimeo
Name[is]=Vimeo
Name[ja]=Vimeo
Name[kk]=Vimeo
Name[km]=Vimeo
Name[lt]=Vimeo
Name[nds]=Vimeo
Name[nl]=Vimeo
Name[pt]=Vimeo
Name[pt_BR]=Vimeo
Name[sv]=Vimeo
Name[th]=Vimeo
Name[uk]=Vimeo
Name[x-test]=xxVimeoxx
Name[zh_TW]=Vimeo
Query=http://vimeo.com/videos/search:\\{@}
Query[cs]=http://vimeo.com/videos/search:\\{@}
Query[de]=http://vimeo.com/videos/search:\\{@}
Query[en_GB]=http://vimeo.com/videos/search:\\{@}
Query[es]=http://vimeo.com/videos/search:\\{@}
Query[ia]=http://vimeo.com/videos/search:\\{@}
Query[id]=http://vimeo.com/videos/search:\\{@}
Query[is]=http://vimeo.com/videos/search:\\{@}
Query[ja]=http://vimeo.com/videos/search:\\{@}
Query[kk]=http://vimeo.com/videos/search:\\{@}
Query[km]=http://vimeo.com/videos/search:\\{@}
Query[lt]=http://vimeo.com/videos/search:\\{@}
Query[nds]=http://vimeo.com/videos/search:\\{@}
Query[nl]=http://vimeo.com/videos/search:\\{@}
Query[pt]=http://vimeo.com/videos/search:\\{@}
Query[pt_BR]=http://vimeo.com/videos/search:\\{@}
Query[sv]=http://vimeo.com/videos/search:\\{@}
Query[th]=http://vimeo.com/videos/search:\\{@}
Query[uk]=http://vimeo.com/videos/search:\\{@}
Query[x-test]=xxhttp://vimeo.com/videos/search:\\{@}xx
Query[zh_TW]=http://vimeo.com/videos/search:\\{@}
ServiceTypes=SearchProvider
Type=Service
