[Desktop Entry]
Charset=
Hidden=false
Keys=wikia,wka
Name=Wikia
Name[cs]=Wikia
Name[de]=Wikia
Name[en_GB]=Wikia
Name[es]=Wikia
Name[ia]=Wikia
Name[id]=Wikia
Name[is]=Wikia
Name[ja]=Wikia
Name[kk]=Wikia
Name[km]=Wikia
Name[lt]=Wikia
Name[nds]=Wikia
Name[nl]=Wikia
Name[pt]=Wikia
Name[pt_BR]=Wikia
Name[sv]=Wikia
Name[th]=Wikia
Name[uk]=Wikia
Name[x-test]=xxWikiaxx
Name[zh_TW]=Wikia
Query=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[cs]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[de]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[en_GB]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[es]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ia]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[id]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[is]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ja]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[kk]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[km]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[lt]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[nds]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[nl]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[pt]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[pt_BR]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sv]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[th]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[uk]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[x-test]=xxhttp://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Searchxx
Query[zh_TW]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
ServiceTypes=SearchProvider
Type=Service
