[Desktop Entry]
Charset=
Hidden=false
Keys=wikia,wka
Name=Wikia
Name[is]=Wikia
Name[pt]=Wikia
Name[sv]=Wikia
Name[uk]=Wikia
Name[x-test]=xxWikiaxx
Name[zh_TW]=Wikia
Query=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ia]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[is]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[pt]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sv]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[uk]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[x-test]=xxhttp://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Searchxx
Query[zh_TW]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
ServiceTypes=SearchProvider
Type=Service
