[Desktop Entry]
Type=Service
Name=Wiktionary - The Free Dictionary
Name[uk]=Вікісловник — вільний словник
Name[x-test]=xxWiktionary - The Free Dictionaryxx
X-KDE-ServiceTypes=SearchProvider
Keys=wt,wikt
Query=https://en.wiktionary.org/wiki/Special:Search?search=\\{@}&go=Go
Query[uk]=https://uk.wiktionary.org/wiki/Special:Search?search=\\{@}&go=Go
Query[x-test]=xxhttps://en.wiktionary.org/wiki/Special:Search?search=\\{@}&go=Goxx
Charset=utf8
