[Desktop Entry]
Keys=wa,wolfram
Name=Wolfram Alpha
Name[ca]=Wolfram Alpha
Name[csb]=Wolfram Alpha
Name[da]=Wolfram Alpha
Name[de]=Wolfram Alpha
Name[el]=Wolfram Άλφα
Name[en_GB]=Wolfram Alpha
Name[eo]=Wolfram Alpha
Name[es]=Wolfram Alpha
Name[et]=Wolfram Alpha
Name[gl]=Wolfram Alpha
Name[gu]=વુલ્ફ્રામ આલ્ફા
Name[he]=Wolfram Alpha
Name[hr]=Wolfram Alpha
Name[id]=Wolfram Alpha
Name[is]=Wolfram Alpha
Name[kk]=Wolfram Alpha
Name[lv]=Wolfram Alpha
Name[nb]=Wolfram Alpha
Name[nds]=Wolfram Alpha
Name[nl]=Wolfram Alpha
Name[pl]=Wolfram Alpha
Name[pt]=Wolfram Alpha
Name[pt_BR]=Wolfram Alpha
Name[ro]=Wolfram Alpha
Name[sl]=Wolfram Alpha
Name[sv]=Wolfram Alpha
Name[tr]=Tungsten Işığı
Name[uk]=Wolfram Alpha
Name[x-test]=xxWolfram Alphaxx
Name[zh_TW]=Wolfram Alpha
Query=http://www.wolframalpha.com/input/?i=\\{@}
Query[ca]=http://www.wolframalpha.com/input/?i=\\{@}
Query[csb]=http://www.wolframalpha.com/input/?i=\\{@}
Query[da]=http://www.wolframalpha.com/input/?i=\\{@}
Query[de]=http://www.wolframalpha.com/input/?i=\\{@}
Query[el]=http://www.wolframalpha.com/input/?i=\\{@}
Query[en_GB]=http://www.wolframalpha.com/input/?i=\\{@}
Query[eo]=http://www.wolframalpha.com/input/?i=\\{@}
Query[es]=http://www.wolframalpha.com/input/?i=\\{@}
Query[et]=http://www.wolframalpha.com/input/?i=\\{@}
Query[eu]=http://www.wolframalpha.com/input/?i=\\{@}
Query[gl]=http://www.wolframalpha.com/input/?i=\\{@}
Query[gu]=http://www.wolframalpha.com/input/?i=\\{@}
Query[he]=http://www.wolframalpha.com/input/?i=\\{@}
Query[hr]=http://www.wolframalpha.com/input/?i=\\{@}
Query[id]=http://www.wolframalpha.com/input/?i=\\{@}
Query[is]=http://www.wolframalpha.com/input/?i=\\{@}
Query[ja]=http://www.wolframalpha.com/input/?i=\\{@}
Query[kk]=http://www.wolframalpha.com/input/?i=\\{@}
Query[lt]=http://www.wolframalpha.com/input/?i=\\{@}
Query[lv]=http://www.wolframalpha.com/input/?i=\\{@}
Query[nb]=http://www.wolframalpha.com/input/?i=\\{@}
Query[nds]=http://www.wolframalpha.com/input/?i=\\{@}
Query[nl]=http://www.wolframalpha.com/input/?i=\\{@}
Query[pl]=http://www.wolframalpha.com/input/?i=\\{@}
Query[pt]=http://www.wolframalpha.com/input/?i=\\{@}
Query[pt_BR]=http://www.wolframalpha.com/input/?i=\\{@}
Query[ro]=http://www.wolframalpha.com/input/?i=\\{@}
Query[sl]=http://www.wolframalpha.com/input/?i=\\{@}
Query[sv]=http://www.wolframalpha.com/input/?i=\\{@}
Query[tr]=http://www.wolframalpha.com/input/?i=\\{@}
Query[uk]=http://www.wolframalpha.com/input/?i=\\{@}
Query[x-test]=xxhttp://www.wolframalpha.com/input/?i=\\{@}xx
Query[zh_TW]=http://www.wolframalpha.com/input/?i=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
