[Desktop Entry]
Keys=wa,wolfram
Name=Wolfram Alpha
Name[id]=Wolfram Alpha
Name[nds]=Wolfram Alpha
Name[pt]=Wolfram Alpha
Name[pt_BR]=Wolfram Alpha
Name[sv]=Wolfram Alpha
Name[tr]=Tungsten Işığı
Name[uk]=Wolfram Alpha
Name[x-test]=xxWolfram Alphaxx
Query=http://www.wolframalpha.com/input/?i=\\{@}
Query[id]=http://www.wolframalpha.com/input/?i=\\{@}
Query[nds]=http://www.wolframalpha.com/input/?i=\\{@}
Query[pt]=http://www.wolframalpha.com/input/?i=\\{@}
Query[pt_BR]=http://www.wolframalpha.com/input/?i=\\{@}
Query[sv]=http://www.wolframalpha.com/input/?i=\\{@}
Query[tr]=http://www.wolframalpha.com/input/?i=\\{@}
Query[uk]=http://www.wolframalpha.com/input/?i=\\{@}
Query[x-test]=xxhttp://www.wolframalpha.com/input/?i=\\{@}xx
X-KDE-ServiceTypes=SearchProvider
Type=Service
