[Desktop Entry]
Keys=yt,youtube
Name=YouTube
Name[ar]=يوتوب
Name[ast]=YouTube
Name[bg]=YouTube
Name[bn]=ইউ-টিউভ
Name[ca]=YouTube
Name[ca@valencia]=YouTube
Name[cs]=YouTube
Name[da]=YouTube
Name[de]=YouTube
Name[el]=YouTube
Name[en_GB]=YouTube
Name[es]=YouTube
Name[et]=YouTube
Name[eu]=YouTube
Name[fi]=YouTube
Name[fr]=YouTube
Name[ga]=YouTube
Name[gu]=યુટ્યુબ
Name[he]=YouTube
Name[hi]=यूट्यूब
Name[hr]=YouTube
Name[hu]=YouTube
Name[ia]=YouTube
Name[id]=YouTube
Name[is]=YouTube
Name[it]=YouTube
Name[ja]=YouTube
Name[kk]=YouTube
Name[km]=YouTube
Name[kn]=ಯೂಟ್ಯೂಬ್
Name[ko]=YouTube
Name[lt]=YouTube
Name[lv]=YouTube
Name[mai]=YouTube
Name[ml]=യുട്യൂബ്
Name[nb]=YouTube
Name[nds]=YouTube
Name[nl]=YouTube
Name[nn]=YouTube
Name[pa]=ਯੂਟਿਊਬ
Name[pl]=YouTube
Name[pt]=YouTube
Name[pt_BR]=YouTube
Name[ro]=YouTube
Name[ru]=YouTube
Name[si]=YouTube
Name[sk]=YouTube
Name[sl]=YouTube
Name[sr]=Јутјуб
Name[sr@ijekavian]=Јутјуб
Name[sr@ijekavianlatin]=YouTube
Name[sr@latin]=YouTube
Name[sv]=YouTube
Name[tg]=YouTube
Name[th]=บริการวีดิโอผ่าน YouTube
Name[tr]=YouTube
Name[ug]=YouTube
Name[uk]=YouTube
Name[wa]=YouTube
Name[x-test]=xxYouTubexx
Name[zh_CN]=YouTube
Name[zh_TW]=YouTube
Query=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ar]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ast]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[bg]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[bn]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[bs]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ca]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ca@valencia]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[cs]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[da]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[de]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[el]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[en_GB]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[es]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[et]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[eu]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[fi]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[fr]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ga]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[gu]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[he]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[hi]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[hr]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[hu]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ia]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[id]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[is]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[it]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ja]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[kk]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[km]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[kn]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ko]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[lt]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[lv]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ml]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[nb]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[nds]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[nl]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[nn]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[pa]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[pl]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[pt]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[pt_BR]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ro]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[ru]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[si]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[sk]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[sl]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[sr]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[sr@ijekavian]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[sr@ijekavianlatin]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[sr@latin]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[sv]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[tg]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[th]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[tr]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[uk]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[wa]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[x-test]=xxhttp://www.youtube.com/results?search_query=\\{@}&search_type=&aq=fxx
Query[zh_CN]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
Query[zh_TW]=http://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
ServiceTypes=SearchProvider
Type=Service
Charset=utf8
