[Desktop Entry]
Encoding=UTF-8
Type=Link
Path[$e]=$( kio_system_documenthelper )
Icon=folder_important
Name=Documents Folder
Name[af]=Dokument Gids
Name[ar]=مستنداتي
Name[br]=Renkell an teulioù
Name[ca]=Carpeta de documents
Name[cs]=Složka s dokumenty
Name[csb]=Katalog dokùmentów
Name[da]=Dokumentmappe
Name[de]=Dokumente
Name[el]=Φάκελος εγγράφων
Name[eo]=Dokumenta dosierujo
Name[es]=Carpeta de documentos
Name[et]=Dokumentide kataloog
Name[eu]=Dokumentuen karpeta
Name[fa]=پوشۀ مستندات
Name[fi]=Asiakirjakansio
Name[fr]=Dossier des documents
Name[fy]=Ofkeppele kamera
Name[ga]=Fillteán na gCáipéisí
Name[gl]=Cartafol de Documentos
Name[he]=תיקיית מסמכים
Name[hr]=Mapa dokumenata
Name[hu]=Dokumentumok könyvtár
Name[is]=Skjalamappa
Name[it]=Cartella documenti
Name[ja]=ドキュメントフォルダ
Name[ka]=დოკუმენტების დასტა
Name[kk]=Құжаттар қапшығы
Name[km]=ថត​ឯកសារ
Name[lt]=Dokumentų aplankai
Name[mk]=Папка со документи
Name[nb]=Dokumentmappe
Name[nds]=Dokmenten-Orner
Name[ne]=कागजात फोल्डर
Name[nl]=Afgekoppelde camera
Name[nn]=Dokumentmappe
Name[pa]=ਦਸਤਾਵੇਜ਼ ਫੋਲਡਰ
Name[pl]=Katalog dokumentów
Name[pt]=Pasta de Documentos
Name[pt_BR]=Pasta de Documentos
Name[ro]=Folder documente
Name[ru]=Документы
Name[se]=Dokumeantamáhppa
Name[sl]=Mapa z dokumenti
Name[sr]=Фасцикла са документима
Name[sr@latin]=Fascikla sa dokumentima
Name[sv]=Dokumentkatalog
Name[te]=పత్రాల ఫొల్డర్
Name[tr]=Belgeler Dizini
Name[uk]=Тека документів
Name[uz]=Ҳужжатлар жилди
Name[x-test]=xxDocuments Folderxx
Name[zh_TW]=文件目錄
