[Desktop Entry]
Encoding=UTF-8
Type=Link
Path[$e]=$( kio_system_documenthelper )
Icon=folder_important
Name=Documents Folder
Name[el]=Φάκελος εγγράφων
Name[fr]=Dossier des documents
Name[x-test]=xxDocuments Folderxx
