[Desktop Entry]
Encoding=UTF-8
Type=Link
Path[$e]=$( kio_system_documenthelper )
Icon=folder_important
Name=Documents Folder
Name[et]=Dokumentide kataloog
Name[ga]=Fillteán na gCáipéisí
