[Desktop Entry]
Encoding=UTF-8
Type=Link
Path=$HOME
Icon=folder_home
Name=Home Folder
Name[af]=Tuis Gids
Name[ar]=منزلي
Name[be]=Хатняя тэчка
Name[bg]=Домашна директория
Name[br]=Renkell ar gêr
Name[ca]=Carpeta inici
Name[cs]=Domovská složka
Name[cy]=Plygell Cartref
Name[da]=Hjemmemappe
Name[de]=Persönlicher Ordner
Name[el]=Προσωπικός φάκελος
Name[eo]=Hejma dosierujo
Name[es]=Carpeta personal
Name[et]=Kodukataloog
Name[eu]=Etxeko karpeta
Name[fa]=پوشۀ آغازه
Name[fi]=Kotikansio
Name[fr]=Dossier personnel
Name[fy]=Persoanlike map
Name[ga]=Fillteán Baile
Name[gl]=Cartafol Persoal
Name[he]=תיקיית בית
Name[hr]=Početna mapa korisnika
Name[hu]=Saját könyvtár
Name[is]=Heimasvæði
Name[it]=Cartella Home
Name[ja]=ホームフォルダ
Name[ka]=საწყისი საქაღალდე
Name[kk]=Мекен қапшығы
Name[km]=ថត​ផ្ទះ
Name[lt]=Namų aplankas
Name[lv]=Mājas mape
Name[mk]=Домашна папка
Name[ms]=Folder Laman Utama
Name[nb]=Hjemmemappe
Name[nds]=Tohuus-Orner
Name[ne]=गृह फोल्डर
Name[nl]=Persoonlijke map
Name[nn]=Heimemappe
Name[pa]=ਘਰ ਫੋਲਡਰ
Name[pl]=Katalog domowy
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta do Usuário
Name[ro]=Folder personal
Name[ru]=Домашняя папка
Name[se]=Ruoktomáhppa
Name[sl]=Domača mapa
Name[sr]=Домаћа фасцикла
Name[sr@Latn]=Domaća fascikla
Name[sv]=Hemkatalog
Name[ta]=வீட்டு அடைவு
Name[tg]=Феҳристи хонагӣ
Name[tr]=Başlangıç Dizini
Name[uk]=Домашня тека
Name[uz]=Уй жилди
Name[x-test]=xxHome Folderxx
Name[zh_TW]=家目錄
