[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=$HOME
Icon=kfm_home
Name=Home Folder
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
