[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=remote:/
Icon=network
Name=Remote Places
Name[bg]=Отдалечени директории
Name[da]=Eksterne steder
Name[fr]=Emplacements distants
Name[hu]=Távoli helyek
Name[nl]=Externe plekken
Name[pt]=Locais Remotos
Name[pt_BR]=Locais Remotos
Name[sv]=Fjärrplatser
Name[ta]=தொலைதூர இடங்கள்
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
