[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=remote:/
Icon=network
Name=Remote Places
Name[el]=Απομακρυσμένες τοποθεσίες
Name[fr]=Emplacements distants
Name[x-test]=xxRemote Placesxx
