[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=remote:/
Icon=network
Name=Remote Places
Name[af]=Afgeleë Plekke
Name[ar]=أماكن بعيدة
Name[be]=Аддаленыя месцы
Name[bg]=Отдалечени директории
Name[br]=Lec'hiadurioù a-bell
Name[ca]=Llocs remots
Name[cs]=Vzdálená umístění
Name[csb]=Daleczi place
Name[da]=Eksterne steder
Name[de]=Netzwerk
Name[el]=Απομακρυσμένες τοποθεσίες
Name[eo]=Foraj Lokoj
Name[es]=Lugares remotos
Name[et]=Võrgukohad
Name[eu]=Urruneko lekuak
Name[fa]=جاهای دور
Name[fi]=Etäkohteet
Name[fr]=Emplacements distants
Name[fy]=Eksterne plakken
Name[ga]=Áiteanna Cianda
Name[gl]=Comparticións Remotas
Name[he]=מקומות מרוחקים
Name[hr]=Udaljene lokacije
Name[hu]=Hálózati helyek
Name[is]=Fjarlægir staðir
Name[it]=Indirizzi remoti
Name[ja]=リモートの場所
Name[ka]=დაშორებული ადგილები
Name[kk]=Қашықтағы орындар
Name[km]=កន្លែង​ពី​ចម្ងាយ
Name[lt]=Nutolusios vietos
Name[lv]=Attālinātās vietas
Name[mk]=Оддалечени места
Name[ms]=Tempat Jauh
Name[nb]=Eksterne steder
Name[nds]=Feern Steden
Name[ne]=टाढाको स्थान
Name[nl]=Externe plekken
Name[nn]=Eksterne plassar
Name[pa]=ਰਿਮੋਟ ਥਾਂ
Name[pl]=Zdalne miejsca
Name[pt]=Locais Remotos
Name[pt_BR]=Locais Remotos
Name[ro]=Locaţii distante
Name[ru]=Сетевые ресурсы
Name[se]=Gáiddus báikkit
Name[sl]=Oddaljena mesta
Name[sr]=Удаљена места
Name[sr@Latn]=Udaljena mesta
Name[sv]=Fjärrplatser
Name[ta]=தொலைதூர இடங்கள்
Name[tr]=Uzak Yerler
Name[uk]=Віддалені місця
Name[uz]=Масофадаги жойлар
Name[x-test]=xxRemote Placesxx
Name[zh_TW]=遠端空間
