[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=trash:/
Icon=trashcan_full
EmptyIcon=trashcan_empty
Name=Trash
Name[el]=Κάδος απορριμμάτων
Name[fr]=Corbeille
Name[x-test]=xxTrashxx
