[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell audiocd
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=audiocd

Name=Audio CD IO-Slave
Name[ar]=قرص صوت IO-Slave
Name[bg]=Аудио CD IO Slave
Name[cs]=Modul pro zvukové CD
Name[da]=Audio-CD IO-slave
Name[de]=Audio-CD
Name[eo]=En/el-sklavo por muzikaj lumdiskoj
Name[es]=IO-Slave de CD de audio
Name[et]=Audio CD IO moodul
Name[eu]=Audio CD IO Slave
Name[fi]=Audiocd IO yhteyskäytäntö
Name[fr]=Module pour CD audio
Name[he]=תקליטורי שמע
Name[hu]=Az 'audiocd' protokoll
Name[it]=IO Slave per i CD audio
Name[ja]=オーディオCD IO Slave
Name[lt]=Audio kompakto IO-Slave
Name[nl]=Audio-cd IO Slave
Name[nn]=IU-slave for lyd-CD
Name[pt]=IO-Slave de CDs Áudio
Name[pt_BR]=Importação de CDs de Áudio
Name[ro]=Dispozitiv I/O CD audio
Name[ru]=Протокол IO аудио CD
Name[sk]=IO klient pre zvukové CD
Name[sl]=Audio CD podrejeni V/I
Name[sv]=IO-slav för ljud-cd
Name[th]=IO ซีดีเสียง
Name[uk]=Підлеглий В/В аудіо-КД
Name[ven]=Zwinopfala zwa IO Slave
Name[xh]=Icd Evakalayo Yesicaka Se IO
Name[xx]=xx
Name[zh_CN]=音频光盘 IO-Slave
GenericName=Audiocd IO Slave Configuration
GenericName[af]=klank cd io slaaf opstelling
GenericName[ar]=اعدادات Audiocd IO Slave
GenericName[az]=Name=Audiosd IO Kölələri Quraşdırması
GenericName[bg]=Настройки на протокола IO аудио CD
GenericName[bs]=Podešavanje Audiocd IO Slave
GenericName[cs]=Nastavení vstupně/výstupní modulu pro zvukové CD
GenericName[da]=Lydserverens audiocd IO-slave-indstilling
GenericName[de]=Einrichtung des Ein/Ausgabemoduls für Audio-CDs
GenericName[el]=Ρύθμιση Audiocd IO Slave
GenericName[eo]=Agordo por la muzikdiska sklavo
GenericName[es]=Configuración del slave de E/S de CD-Audio
GenericName[et]=Audio CD IO mooduli seadistamine
GenericName[fi]=Audiocd IO slaven asetukset
GenericName[fr]=Configuration du module pour CD audio
GenericName[he]=שינוי הגדרות פרוטוקול תקליטורי השמע
GenericName[hu]=a protokoll beállításai
GenericName[is]=Stillingar Audiocd I/O þrælsins
GenericName[it]=Configurazione dell'IO Slave per i CD audio
GenericName[ja]=Audiocd IO Slave の設定
GenericName[ko]=소리(오디오)시디 IO 슬레이브 설정
GenericName[lt]=Audio kompakto IO Slave derinimas
GenericName[lv]=AudioCD IO Vergu Konfigurācija
GenericName[mt]=Konfigurazzjoni tal-iskjav IO AudioCD
GenericName[nb]=Oppsett av lyd-CD IO-slave
GenericName[nl]=configuratie van de audiocd ioslave
GenericName[nn]=Oppsett av IU-slave for lyd-CD
GenericName[pl]=Konfiguracja procedury we/wy dla audio CD
GenericName[pt]=Configuração do IO Slave de CDs áudio
GenericName[pt_BR]=Configuração do Áudio CD Escravo
GenericName[ro]=Configurează dispozitivul I/O pentru CD audio
GenericName[ru]=Настройки протокола IO аудио CD
GenericName[sk]=Nastavenie IO klienta pre zvukové CD
GenericName[sl]=Prikrojitev Audiocd podrejeni V/I
GenericName[sr]=Konfiguracija Audiocd IO Slejva
GenericName[sv]=Anpassning av IO-slav för ljud-cd
GenericName[ta]=´Ä¢îº¢Ê ¯û-¦ÅÇ¢ «Ê¨Á ÅÊÅ¨ÁôÒ
GenericName[tr]=Audiocd IO Köle Yapılandırması
GenericName[uk]=Налаштування підлеглого В/В 'Audiocd'
GenericName[ven]=U dzudzanya ha zwinopfala zwa IO Slave
GenericName[vi]=Cấu hình Audiocd IO Slave 
GenericName[xh]=icd evakalayo yoqwalaselo lwesicaka se IO
GenericName[xx]=xx
GenericName[zh_CN]=音频光盘 IO Slave 配置
GenericName[zh_TW]=AudioCD IO Slave 設定
