[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_unmount
Type=MimeType
MimeType=kdedevice/cdrom_unmounted
Comment=Unmounted CD-ROM
Comment[af]=Ontkoppel CD-ROM
Comment[ar]=قرص مدمج غير محمّل
Comment[bg]=Демонтиран CD-ROM
Comment[bn]=আনমাউন্ট করা সিডি-রম
Comment[bs]=Demontiran CD-ROM
Comment[ca]=CD-ROM desmuntat
Comment[cs]=Odpojená CDROM
Comment[cy]=CD-ROM wedi'i ddadosod
Comment[da]=Afmonteret cd-rom
Comment[de]=Nicht eingebundene CD-ROM
Comment[el]=Αποπροσαρτημένο CD-ROM
Comment[eo]=Malkroĉita CDROM
Comment[es]=CD-ROM desmontado
Comment[et]=Lahutatud CD-ROM
Comment[eu]=CD-ROM Desmontatua
Comment[fa]= CD پیاده شده
Comment[fi]=Irroitettu CD-ROM
Comment[fr]=CD-ROM non monté
Comment[gl]=CD-ROM Non Montado
Comment[he]=תקליטור מנותק
Comment[hi]=अनमाउन्टेड सीडी-रोम
Comment[hr]=Nemontirani CDROM
Comment[hsb]=Njemontowany CDnik
Comment[hu]=Leválasztott CD-ROM
Comment[is]=Aftengt CD-ROM
Comment[it]=CD-ROM smontato
Comment[ja]=マウントされていないCD-ROM
Comment[lo]=ຫັງກາລີ
Comment[lt]=Išmontuotas CD-ROM
Comment[mn]=Салгаатай КД-ROM
Comment[mt]=CDROM mhux immontat
Comment[nb]=Avmontert CD-ROM
Comment[nl]=Afgekoppelde cd-romschijf
Comment[nn]=Avmontert CD-ROM
Comment[nso]=CD-ROM yeo e Theositswego
Comment[pa]=ਅਨਮਾਊਟਿੰਡ CD-ROM
Comment[pl]=Odmontowany CD-ROM
Comment[pt]=CD-ROM desmontado
Comment[pt_BR]=CD-ROM Desmontado
Comment[ro]=CD-ROM nemontat
Comment[ru]=Отмонтированный CD-ROM
Comment[se]=Gálgajuvvon CD-ROM:a
Comment[sk]=Nepripojený CD-ROM
Comment[sl]=Odklopljen CD-ROM
Comment[sr]=Демонтиран CD-ROM
Comment[sr@Latn]=Demontiran CD-ROM
Comment[sv]=Avmonterad cd-rom
Comment[ta]=வெளியேற்றிய குறுந்தகடு
Comment[tg]=Ҷудо шудаи CD-ROM
Comment[th]=ซีดีรอมที่ไม่ถูกเม้าทน์
Comment[tr]=Ayrılmış CD-ROM
Comment[uk]=Демонтований КД
Comment[uz]=Уланмаган компакт-диск
Comment[ven]=CD-ROM i songo gonyiswaho
Comment[vi]=CD-ROM được gỡ
Comment[wa]=Plake lazer dismontêye
Comment[xh]=CD-ROM Enganyuswanga
Comment[xx]=xxUnmounted CD-ROMxx
Comment[zh_CN]=卸载的 CD-ROM
Comment[zh_TW]=未掛載的 CD-ROM
Comment[zu]=I-CD-ROM eyehlisiwe
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
