[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_mount
Type=MimeType
MimeType=kdedevice/cdrom_mounted
Comment=Mounted CD-ROM
Comment[af]=gekoppelde cdrom
Comment[bs]=Montiran CD-ROM
Comment[cs]=Připojená CD-ROM
Comment[da]=Monteret CD-ROM
Comment[de]=Eingebundene CD-ROM
Comment[el]=Προσαρτημένο CD-ROM
Comment[eo]=Kroĉita CD-ROM
Comment[es]=CD-ROM montado
Comment[fi]=Liitetty CD-ROM
Comment[he]=תקליטור מחובר
Comment[hr]=Montirani CD-ROM
Comment[hu]=csatlakoztatott (mountolt) CD-ROM
Comment[ja]=マウントされた状態のCD-ROM
Comment[mt]=CD-ROM immontat
Comment[nb]=Montert CD-ROM
Comment[nl]=Aangekoppelde cd-romschijf
Comment[pt_BR]=CD-ROM Montado
Comment[sk]=Pripojený CD-ROM
Comment[sv]=Monterad cd-rom
Comment[tr]=Bağlı CD Sürücü
Patterns=

X-KDE-AutoEmbed=true
