[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_unmount
Type=MimeType
MimeType=kdedevice/cdrom_unmounted
Comment=Unmounted CD-ROM
Comment[af]=ontkoppel cdrom
Comment[bs]=Demontiran CD-ROM
Comment[cs]=Odpojená CD-ROM
Comment[da]=Afmonteret CD-ROM
Comment[de]=Nicht eingebundene CD-ROM
Comment[el]=Αποπροσαρτημένο CD-ROM
Comment[eo]=Malkroĉita CD-ROM
Comment[es]=CD-ROM desmontado
Comment[fi]=Irroitettu CD-ROM
Comment[he]=תקליטור מנותק
Comment[hr]=Nemontirani CD-ROM
Comment[hu]=leválasztott (unmountolt) CD-ROM
Comment[ja]=アンマウントされた状態のCD-ROM
Comment[mt]=CD-ROM mhux immontat
Comment[nb]=Avmonter CD-ROM
Comment[nl]=Afgekoppelde cd-romschijf
Comment[pt_BR]=CD-ROM Desmontado
Comment[sk]=Nepripojený CD-ROM
Comment[sv]=Avmonterad cd-rom
Comment[tr]=Ayrılmış CD Sürücü
Patterns=

X-KDE-AutoEmbed=true
