[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_unmount
Type=MimeType
MimeType=kdedevice/cdwriter_unmounted
Comment=Unmounted  CDWriter
Patterns=

X-KDE-AutoEmbed=true
