[Desktop Entry]
ServiceTypes=kdedevice/cdwriter_mounted
Actions=cdwriter_unmount

[Desktop Action cdwriter_unmount]
Name=Unmount
Name[af]=ontkoppel
Name[da]=Afmontér
Name[he]=נתק
Name[sv]=Avmontera
Name[tr]=Ayır
Exec=kio_devices_mounthelper -u %u
