[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_mount
Type=MimeType
MimeType=kdedevice/cdwriter_mounted
Comment=Mounted CD Writer
Comment[bs]=Montiran CD Pisač
Comment[da]=Monteret CD-skriver
Comment[de]=Eingebundener CD-Brenner
Comment[el]=Προσαρτημένο CDWriter
Comment[eo]=Kroĉita CDRW
Comment[es]=Escritor de CDs montado
Comment[fi]=Liitetty CD-kirjoitin
Comment[he]=צורב מחובר
Comment[hu]=csatlakoztatott (mountolt) CD-író
Comment[ja]=マウントされた状態のCDライター
Comment[mt]=CDWriter immontat
Comment[nb]=Montert CDWriter
Comment[nl]=Aangekoppelde cd-writer
Comment[pt_BR]=CDWriter Montado
Comment[sk]=Pripojená napaľovacia mechanika CD
Comment[sv]=Monterad cd-brännare
Comment[tr]=Bağlı CD Yazıcı
Patterns=

X-KDE-AutoEmbed=true
