[Desktop Entry]
Encoding=UTF-8
Icon=dvd_unmount
Type=MimeType
MimeType=kdedevice/dvd_unmounted
Comment=Unmounted DVD 
Patterns=

X-KDE-AutoEmbed=true
