[Desktop Entry]
ServiceTypes=kdedevice/dvd_unmounted
Actions=dvd_mount;dvd_eject;

[Desktop Action dvd_mount]
Name=Mount
Exec=kio_devices_mounthelper -m %u

[Desktop Action dvd_eject]
Name=Eject
Exec=kio_devices_mounthelper -e %u