[Desktop Entry]
Encoding=UTF-8
Icon=5floppy_mount
Type=MimeType
MimeType=kdedevice/floppy5_mounted
Comment=Mounted 5¼" Floppy
Comment[bg]=Монтирано флопи 5¼"
Comment[bs]=Montirana 5?" disketa
Comment[ca]=Disquet 5¼" muntat
Comment[cs]=Připojená disketa 5¼"
Comment[cy]=Disg meddal 5.25" wedi'i osod
Comment[da]=Monteret 5¼"-floppy
Comment[de]=Eingebundene 5¼"-Diskette
Comment[el]=Προσαρτημένη δισκέτα 5¼"
Comment[eo]=Kroĉita 5¼"-Disketingo
Comment[es]=Disquete 5¼" montado
Comment[et]=Ühendatud 5¼" flopi
Comment[eu]=5¼" Disketea Montatua
Comment[fa]=فلاپی 5¼"سوار شده
Comment[fi]=Liitetty 5¼" levyke
Comment[fr]=Disquette 5¼" montée
Comment[gl]=Disquete 5¼" Montado
Comment[he]=תקליטון "¼5 מחובר
Comment[hr]=Montirana 5¼" disketa
Comment[hu]=Csatlakoztatott 5¼"-es floppy
Comment[it]=Dischetto da 5¼" montato
Comment[ja]=マウントされた 5インチフロッピー
Comment[lo]=ຟໍແມດຟອປີ້ - K
Comment[lt]=Sumontuotas 5¼" lankstus diskelis
Comment[mn]=Залгагдсан 5¼"-Уян диск
Comment[mt]=Flopi 5¼" immontat
Comment[nb]=Montert 5¼" diskett
Comment[nl]=Aangekoppelde 5¼" diskette
Comment[nn]=Montert 5¼"-diskett
Comment[nso]=Floppy yeo e Nameleditswego ya 5¼"
Comment[pl]=Zamontowana dyskietka 5¼"
Comment[pt]=Disquete de 5¼" montada
Comment[pt_BR]=Disquete  5¼" Montado
Comment[ro]=Floppy disk 5¼" montat
Comment[ru]=Смонтированный дисковод 5¼"
Comment[se]=Čatnon 5¼-dibmaskearru
Comment[sk]=Pripojená disketa 5¼"
Comment[sl]=Priklopljena disketna enota 5¼"
Comment[sr]=Монтиран 5¼" флопи
Comment[sv]=Monterad 5¼"-diskett
Comment[ta]=ஏற்றப்பட்ட 5¼" நெகிழ்வட்டு
Comment[th]=ฟล็อปปี 5" ที่ถูกเม้าทน์
Comment[tr]=Bağlı 5¼" Disket
Comment[uk]=Змонтований флопі 5¼"
Comment[uz]=Уланган 5¼"дискет
Comment[ven]=5¼" Floppy yo gonyiswaho
Comment[vi]=Đĩa mềm 5¼"được gỡ
Comment[wa]=Plakete 5" ¼ montêye
Comment[xh]=Elayishiweyo 5¼" Floppy
Comment[xx]=xxMounted 5¼" Floppyxx
Comment[zh_CN]=已挂载的 5 英寸软盘
Comment[zh_TW]=已掛載的軟碟機
Comment[zu]=I-5¼" Floppy eyenyusiwe
Patterns=

X-KDE-AutoEmbed=true
