[Desktop Entry]
Encoding=UTF-8
Icon=3floppy_mount
Type=MimeType
MimeType=kdedevice/floppy_mounted
Comment=Mounted Floppy
Comment[da]=Monteret floppy
Comment[he]=תקליטון מחובר
Comment[sv]=Monterad diskett
Patterns=

X-KDE-AutoEmbed=true
