[Desktop Entry]
ServiceTypes=kdedevice/floppy_mounted
Actions=floppy_unmount

[Desktop Action floppy_unmount]
Name=Unmount
Name[af]=ontkoppel
Name[da]=Afmontér
Name[sv]=Avmontera
Exec=kio_devices_mounthelper -u %u
