[Desktop Entry]
Encoding=UTF-8
Icon=floppy5_unmount
Type=MimeType
MimeType=kdedevice/floppy5_unmounted
Comment=Unmounted 5¼" Floppy
Comment[da]=Afmonteret 5¼" floppy
Comment[he]=תקליטון "¼5 מנותק
Patterns=

X-KDE-AutoEmbed=true
