[Desktop Entry]
Encoding=UTF-8
Icon=hdd_mount
Type=MimeType
MimeType=kdedevice/hdd_mounted
Comment=Mounted Hard Disc Partition
Comment[af]=Gekoppelde Hard Skyf Partisie
Comment[ar]=تجزئة قرص صلب محمّلة
Comment[bg]=Монтиран дял на диск
Comment[bn]=মাউন্ট করা হার্ড ডিস্ক পার্টিশন
Comment[bs]=Montirana hard disk particija
Comment[ca]=Partició del disc dur muntada
Comment[cs]=Připojený oddíl pevného disku
Comment[cy]=Rhaniad Disg Caled wedi'i osod
Comment[da]=Monteret harddisk-partition
Comment[de]=Eingebundene Festplattenpartition
Comment[el]=Προσαρτημένη κατάτμηση σκληρού δίσκου
Comment[eo]=Kroĉita subdisko
Comment[es]=Partición de disco duro montada
Comment[et]=Ühendatud kõvaketta partitsioon
Comment[eu]=Diska Gogorra Zatiketa Montatua
Comment[fa]=پارتیشن دیسک سخت سوار شده
Comment[fi]=Liitetty kiintoleyosio
Comment[fr]=Partition de disque dur montée
Comment[gl]=Partición do Disco Duro Montada
Comment[he]=מחיצת דיסק קשיח מחוברת
Comment[hi]=माउन्टेड हार्ड डिस्क पार्टीशन
Comment[hr]=Montirana particija tvrdog diska
Comment[hu]=Csatlakoztatott merevlemezes partíció
Comment[is]=Tengd disksneið af hörðum diski
Comment[it]=Partizione disco rigido montata
Comment[ja]=マウントされたハードディスクパーティション
Comment[lo]=ຫາດດີສ
Comment[lt]=Sumontuotas kieto disko skirsnis
Comment[mn]=Залгагдсан хатуу диск хуваалт
Comment[mt]=Partizzjoni ta' ħard-disk immuntata
Comment[nb]=Montert harddiskpartisjon
Comment[nds]=Inhangt Fastplatt-Partitschoon
Comment[nl]=Aangekoppelde hardeschijfpartitie
Comment[nn]=Montert harddiskpartisjon
Comment[nso]=Karoganyo ya Disc ye Bothata yeo e Nameleditswego.
Comment[pa]=ਮਾਊਟਿੰਡ ਹਾਰਡ ਡਿਸਕ ਭਾਗ
Comment[pl]=Zamontowana partycja dysku twardego
Comment[pt]=Partição de disco rígido montada
Comment[pt_BR]=Partição do HD Montada
Comment[ro]=Partiţie de hard disc montată
Comment[ru]=Смонтированный ресурс жесткого диска
Comment[se]=Čádnojuvvon garraskearrupartišuvdna
Comment[sk]=Pripojený oddiel pevného disku
Comment[sl]=Priklopljena particija trdega diska
Comment[sr]=Монтирана партиција хард диска
Comment[sr@Latn]=Montirana particija hard diska
Comment[sv]=Monterad hårdiskpartition
Comment[ta]=ஏற்றப்பட்ட வன்தகடு பகுதி
Comment[tg]=Тақсимоти диски сахти монтажшуда
Comment[th]=พาร์ติชันฮาร์ดดิสก์ที่ถูกเม้าทน์
Comment[tr]=Bağlanmış Sabit Disk Bölümü
Comment[uk]=Змонтований розділ жорсткого диску
Comment[uz]=Қаттиқ дискнинг уланган қисми
Comment[ven]=Partition ya disc ya hard i songo gonyiswaho
Comment[wa]=Pårticion del deure plake montêye
Comment[xh]=Idiski Yolwahlulo Yolwahlulo Enyusiweyo
Comment[xx]=xxMounted Hard Disc Partitionxx
Comment[zh_CN]=已挂载的硬盘分区
Comment[zh_TW]=已掛載的硬碟分割區
Comment[zu]=Isahluko se-Disc Elukhuni Eyenyusiwe
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
