[Desktop Entry]
Encoding=UTF-8
Icon=nfs_unmount
Type=MimeType
MimeType=kdedevice/nfs_unmounted
Comment=Unmounted NFS Resource
Comment[af]=ontkoppel nfs hulpbron
Comment[bs]=Demontiran NFS resurs
Comment[cs]=Odpojený zdroj NFS
Comment[da]=Afmonteret NFS-ressource
Comment[de]=Nicht eingebundene NFS-Ressource
Comment[el]=Αποπροσαρτημένος πόρος NFS
Comment[eo]=Malkroĉita NFS-disko
Comment[es]=Recurso NFS desmontado
Comment[fi]=Irroitettu NFS resurssi
Comment[he]=משאב NFS מנותק
Comment[hu]=Leválasztott NFS-erőforrás
Comment[ja]=アンマウントされた状態のNFSリソース
Comment[mt]=Riżors NFS mhux immuntat
Comment[nb]=Avmontert NFS ressurs
Comment[nl]=Afgekoppelde NFS-hulpbron
Comment[pt_BR]=Recurso NFS Desmontado
Comment[sk]=Nepripojený zdroj NFS
Comment[sv]=Avmonterad NFS-resurs
Patterns=

X-KDE-AutoEmbed=true
