[Desktop Entry]
Encoding=UTF-8
Icon=nfs_mount
Type=MimeType
MimeType=kdedevice/nfs_mounted
Comment=Mounted NFS Resource
Comment[af]=gekoppelde nfs hulpbron
Comment[bs]=Montiran NFS resurs
Comment[cs]=Připojený zdroj NFS
Comment[da]=Monteret NFS-ressource
Comment[de]=Eingebundene NFS-Ressource
Comment[el]=Προσαρτημένος πόρος NFS
Comment[eo]=Kroĉita NFS-disko
Comment[es]=Recurso NFS montado
Comment[fi]=Liitetty NFS resurssi
Comment[he]=משאב NFS מחובר
Comment[hu]=Csatlakoztatott NFS-erőforrás
Comment[ja]=マウントされた状態のNFSリソース
Comment[mt]=Riżors NFS immuntat
Comment[nb]=Montert NFS-ressurs
Comment[nl]=Aangekoppelde NFS-hulpbron
Comment[pt_BR]=Recurso NFS Montado
Comment[sk]=Pripojený zdroj NFS
Comment[sv]=Monterad NFS-resurs
Patterns=

X-KDE-AutoEmbed=true
