[Desktop Entry]
ServiceTypes=kdedevice/smb_mounted
Actions=smb_unmount

[Desktop Action smb_unmount]
Name=Unmount
Name[af]=ontkoppel
Name[da]=Afmontér
Name[he]=נתק
Name[sv]=Avmontera
Exec=kio_devices_mounthelper -u %u
