[Desktop Entry]
Encoding=UTF-8
Icon=nfs_unmount
Type=MimeType
MimeType=kdedevice/smb_unmounted
Comment=Unmounted Samba (Microsoft Network) Share
Comment[af]=Ontkoppel Samba (Microsoft Netwerk) Deel
Comment[ar]=مشاركة Samba غير محمّلة
Comment[bg]=Демонтиран ресурс Samba (Microsoft Network)
Comment[bn]=আনমাউন্ট করা সাম্বা (মাইক্রোসফট নেটওয়ার্ক) শেয়ার
Comment[bs]=Demontiran Samba (Microsoft Network) Share
Comment[ca]=Recurs de Samba (xarxa Microsoft) desmuntat
Comment[cs]=Odpojený Samba (Microsoft Network) prostředek
Comment[cy]=Cydranniad Samba (Rhwydwaith Microsoft) wedi'i ddadosod
Comment[da]=Afmonteret Samba-share (Microsoft-netværk)
Comment[de]=Nicht eingebundene Samba-Ressource (Microsoft-Netzwerk)
Comment[el]=Αποπροσαρτημένος κοινόχρηστος πόρος Samba (Δίκτυο Microsoft)
Comment[eo]=Malkroĉita Sambo-disko
Comment[es]=Recurso de Samba desmontado (Red de Microsoft)
Comment[et]=Lahutatud Samba (Microsoft Network) ressurss
Comment[eu]=Samba (Microsoft Sarea) Banaketa Desmontatua
Comment[fa]=اشتراک سامبای ویندوز پیاده شده
Comment[fi]=Irroitettu Samba (Microsoft verkko) jako
Comment[fr]=Partage Samba (réseau Microsoft) non monté
Comment[gl]=Compartición Samba Non Montada (Rede de Microsoft)
Comment[he]=שיתוף Microsoft Network) Samba) מנותק
Comment[hi]=अनमाउन्टेड साम्बा (माइक्रोसाफ्ट नेटवर्क) साझा
Comment[hr]=Neontirano djeljenje Sambom (Microsoft mreža)
Comment[hsb]=Njemontowany Samba-(Microsoft syć)-zapisk
Comment[hu]=Leválasztott Samba-megosztás
Comment[is]=Aftengd Samba (Microsoft Network) Sameign
Comment[it]=Condivisione samba (Rete Microsoft) non montata
Comment[ja]=マウントされていないSamba(マイクロソフトのネットワーク)共有
Comment[lo]= ຫັງກາລີ
Comment[lt]=Išmontuotas Samba (Microsoft Network) bendro naudojimo diskas
Comment[mn]=Залгагдаагүй Samba-Нөөцүүд (Microsoft-Сүлжээ)
Comment[mt]=Riżors Samba (Microsoft Network) mhux immuntat
Comment[nb]=Avmontert Samba-katalog (Microsoft nettverk)
Comment[nds]=Afhangt deelt Samba-Loopwark (Microsoft Netwark)
Comment[nl]=Afgekoppelde Samba-netwerkbron (Microsoft-netwerkbron)
Comment[nn]=Avmontert Samba-ressurs (Microsoft-nettverk)
Comment[nso]=Kabagano yeo e Theositswego ya Samba (Kgokagano ya Microsoft)
Comment[pa]=ਅਨਮਾਊਟਿੰਡ ਸਾਂਬਾ (ਮਾਈਕਰੋਸਾਫਟ ਨੈੱਟਵਰਕ) ਸਾਂਝ
Comment[pl]=Odmontowany udział Samby (sieci typu Microsoft Network)
Comment[pt]=Partilha de Samba (Microsoft Network) desmontada
Comment[pt_BR]=Compartilhamento do Samba (Rede Microsoft) desmontado
Comment[ro]=Partajare Samba (reţea Microsoft) nemontată
Comment[ru]=Отмонтированный ресурс Samba (сеть Microsoft)
Comment[se]=Gálgajuvvon Samba-resursa (Microsoft-fierbmi)
Comment[sk]=Nepripojený disk Samba (Microsoft Network)
Comment[sl]=Odklopljen deljeni vir Sambe (Microsoftovo omrežje)
Comment[sr]=Демонтирано Samba (Microsoft Network) дељење
Comment[sr@Latn]=Demontirano Samba (Microsoft Network) deljenje
Comment[sv]=Avmonterad utdelad Samba-katalog (Microsoft-nätverk)
Comment[ta]=சம்பாவை வெளியேற்று(மைக்ரேசாப்ட் வலை) பகிர்வு
Comment[tg]=Ҷудо шудаи манбаъи Samba (шабакаи Microsoft)
Comment[th]=ทรัพยากร Samba (เครือข่ายวินโดว์ส) ที่ไม่ถูกเม้าทน์
Comment[tr]=Bağlanmış Samba (Microsoft Network) Paylaşımı
Comment[uk]=Демонтований спільний ресурс Samba (мережа Microsoft)
Comment[ven]=Samba i songo gonyaho (Vhukamani ha Microsoft) U kovhekana
Comment[vi]=Vùng chia sẻ SAMBA (Mạng của Microsoft) được gỡ
Comment[xh]=Samba Enganyuswanga (Umsebenzi womnatha we Microsoft) Ulwahlulo
Comment[xx]=xxUnmounted Samba (Microsoft Network) Sharexx
Comment[zh_CN]=卸载的 Samba (Microsoft 网络)共享
Comment[zh_TW]=未掛載的 Samba (Microsoft 網路) 分享
Comment[zu]=Isabelo se-Samba esehlisiwe (Uxhumano olusakazekile lwe-Microsoft)
Patterns=

X-KDE-AutoEmbed=true
