[Desktop Entry]
ServiceTypes=kdedevice/zip_unmounted
Actions=zip_mount
X-KDE-Priority=TopLevel

[Desktop Action zip_mount]
Name=Mount
Name[bg]=Монтиране
Name[bs]=Montiraj
Name[ca]=Munta
Name[cs]=Připojit
Name[cy]=Gosod
Name[da]=Montér
Name[de]=Laufwerk einbinden
Name[el]=Προσάρτηση
Name[eo]=Kroĉo
Name[es]=Montar
Name[et]=Ühenda
Name[eu]=Montatu
Name[fa]=سوارکردن
Name[fi]=Liitä
Name[fr]=Monter
Name[gl]=Montar
Name[he]=חבר
Name[hi]=माउन्ट
Name[hr]=Montiraj
Name[hu]=Csatlakoztatás (mount)
Name[it]=Monta
Name[ja]=マウント
Name[lo]=ຈໍພາບ
Name[lt]=Montuoti
Name[mn]=Залгах
Name[mt]=Immonta
Name[nb]=Monter
Name[nl]=Aankoppelen (mount)
Name[nn]=Monter
Name[nso]=Nameletsa
Name[pl]=Zamontuj
Name[pt]=Montar
Name[pt_BR]=Montar
Name[ro]=Montează
Name[ru]=Монтировать
Name[se]=Čana
Name[sk]=Pripojiť
Name[sl]=Priklopi
Name[sr]=Монтирај
Name[sv]=Montera
Name[ta]=ஏற்றப்பட்ட சிடிஎரித்தான்
Name[tg]=Васл кунӣ
Name[th]=เม้าทน์
Name[tr]=Bağla
Name[uk]=Змонтувати
Name[uz]=Улаш
Name[ven]=Gonya
Name[vi]=Gắn kết
Name[wa]=Monter
Name[wen]=montować
Name[xh]=Layisha
Name[xx]=xxMountxx
Name[zh_CN]=挂载
Name[zh_TW]=掛載
Name[zu]=Yenyusa
Exec=kio_devices_mounthelper -m %u
