[Desktop Entry]
Encoding=UTF-8
Icon=zip_mount
Type=MimeType
MimeType=kdedevice/zip_mounted
Comment=Mounted Zip Disk
Comment[af]=Gekoppelde Zip Disket
Comment[bg]=Монтиран Zip Диск
Comment[bs]=Montiran Zip disk
Comment[ca]=Munta el disc Zip
Comment[cs]=Připojený disk Zip
Comment[da]=Monteret zip-disk
Comment[de]=Eingebundenes Zip-Medium
Comment[el]=Προσαρτημένος δίσκος Zip
Comment[eo]=Kroĉita ZIP-disko
Comment[es]=Disco Zip montado
Comment[et]=Ühendatud Zip Disk
Comment[eu]=Zip Diska Montatua
Comment[fa]=دیسک Zip سوار
Comment[fi]=Liitetty Zip-levy
Comment[fr]=Disque Zip monté
Comment[he]=תקליטון Zip מחובר
Comment[hu]=Csatlakoztatott Zip-lemez
Comment[it]=Disco Zip montato
Comment[ja]=マウントされたZipディスク
Comment[lt]=Sumontuotas Zip diskas
Comment[mt]=Diska Zip immuntata
Comment[nb]=Montert Zip Disk
Comment[nl]=Aangekoppelde Zip-diskette
Comment[nn]=Montert Zip-disk
Comment[nso]=Disk yeo e Nameleditswego ya ZIP
Comment[pl]=Podłączona dyskietka Zip
Comment[pt]=Disco ZIP montado
Comment[pt_BR]=Disco Zip Montado
Comment[ru]=Смонтированный диск Zip
Comment[sk]=Pripojený disk Zip
Comment[sl]=Priklopljen disk Zip
Comment[sv]=Monterad Zip-diskett
Comment[ta]=²üÈôÀð¼ ÌÚ¸ø ÅðÎ
Comment[tr]=Bağlı Zip Diski
Comment[uk]=Змонтований диск Zip
Comment[ven]=Disk ya Zip yo gonyiswaho
Comment[xh]=Diski Yoqokelelo ndawonye Kwediski
Comment[zh_CN]=已装载的 Zip 磁盘
Comment[zh_TW]=已掛載的 Zip 磁碟
Comment[zu]=I-disk yokuhlanganiselwe ndawonye eyenyusiwe
Patterns=

X-KDE-AutoEmbed=true
