[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Media Manager
Name[az]=KDED Mediya İdarəcisi
Name[bg]=Управление на устройствата KDED
Name[bn]=কে.ডি.ই.ডি. মিডিয়া ম্যানেজার
Name[ca]=Gestor de suports KDED
Name[cs]=KDED správce médií
Name[da]=KDED Mediehåndtering
Name[de]=KDED Medienverwaltung
Name[eo]=Konserveja administrilo
Name[es]=Administrador de recursos KDED
Name[et]=KDED andmekandjate haldur
Name[fi]=KDED Tallennusmedianhallinta
Name[fr]=Gestionnaire de médias KDED
Name[fy]=KDEDED-mediabeheerder
Name[hi]=केडीईडी मीडिया प्रबंधक
Name[hu]=KDED médiakezelő
Name[is]=KDED miðilstjóri
Name[it]=Gestore dei supporti KDED
Name[ja]=KDED メディア マネージャ
Name[lv]=KDED Datu nesēju menedžeris
Name[mk]=Менаџер на носачи KDED
Name[nb]=KDED mediebehandler
Name[nl]=KDEDED-mediabeheerder
Name[nn]=KDED Mediehandsamar
Name[pa]=KDED ਮਾਧਿਅਮ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer nośników danych dla KDED
Name[pt]=Gestor de Dispositivos KDED
Name[pt_BR]=Gerenciador de Mídia
Name[ru]=Управление сменными носителями KDED
Name[se]=KDED-mediagieđahalli
Name[sl]=Upravitelj medijev KDED
Name[sr]=Менаџер медијума, KDED
Name[sr@Latn]=Menadžer medijuma, KDED
Name[sv]=KDED-mediahanterare
Name[ta]=KDED மீடியா மேலாளர்
Name[tr]=KDED Ortam Yöneticisi
Name[uk]=Менеджер носіїв інформації для KDED
Name[xx]=xxKDED Media Managerxx
Name[zh_CN]=KDED 介质管理器
Comment=Keep track of media activities and allow to (un)mount (media:/)
Comment[bg]=Наблюдение на устройствата и разрешаване на монтиране/демонтиране на (media:/)
Comment[bn]=কোথায় কী মিডিয়া ব্যবহার করা হচ্ছে খেয়াল রাখুন এবং (আন)মাউন্ট করুন (media:/)
Comment[ca]=Fa el seguiment de les activitats dels suports i permet muntar i desmuntar (media:/)
Comment[cs]=Udržuje přehled o připojených zařízeních
Comment[da]=Hold styr på medieaktiviteter og tillad at (af)montere (media:/)
Comment[de]=Verfolgt alle Aktivitäten, die mit der Einbindung (dem Mounten) von Medien zu tun haben
Comment[eo]=Sekvu spurojn de konservejaj aktivecoj kan permesu (ne)kroĉi (media:/)
Comment[es]=Monitoriza las actividades de los recursos y permite (des)montarlos (media:/)
Comment[et]=Hoiab silma peal andmekandjate aktiivsusel ja võimaldab neid ühendada/lahutada (media:/)
Comment[fi]=Pidä kirjaa tallennustapahtumista ja salli tallennusvälineen liittäminen/irroitus (devices:/)
Comment[fr]=Gardez une trace des montages et permettre le (dé)montage (media:/)
Comment[fy]=Hâld de media-aktiviteiten by en stien ta om media oan- en ôf te keppelje (media:/)
Comment[hi]=मीडिया क्रियाओं की जानकारी रखे तथा (अन)माउन्ट करने दे (मीडिया:/)
Comment[hu]=Az adathordozók követése, csatlakoztatása és leválasztása (media:/)
Comment[is]=Fylgjast með breytingum á tækjum og bjóða upp á (af)tengingu (media:/)
Comment[it]=Tiene traccia delle attività dei supporti e permette di montarli o smontarli (device:/)
Comment[ja]=メディアの活動を捕捉し、マウントしたりアンマウントします。(media:/)
Comment[lt]=Stebi laikmenose vykdomus veiksmus ir leidžia (iš)montuoti (media:/)
Comment[lv]=Seko datu nesēju aktivitātēm un ļauj montēt/nomontēt tos (media:/)
Comment[mk]=Води сметка за активностите на носачите и дозволува (де)монтирање (media:/)
Comment[mt]=Żomm kont ta' attivitajiet ta' mmuntar u ippermetti (un)mount (media:/)
Comment[nb]=Holder styr på monteringsaktiviteter og lar deg (av)montere (media:/)
Comment[nl]=Houdt de media-activiteiten bij en staat u toe om media aan- en af te koppelen (media:/)
Comment[nn]=Held styr på medieaktivitetar og lèt deg montera og avmontera (media:/)
Comment[pa]=ਮਾਊਟ ਕਾਰਵਾਈਆਂ ਦੀ ਜਾਣਕਾਰੀ ਰੱਖੋ ਅਤੇ ਅਨ-ਮਾਊਟ ਕਰਨ ਦਿਓ (ਜੰਤਰ:/)
Comment[pl]=Śledzi zdarzenia związane z nośnikami danych i pozala je (od)montować (media:/)
Comment[pt]=Manter o registo das actividades de dispositivos e permitir a (des)montagem (media:/)
Comment[pt_BR]=Monitora as atividades de mídias e permite a (des)montagem (media:/)
Comment[ru]=Отслеживает активность устройств и позволяет (от)монтировать (media:/)
Comment[se]=Gozit mii dáhpáhuvvá median ja diktá du gálgat ja čadnat daid (media:/)
Comment[sl]=Nadzoruj dejanja medija in dovilo priklop/odklop (media:/)
Comment[sr]=Прати активност медијума и омогућава (де)монтирање (media:/)
Comment[sr@Latn]=Prati aktivnost medijuma i omogućava (de)montiranje (media:/)
Comment[sv]=Håll reda på mediaaktiviteter och tillåt (av)montering (media:/)
Comment[ta]=இடைக்காலத்திற்குரிய நடவடிக்கைகளின் வைத்திரு. (சாதனம்:/)த்தை ஏற்ற(இறக்க)கவும் அனுமதி
Comment[tr]=Ortam işlemlerini takip et ve bağlanma işlemlerine izin ver(media:/)
Comment[uk]=Спостерігає за змінами серед носіїв інформації та дозволяє (роз)монтування (media:/)
Comment[xx]=xxKeep track of media activities and allow to (un)mount (media:/)xx
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=mediamanager
X-KDE-FactoryName=mediamanager
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
