[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Media Manager
Name[az]=KDED Mediya İdarəcisi
Name[bg]=Управление на устройствата KDED
Name[bn]=কে.ডি.ই.ডি. মিডিয়া ম্যানেজার
Name[ca]=Gestor de suports KDED
Name[cs]=KDED správce médií
Name[da]=KDED Mediehåndtering
Name[eo]=Konserveja administrilo
Name[es]=Administrador de recursos KDED
Name[et]=KDED andmekandjate haldur
Name[fr]=Gestionnaire de médias KDED
Name[fy]=KDEDED-mediabeheerder
Name[hu]=KDED médiakezelő
Name[is]=KDED miðilstjóri
Name[mk]=Менаџер на носачи KDED
Name[nb]=KDED mediabehandler
Name[nl]=KDEDED-mediabeheerder
Name[nn]=KDED Mediehandsamar
Name[pa]=KDED ਮਾਧਿਅਮ ਪ੍ਰਬੰਧਕ
Name[pt]=Gestor de Dispositivos KDED
Name[pt_BR]=Gerenciador de Mídia
Name[ru]=Управление сменными носителями KDED
Name[sv]=KDED-mediahanterare
Name[ta]=KDED மீடியா மேலாளர்
Name[tr]=KDED Ortam Yöneticisi
Name[uk]=Менеджер носіїв інформації для KDED
Name[xx]=xxKDED Media Managerxx
Name[zh_CN]=KDED 介质管理器
Comment=Keep track of media activities and allow to (un)mount (media:/)
Comment[bg]=Наблюдение на устройствата и разрешаване на монтиране/демонтиране на (media:/)
Comment[bn]=কোথায় কী মিডিয়া ব্যবহার করা হচ্ছে খেয়াল রাখুন এবং (আন)মাউন্ট করুন (media:/)
Comment[ca]=Fa el seguiment de les activitats dels suports i permet muntar i desmuntar (media:/)
Comment[da]=Hold styr på medieaktiviteter og tillad at (af)montere (media:/)
Comment[eo]=Sekvu spurojn de konservejaj aktivecoj kan permesu (ne)kroĉi (media:/)
Comment[es]=Monitoriza las actividades de los recursos y permite (des)montarlos (media:/)
Comment[et]=Hoiab silma peal andmekandjate aktiivsusel ja võimaldab neid ühendada/lahutada (media:/)
Comment[fr]=Gardez une trace des montages et permettre le (dé)montage (media:/)
Comment[fy]=Hâld de media-aktiviteiten by en stien ta om media oan- en ôf te keppelje (media:/)
Comment[hu]=Az adathordozók követése, csatlakoztatása és leválasztása (media:/)
Comment[is]=Fylgjast með breytingum á tækjum og bjóða upp á (af)tengingu (media:/)
Comment[mk]=Води сметка за активностите на носачите и дозволува (де)монтирање (media:/)
Comment[mt]=Żomm kont ta' attivitajiet ta' mmuntar u ippermetti (un)mount (media:/)
Comment[nl]=Houdt de media-activiteiten bij en staat u toe om media aan- en af te koppelen (media:/)
Comment[nn]=Held styr på medieaktivitetar og lèt deg montera og avmontera (media:/)
Comment[pa]=ਮਾਊਟ ਕਾਰਵਾਈਆਂ ਦੀ ਜਾਣਕਾਰੀ ਰੱਖੋ ਅਤੇ ਅਨ-ਮਾਊਟ ਕਰਨ ਦਿਓ (ਜੰਤਰ:/)
Comment[pt]=Manter o registo das actividades de dispositivos e permitir a (des)montagem (media:/)
Comment[pt_BR]=Monitora as atividades de mídias e permite a (des)montagem (media:/)
Comment[ru]=Отслеживает активность устройств и позволяет (от)монтировать (media:/)
Comment[sv]=Håll reda på mediaaktiviteter och tillåt (av)montering (media:/)
Comment[ta]=இடைக்காலத்திற்குரிய நடவடிக்கைகளின் வைத்திரு. (சாதனம்:/)த்தை ஏற்ற(இறக்க)கவும் அனுமதி
Comment[tr]=Ortam işlemlerini takip et ve bağlanma işlemlerine izin ver(media:/)
Comment[uk]=Спостерігає за змінами серед носіїв інформації та дозволяє (роз)монтування (media:/)
Comment[xx]=xxKeep track of media activities and allow to (un)mount (media:/)xx
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=mediamanager
X-KDE-FactoryName=mediamanager
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
