[Desktop Entry]
Icon=phone-apple-iphone
Name=Apple Devices
Name[ar]=أجهزة أبل
Name[be]=Прылады Apple
Name[bg]=Устройства на Apple
Name[ca]=Dispositius d'Apple
Name[ca@valencia]=Dispositius d'Apple
Name[cs]=Zařízení Apple
Name[de]=Apple-Geräte
Name[en_GB]=Apple Devices
Name[eo]=Apple-Aparatoj
Name[es]=Dispositivos Apple
Name[eu]=Apple gailuak
Name[fi]=Apple-laitteet
Name[fr]=Périphériques Apple
Name[gl]=Dispositivos de Apple
Name[ia]=Dispositivos de Apple
Name[is]=Apple-tæki
Name[it]=Dispositivi Apple
Name[ka]=Apple -ის მოწყობილობები
Name[ko]=Apple 장치
Name[nl]=Apple-apparaten
Name[nn]=Apple-einingar
Name[pl]=Urządzenia Apple
Name[pt]=Dispositivos Apple
Name[pt_BR]=Dispositivos Apple
Name[ru]=Устройства Apple
Name[sl]=Applove naprave
Name[sv]=Apple-enheter
Name[ta]=ஆப்பிள் சாதனங்கள்
Name[tr]=Apple Aygıtları
Name[uk]=Пристрої Apple
Name[vi]=Thiết bị Apple
Name[x-test]=xxApple Devicesxx
Name[zh_CN]=苹果设备
Name[zh_TW]=Apple 裝置
Type=Link
URL=afc:/
