[Desktop Entry]
Icon=multimedia-player
Name=MTP Devices
Name[es]=Dispositivos MTP
Name[fi]=MTP-laitteet
Name[nl]=MTP-apparaten
Name[pl]=Urządzenia MTP
Name[pt]=Dispositivos MTP
Name[pt_BR]=Dispositivos MTP
Name[sk]=Zariadenia MTP
Name[uk]=Пристрої MTP
Name[x-test]=xxMTP Devicesxx
Open=false
Type=Link
URL=mtp:/
