[Desktop Entry]
Icon=multimedia-player
Name=MTP Devices
Name[bs]=MTP Devices
Name[ca]=Dispositius MTP
Name[ca@valencia]=Dispositius MTP
Name[cs]=Zařízení MTP
Name[da]=MTP-enheder
Name[de]=MTP-Geräte
Name[el]=Συσκευές MTP
Name[es]=Dispositivos MTP
Name[et]=MTP seadmed
Name[fi]=MTP-laitteet
Name[fr]=Périphériques « MTP »
Name[ga]=Gléasanna MTP
Name[gl]=Dispositivos MTP
Name[hu]=MTP eszközök
Name[it]=Dispositivi MTP
Name[ko]=MTP 장치
Name[lt]=MTP įrenginiai
Name[mr]=एमटीपी साधने
Name[nl]=MTP-apparaten
Name[pl]=Urządzenia MTP
Name[pt]=Dispositivos MTP
Name[pt_BR]=Dispositivos MTP
Name[ro]=Dispozitive MTP
Name[ru]=Устройства MTP
Name[sk]=Zariadenia MTP
Name[sl]=Naprave MTP
Name[sv]=MTP-enheter
Name[tr]=MTP Aygıtları
Name[uk]=Пристрої MTP
Name[x-test]=xxMTP Devicesxx
Open=false
Type=Link
URL=mtp:/
