[Desktop Entry]
X-KDE-Solid-Predicate=PortableMediaPlayer.supportedProtocols == 'mtp'
Type=Service
Actions=open;

[Desktop Action open]
Exec=kioclient5 exec mtp:udi=%i/
Icon=system-file-manager
Name=Open with File Manager
Name[ar]=افتح بمدير الملفّات
Name[ast]=Abrir col xestor de ficheros
Name[bg]=Отваряне с файлов мениджър
Name[ca]=Obre amb el gestor de fitxers
Name[ca@valencia]=Obri amb el gestor de fitxers
Name[cs]=Otevřít ve správci souborů
Name[csb]=Òtemkni w &menadzerze lopków
Name[da]=Åbn med filhåndtering
Name[de]=Mit Dateiverwaltung öffnen
Name[el]=Άνοιγμα με τον διαχειριστή αρχείων
Name[en_GB]=Open with File Manager
Name[eo]=Malfermi per &defaŭlta retumilo
Name[es]=Abrir con el gestor de archivos
Name[et]=Ava failihalduriga
Name[eu]=Ireki fitxategi kudeatzailearekin
Name[fi]=Avaa tiedostonhallinnassa
Name[fr]=Ouvrir avec le gestionnaire de fichiers
Name[fy]=Iepenje mei triembehearder
Name[ga]=Oscail le Bainisteoir na gComhad
Name[gl]=Abrir co xestor de ficheiros
Name[gu]=ફાઇલ વ્યવસ્થાપક સાથે ખોલો
Name[he]=פתיחה באמצעות מנהל הקבצים
Name[hr]=Otvori pomoću preglednika datoteka
Name[hu]=Megnyitás a fájlkezelővel
Name[ia]=Aperir con le Gerente de Files
Name[id]=Buka Dengan Pengelola File
Name[is]=Opna með skráastjóra
Name[it]=Apri con il gestore dei file
Name[kk]=Файл менеджерінде ашу
Name[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕದೊಂದಿಗೆ ತೆರೆ
Name[ko]=파일 관리자로 열기
Name[mk]=Отвори со менаџер на датотеки
Name[ml]=ഫയലുകളുടെ നടത്തിപ്പുകാരനില്‍ തുറക്കുക
Name[nb]=Åpne med filbehandler
Name[nds]=Mit Dateipleger opmaken
Name[nl]=Openen met bestandsbeheerder
Name[nn]=Opna i filhandsamar
Name[pa]=ਫਾਈਲ ਮੈਨੇਜਰ ਨਾਲ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz w przeglądarce plików
Name[pt]=Abrir com o Gestor de Ficheiros
Name[pt_BR]=Abrir com o Gerenciador de Arquivos
Name[ro]=Deschide cu gestionarul de fișiere
Name[ru]=Открыть в диспетчере файлов
Name[si]=ගොනු කළමණාකරු සමඟ ආරම්භ කරන්න
Name[sk]=Otvoriť v správcovi súborov
Name[sl]=Odpri v upravljalniku datotek
Name[sr]=Отвори менаџером фајлова
Name[sr@ijekavian]=Отвори менаџером фајлова
Name[sr@ijekavianlatin]=Otvori menadžerom fajlova
Name[sr@latin]=Otvori menadžerom fajlova
Name[sv]=Öppna med filhanterare
Name[tg]=Кушодан бо намоишгари Интернети &стандартӣ
Name[th]=เปิดใช้งานผ่านเครื่องมือจัดการแฟ้ม
Name[tr]=Dosya yöneticisi ile aç
Name[uk]=Відкрити за допомогою програми для керування файлами
Name[x-test]=xxOpen with File Managerxx
Name[zh_CN]=用文件浏览器打开
Name[zh_TW]=使用檔案管理員開啟
