[Desktop Entry]
X-KDE-Solid-Predicate=PortableMediaPlayer.supportedProtocols == 'mtp'
Type=Service
Actions=open;

[Desktop Action open]
Exec=kioclient5 exec mtp:udi=%i/
Icon=system-file-manager
Name=Browse Files with File Manager
Name[ca]=Navega pels fitxers amb el gestor de fitxers
Name[ca@valencia]=Navega pels fitxers amb el gestor de fitxers
Name[cs]=Prohlížet soubory ve správci souborů
Name[en_GB]=Browse Files with File Manager
Name[es]=Explorar archivos con el gestor de archivos
Name[gl]=Explorar o ficheiros co xestor de ficheiros
Name[nl]=Door bestanden bladeren met bestandsbeheerder
Name[pt]=Navegar com o Gestor de Ficheiros
Name[pt_BR]=Navegar com o gerenciador de arquivos
Name[sv]=Bläddra bland filer med filhanterare
Name[uk]=Переглянути файли у програмі для керування файлами
Name[x-test]=xxBrowse Files with File Managerxx
Name[zh_CN]=使用文件管理器浏览文件
Name[zh_TW]=使用檔案管理員瀏覽檔案
