[Desktop Entry]
Encoding=UTF-8
#DocPath=
Icon=system
Exec=kcmshell media

Type=Service
ServiceTypes=KCModule


X-KDE-Library=media
X-KDE-FactoryName=media
X-KDE-ParentApp=kcontrol

Name=Storage Media
Name[af]=Stoor Media
Name[ar]=وسائط التخزين
Name[be]=Носьбіт
Name[ca]=Suports d'emmagatzematge
Name[cs]=Úložná zařízení
Name[csb]=Zôpisowné media
Name[da]=Opbevaringsmedie
Name[de]=Speichermedien
Name[el]=Συσκευές αποθήκευσης
Name[eo]=Konservejo
Name[es]=Dispositivos de almacenamiento
Name[et]=Andmekandjad
Name[eu]=Biltegiratze-euskarria
Name[fa]=رسانۀ ذخیره‌گاه
Name[fi]=Tallennusmedia
Name[fr]=Support de stockage
Name[fy]=Opslachapparaten
Name[ga]=Meán Stórais
Name[gl]=Medios de armacenaxe
Name[he]=התקנים
Name[hr]=Mediji za pohranjivanje
Name[hu]=Tárolóeszközök
Name[is]=Geymslumiðlar
Name[it]=Dispositivi di archiviazione
Name[ja]=記憶メディア
Name[ka]=მონაცემთა შენახვის მოწყობილობები
Name[kk]=Жинақтаушы құрылғылар
Name[km]=ឧបករណ៍​ផ្ទុក
Name[lt]=Saugojimo įrenginiai
Name[lv]=Datu nesējs
Name[mk]=Медиуми за податоци
Name[ms]=Media Storan
Name[nb]=Lagringsenheter
Name[nds]=Spiekermedien
Name[ne]=भण्डारण मिडिया
Name[nl]=Opslagapparaten
Name[nn]=Lagringsmedium
Name[pa]=ਸਟੋਰੇਜ਼ ਮੀਡਿਆ
Name[pl]=Urządzenia przechowywania danych
Name[pt_BR]=Mídia de Armazenamento
Name[ro]=Mediu de stocare
Name[ru]=Устройства хранения данных
Name[se]=Vurkenmedia
Name[sl]=Nosilci za shranjevanje
Name[sr]=Складишни медијуми
Name[sr@latin]=Skladišni medijumi
Name[sv]=Lagringsmedia
Name[ta]=சேகரிப்பு ஊடகம்
Name[tr]=Depolama Ortamı
Name[uk]=Пристрої зберігання інформації
Name[uz]=Сақлаш ускуналари
Name[x-test]=xxStorage Mediaxx
Name[zh_TW]=儲存媒體

Comment=Configure Storage Media
Comment[af]=Stel Stoor Media op
Comment[ar]=إعداد وسائط التخزين
Comment[be]=Настаўленні носьбітаў
Comment[ca]=Configura els suports d'emmagatzematge
Comment[cs]=Nastavení úložných médií
Comment[csb]=Kònfigùracëjô zôpisownëch mediów
Comment[da]=Opsætning af opbevarelsesmedie
Comment[de]=Speichermedien einrichten
Comment[el]=Ρύθμιση μέσων αποθήκευσης
Comment[eo]=Agordo de Konservejo
Comment[es]=Configuración de las medios de almacenamiento
Comment[et]=Salvestusandmekandjate seadistused
Comment[eu]=Konfiguratu biltegiratze-euskarria
Comment[fa]=پیکربندی رسانۀ ذخیره‌گاه
Comment[fi]=Aseta tallennusmedia
Comment[fr]=Configurer le média de stockage
Comment[fy]=Opslachmedia ynstelle
Comment[ga]=Cumraigh Meáin Stórála
Comment[gl]=Configurar Medios de Armacenaxe
Comment[he]=שינוי הגדרות מדיות אחסון
Comment[hr]=Konfiguriranje medija za pohranu
Comment[hu]=A tárolóeszközök beállítása
Comment[is]=Stillingar geymslumiðla
Comment[it]=Configura dispositivi di archiviazione
Comment[ja]=記憶メディアの設定
Comment[ka]=შენახვის მედიის გამართვა
Comment[kk]=Жинақтаушыларды баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ឧបករណ៍​ផ្ទុក
Comment[lt]=Konfigūruoti saugojimo įrenginius
Comment[mk]=Конфигурирајте ги медиумите за податоци
Comment[nb]=Sett opp lagringsmedier
Comment[nds]=Spiekermedien instellen
Comment[ne]=भण्डारण मिडिया कन्फिगर गर्नुहोस्
Comment[nl]=Opslagmedia instellen
Comment[nn]=Set opp lagringsmedium
Comment[pa]=ਸਟੋਰੇਜ਼ ਮੀਡਿਆ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja nośników danych
Comment[pt_BR]=Configura as mídias de armazenamento
Comment[ro]=Configurează mediile de stocare
Comment[ru]=Настройка подключаемых устройств хранения
Comment[se]=Heivet vurkenmediaid
Comment[sl]=Nastavitve nosilcev za shranjevanje
Comment[sr]=Подешавање медијума за складиштење
Comment[sr@latin]=Podešavanje medijuma za skladištenje
Comment[sv]=Anpassa lagringsmedia
Comment[tr]=Depolama Aygıtlarını Yapılandır
Comment[uk]=Налаштування пристроїв зберігання інформації
Comment[uz]=Сақлаш ускуналарни мослаш
Comment[x-test]=xxConfigure Storage Mediaxx
Comment[zh_TW]=設定儲存媒體

Keywords=storage,media,usb,cdrom,device
Keywords[ar]=تخزين,وسائط,usb,قرص مدمج cdrom,جهاز
Keywords[be]=Носьбіт,Прылада,storage,media,usb,cdrom,device
Keywords[ca]=emmagatzematge,suport,usb,cdrom,dispositiu
Keywords[cs]=úložiště,média,USB,CDROM,zařízení
Keywords[csb]=pòdôwczi,trzëmanié pòdôwków,zôpisowné media,usb,cdrom,ùrządzenié,nëk
Keywords[da]=opbevaring,medie,usb,cdrom,enhed
Keywords[de]=Speicher,Medien,Medium,USB,CD-Rom,cdrom,Gerät
Keywords[el]=αποθήκευση,μέσο,usb,cdrom,συσκευή
Keywords[eo]=memorigilo,medio,usb,lumdisko,aparato   
Keywords[es]=almacenamiento,medios,usb,cdrom,dispositivo
Keywords[et]=salvestamine,andmekandja,usb,cd,seade
Keywords[eu]=biltegiratzea,euskarriak,usb,cdrom,gailua
Keywords[fa]=ذخیره‌گاه، رسانه، گذرگاه سریال جهانی، دیسک فشرده، دستگاه
Keywords[fi]=varasto,media,usb,cdrom,laite
Keywords[fr]=stockage,media,medium,usb,cdrom,périphérique
Keywords[fy]=storage,opslach,media,usb,cd-rom,kompakt-skiif,device,apparaat,mp3-speler,usb-stick,geheugenkaart
Keywords[ga]=stóras,meáin,usb,cdrom,gléas
Keywords[gl]=armacenaxe,medios,usb,cdrom,dispositivo
Keywords[he]=storage,media,usb,cdrom,device,מדיה,התקן,סידירום,תקליטור
Keywords[hr]=storage,media,usb,cdrom,device,pohrana,snimanje,mediji,uređaj
Keywords[hu]=tároló,adathordozó,USB,CD-ROM,eszköz
Keywords[is]=geymsla,miðill,usb,cdrom,tæki
Keywords[it]=storage,media,usb,cdrom,dispositivi,dvd,penna usb,memory stick,stick
Keywords[ja]=記憶,メディア,usb,cdrom,デバイス
Keywords[km]=ឧបករណ៍​ផ្ទុក, usb,ស៊ីឌីរ៉ូម,ឧបករណ៍
Keywords[lt]=storage,media,usb,cdrom,device,saugojimas,media,įrenginiai,usb
Keywords[mk]=storage,media,usb,cdrom,device,медиуми,усб,цдром,уред
Keywords[nb]=lagring,media,usb,CD-spiller,CD-ROM,enheter,minnepinner,harddisker,HD,eksterne harddisker,zip-disker
Keywords[nds]=Spieker,Medien,USB,CDROM,Reedschap
Keywords[ne]=भण्डारण, मिडिया,usb,cdrom, यन्त्र
Keywords[nl]=storage,opslag,media,usb,cd-rom,device,apparaat,mp3-speler,usb-stick,geheugenkaart
Keywords[nn]=lagring,media,usb,CD-spiller,CD-ROM,einingar,minnepinnar,harddiskar,HD,eksterne harddiskar,zip-diskar
Keywords[pa]=ਸਟੋਰੇਜ਼,ਮੀਡਿਆ,ਜੰਤਰ,usb,cdrom
Keywords[pl]=dane,przechowywanie danych,nośnik danych,nośniki danych,usb,cdrom,urządzenie
Keywords[pt_BR]=armazenamento,mídia,usb,cd-rom,device,dispositivo
Keywords[ro]=stocare,mediu,usb,cdrom,dispozitiv
Keywords[ru]=storage,media,usb,cdrom,device,устройство хранения
Keywords[sl]=shranjevanje,nosilec,usb,cdrom,naprava
Keywords[sr]=storage,media,usb,cdrom,device,складиштење,медијум,уређај
Keywords[sr@latin]=storage,media,usb,cdrom,device,skladištenje,medijum,uređaj
Keywords[sv]=lagring,media,usb,cdrom,enhet
Keywords[tr]=depolama,ortam,usb,cdrom,device
Keywords[uk]=зберігання,носій,медіа,usb,cdrom,пристрій
Keywords[uz]=сақлаш ускунаси,usb,cdrom,компакт-диск
Keywords[x-test]=xxstorage,media,usb,cdrom,devicexx
Keywords[zh_TW]=storage,media,usb,cdrom,device,儲存,媒體,光碟機,裝置

Categories=Qt;KDE;X-KDE-settings-peripherals;
