[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Linking Files to Activities
Icon=preferences-activities
X-KDE-Library=kactivitymanagerd_fileitem_linking_plugin
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
