[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=File to activity linking plugin
Name[ast]=Complementu d'enllazamientu d'actividaes a ficheros
Name[bs]=Datoteka dodatka za povezivanje na aktivnost
Name[ca]=Connector per enllaçar fitxers amb activitats
Name[ca@valencia]=Connector per enllaçar fitxers amb activitats
Name[da]=Fil til aktivitetslink-plugin
Name[de]=Modul für die Verknüpfung von Dateien zu Aktivitäten
Name[el]=Αρχείο για το πρόσθετο διαχείρισης δραστηριότητας
Name[en_GB]=File to activity linking plugin
Name[es]=Archivo para el complemento de enlace de actividades
Name[et]=Faili tegevusega linkimise plugin
Name[fi]=Tiedostojen yhdistäminen aktiviteettiin
Name[gd]=Plugan gus faidhlichean a co-cheangal ri gnìomhachdan
Name[gl]=Complemento para ligar ficheiros con actividades
Name[is]=Tengiviðbót fyrir skrá-í-virkni
Name[it]=Estensione di collegamento tra file e attività
Name[km]=ឯកសារ​ទៅ​កម្មវិធី​ជំនួយ​​កំណត់​ជួរ​សកម្មភាព
Name[ko]=파일 대 활동 연결 플러그인
Name[lt]=Failo pririšimo prie veiklos papildinys
Name[nb]=Programtillegg som binder fil til aktivitet
Name[nl]=Plug-in voor koppelen van bestand aan activiteit
Name[nn]=Programtillegg for å knyta fil til aktivitet
Name[pl]=Plik dla wtyczki łączącej działania
Name[pt]='Plugin' de ligação de ficheiros a actividades
Name[pt_BR]=Plugin de ligação de arquivo a atividade
Name[ru]=Модуль связывания файлов с комнатами
Name[sk]=Súbor na plugin linkovania aktivít
Name[sl]=Vstavek za povezovanje datoteke z dejavnostjo
Name[sr]=Фајл за прикључак повезивања активности
Name[sr@ijekavian]=Фајл за прикључак повезивања активности
Name[sr@ijekavianlatin]=Fajl za priključak povezivanja aktivnosti
Name[sr@latin]=Fajl za priključak povezivanja aktivnosti
Name[sv]=Insticksprogram för länkning av fil till aktivitet
Name[tr]=Etkinliğe dosya bağlama eklentisi
Name[ug]=پائالىيەت ئۇلانما قىستۇرما ھۆججىتى
Name[uk]=Додаток прив’язування файлів до просторів дій
Name[x-test]=xxFile to activity linking pluginxx
Name[zh_CN]=文件链接到活动插件
Name[zh_TW]=連結檔案與活動的外掛程式
Icon=preferences-activities
X-KDE-Library=kactivitymanagerd_fileitem_linking_plugin
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
