[Desktop Entry]
Type=Service
Name=AppImage
Name[ca]=AppImage
Name[ca@valencia]=AppImage
Name[cs]=AppImage
Name[de]=AppImage
Name[es]=AppImage
Name[fr]=AppImage
Name[it]=AppImage
Name[nl]=AppImage
Name[nn]=AppImage
Name[pt]=AppImage
Name[pt_BR]=AppImage
Name[sv]=AppImage
Name[uk]=AppImage
Name[x-test]=xxAppImagexx
Name[zh_CN]=AppImage
Name[zh_TW]=AppImage
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-iso9660-appimage;application/vnd.appimage;
X-KDE-Library=appimagethumbnail
CacheThumbnail=true
