[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Audio files
Name[ca]=Fitxers d'àudio
Name[ca@valencia]=Fitxers d'àudio
Name[cs]=Audio soubory
Name[de]=Audio-Dateien
Name[it]=File audio
Name[nl]=Geluidsbestanden
Name[pt]=Ficheiros de áudio
Name[sl]=Zvočne datoteke
Name[sr]=Звучни фајлови
Name[sr@ijekavian]=Звучни фајлови
Name[sr@ijekavianlatin]=Zvučni fajlovi
Name[sr@latin]=Zvučni fajlovi
Name[sv]=Ljudfiler
Name[uk]=Звукові файли
Name[x-test]=xxAudio filesxx
Name[zh_TW]=音訊檔案
ServiceTypes=ThumbCreator
MimeType=audio/*;
CacheThumbnail=true
X-KDE-Library=audiothumbnail
