[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Comic Books
ServiceTypes=ThumbCreator
MimeType=application/x-cbz;application/x-cbr;application/x-cbt;
X-KDE-Library=comicbookthumbnail
CacheThumbnail=true
