[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Cursor Files
Name[ar]=ملفات مؤشر الماوس
Name[az]=Kursor Faylları
Name[be]=Файлы курсораў
Name[bg]=Файлове с показалци на мишката
Name[bn]=কার্সর ফাইল
Name[br]=Restroù reti
Name[bs]=Datoteke sa kursorima
Name[ca]=Fitxers de cursor
Name[cs]=Soubory s kurzory
Name[cy]=Ffeiliau Cyrchydd
Name[da]=Markørfiler
Name[de]=Cursor-Dateien
Name[el]=Αρχεία κέρσορα
Name[eo]=Tipardosierojn
Name[es]=Archivos de cursores
Name[et]=Kursorifailid
Name[eu]=Kurtsore fitxategiak
Name[fi]=Osoitintiedostot
Name[fr]=Fichiers de curseurs
Name[fy]=Rinnerke-triemen
Name[gl]=Ficheiros de Punteiro
Name[he]=קבצי סמנים
Name[hi]=संकेतक फ़ाइल
Name[hr]=Datoteke pokazivača
Name[hu]=Kurzorfájlok
Name[is]=Bendilsskrár
Name[it]=File dei cursori
Name[ja]=カーソルファイル
Name[lt]=Kursorių bylos
Name[lv]=Kursoru faili
Name[mk]=Датотеки со курсори
Name[mn]=Түүчээ файл
Name[mt]=Fajls ta' kursur
Name[nb]=Pekerfiler
Name[nds]=Cursor-Dateien
Name[nl]=Cursorbestanden
Name[nn]=Peikarfiler
Name[pa]=ਕਰਸਰ ਫਾਇਲਾਂ
Name[pl]=Pliki kursorów
Name[pt]=Ficheiros de Cursores
Name[pt_BR]=Arquivos de Cursor
Name[ro]=Fişiere cursor
Name[ru]=Файлы курсоров
Name[se]=Sievánfiillat
Name[sk]=Súbory s kurzormi
Name[sl]=Datoteke s kazalci
Name[sr]=Фајлови показивача
Name[sr@Latn]=Fajlovi pokazivača
Name[sv]=Muspekarfiler
Name[ta]=நிலைகாட்டி கோப்புகள்
Name[tg]=Файлҳои курсор
Name[tr]=İmleç Dosyaları
Name[uk]=Файли курсорів
Name[uz]=Курсор файллари
Name[vi]=File con trỏ
Name[wa]=Fitchîs cursoe
Name[xx]=xxCursor Filesxx
Name[zh_CN]=光标文件
Name[zh_TW]=游標檔案
ServiceTypes=ThumbCreator
MimeTypes=image/x-xcursor
X-KDE-Library=cursorthumbnail
CacheThumbnail=false
