[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Cursor Files
Name[x-test]=xxCursor Filesxx
ServiceTypes=ThumbCreator
MimeTypes=image/x-xcursor
X-KDE-Library=cursorthumbnail
CacheThumbnail=false
