[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Cursor Files
Name[bg]=Файлове с показалци на мишката
Name[bs]=Datoteke sa kursorima
Name[ca]=Fitxers de cursor
Name[cs]=Soubory s kurzory
Name[cy]=Ffeiliau Cyrchydd
Name[da]=Markørfiler
Name[de]=Cursor-Dateien
Name[el]=Αρχεία κέρσορα
Name[es]=Archivos de cursores
Name[et]=Kursorifailid
Name[fi]=Osoitintiedostot
Name[fr]=Fichiers de curseurs
Name[gl]=Ficheiros de Punteiro
Name[he]=קבצי סמנים
Name[hi]=संकेतक फाइल
Name[hu]=Kurzorfájlok
Name[it]=File dei cursori
Name[mn]=Түүчээ файл
Name[nb]=Peker-filer
Name[nl]=Cursorbestanden
Name[nn]=Peikarfiler
Name[pl]=Pliki kursorów
Name[pt]=Ficheiros de Cursores
Name[pt_BR]=Arquivos de Cursor
Name[ro]=Fişiere cursor
Name[sk]=Súbory s kurzormi
Name[sl]=Datoteke s kazalci
Name[sr]=Фајлови показивача
Name[sv]=Muspekarfiler
Name[ta]=எழுத்துரு கோப்பு
Name[tr]=İmleç Dosyaları
Name[uk]=Файли курсорів
Name[uz]=Курсор файллари
Name[vi]=File con trỏ
Name[wa]=Fitchîs cursoe
Name[xx]=xxCursor Filesxx
Name[zh_CN]=鼠标指针文件
Name[zh_TW]=游標檔案
ServiceTypes=ThumbCreator
MimeTypes=image/x-xcursor
X-KDE-Library=cursorthumbnail
CacheThumbnail=false
