[Desktop Entry]
Type=Service
Name=Desktop Files
Name[uk]=Стільничні файли
Name[x-test]=xxDesktop Filesxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-desktop;
X-KDE-Library=textthumbnail
CacheThumbnail=false
