[Desktop Entry]
Type=Service
Name=Desktop Files
Name[bg]=Файлове на работния плот
Name[ca]=Fitxers «desktop»
Name[cs]=Soubory plochy
Name[csb]=Lopczi pùltu
Name[da]=Desktop-filer
Name[de]=Desktop-Dateien
Name[el]=Αρχεία επιφάνειας εργασίας
Name[en_GB]=Desktop Files
Name[eo]=Dosieroj de Labortablo
Name[es]=Ficheros de escritorio
Name[et]=Töölauafailid
Name[fr]=Fichier du bureau
Name[fy]=Buroblêd triemmen
Name[gl]=Ficheiros do escritorio
Name[gu]=ડેસ્કટોપ ફાઇલો
Name[he]=קבצי שולחן עבודה
Name[hr]=Datoteke radne površine
Name[hu]=Asztali fájlok
Name[id]=Berkas Desktop
Name[is]=Skjáborðsskrár
Name[it]=File desktop
Name[ja]=デスクトップファイル
Name[kk]=Үстел файлы
Name[km]=ឯកសារ​ផ្ទៃតុ​
Name[ko]=데스크톱 파일
Name[lt]=Darbastalio failai
Name[lv]=Darbvirsmas faili
Name[mai]=डेस्कटाप फाइल
Name[mk]=Датотеки на раб. површина
Name[ml]=പണിയിട ഫയലുകള്‍
Name[nb]=Skrivebordsfiler
Name[nds]=Schriefdisch-Dateien
Name[nl]=Bureaubladbestanden
Name[nn]=Skrivebordsfiler
Name[pl]=Pliki na pulpicie
Name[pt]=Ficheiros 'Desktop'
Name[pt_BR]=Arquivos desktop
Name[ro]=Fișiere de birou
Name[ru]=Файлы описаний (.desktop)
Name[sk]=Súbory plochy
Name[sl]=Datoteke za namizje
Name[sr]=Фајлови површи
Name[sr@latin]=Fajlovi površi
Name[sv]=Skrivbordsfiler
Name[tg]=Мизи корӣ, монанди куб
Name[tr]=Masaüstü Dosyaları
Name[uk]=Стільничні файли
Name[wa]=Fitchîs di scribannes
Name[x-test]=xxDesktop Filesxx
Name[zh_CN]=桌面文件
Name[zh_TW]=桌面檔
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-desktop;
X-KDE-Library=textthumbnail
CacheThumbnail=false
