[Desktop Entry]
Type=Service
Name=Desktop Files
Name[el]=Αρχεία επιφάνειας εργασίας
Name[et]=Töölauafailid
Name[pt]=Ficheiros 'Desktop'
Name[pt_BR]=Ficheiros 'Desktop'
Name[sv]=Skrivbordsfiler
Name[tr]=Masaüstü Dosyaları
Name[uk]=Стільничні файли
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-desktop;
X-KDE-Library=textthumbnail
CacheThumbnail=false
