[Desktop Entry]
Type=Service
Name=Folders
Name[cs]=Složky
Name[de]=Ordner
Name[es]=Carpetas
Name[mr]=संचयीका
Name[nl]=Mappen
Name[pt]=Pastas
Name[pt_BR]=Pastas
Name[sk]=Priečinky
Name[sv]=Kataloger
Name[uk]=Теки
Name[x-test]=xxFoldersxx
Name[zh_TW]=資料夾
X-KDE-ServiceTypes=ThumbCreator
MimeType=inode/directory;
CacheThumbnail=false
HandleSequences=true
