[Desktop Entry]
Type=Service
Name=Directories
Name[ca]=Directoris
Name[ca@valencia]=Directoris
Name[csb]=Katalodżi
Name[da]=Mapper
Name[de]=Ordner
Name[el]=Κατάλογοι
Name[et]=Kataloogid
Name[fi]=Kansiot
Name[ga]=Comhadlanna
Name[gu]=ડિરેક્ટરીઓ
Name[km]=ថត
Name[ko]=디렉터리
Name[nb]=Mapper
Name[nds]=Ornern
Name[pt]=Pastas
Name[pt_BR]=Pastas
Name[ro]=Directoare
Name[si]=බහලුම්
Name[sv]=Kataloger
Name[tr]=Dizinler
Name[uk]=Каталоги
Name[x-test]=xxDirectoriesxx
Name[zh_CN]=目录
Name[zh_TW]=目錄
X-KDE-ServiceTypes=ThumbCreator
MimeType=inode/directory;
CacheThumbnail=false
