[Desktop Entry]
Type=Service
Name=Folders
Name[uk]=Теки
Name[x-test]=xxFoldersxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=inode/directory;
CacheThumbnail=false
HandleSequences=true
