[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DjVu Files
Name[be]=DjVu файлы
Name[cy]=Ffeiliau DjVu
Name[da]=DjVu-filer
Name[de]=DjVu-Dateien
Name[el]=αρχεία DjVu
Name[es]=Archivos DjVu
Name[fr]=Fichiers DjVu
Name[hu]=DjVu fájlok
Name[it]=File DjVu
Name[ja]=DjVu ファイル
Name[ko]=DjVu 파일
Name[pl]=Strony DjVu
Name[pt]=Ficheiros DjVu
Name[pt_BR]=Arquivos DjVu
Name[ro]=Fişiere DjVu
Name[ru]=Файлы DjVu
Name[sk]=Súbory DjVu
Name[sr]=DjVu fajlovi
Name[sv]=DjVu-filer
Name[wa]=Fitchîs DjVu
Name[zh_CN]=DjVu 文件
Name[zh_TW]=DjVu 檔案
ServiceTypes=ThumbCreator
MimeTypes=image/x-djvu,image/x.djvu,image/vnd.djvu
X-KDE-Library=djvuthumbnail
CacheThumbnail=true
