[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DjVu Files
Name[ar]=ملفات DjVu
Name[az]=DjVu Faylları
Name[be]=DjVu файлы
Name[bg]=Файлове DjVu
Name[bn]=DjVu ফাইল
Name[br]=Restr DjVu
Name[bs]=DjVu datoteke
Name[ca]=Fitxers DjVu
Name[cs]=DjVu soubory
Name[cy]=Ffeiliau DjVu
Name[da]=DjVu-filer
Name[de]=DjVu-Dateien
Name[el]=Αρχεία DjVu
Name[eo]=DjVu-dosieroj
Name[es]=Archivos DjVu
Name[et]=DjVu failid
Name[eu]=DjVu fitxategiak
Name[fi]=DjVu-tiedostot
Name[fr]=Fichiers DjVu
Name[fy]=DjVu-triemen
Name[ga]=Comhaid DjVu
Name[gl]=Ficheiros DjVu
Name[he]=קבצי DjVu
Name[hi]=DjVu फ़ाइलें
Name[hr]=DjVu datoteke
Name[hu]=DjVu-fájlok
Name[is]=DjVu skrár
Name[it]=File DjVu
Name[ja]=DjVuファイル
Name[lt]=DjVu bylos
Name[lv]=DjVu faili
Name[mk]=DjVu датотеки
Name[mn]=DjVu файлууд
Name[mt]=Fajls DjVu
Name[nb]=DjVu-filer
Name[nds]=DjVu-Dateien
Name[nl]=DjVu-bestanden
Name[nn]=DjVu-filer
Name[pa]=DjVu ਫਾਇਲਾਂ
Name[pl]=Pliki DjVu
Name[pt]=Ficheiros DjVu
Name[pt_BR]=Arquivos DjVu
Name[ro]=Fişiere DjVu
Name[ru]=Файлы DjVu
Name[se]=DjVu-fiilat
Name[sk]=Súbory DjVu
Name[sl]=Datoteke DjVu
Name[sr]=DjVu фајлови
Name[sr@Latn]=DjVu fajlovi
Name[sv]=DjVu-filer
Name[ta]=DjVu கோப்புகள்
Name[tg]=Файлҳои DjVu
Name[tr]=DjVu Dosyaları
Name[uk]=Файли DjVu
Name[uz]=DjVu-файллари
Name[vi]=File đã nhìn thấy
Name[wa]=Fitchîs DjVu
Name[xx]=xxDjVu Filesxx
Name[zh_CN]=DjVu 文件
Name[zh_TW]=DjVu 檔案
ServiceTypes=ThumbCreator
MimeTypes=image/x-djvu,image/x.djvu,image/vnd.djvu
X-KDE-Library=djvuthumbnail
CacheThumbnail=true
IgnoreMaximumSize=true
