[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DjVu Files
Name[ar]=ملفات DjVu
Name[be]=DjVu файлы
Name[bg]=Файлове DjVu
Name[bs]=DjVu datoteke
Name[ca]=Fitxers DjVu
Name[cs]=DjVu soubory
Name[cy]=Ffeiliau DjVu
Name[da]=DjVu-filer
Name[de]=DjVu-Dateien
Name[el]=Αρχεία DjVu
Name[es]=Archivos DjVu
Name[et]=DjVu failid
Name[fi]=DjVu-tiedostot
Name[fr]=Fichiers DjVu
Name[gl]=Ficheiros DjVu
Name[he]=קבצי DjVu
Name[hi]=DjVu फाइलें
Name[hu]=DjVu-fájlok
Name[it]=File DjVu
Name[mn]=DjVu файлууд
Name[nb]=DjVu-filer
Name[nds]=DjVu-Dateien
Name[nl]=DjVu-bestanden
Name[nn]=DjVu-filer
Name[pl]=Pliki DjVu
Name[pt]=Ficheiros DjVu
Name[pt_BR]=Arquivos DjVu
Name[ro]=Fişiere DjVu
Name[ru]=Файлы DjVu
Name[sk]=Súbory DjVu
Name[sl]=Datoteke DjVu
Name[sr]=DjVu фајлови
Name[sv]=DjVu-filer
Name[ta]=DjVu கோப்புகள்
Name[tg]=Файлҳои DjVu
Name[tr]=DjVu Dosyaları
Name[uk]=Файли DjVu
Name[uz]=DjVu-файллари
Name[vi]=File đã nhìn thấy
Name[wa]=Fitchîs DjVu
Name[xx]=xxDjVu Filesxx
Name[zh_CN]=DjVu 文件
Name[zh_TW]=DjVu 檔案
ServiceTypes=ThumbCreator
MimeTypes=image/x-djvu,image/x.djvu,image/vnd.djvu
X-KDE-Library=djvuthumbnail
CacheThumbnail=true
IgnoreMaximumSize=true
