[Desktop Entry]
Type=Service
Name=eBooks
Name[ca]=eBooks
Name[ca@valencia]=eBooks
Name[da]=E-bøger
Name[es]=eBooks
Name[fi]=eBooks
Name[gl]=Libros electrónicos
Name[it]=eBook
Name[nl]=eBooks
Name[nn]=E-bøker
Name[pt]=eBooks
Name[pt_BR]=eBooks
Name[sv]=e-böcker
Name[uk]=Електронні книги
Name[x-test]=xxeBooksxx
Name[zh_CN]=电子书
Name[zh_TW]=eBooks

X-KDE-ServiceTypes=ThumbCreator
MimeType=application/epub+zip;application/x-fictionbook+xml;application/x-zip-compressed-fb2;

X-KDE-Library=ebookthumbnail
CacheThumbnail=true
