[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=EXR Images
Name[az]=EXR Rəsmləri
Name[bg]=EXR образи
Name[br]=Skeudennoù EXR
Name[da]=EXR-billeder
Name[eo]=EXR-Bildoj
Name[et]=EXR pildifailid
Name[fr]=Images EXR
Name[ga]=Íomhánna EXR
Name[hu]=EXR-képek
Name[mk]=Слики EXR
Name[mt]=Stampi EXR
Name[nl]=EXR-afbeeldingen
Name[pa]=EXR ਚਿੱਤਰ
Name[pt]=Imagens EXR
Name[pt_BR]=Imagens EXR
Name[sv]=EXR-bilder
Name[ta]=இ எக்ஸ் ஆர் பிம்பங்கள்
Name[tr]=EXR Görüntüsü
Name[uk]=Зображення EXR
Name[xx]=xxEXR Imagesxx
ServiceTypes=ThumbCreator
MimeTypes=image/x-exr
X-KDE-Library=exrthumbnail
CacheThumbnail=true
IgnoreMaximumSize=true
