[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=EXR Images
Name[af]=EXR Beelde
Name[be]=Відарысы EXR
Name[bg]=EXR образи
Name[br]=Skeudennoù EXR
Name[ca]=Imatges EXR
Name[cs]=EXR obrázky
Name[csb]=Òbrôzczi EXR
Name[da]=EXR-billeder
Name[de]=EXR-Bilder
Name[el]=Εικόνες EXR
Name[eo]=EXR-Bildoj
Name[es]=Imágenes EXR
Name[et]=EXR pildifailid
Name[eu]=EXR irudiak
Name[fa]=تصاویر EXR
Name[fi]=EXR-kuvat
Name[fr]=Images EXR
Name[fy]=EXR-ôfbyldings
Name[ga]=Íomhánna EXR
Name[gl]=Imaxes EXR
Name[he]=תמונות EXR
Name[hr]=EXR slike
Name[hu]=EXR-képek
Name[is]=EXR myndir
Name[it]=Immagini EXR
Name[ja]=EXR イメージ
Name[ka]=EXR გამოსახულებები
Name[kk]=EXR кескіндері
Name[km]=រូបភាព EXR
Name[lt]=EXR paveiksliukai
Name[lv]=EXR attēli
Name[mk]=EXR-слики
Name[ms]=Imej EXR
Name[nb]=EXR-bilder
Name[nds]=EXR-Biller
Name[ne]=EXR छवि
Name[nl]=EXR-afbeeldingen
Name[nn]=EXR-bilete
Name[pa]=EXR ਚਿੱਤਰ
Name[pl]=Obrazki EXR
Name[pt]=Imagens EXR
Name[pt_BR]=Imagens EXR
Name[ro]=Imagini EXR
Name[ru]=Рисунки EXR
Name[se]=EXR-govat
Name[sl]=Slike EXR
Name[sr]=EXR слике
Name[sr@latin]=EXR slike
Name[sv]=EXR-bilder
Name[ta]=இ எக்ஸ் ஆர் பிம்பங்கள்
Name[te]=ఈఎక్స్ ఆర్ చిత్రాలు
Name[th]=แฟ้มภาพ EXR
Name[tr]=EXR Görüntüsü
Name[uk]=Зображення EXR
Name[uz]=EXR-расмлар
Name[x-test]=xxEXR Imagesxx
Name[zh_TW]=EXR 影像
ServiceTypes=ThumbCreator
MimeTypes=image/x-exr
X-KDE-Library=exrthumbnail
CacheThumbnail=true
IgnoreMaximumSize=true
