[Desktop Entry]
Type=Service
Name=Postscript and PDF Files
Name[az]=Postscript və PDF Faylları
Name[da]=Postscript og PDF filer
Name[de]=PostScript- und PDF-Dateien
Name[eo]=Postskriptaj kaj PDF-dosieroj
Name[es]=Archivos PostScript y PDF
Name[fi]=Postscript ja PDF -tiedostot
Name[he]=PDF-ו Postscript יצבק
Name[hu]=PostScript és PDF fájlok
Name[ja]=Postscript, PDF ファイル
Name[ko]=포스트 스크립트와 PDF 파일
Name[lt]=Postscript ir PDF bylos
Name[lv]=Postscript un PDF Faili
Name[mt]=Files Postscript u PDF
Name[nl]=Postscript- en PDF-bestanden
Name[no_NY]=Postscript- og PDF-filer
Name[pl]=Pliki PostScriptu i PDF
Name[pt_BR]=Ficheiros PostScript e PDF
Name[pt]=Ficheiros PostScript e PDF
Name[ro]=Fişiere Postscript şi PDF
Name[ru]=Файлы Postscript и PDF
Name[sk]=Súbory PostScript a PDF
Name[sl]=Datoteke Postscript in PDF
Name[sr]=PostScript i PDF fajlovi
Name[sv]=Postscript- och PDF-filer
Name[uk]=Файли Postscript та PDF
Name[zh_CN.GB2312]=Postscript 和 PDF 文件
ServiceTypes=ThumbCreator
MimeTypes=application/postscript,application/pdf,image/x-eps
X-KDE-Library=gsthumbnail
CacheThumbnail=true
