[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PostScript, PDF and DVI Files
Name[be]=PostScript, PDF і DVI файлы
Name[bg]=Файлове PostScript, PDF и DVI
Name[bs]=Postscript, PDF i DVI datoteke
Name[ca]=Fitxers PostScript, PDF i DVI
Name[cs]=PostScriptové, PDF a DVI soubory
Name[cy]=Ffeiliau PostScript, PDF a  DVI  
Name[da]=PostScript, PDF og DVI-filer
Name[de]=PostScript-, PDF- und DVI-Dateien
Name[el]=PostScript, PDF και DVI αρχεία
Name[es]=PostScript, archivos PDF y DVI
Name[et]=PostScript, PDF ja DVI failid
Name[fa]=پرونده‌های پست‌اسکریپت, PDF و DVI 
Name[fi]=Postscript-, PDF- ja DVI-tiedostot
Name[fr]=Fichiers PostScript, PDF et DVI
Name[gl]=Ficheiros PostScript, PDF e DVI
Name[he]=קבצי PostScript, PDF ו-DVI
Name[hi]=पोस्टस्क्रिप्ट, PDF तथा DVI फाइलें
Name[hr]=PostScript, PDF i DVI datoteke
Name[hu]=PostScript-, PDF- és DVI-fájlok
Name[it]=File PostScript, PDF e DVI
Name[mn]=PostScript- & PDF ба DVI Файлууд
Name[nb]=PostScript, PDF og DVI-filer
Name[nl]=PostScript- en PDF- en DVI-bestanden
Name[nn]=PostScript-, PDF- og DVI-filer
Name[pl]=Pliki PostScript, PDF i DVI
Name[pt]=Ficheiros PostScript, PDF e DVI
Name[pt_BR]=Arquivos PostScript, PDF e DVI
Name[ro]=Fişiere PostScript, PDF şi DVI
Name[sk]=Súbory PostScript, PDF a DVI
Name[sl]=Datoteke Postscript, PDF in DVI
Name[sr]=PostScript, PDF и DVI фајлови
Name[sv]=Postscript-, PDF- och DVI-filer
Name[ta]=போஸ்ட் எழுத்தாக்கம், PDF மற்றும் DVI கோப்புகள்
Name[th]=แฟ้มโพสต์สคริปต์ PDF และ DVI
Name[tr]=PostScript, PDF ve DVI Dosyaları
Name[uk]=Файли PostScript, PDF та DVI
Name[uz]=PostScript, PDF ва DVI-файллари
Name[vi]=File Postscript PDF và DVI
Name[wa]=Fitchîs PostScript, PDF eyet DVI
Name[xx]=xxPostScript, PDF and DVI Filesxx
Name[zh_CN]=PostScript、PDF 和 DVI 文件
Name[zh_TW]=PostScript， PDF 和 DVI 檔案
ServiceTypes=ThumbCreator
MimeTypes=application/x-dvi,application/postscript,application/pdf,image/x-eps
X-KDE-Library=gsthumbnail
CacheThumbnail=true
