[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=HTML Files
Name[af]=HTML Lêers
Name[ar]=HTML ملفات
Name[be]=Файлы HTML
Name[bg]=HTML файлове
Name[br]=Restroù HTML
Name[ca]=Fitxers HTML
Name[cs]=HTML soubory
Name[csb]=Lopczi HTML
Name[cy]=Ffeiliau HTML
Name[da]=HTML-filer
Name[de]=HTML-Dateien
Name[el]=Αρχεία HTML
Name[eo]=HTML-dosieroj
Name[es]=Ficheros HTML
Name[et]=HTML failid
Name[eu]=HTML fitxategiak
Name[fa]=پرونده‌های زنگام
Name[fi]=HTML-tiedostot
Name[fr]=Fichiers HTML
Name[fy]=HTML-triemmen
Name[ga]=Comhaid HTML
Name[gl]=Ficheiros HTML
Name[he]=קבצי HTML
Name[hr]=HTML datoteke
Name[hu]=HTML-fájlok
Name[is]=HTML skrár
Name[it]=File HTML
Name[ja]=HTML ファイル
Name[ka]=HTML ფაილები
Name[kk]=HTML файлдары
Name[km]=ឯកសារ HTML
Name[ko]=HTML 파일
Name[lt]=HTML bylos
Name[lv]=HTML Faili
Name[mk]=HTML-датотеки
Name[ms]=Fail HTML
Name[nb]=HTML-filer
Name[nds]=HTML-Dateien
Name[ne]=HTML फाइल
Name[nl]=HTML-bestanden
Name[nn]=HTML-filer
Name[pa]=HTML ਫਾਇਲਾਂ
Name[pl]=Strony HTML
Name[pt]=Ficheiros HTML
Name[pt_BR]=Arquivos HTML
Name[ro]=Fişiere HTML
Name[ru]=Файлы HTML
Name[se]=HTML-fiillat
Name[sl]=Datoteke HTML
Name[sr]=HTML фајлови
Name[sr@latin]=HTML fajlovi
Name[sv]=HTML-filer
Name[ta]=HTML கோப்புகள்
Name[te]=హెచ్ టి ఎం ఎల్ దస్త్రాలు
Name[tg]=Файлҳои HTML
Name[th]=แฟ้ม HTML
Name[tr]=HTML Dosyaları
Name[uk]=Файли HTML
Name[uz]=HTML-файллари
Name[vi]=Tập tin HTML
Name[wa]=Fitchîs HTML
Name[x-test]=xxHTML Filesxx
Name[xh]=Iifayile ze HTML
Name[zh_TW]=HTML 檔案
ServiceTypes=ThumbCreator
MimeTypes=text/html
X-KDE-Library=htmlthumbnail
CacheThumbnail=true
