[Desktop Entry]
Type=Service
Name=Images
Name[af]=Beelde
Name[ar]=الصور
Name[be]=Малюнкі
Name[be@latin]=Vyjavy
Name[bg]=Изображения
Name[bn]=ছবি
Name[bn_IN]=ছবি
Name[br]=Skeudennoù
Name[ca]=Imatges
Name[ca@valencia]=Imatges
Name[cs]=Obrázky
Name[csb]=Òbrôzczi
Name[cy]=Delweddau
Name[da]=Billeder
Name[de]=Bilder
Name[el]=Εικόνες
Name[eo]=Bildoj
Name[es]=Imágenes
Name[et]=Pildid
Name[eu]=Irudiak
Name[fa]=تصاویر
Name[fi]=Kuvat
Name[fy]=Ofbyldings
Name[ga]=Íomhánna
Name[gl]=Imaxes
Name[gu]=ચિત્રો
Name[he]=תמונות
Name[hi]=छवियाँ
Name[hne]=फोटू
Name[hr]=Slike
Name[hsb]=Wobrazy
Name[hu]=Képek
Name[is]=Myndir
Name[it]=Immagini
Name[ja]=画像
Name[ka]=გამოსახულებები
Name[kk]=Кескіндер
Name[km]=រូបភាព
Name[kn]=ಚಿತ್ರಗಳು
Name[ko]=그림
Name[ku]=Wêne
Name[lt]=Paveiksliukai
Name[lv]=Attēli
Name[mai]=बिंब
Name[mk]=Слики
Name[ml]=ചിത്രങ്ങള്‍
Name[mr]=प्रतिमा
Name[ms]=Imej
Name[nds]=Biller
Name[ne]=छवि
Name[nl]=Afbeeldingen
Name[nn]=Bilete
Name[oc]=Imatges
Name[or]=ପ୍ରତିଛବିଗୁଡ଼ିକ
Name[pa]=ਚਿੱਤਰ
Name[pl]=Obrazki
Name[pt]=Imagens
Name[pt_BR]=Imagens
Name[ro]=Imagini
Name[ru]=Изображения
Name[se]=Govat
Name[sk]=Obrázky
Name[sl]=Slike
Name[sr]=Слике
Name[sr@latin]=Slike
Name[sv]=Grafik
Name[ta]=பிம்பங்கள்
Name[te]=చిత్రాలు
Name[tg]=Тасвирҳо
Name[th]=แฟ้มภาพ
Name[tr]=Resimler
Name[uk]=Зображення
Name[uz]=Rasmlar
Name[uz@cyrillic]=Расмлар
Name[vi]=Ảnh
Name[wa]=Imådjes
Name[x-test]=xxImagesxx
Name[xh]=Imifanekiso
Name[zh_CN]=图像
Name[zh_TW]=影像
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/cgm;image/fax-g3;image/gif;image/jp2;image/png;image/tiff;image/bmp;image/x-dds;image/x-ico;image/x-jng;image/x-pcx;image/x-photo-cd;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-rgb;image/x-tga;image/x-wmf;image/x-xbitmap;image/x-xcf;image/x-xfig;image/x-xpixmap;
X-KDE-Library=imagethumbnail
CacheThumbnail=true
