[Desktop Entry]
Type=Service
Name=Images
Name[cs]=Obrázky
Name[da]=Billeder
Name[de]=Bilder
Name[el]=Εικόνες
Name[eo]=Bildoj
Name[es]=Imágenes
Name[et]=Pildid
Name[fi]=Kuvat
Name[he]=תונומת
Name[hu]=Képek
Name[is]=Myndir
Name[it]=Immagini
Name[ja]=イメージ
Name[ko]=그림
Name[lv]=Attēli
Name[nl]=Afbeeldingen
Name[no]=Bilder
Name[no_NY]=Bilete
Name[pt]=Imagens
Name[pt_BR]=Imagens
Name[ro]=Imagini
Name[ru]=Изображения
Name[sk]=Obrázky
Name[sl]=Slike
Name[sr]=Slike
Name[sv]=Bilder
Name[tr]=Resimler
Name[uk]=Зображення
Name[zh_CN.GB2312]=图像
Name[zh_TW.Big5]=影像
ServiceTypes=ThumbCreator
MimeTypes=image/*
X-KDE-Library=imagethumbnail
CacheThumbnail=true
