[Desktop Entry]
Type=Service
Name=Images
Name[af]=Beelde
Name[ar]=الصور
Name[be]=Малюнкі
Name[bg]=Графични файлове
Name[br]=Skeudennoù
Name[ca]=Imatges
Name[cs]=Obrázky
Name[csb]=Òbrôzczi
Name[cy]=Delweddau
Name[da]=Billeder
Name[de]=Bilder
Name[el]=Εικόνες
Name[eo]=Bildoj (im)
Name[es]=Imágenes
Name[et]=Pildid
Name[eu]=Irudiak
Name[fa]=تصاویر
Name[fi]=Kuvat
Name[fy]=Ofbyldings
Name[ga]=Íomhánna
Name[gl]=Imaxes
Name[he]=תמונות
Name[hr]=Slike
Name[hu]=Képek
Name[is]=Myndir
Name[it]=Immagini
Name[ja]=イメージ
Name[ka]=გამოსახულებები
Name[kk]=Кескіндер
Name[km]=រូបភាព
Name[ko]=그림
Name[lt]=Paveiksliukai
Name[lv]=Attēli
Name[mk]=Слики
Name[ms]=Imej
Name[nb]=Bilder
Name[nds]=Biller
Name[ne]=छवि
Name[nl]=Afbeeldingen
Name[nn]=Bilete
Name[pa]=ਚਿੱਤਰ
Name[pl]=Obrazki
Name[pt]=Imagens
Name[pt_BR]=Imagens
Name[ro]=Imagini
Name[ru]=Рисунки
Name[se]=Govat
Name[sl]=Slike
Name[sr]=Слике
Name[sr@latin]=Slike
Name[sv]=Grafik
Name[ta]=பிம்பங்கள்
Name[te]=చిత్రాలు
Name[tg]=Тасвир
Name[th]=แฟ้มภาพ
Name[tr]=Resimler
Name[uk]=Зображення
Name[uz]=Расмлар
Name[vi]=Ảnh
Name[wa]=Imådjes
Name[x-test]=xxImagesxx
Name[xh]=Imifanekiso
Name[zh_CN]=图像
Name[zh_TW]=影像
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/cgm;image/fax-g3;image/gif;image/jpeg2000;image/jpeg;image/png;image/tiff;image/bmp;image/x-dds;image/x-ico;image/x-jng;image/x-pcx;image/x-photo-cd;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-rgb;image/x-tga;image/x-wmf;image/x-xbitmap;image/x-xcf;image/x-xfig;image/x-xpixmap;
X-KDE-Library=imagethumbnail
CacheThumbnail=true
