[Desktop Entry]
Type=Service
Name=JPEG Images (Rotated Automatically)
Name[et]=JPEG pildid (automaatselt pööratud)
Name[hu]=JPEG-képek (automatikus elforgatás)
Name[ia]=Imagines JPEG (Automaticamente rotate)
Name[kk]=JPEG кескіндері (автобұралған)
Name[km]=រូបភាព JPEG (បាន​បង្វិល​ដោយ​ស្វ័យ​ប្រវត្តិ)
Name[lt]=JPEG nuotraukos (automatiškai paverstos)
Name[nb]=JPEG-bilder (rotert automatisk)
Name[nds]=JPEG-Biller (automaatsch dreiht)
Name[nl]=JPEG-afbeeldingen (automatisch gedraaid)
Name[pt]=Imagens JPEG (Rodadas Automaticamente)
Name[pt_BR]=Imagens JPEG (Giradas automaticamente)
Name[sv]=JPEG-bilder (automatiskt roterade)
Name[uk]=Зображення JPEG (автоматичний поворот)
Name[x-test]=xxJPEG Images (Rotated Automatically)xx
Name[zh_TW]=JPEG 影像（自動旋轉）
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/jpeg;
X-KDE-Library=jpegrotatedthumbnail
CacheThumbnail=true
ThumbnailerVersion=1
