[Desktop Entry]
Type=Service
Name=JPEG Images (Rotated Automatically)
Name[bg]=Изображения JPEG (автоматично завъртяни)
Name[ca]=Imatges JPEG (Girades automàticament)
Name[ca@valencia]=Imatges JPEG (Girades automàticament)
Name[cs]=Obázky JPEG (automaticky rotované)
Name[da]=JPEG-billeder (automatisk roteret)
Name[de]=JPEG-Bilder (automatisch gedreht)
Name[el]=Εικόνες JPEG (περιστραμμένες αυτόματα)
Name[en_GB]=JPEG Images (Rotated Automatically)
Name[es]=Imágenes JPEG (rotadas automáticamente)
Name[et]=JPEG pildid (automaatselt pööratud)
Name[eu]=JPEG irudiak (Automatikoki biratuta)
Name[fi]=JPEG-kuvat (kierretään automaattisesti)
Name[fr]=Images JPEG (Tournées automatiquement)
Name[he]=תמונות JPEG (מסובבות אוטומטית)
Name[hi]=जेपीजी छवियाँ (स्वतः घूर्णित)
Name[hu]=JPEG-képek (automatikus elforgatás)
Name[ia]=Imagines JPEG (Automaticamente rotate)
Name[it]=Immagini JPEG (ruotate automaticamente)
Name[ja]=JPEG 画像 (自動的に差し替え)
Name[kk]=JPEG кескіндері (автобұралған)
Name[km]=រូបភាព JPEG (បាន​បង្វិល​ដោយ​ស្វ័យ​ប្រវត្តិ)
Name[kn]=JPEG ಚಿತ್ರಗಳು (ಸ್ವಯಂಚಾಲಿತವಾಗಿ ತಿರುಗಿಸಲಾಗುತ್ತದೆ)
Name[ko]=JPEG 그림 (자동 회전)
Name[lt]=JPEG nuotraukos (automatiškai paverstos)
Name[nb]=JPEG-bilder (rotert automatisk)
Name[nds]=JPEG-Biller (automaatsch dreiht)
Name[nl]=JPEG-afbeeldingen (automatisch gedraaid)
Name[pa]=JPEG ਚਿੱਤਰ (ਆਟੋਮੈਟਿਕ ਘੁੰਮਾਇਆ)
Name[pl]=Obrazy JPEG (obrócone automatycznie)
Name[pt]=Imagens JPEG (Rodadas Automaticamente)
Name[pt_BR]=Imagens JPEG (Giradas automaticamente)
Name[ro]=Imagini JPEG (Rotite automat)
Name[ru]=Изображения JPEG (автоматически повёрнутые)
Name[sk]=Obrázky JPEG (automaticky otočené)
Name[sl]=Slike JPEG (zasukane samodejno)
Name[sr]=ЈПЕГ слике (аутоматски заокренуте)
Name[sr@ijekavian]=ЈПЕГ слике (аутоматски заокренуте)
Name[sr@ijekavianlatin]=JPEG slike (automatski zaokrenute)
Name[sr@latin]=JPEG slike (automatski zaokrenute)
Name[sv]=JPEG-bilder (automatiskt roterade)
Name[th]=รูปภาพ JPEG (หมุนอัตโนมัติ)
Name[uk]=Зображення JPEG (автоматичний поворот)
Name[x-test]=xxJPEG Images (Rotated Automatically)xx
Name[zh_TW]=JPEG 影像（自動旋轉）
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/jpeg;
X-KDE-Library=jpegrotatedthumbnail
CacheThumbnail=true
ThumbnailerVersion=1
