[Desktop Entry]
Type=Service
Name=Jpeg
Name[be@latin]=JPEG
Name[bn]=জেপেগ
Name[ca]=JPEG
Name[ca@valencia]=JPEG
Name[de]=JPEG
Name[ga]=JPEG
Name[hi]=जेपीईजी
Name[hne]=जेपीईजी
Name[hr]=jpeg
Name[hu]=JPEG
Name[is]=JPEG
Name[ja]=JPEG
Name[ko]=JPEG
Name[ml]=ജെപെഗ്
Name[nds]=JPEG
Name[nn]=JPEG
Name[ru]=JPEG
Name[sr]=ЈПЕГ
Name[sr@latin]=JPEG
Name[tg]=JPEG
Name[th]=แฟ้มภาพ Jpeg
Name[x-test]=xxJpegxx
Name[zh_CN]=JPEG
Name[zh_TW]=JPEG
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/jpeg;
X-KDE-Library=jpegthumbnail
CacheThumbnail=true
