[Desktop Entry]
Type=Service
Name=Scalable Vector Graphics (SVG)
Name[ar]=رسوم خطية قابلة للتحجيم (SVG)
Name[az]=Ölçüləndirilə Bilən Vektor Qrafikası (SVG)
Name[bg]=Векторна графика (SVG)
Name[bn]=স্কেলেবল ভেক্টর গ্রাফিক্স (SVG)
Name[ca]=Gràfics de Vector Escalables (SVG)
Name[cy]=Graffeg Fector Graddadwy (SVG)
Name[da]=Skalerbar vektorgrafik (SVG)
Name[de]=Skalierbare Vektorgraphiken (SVG)
Name[el]=Διανυσματικά γραφικά (SVG)
Name[eo]=Skaleblaj vektorgrafikoj (SVG)
Name[et]=Skaleeritav vektorgraafika (SVG)
Name[fa]=گرافیک‌های برداری قابل کشیدن - SVG
Name[fi]=Scalable Vector Graphics (SVG)-tiedostot
Name[gl]=Gráficos de Vectores Escalabeis (SVG)
Name[he]=גרפיקת וקטורים מדורגת (SVG)
Name[hi]=स्केलेबल वेक्टर ग्राफिक्स (एसवीजी)
Name[hr]=Skalabilna Vektorska Grafika (SVG)
Name[hu]=SVG-fájlok
Name[it]=Grafica vettoriale riscalabile (SVG)
Name[ja]=スケーラブルベクトルグラフィックス(SVG)
Name[lt]=Kintamo dydžio vektorinė grafika (SVG)
Name[mk]=Скалабилна Векторска Графика (SVG)
Name[nb]=Skalerbar vektorgrafikk (SVG)
Name[nds]=Skaleerbor Vektorgrafik (SVG)
Name[nn]=Skalerbar vektorgrafikk (SVG)
Name[pa]=ਸਕੇਲਬਲ ਵੈਕਟਰ ਗਰਾਫਿਕਸ (SVG)
Name[pl]=Skalowalny rysunek wektorowy (SVG)
Name[pt]=Gráficos Vectoriais Escaláveis (SVG)
Name[pt_BR]=Vetores Escaláveis (SVG)
Name[ro]=Fişiere SVG
Name[ru]=Масштабируемые векторные графики (SVG)
Name[sl]=Skalabilna vektorska grafika (SVG)
Name[sr]=Скалабилна Векторска Графика (SVG)
Name[sr@Latn]=Skalabilna Vektorska Grafika (SVG)
Name[sv]=Skalbar vektorgrafik (SVG)
Name[ta]=அளக்கக்கூடிய வெக்டார் சித்திரங்கள் (SVG)
Name[tg]=Ҳаҷмонии вектори графикаҳо (SVG)
Name[th]=ภาพเวกเตอร์ปรับขนาดได้ (SVG)
Name[tr]=Boyutlandırılabilir Vektör Grafikler (SVG)
Name[uk]=Масштабовна векторна графіка (SVG)
Name[uz]=SVG
Name[vi]=Đồ hoạ vector lỷ lệ được (scalable)
Name[xx]=xxScalable Vector Graphics (SVG)xx
Name[zh_CN]=可缩放矢量图像(SVG)
Name[zh_TW]=可調整尺寸的向量圖型 (SVG)
ServiceTypes=ThumbCreator
MimeTypes=image/svg+xml
X-KDE-Library=picturethumbnail
CacheThumbnail=true
