[Desktop Entry]
Type=Service
Name=SVG Images
Name[el]=Εικόνες SVG
Name[en_GB]=SVG Images
Name[ja]=SVG 画像
Name[pt]=Imagens SVG
Name[sv]=SVG-bilder
Name[uk]=Зображення SVG
Name[x-test]=xxSVG Imagesxx
Name[zh_TW]=SVG 影像
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/svg+xml;image/svg+xml-compressed;
X-KDE-Library=svgthumbnail
CacheThumbnail=true
