[Desktop Entry]
Type=Service
Name=Svg
Name[af]=Svg
Name[ar]=Svg
Name[be]=Svg
Name[be@latin]=SVG
Name[bg]=Svg
Name[bn]=এস-ভি-জি
Name[bn_IN]=Svg
Name[ca]=SVG
Name[ca@valencia]=SVG
Name[cs]=Svg
Name[csb]=Svg
Name[da]=Svg
Name[de]=Svg
Name[el]=Svg
Name[en_GB]=Svg
Name[eo]=Svg
Name[es]=SVG
Name[et]=Svg
Name[eu]=Svg
Name[fi]=SVG
Name[fr]=Svg
Name[fy]=Svg
Name[ga]=SVG
Name[gl]=Svg
Name[gu]=Svg
Name[he]=Svg
Name[hi]=एसवीजी
Name[hne]=एसवीजी
Name[hr]=Svg
Name[hsb]=Svg
Name[hu]=SVG
Name[id]=Svg
Name[is]=Svg
Name[it]=Svg
Name[ja]=SVG
Name[kk]=Svg
Name[km]=Svg
Name[kn]=ಎಸ್ ವಿಜಿ
Name[ko]=Svg
Name[ku]=Svg
Name[lt]=Svg
Name[lv]=Svg
Name[mai]=Svg
Name[mk]=Svg
Name[ml]=SVG
Name[mr]=Svg
Name[nb]=Svg
Name[nds]=SVG
Name[ne]=Svg
Name[nl]=Svg
Name[nn]=SVG
Name[oc]=Svg
Name[or]=Svg
Name[pa]=Svg
Name[pl]=Svg
Name[pt]=SVG
Name[pt_BR]=Svg
Name[ro]=Svg
Name[ru]=SVG
Name[se]=SVG
Name[si]=Svg
Name[sk]=Svg
Name[sl]=Svg
Name[sr]=СВГ
Name[sr@latin]=SVG
Name[sv]=SVG
Name[ta]=Svg
Name[te]=Svg
Name[tg]=Svg
Name[th]=แฟ้มภาพเวกเตอร์ Svg
Name[tr]=Svg
Name[uk]=Svg
Name[vi]=Svg
Name[wa]=Svg
Name[x-test]=xxSvgxx
Name[zh_CN]=SVG
Name[zh_TW]=Svg
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/svg+xml;image/svg+xml-compressed;
X-KDE-Library=svgthumbnail
CacheThumbnail=true
