[Desktop Entry]
Type=Service
Name=SVG Images
Name[uk]=Зображення SVG
Name[x-test]=xxSVG Imagesxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/svg+xml;image/svg+xml-compressed;
X-KDE-Library=svgthumbnail
CacheThumbnail=true
