[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Text Files
Name[af]=Teks Lêers
Name[ar]=الملفات النصية
Name[bg]=Текстови файлове
Name[br]=Restroù testenn
Name[ca]=Fitxers de text
Name[cs]=Textové soubory
Name[csb]=Tekstowé lopczi
Name[cy]=Ffeiliau Testun
Name[da]=Tekstfiler
Name[de]=Textdateien
Name[el]=Αρχεία κειμένου
Name[eo]=Tekstdosieroj
Name[es]=Archivos de texto
Name[et]=Tekstifailid
Name[eu]=Testu fitxategiak
Name[fa]=پرونده‌های متنی
Name[fi]=Tekstitiedostot
Name[fr]=Fichiers de texte
Name[fy]=Teksttriemmen
Name[ga]=Comhaid Téacs
Name[gl]=Ficheiros de Texto
Name[he]=קבצי טקסט
Name[hr]=Tekstualne datoteke
Name[hu]=Szöveges fájlok
Name[is]=Textaskrár
Name[it]=File di testo
Name[ja]=テキストファイル
Name[ka]=ტექსტური ფაილები
Name[kk]=Мәтін файлдары
Name[km]=ឯកសារ​អត្ថបទ
Name[ko]=글월 파일(txt)
Name[lt]=tekstinės bylos
Name[lv]=Teksta Faili
Name[mk]=Текстуални датотеки
Name[ms]=Fail Teks
Name[nb]=Tekstfiler
Name[nds]=Textdateien
Name[ne]=पाठ फाइल
Name[nl]=Tekstbestanden
Name[nn]=Tekstfiler
Name[pa]=ਪਾਠ ਫਾਇਲ਼ਾਂ
Name[pl]=Pliki tekstowe
Name[pt]=Ficheiros de Texto
Name[pt_BR]=Arquivos Texto
Name[ro]=Fişiere text
Name[ru]=Текстовые файлы
Name[se]=Teakstafiilat
Name[sl]=Besedilne datoteke
Name[sr]=Текстуални фајлови
Name[sr@Latn]=Tekstualni fajlovi
Name[sv]=Textfiler
Name[ta]=உரை கோப்புகள்
Name[tg]=Файлҳои матн
Name[tr]=Metin Dosyaları
Name[uk]=Текстові файли
Name[uz]=Матн файллари
Name[x-test]=xxText Filesxx
Name[xh]=Iifayile Zombhalo
Name[zh_TW]=文字檔案
ServiceTypes=ThumbCreator
MimeTypes=text/plain
X-KDE-Library=textthumbnail
CacheThumbnail=false
