[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Text Files
Name[fr]=Fichiers de texte
Name[x-test]=xxText Filesxx
ServiceTypes=ThumbCreator
MimeTypes=text/*
X-KDE-Library=textthumbnail
CacheThumbnail=false
