[Desktop Entry]
Type=Service
Name=Text Files
Name[cs]=Textové soubory
Name[da]=Tekstfiler
Name[de]=Textdateien
Name[el]=Αρχεία Κειμένου
Name[eo]=Tekstdosieroj
Name[es]=Archivos de Texto
Name[et]=Tekstifailid
Name[fi]=Tekstitiedostot
Name[fr]=Fichiers textes
Name[he]=טסקט יצבק
Name[hu]=Szöveges fájlok
Name[is]=Textaskrár
Name[it]=File di testo
Name[ja]=テキストファイル
Name[ko]=글월 파일(txt)
Name[lv]=Teksta Faili
Name[nl]=Tekstbestanden
Name[no]=Tekstfiler
Name[no_NY]=Tekstfiler
Name[pt]=Ficheiros de Texto
Name[pt_BR]=Arquivos texto
Name[ro]=Fişiere text
Name[ru]=Текстовые файлы
Name[sk]=Textové súbory
Name[sl]=Besedilne datoteke
Name[sr]=Tekstualni fajlovi
Name[sv]=Textfiler
Name[tr]=Metin Dosyaları
Name[uk]=Текстові файли
Name[zh_CN.GB2312]=文本文件
Name[zh_TW.Big5]=文字檔案
ServiceTypes=ThumbCreator
MimeTypes=text/*
X-KDE-Library=textthumbnail
CacheThumbnail=false
