[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=ThumbCreator
Comment=Thumbnail Handler

[PropertyDef::MimeTypes]
Type=QStringList

[PropertyDef::CacheThumbnail]
Type=bool
