[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=ThumbCreator
Comment=Thumbnail Handler
Comment[uk]=Маніпулятор мініатюр
Comment[x-test]=xxThumbnail Handlerxx

[PropertyDef::CacheThumbnail]
Type=bool

[PropertyDef::IgnoreMaximumSize]
Type=bool
