[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=ThumbCreator
Comment=Thumbnail Handler
Comment[af]=Duimnael Handteerder
Comment[ar]=التعامل مع المصغّرات
Comment[az]=Kiçik Rəsm Faylları Nümayişçisi
Comment[bg]=Манипулатор на мини изображения
Comment[bn]=থাম্বনেইল হ্যাণ্ডলার
Comment[bs]=Upravljanje thumbnail-ima
Comment[ca]=Gestor de miniatures
Comment[cs]=Ovladač miniatur
Comment[cy]=Trinydd Lluniau Cryno
Comment[da]=Miniaturehåndtering
Comment[de]=Minibild-Verwaltung
Comment[el]=Χειριστής εικόνας επισκόπησης
Comment[eo]=Bildetotraktilo
Comment[es]=Manejador de miniaturas
Comment[et]=Pisipiltide käsitlemine
Comment[eu]=Koadro txikien maneiatzailea
Comment[fa]=اداره کننده‌ی اثر انگشت
Comment[fi]=Esikatselukuvien hallinta
Comment[fr]=Gestionnaire d'aperçu des images
Comment[fy]=Miniôfbyldingsmakker
Comment[ga]=Láimhseálaí na Mionsamhlacha
Comment[gl]=Manexador de Miniaturas
Comment[he]=מנהל הדוגמיות
Comment[hi]=थम्बनेल हैंडलर
Comment[hr]=Upravljač umanjenim sličicama (thumbnails)
Comment[hu]=A gyorsnézeti ikonok kezelője
Comment[is]=Þumalmyndaforrit
Comment[it]=Gestore delle miniature
Comment[ja]=サムネイルハンドラー
Comment[lt]=Miniatiūrų tvarkiklis
Comment[lv]=Sīktēlu apkalpotājs
Comment[mk]=Ракувач со сликички
Comment[mn]=Бяцхан зураг-Удирдлага
Comment[mt]=Handler għall-bolol
Comment[nb]=Håndtering av forhåndsvisning
Comment[nds]=Minibildmaker
Comment[nl]=Miniafbeeldingenmaker
Comment[nn]=Handtering av førehandsvising
Comment[nso]=Moswari wa Thumbnail
Comment[pa]=ਥੰਮਨੇਲਰ ਹੈਂਡਰ
Comment[pl]=Program obsługujący miniaturki
Comment[pt]=Tratamento de álbuns de imagens
Comment[pt_BR]=Manipulador de Miniaturas
Comment[ro]=Generator previzualizări
Comment[ru]=Обработчик мини-изображений
Comment[se]=Gieđahala ovdačájehemiid
Comment[sk]=Podpora náhľadu obrázkov
Comment[sl]=Obdelovalnik sličic
Comment[sr]=Управљач сличицама
Comment[sr@Latn]=Upravljač sličicama
Comment[sv]=Hanterar miniatyrbilder
Comment[ta]=சிறிய பிம்ப கையாளுதல்
Comment[tg]=Идоракунандаи тасвироти хурдтарины
Comment[tr]=Küçük Resim Dosyaları Görüntüleyici
Comment[uk]=Маніпулятор мініатюр
Comment[ven]=Tshaufara nga gunwe
Comment[vi]=Chỉnh các thumbnail
Comment[xh]=Umqheba Wozipho lobhontsi
Comment[xx]=xxThumbnail Handlerxx
Comment[zh_CN]=缩略图处理器
Comment[zh_TW]=縮圖處理器
Comment[zu]=Umphathi we-Thumbnail

[PropertyDef::MimeTypes]
Type=QStringList

[PropertyDef::CacheThumbnail]
Type=bool

[PropertyDef::IgnoreMaximumSize]
Type=bool
