[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Microsoft Windows Executables
Name[et]=Microsoft Windowsi täitmisfailid
Name[gl]=Executábeis de Microsoft Windows
Name[id]=Berkas Dapat Dieksekusi Microsoft Windows
Name[nb]=Microsoft Windows kjørbare filer
Name[nds]=Microsoft-Windows-Programmen
Name[pt]=Executáveis do Microsoft Windows
Name[pt_BR]=Executáveis do Microsoft Windows
Name[sv]=Körbara Microsoft Windows program
Name[tr]=Microsoft Windows Çalıştırılabilir Dosyaları
Name[uk]=Виконувані файли Microsoft Windows
Name[x-test]=xxMicrosoft Windows Executablesxx
ServiceTypes=ThumbCreator
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/x-win-lnk;
CacheThumbnail=false
X-KDE-Library=windowsexethumbnail
