[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Microsoft Windows Executables
Name[cs]=Spustitelné soubory MS Windows
Name[csb]=Rozszérzenia Microsoft Windows
Name[da]=Kørbare filer til Microsoft Windows
Name[de]=Ausführbare Datei (Microsoft Windows)
Name[el]=Εκτελέσιμα Microsoft Windows
Name[en_GB]=Microsoft Windows Executables
Name[eo]=MS-Vindozo plenumeblaj dosieroj
Name[es]=Ejecutables de Microsoft Windows
Name[et]=Microsoft Windowsi täitmisfailid
Name[eu]=Microsoft Windows exekutagarriak
Name[gl]=Executábeis de Microsoft Windows
Name[gu]=માઈક્રોસોફ્ટ વિન્ડોઝ ચલાવનારાઓ
Name[he]=קבצי הרצה של חלונות
Name[hr]=Microsoft Windows Izvršne datoteke
Name[id]=Berkas Dapat Dieksekusi Microsoft Windows
Name[is]=Microsoft Windows keyrsluskrár
Name[kk]=Microsoft Windows-тың орындалатын файлы
Name[lt]=Microsoft Windows vykdomieji failai
Name[lv]=Microsoft Windows izpildfaili
Name[nb]=Microsoft Windows kjørbare filer
Name[nds]=Microsoft-Windows-Programmen
Name[nl]=Uitvoerbare programma's voor Microsoft Windows
Name[pt]=Executáveis do Microsoft Windows
Name[pt_BR]=Executáveis do Microsoft Windows
Name[ro]=Executabile Microsoft Windows
Name[sv]=Körbara Microsoft Windows program
Name[tr]=Microsoft Windows Çalıştırılabilir Dosyaları
Name[uk]=Виконувані файли Microsoft Windows
Name[x-test]=xxMicrosoft Windows Executablesxx
Name[zh_TW]=Microsoft Windows 執行檔
ServiceTypes=ThumbCreator
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/x-win-lnk;
CacheThumbnail=false
X-KDE-Library=windowsexethumbnail
