[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Microsoft Windows Images
Name[csb]=Òbrôzczi Microsoft Windows
Name[en_GB]=Microsoft Windows Images
Name[eo]=MS-Vindozo Bildoj
Name[et]=Microsoft Windowsi pildid
Name[gl]=Imaxes de Microsoft Windows
Name[gu]=માઈક્રોસોફ્ટ વિન્ડોઝ છબીઓ
Name[he]=תמונות של חלונות
Name[hr]=Microsoft Windows Slike
Name[id]=Gambar Microsoft Windows
Name[kk]=Microsoft Windows-тың кескіндері
Name[lt]=Microsoft Windows paveikslėliai
Name[nb]=Microsoft Windows-bilder
Name[nds]=Microsoft-Windows-Biller
Name[nl]=Afbeeldingen van Microsoft Windows
Name[pt]=Imagens do Microsoft Windows
Name[pt_BR]=Imagens do Microsoft Windows
Name[sv]=Microsoft Windows avbilder
Name[tr]=Microsoft Windows Resimleri
Name[uk]=Зображення Microsoft Windows
Name[x-test]=xxMicrosoft Windows Imagesxx
Name[zh_TW]=Microsoft Windows 影像
ServiceTypes=ThumbCreator
MimeType=image/vnd.microsoft.icon;image/x-win-bitmap;application/x-navi-animation;
CacheThumbnail=false
X-KDE-Library=windowsimagethumbnail
