[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Mount Watcher
Name[af]=Kded Mount Wagter
Name[bg]=KDED Наблюдател на Монтиране
Name[bs]=KDED nadzor montiranja
Name[ca]=Vigilant del muntatge KDED
Name[cs]=Sledování připojení (KDED)
Name[da]=KDED Monteringsovervåger
Name[de]=Mount-Überwachung
Name[el]=KDED επίβλεψη προσάρτησης
Name[eo]=KDE-kroĉo-rigardilo
Name[es]=Vigilante de montaje de KDED
Name[et]=KDED ühendamiste jälgija
Name[eu]=KDED Mount Behatzailea
Name[fa]=KDED مراقب سوار شدن
Name[fi]=KDED liitostenvalvoja
Name[fr]=Surveillant de montages KDED
Name[he]=צג החיבורים של KDED
Name[hr]=KDE pretitelj planine
Name[hu]=KDED csatlakoztatásfigyelő
Name[it]=Controllore mount di KDED
Name[ja]=KDED マウントウォッチャー
Name[lt]=KDED montavimo stebėtojas
Name[mt]=Għassa tal-immuntar KDED
Name[nb]=KDED monteringsovervåkning
Name[nl]=KDED aankoppelbewaking
Name[nn]=KDED monteringsvakt
Name[nso]=Molebeledi wa Nameletso ya KDED
Name[pl]=KDED - Wskaźnik podłączonych dysków
Name[pt]=Monitor de Montagens do KDED
Name[pt_BR]=Sentinela de Montagem do KDE
Name[sk]=Sledovanie pripojenia KDED
Name[sl]=Opazovalec priklopov KDED
Name[sv]=KDED-monteringsbevakning
Name[ta]=K²üÈì ¸¡ÅÄý
Name[tr]=KDED Bağlama İzleyici
Name[uk]=Монітор монтування KDED
Name[ven]=Musedzi wau gonya KDED
Name[xh]=KDED Nyusa Umjongi
Name[zh_CN]=KDE 载入监视器
Name[zh_TW]=KDED 掛載監視器
Name[zu]=Umbheki wokwenyuswa we-KDED
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=mountwatcher
X-KDE-FactoryName=mountwatcher
