[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Mount Watcher
Name[af]=Kded Mount Wagter
Name[ar]=أداة مراقبة تحميل الأقراص
Name[bs]=KDED nadzor montiranja
Name[ca]=Vigilant del muntatge KDED
Name[cs]=Sledování připojení (KDED)
Name[cy]=Gwyliwr Gosod KDED
Name[da]=KDED Monteringsovervåger
Name[de]=Mount-Überwachung
Name[el]=KDED επίβλεψη προσάρτησης
Name[eo]=KDE-kroĉo-rigardilo
Name[es]=Vigilante de montaje de KDED
Name[et]=KDED ühendamiste jälgija
Name[eu]=KDED Mount Behatzailea
Name[fa]=KDED مراقب سوار شدن
Name[fi]=KDED-liitostenvalvoja
Name[fr]=Surveillant de montages KDED
Name[gl]=Xestor de Montado de KDED
Name[he]=צג החיבורים של KDED
Name[hi]=केडीईडी माउन्ट पहरेदार
Name[hr]=KDE pretitelj planine
Name[hu]=KDED csatlakoztatásfigyelő
Name[is]=KDED Tenglasjá
Name[it]=Controllore mount di KDED
Name[ja]=KDED マウントウォッチャー
Name[lo]=ປຸ່ມພິມລັດຂອງ KDE
Name[lt]=KDED montavimo stebėtojas
Name[mn]=Залгалт-Шалгалт
Name[mt]=Għassa tal-immuntar KDED
Name[nb]=KDED monteringsovervåkning
Name[nl]=KDED aankoppelbewaking
Name[nn]=KDED monteringsvakt
Name[nso]=Molebeledi wa Nameletso ya KDED
Name[pa]=KDED ਮਾਊਟ ਜਾਂਚਕਾਰ
Name[pl]=Monitor montowania
Name[pt]=Monitor de Montagens do KDED
Name[pt_BR]=Sentinela de Montagem do KDE
Name[ro]=Monitor de montare KDED
Name[se]=KDE čatnanvákta
Name[sk]=Sledovanie pripojenia KDED
Name[sl]=Opazovalec priklopov KDED
Name[sr]=KDED монитор монтирања
Name[sr@Latn]=KDED monitor montiranja
Name[sv]=KDED-monteringsbevakning
Name[ta]=KDED மவுண்ட் வாட்சர்
Name[tg]=Мароқиби савор шудани KDED
Name[tr]=KDED Bağlama İzleyici
Name[uk]=Монітор монтування KDED
Name[ven]=Musedzi wau gonya KDED
Name[vi]=KDED, trình theo dõi việc gắn kết
Name[xh]=KDED Nyusa Umjongi
Name[xx]=xxKDED Mount Watcherxx
Name[zh_CN]=KDE 载入监视器
Name[zh_TW]=KDED 掛載監視器
Name[zu]=Umbheki wokwenyuswa we-KDED
Comment=Keep track of mount activities (devices:/)
Comment[ar]=تابع عمليّات التجهز (الأجهزة:/)
Comment[bg]=Наблюдение на монтиране на нови устройства (devices:/)
Comment[bn]=কোথায় কী মাউন্ট করা হচ্ছে খেয়াল রাখে (devices:/)
Comment[bs]=Prati aktivnosti montiranja (devices:/)
Comment[ca]=Mante un seguiment de les activitats de muntatge  (dispositius:/)
Comment[cs]=Udržuje přehled o připojených zařízeních
Comment[cy]=Cadw trefn ar weithredoedd gosod (devices:/)
Comment[da]=Hold styr på monteringsaktiviteter (devices:/)
Comment[de]=Verfolgt alle Aktivitäten, die mit der Einbindung (dem Mounten) von Geräten zu tun haben
Comment[el]=Επίβλεψη ενεργειών προσάρτησης (devices:/)
Comment[eo]=Sekvu spurojn de kroĉagoj (aparatoj:/)
Comment[es]=Monitoriza los montajes (devices:/)
Comment[et]=Hoiab silma peal ühendamistel (devices:/)
Comment[fi]=Pidä kirjaa liitostapahtumista (devices:/)
Comment[fr]=Gardez une trace des montages (devices:/)
Comment[he]=שמור מעקב על פעילויות mount (devices:/)
Comment[hi]=माउन्ट क्रियाओं का पदचिह्न रखे (devices:/)
Comment[hr]=Vodi evidenciju o montiranjima (devices:/)
Comment[hu]=Az eszközcsatlakoztatások követése (devices:/)
Comment[is]=Fylgjast með tengingum og aftengingum tækja
Comment[it]=Tiene traccia dei montaggi (device:/)
Comment[ja]=マウント状態を反映します(devices:/)
Comment[mt]=Żomm kont ta' attivitajiet ta' mmuntar (devices:/)
Comment[nb]=Hold styr på monteringsaktiviteter (devices:/)
Comment[nl]=Houdt de koppelactiviteiten bij (devices:/)
Comment[nn]=Hald styr på monteringsaktivitetar (devices:/)
Comment[pa]=ਮਾਊਟ ਕਾਰਵਾਈਆਂ ਦੀ ਜਾਣਕਾਰੀ ਰੱਖਦਾ ਹੈ (ਜੰਤਰ:/)
Comment[pl]=Kontrola montowania urządzeń
Comment[pt]=Manter o registo das actividades de montagem (devices:/)
Comment[pt_BR]=Monitora as atividades de montagem (devices:/)
Comment[ro]=Administrează activităţile de montare (devices:/)
Comment[ru]=Отслеживает монтирование устройств (devices:/)
Comment[sk]=Sledovanie pripojenia diskov (devices:/)
Comment[sl]=Nadzoruj dejanja priklopa (devices:/)
Comment[sr]=Води евиденцију о монтирањима (devices:/)
Comment[sr@Latn]=Vodi evidenciju o montiranjima (devices:/)
Comment[sv]=Håll reda på monteringsaktiviteter (devices:/)
Comment[ta]=ஏற்றும் நடவடிக்கைகளை வைத்திருக்கவும் (சாதனங்கள்:/)
Comment[tr]=bağlama işlemlerini takip et (devices:/)
Comment[uk]=Реєструвати команди монтування (devices:/)
Comment[vi]=Theo dõi việc gắn kết (thiết bị :/)
Comment[xx]=xxKeep track of mount activities (devices:/)xx
Comment[zh_CN]=跟踪挂载活动(devices:/)
Comment[zh_TW]=持續追蹤掛載活動 (devices:/)
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=mountwatcher
X-KDE-FactoryName=mountwatcher
X-KDE-Kded-load-on-demand=true
