[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=devices:/
Icon=blockdevice
Name=Devices
Name[af]=Toestelle
Name[ar]=الأجهزة
Name[az]=Avadanlıqlar
Name[be]=Прылады
Name[bg]=Устройства
Name[bn]=ডিভাইস
Name[br]=Trobarzhelloù
Name[bs]=Uređaji
Name[ca]=Dispositius
Name[cs]=Zařízení
Name[cy]=Dyfeisiau
Name[da]=Enheder
Name[de]=Geräte
Name[el]=Συσκευές
Name[eo]=Aparatoj
Name[es]=Dispositivos
Name[et]=Seadmed
Name[eu]=Dispositiboak
Name[fa]=دستگاه‌ها
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[gl]=Dispositivos
Name[he]=התקנים
Name[hi]=उपकरण
Name[hr]=Uređaji
Name[hu]=Eszközök
Name[id]=Divais
Name[is]=Tæki
Name[it]=Periferiche
Name[ja]=デバイス
Name[ko]=장치
Name[lo]=ອຸປະກອນ
Name[lt]=Įrenginiai
Name[lv]=Iekārtas
Name[mn]=Төхөөрөмж
Name[nb]=Enheter
Name[nds]=Reedschapen
Name[nl]=Apparaten
Name[nn]=Einingar
Name[nso]=Maano
Name[oc]=Dispositius
Name[pa]=ਜੰਤਰ
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[ro]=Dispozitive
Name[ru]=Устройства
Name[se]=Ovttadagat
Name[sk]=Zariadenia
Name[sl]=Enote
Name[sr]=Уређаји
Name[sr@Latn]=Uređaji
Name[ss]=Tisetjentiswa
Name[sv]=Enheter
Name[ta]=சாதனங்கள்
Name[tg]=Дастгоҳҳо
Name[th]=อุปกรณ์
Name[tr]=Aygıtlar
Name[uk]=Пристрої
Name[uz]=Ускуналар
Name[ven]=Maano
Name[vi]=Thiết bị
Name[wa]=Éndjins
Name[xh]=Amacebo
Name[xx]=xxDevicesxx
Name[zh_CN]=设备
Name[zh_TW]=設備
Name[zu]=Amathuluzi anenjongo
Comment=This folder shows you accessible block devices
Comment[bg]=Тази директория съдържа наличните блокови устройства
Comment[bn]=এই ফোল্ডারটি ব্যবহারযোগ্য ব্লক ডিভাইসগুলি দেখায়
Comment[bs]=Ovaj direktorij vam pokazuje dostupne blokovske uređaje
Comment[ca]=Aquesta carpeta mostra els vostres dispositius de bloc accessibles
Comment[cs]=Tento adresář obsahuje přístupná bloková zařízení
Comment[cy]=Mae'r plygell yma'n dangos i chi dyfeisiau bloc sy'n gyrchadwy
Comment[da]=Denne mappe viser de blokenheder du har adgang til
Comment[de]=Dieser Ordner zeigt die zugänglichen blockorientierten Geräte an
Comment[el]=Αυτός ο φάκελος, σας εμφανίζει προσβάσιμες συσκευές μπλοκ
Comment[eo]=Tiu ĉi dosierujo enhavas viajn uzeblajn dosierojn
Comment[es]=Esta carpeta le muestra los dispositivos de bloques accesibles
Comment[et]=See kataloog sisaldab kättesaadavaid blokkseadmeid
Comment[fi]=Tämä kansio näyttää käytettävissä olevat lohkolaitteet
Comment[fr]=Ce dossier vous affiche les périphériques blocs accessibles
Comment[gl]=Este cartafol amósalle os seus dispositivos de almaceamento accesibeis
Comment[he]=תיקיה זו מציגה לך התקני קלט/פלט פיזיים נגישים
Comment[hi]=यह फ़ोल्डर आपको पहुँच योग्य ब्लॉक उपकरण दिखाता है
Comment[hr]=Ovaj direktorij prikazuje pristupačne blok uređaje
Comment[hu]=Ebben a mappában a rendszerben elérhető blokkeszközök látszanak
Comment[is]=Þessi mappa inniheldur blokkartækin sem eru aðgengileg
Comment[it]=Questa cartella ti mostra i dispositivi a blocchi accessibili
Comment[ja]=このフォルダはアクセス可能なブロックデバイスを表示します
Comment[mn]=Энэ лавлах таны хандах боломж бүхий төхөөрөмжүүдийг агуулна.
Comment[mt]=Dan id-direttorju jurik l-apparat "block" aċċessibbli
Comment[nb]=Denne katalogen viser de blokkenhetene du har tilgang til
Comment[nl]=Deze map toont al uw toegankelijke blokapparaten
Comment[nn]=Denne mappa inneheld dei tilgjengelege blokkeiningane
Comment[pa]=ਇਹ ਫੋਲਡਰ ਤੁਹਾਡੀ ਪਹੁੰਚ ਵਿੱਚਲੇ ਬਲਾਕ ਜੰਤਰ ਵੇਖਾ ਰਿਹਾ ਹੈ
Comment[pl]=Ten folder zawiera wszystkie dostępne urządzenia blokowe
Comment[pt]=Esta pasta mostra-lhe os dispositivos de bloco acessíveis
Comment[pt_BR]=Esta pasta mostra seus dispositivos de bloco acessíveis
Comment[ro]=Acest folder afişează dispozitivele bloc accesibile
Comment[ru]=Эта папка показывает доступные блочные устройства
Comment[sk]=Tento priečinok zobrazuje dostupné blokové zariadenia
Comment[sl]=Ta mapa prikazuje dostopne bločne naprave
Comment[sr]=Овај директоријум приказује приступачне блоковске уређаје
Comment[sr@Latn]=Ovaj direktorijum prikazuje pristupačne blokovske uređaje
Comment[sv]=Den här katalogen visar tillgängliga blockenheter
Comment[ta]=இந்த அடைவு அணுகக்கூடிய சாதனங்களை உங்களுக்கு காட்டுகிறது
Comment[tr]=Bu dizin erişilebilen aygıt dosyalarını gösterir
Comment[uk]=Ця тека показує доступні блочні пристрої
Comment[uz]=Бу жилд мавжуд бўлган блок ускуналарни кўрсатади
Comment[vi]=Thư mục hiển thị các các thiết bị dạng khối (block devices) có thể truy cập
Comment[wa]=Ci ridant chal mostere les éndjins bloc accessibes
Comment[xx]=xxThis folder shows you accessible block devicesxx
Comment[zh_CN]=此文件夹为您显示可访问的块设备
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree    
