i18n=
[specialEntry:0]
uniqueID=printersettings
Name=Printer Settings
Name[ar]=إعدادات الطابعة
Name[be]=Настройкі прынтэра
Name[bg]=Настройки на принтера
Name[bn]=প্রিন্টার সেটিংস
Name[bs]=Postavke štampača
Name[ca]=Arranjament impressora
Name[cs]=Nastavení tiskárny
Name[cy]=Gosodiadau Argraffyddion
Name[da]=Printeropsætning
Name[de]=Drucker-Einstellungen
Name[el]=Ρυθμίσεις εκτυπωτή
Name[eo]=Presilaj agordoj
Name[es]=Preferencias
Name[et]=Printeri seadistused
Name[fi]=Tulostinasetukset
Name[fr]=Paramètres d'imprimante
Name[gl]=Opcións da Impresora
Name[he]=הגדרות מדפסת
Name[hi]=मुद्रक विन्यास
Name[hr]=Postavke pisača
Name[hu]=Nyomtatóbeállítások
Name[is]=Stillingar prentara
Name[it]=Impostazioni stampante
Name[ja]=プリンタ設定
Name[mn]=Хэвлэгчийн тохируулга
Name[mt]=Setings tal-printer
Name[nb]=Skriverinnstillinger
Name[nds]=Druckerinstellen
Name[nl]=Printerinstellingen
Name[nn]=Skrivarinnstillingar
Name[pa]=ਪ੍ਰਿੰਟਰ ਵਿਵਸਥਾ
Name[pl]=Ustawienia drukarki
Name[pt]=Preferências da Impressora
Name[pt_BR]=Configurações da Impressora
Name[ro]=Setări imprimantă
Name[ru]=Настройка принтера
Name[se]=Čálánheivehusat
Name[sk]=Nastavenie tlačiarne
Name[sl]=Tiskalniške nastavitve
Name[sr]=Поставке штампача
Name[sr@Latn]=Postavke štampača
Name[sv]=Skrivarinställningar
Name[ta]=அச்சியந்திர அமைப்புகள்
Name[tg]=Танзимоти Чопгар
Name[th]=ตั้งค่าเครื่องพิมพ์
Name[tr]=Yazıcı Ayarları
Name[uk]=Установки принтерів
Name[uz]=Принтернинг мосламалари
Name[vi]=Thiết lập máy in
Name[wa]=Apontiaedjes del sicrirece
Name[xx]=xxPrinter Settingsxx
Name[zh_CN]=打印机设置
Name[zh_TW]=印表機設定值
URL=print:/
mimetype=print/printer

[specialEntry:1]
uniqueID=systemsettings
Name=System Settings
Name[ar]=إعدادات النظام
Name[be]=Настройкі сыстэмы
Name[bg]=Настройки на системата
Name[bn]=সিস্টেম সেটিংস
Name[br]=Dibarzhoù ar Reizhiad
Name[bs]=Sistemske postavke
Name[ca]=Arranjament del sistema
Name[cs]=Nastavení systému
Name[cy]=Gosodiadau Cysawd
Name[da]=Systemopsætning
Name[de]=System-Einstellungen
Name[el]=Ρυθμίσεις συστήματος
Name[eo]=Sisteminformo
Name[es]=Preferencias del sistema
Name[et]=Süsteemi seadistused
Name[fi]=Järjestelmäasetukset
Name[fr]=Paramètres du système
Name[gl]=Opcións do Sistema
Name[he]=הגדרות מערכת
Name[hi]=तंत्र विन्यास
Name[hr]=Postavke sustava
Name[hu]=Rendszerbeállítások
Name[is]=Kerfisstillingar
Name[it]=Impostazioni di sistema
Name[ja]=システム設定
Name[mn]=Системийн Тохируулга
Name[mt]=Setings tas-sistema
Name[nb]=Systeminnstillinger
Name[nds]=Systeeminstellen
Name[nl]=Systeeminstellingen
Name[nn]=Systeminnstillingar
Name[pa]=ਸਿਸਟਮ ਵਿਵਸਥਾ
Name[pl]=Ustawienia systemowe
Name[pt]=Preferências do Sistema
Name[pt_BR]=Configurações do Sistema
Name[ro]=Setări sistem
Name[ru]=Системные параметры
Name[se]=Vuogádatheivehusat
Name[sk]=Nastavenie systému
Name[sl]=Sistemske nastavitve
Name[sr]=Поставке система
Name[sr@Latn]=Postavke sistema
Name[sv]=Systeminställningar
Name[ta]=அமைப்பு அமைப்புகள்
Name[tg]=Танзимоти система
Name[th]=ตั้งค่าระบบ
Name[tr]=Sistem-Ayarları
Name[uk]=Установки системи
Name[uz]=Тизимнинг мосламалари
Name[vi]=Thiết lập hệ thống
Name[wa]=Apontiaedjes do sistinme
Name[xx]=xxSystem Settingsxx
Name[zh_CN]=系统设置
Name[zh_TW]=系統設定值
URL=settings:/
mimetype=icon:kcontrol

