i18n=
[specialEntry:0]
uniqueID=printersettings
Name=Printer Settings
URL=print:/
mimetype=print/printer

[specialEntry:1]
uniqueID=systemsettings
Name=System Settings
URL=settings:/
mimetype=icon:kcontrol

