[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Remote Base URL Notifier
Name[fr]=Notificateur d'URL distante KDED
Name[x-test]=xxKDED Remote Base URL Notifierxx
ServiceTypes=KDEDModule
X-KDE-Library=remotedirnotify
X-KDE-FactoryName=remotedirnotify
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=true
