[Desktop Entry]
Type=Service
Name=KDED Remote Base URL Notifier
Name[af]=KDED afgeleë URL inkennissteller
Name[ar]=منبه قاعدة URL البعيدة
Name[be]=Праверка зменаў аддаленых файлаў KDED
Name[bg]=KDED Remote Base URL Notifier
Name[ca]=Notificador d'URL de base remota KDED
Name[ca@valencia]=Notificador d'URL de base remota KDED
Name[cs]=Démon upozorňování na vzdálená URL
Name[csb]=Dôwanié wiédzë ò daleczich URL-ach dlô KDED
Name[da]=KDED Ekstern basis-URL påmindelser
Name[de]=Überwachung für Dateien auf Fremdrechnern
Name[el]=Ειδοποιητής KDED για απομακρυσμένη URL
Name[en_GB]=KDED Remote Base URL Notifier
Name[eo]=KDED fora bazo URL-avertigilo
Name[es]=Notificador de URL remota KDED
Name[et]=KDED mujalasuva URL-i teadustaja
Name[eu]=KDED urruneko URL oinarriaren iragarlea
Name[fa]=اخطاردهندۀ نشانی وب پایه دور KDED
Name[fi]=KDEDin etäverkko-osoitteen ilmaisin
Name[fr]=Notifieur d'URL distante KDED
Name[fy]=KDED ekstern basis-URL-adres melding
Name[ga]=Fógróir Bun-URL Cianda KDED
Name[gl]=Notificador da URL base remota de KDED
Name[gu]=KDED રીમોટ બેઝ URL નોટિફાયર
Name[he]=שירות הודעות של KDED לכתובות מרוחקות
Name[hi]=केडीईडी रिमोट आधारित यूआरएल नोटिफ़ायर
Name[hne]=केडीईडी रिमोट आधार से यूआरएल नोटिफायर
Name[hr]=KDED URL obavještavanje udaljene baze
Name[hsb]=KDED notifier za dalny URL-bazu
Name[hu]=Távoli alapcím-értesítő
Name[id]=Pemberitahu URL Dasar Jarak Jauh KDED
Name[is]=KDED fjarlægur grunnslóðartilkynnari
Name[it]=Notifica KDED Remote Base URL
Name[ja]=KDED リモート ベース URL 通知
Name[ka]=KDED Remote Base URL Notifier
Name[kk]=KDED қашық негізді URL құлақтандыруы
Name[km]=កម្មវិធី​ជូន​ដំណឹង​ KDED ពី​ចម្ងាយ​មាន​មូលដ្ឋាន​លើ​ URL
Name[kn]=ಕೆಡಿಇಡಿ ದೂರಸ್ಥ ಮೂಲ URL ಸೂಚಕ
Name[ko]=KDED 원격 기반 URL 알리미
Name[ku]=Dazana KDED a ji dûr a bi bingeha URL
Name[lt]=KDED nutolusio pagrindinio URL priminiklis
Name[lv]=KDED attālinātā bāzes URL paziņotājs
Name[mai]=केडीईडी रिमोट आधारित यूआरएल नोटिफायर
Name[ml]=കെഡിഇഡിയുടെ വിദൂരത്തുള്ള അടിസ്ഥാന യുആര്‍എല്‍ അറിയിയ്ക്കുന്നതു്
Name[mr]=KDED रिमोट आधारीत URL सूचक
Name[ms]=Pemberitahu URL Pangkalan Jauh KDED
Name[nb]=KDED-påminner for eksterne nettadresser
Name[nds]=KDED-Narichten för feern Basis-URLs
Name[ne]=KDED रिमोटमा आधारित यूआरएल सूचक
Name[nl]=KDED extern basis-URL-adres notificatie
Name[nn]=KDED-varsling for eksterne nettadressar
Name[or]=KDED ସୁଦୂର ଆଧାର URL ସୂଚନା ଦାତା
Name[pa]=KDED ਰਿਮੋਟ ਅਧਾਰਿਤ URL ਨੋਟੀਫਾਇਰ
Name[pl]=Powiadamianie o zdalnych URL-ach dla KDED
Name[pt]=Notificador de URLs de Base Remotos do KDED
Name[pt_BR]=Notificador de URL base remota do KDED
Name[ro]=Notificare KDED pentru URL distant de bază
Name[ru]=Проверка изменения сетевых файлов
Name[si]=KDED Remote Base URL Notifier
Name[sk]=KDED notifikátor vzdialenej URL
Name[sl]=Obvestilnik KDED oddaljenega osnovnega URL-ja
Name[sr]=КДЕД извештавач о удаљеном базном УРЛ‑у
Name[sr@ijekavian]=КДЕД извјештавач о удаљеном базном УРЛ‑у
Name[sr@ijekavianlatin]=KDED izvještavač o udaljenom baznom URL‑u
Name[sr@latin]=KDED izveštavač o udaljenom baznom URL‑u
Name[sv]=KDED-meddelande om fjärrbaswebbadresser
Name[ta]=KDED தொலைதூரம் சார்ந்த வலைமனை குறிப்பான்
Name[te]=KDED దూరస్థ సంభంద URL గమనిక
Name[tg]=Проверка изменения сетевых файлов
Name[th]=ตัวแจ้งเตือน Remote Base URL KDED
Name[tr]=KDED Uzak Tabanlı URL Hatırlatıcı
Name[uk]=Сповіщувач про віддалену основну адресу (URL) для KDED
Name[vi]=Bộ thông báo URL trên mạng KDED
Name[wa]=Notifiaedje des URL di båze då lon KDED
Name[x-test]=xxKDED Remote Base URL Notifierxx
Name[zh_CN]=KDED 远程基本 URL 通知器
Name[zh_TW]=KDED 遠端基礎 URL 通知程式
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=remotedirnotify
X-KDE-DBus-ModuleName=remotedirnotify
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=true
