[Desktop Entry]
Type=Service
Name=Remote URL Change Notifier
Name[el]=Ειδοποιητής αλλαγών για απομακρυσμένη URL
Name[en_GB]=Remote URL Change Notifier
Name[es]=Notificador de cambios en URL remoto
Name[nb]=Påminner for endringer i eksterne URL-er
Name[pt]=Notificador da Alteração de URLs Remotos
Name[pt_BR]=Notificador da alteração de URLs remotos
Name[sv]=Underrättelse om ändring av fjärrwebbadresser
Name[th]=ตัวแจ้งการเปลี่ยนแปลงบนที่อยู่ URL ทางไกล
Name[uk]=Сповіщення про зміну віддаленої адреси (URL)
Name[x-test]=xxRemote URL Change Notifierxx
Comment=Provides change notification for network folders
Comment[el]=Παρέχει ειδοποιήσεις για αλλαγές στους φακέλους δικτύου
Comment[en_GB]=Provides change notification for network folders
Comment[es]=Proporciona notificaciones visuales para carpetas de red
Comment[nb]=Gir endringsvarslinger for nettverksmapper
Comment[pt]=Fornece notificações de alterações para as pastas de rede
Comment[pt_BR]=Fornece notificações de alterações para pastas de rede
Comment[sv]=Tillhandahåller ändringsunderrättelser för nätverkskataloger
Comment[th]=ทำการแจ้งให้ทราบถึงความเปลี่ยนแปลงที่มีบนโฟลเดอร์บนเครือข่าย
Comment[uk]=Сповіщення про зміну стану мережевих тек
Comment[x-test]=xxProvides change notification for network foldersxx
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=remotedirnotify
X-KDE-DBus-ModuleName=remotedirnotify
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=true
