[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Media Manager
Name[af]=KDED Media Bestuurder
Name[be]=Кіраўнік носьбітаў KDED
Name[ca]=Gestor de suports KDED
Name[cs]=KDED správce médií
Name[csb]=Menadżer zôpisownëch mediów dlô KDED
Name[da]=KDED Mediehåndtering
Name[de]=Medienverwaltung
Name[el]=Διαχειριστής μέσων KDED
Name[eo]=Konserveja administrilo
Name[es]=Gestor de recursos KDED
Name[et]=KDED andmekandjate haldur
Name[eu]=KDED media kudeatzailea
Name[fa]=مدیر رسانه KDED
Name[fi]=KDED-tallennusmedianhallinta
Name[fr]=Gestionnaire de médias KDED
Name[fy]=KDEDED-mediabehearder
Name[ga]=Bainisteoir Meán KDED
Name[gl]=Xestor de Meios de KDED
Name[he]=מנהל המדיה של KDED
Name[hr]=KDED upravitelj medija
Name[hu]=KDED médiakezelő
Name[is]=KDED miðilstjóri
Name[it]=Gestore dei supporti KDED
Name[ja]=KDED メディアマネージャ
Name[ka]=მატარებლების მმართველი KDED
Name[kk]=KDED ауыстырмалы тасушыларды басқару
Name[km]=កម្មវិធី​គ្រប់គ្រង​ព័ត៌មាន KDED
Name[lv]=KDED Datu nesēju menedžeris
Name[mk]=Менаџер на носачи KDED
Name[ms]=Pengurus Media KDED
Name[nb]=KDED mediebehandler
Name[nds]=KDED-Medienpleeg
Name[ne]=KDED मिडिया प्रबन्धक
Name[nl]=KDED-Mediabeheerder
Name[nn]=KDED Mediehandsamar
Name[pa]=KDED ਮਾਧਿਅਮ ਮੈਨੇਜਰ
Name[pl]=Menedżer nośników danych dla KDED
Name[pt]=Gestor de Dispositivos KDED
Name[pt_BR]=Gerenciador de Mídia
Name[ro]=Manager multimedia KDED
Name[ru]=Управление подключаемыми устройствами
Name[se]=KDED-mediagieđahalli
Name[sl]=Upravitelj medijev KDED
Name[sr]=Менаџер медијума, KDED
Name[sr@latin]=Menadžer medijuma, KDED
Name[sv]=KDED-mediahanterare
Name[ta]=KDED மீடியா மேலாளர்
Name[te]=కెడిఈడి మాధ్యమ అభికర్త
Name[tr]=KDED Ortam Yöneticisi
Name[uk]=Менеджер носіїв інформації для KDED
Name[uz]=KDED сақлаш ускуналарни бошқарувчи
Name[x-test]=xxKDED Media Managerxx
Name[zh_TW]=KDED 媒體管理程式
Comment=Keep track of media activities and allow to (un)mount (media:/)
Comment[af]=Hou tred van media aktiwiteite en laat die (ont)koppel van 'media:/' toe
Comment[be]=Вядзе інфармацыю аб носьбітах і дазваляе прымацоўваць/адмацоўваць іх (media:/)
Comment[ca]=Fa el seguiment de les activitats dels suports i permet muntar i desmuntar (media:/)
Comment[cs]=Udržuje přehled o připojených zařízeních
Comment[csb]=Dozérô zdarzeniów sparłączonëch z mediama pòdôwków ë zezwôlô je (òd)mòntowac (media:/)
Comment[da]=Hold styr på medieaktiviteter og tillad at (af)montere (media:/)
Comment[de]=Überwacht Medien-Aktivität und ermöglicht das Einbinden/Lösen von Einbindungen (media:/)
Comment[el]=Έλεγχος ενεργειών των μέσων και δυνατότητα (από)προσάρτησης (media:/)
Comment[eo]=Sekvu spurojn de konservejaj aktivecoj kan permesu (ne)kroĉi (media:/)
Comment[es]=Monitoriza las actividades de los recursos y permite (des)montarlos (media:/)
Comment[et]=Hoiab silma peal andmekandjate aktiivsusel ja võimaldab neid ühendada/lahutada (media:/)
Comment[eu]=Montatzeak begiztatzen ditu (media:/) eta desmontatzen uzten du
Comment[fa]=حفظ رد فعالیتهای رسانه و اجازۀ سوار(پیاده) کردن (media:/)
Comment[fi]=Pidä kirjaa tallennustapahtumista ja salli tallennusvälineen liittäminen/irrotus (devices:/)
Comment[fr]=Gardez une trace des montages et permettre le (dé)montage (media:/)
Comment[fy]=Hâld de media-aktiviteiten by en stien ta om media oan- en ôf te keppelje (media:/)
Comment[gl]=Seguemento das actividades dos meios e permite-lle (des)montar (media:/)
Comment[he]=מנטר אחר פעילויות מדיה, ומאפשר לחבר או לנתק התקנים (media:/)
Comment[hr]=Praćenje aktivnosti medija i omogućavanje pristupanja i napuštanja
Comment[hu]=Az adathordozók követése, csatlakoztatása és leválasztása (media:/)
Comment[is]=Fylgjast með breytingum á tækjum og bjóða upp á (af)tengingu (media:/)
Comment[it]=Tiene traccia delle attività dei supporti e permette di montarli o smontarli (device:/)
Comment[ja]=メディアの活動を追跡し、(media:/) をマウントしたりアンマウントします
Comment[ka]=თვალყურს ადევნებს მედიის აქტიურობას და საშუალებას აძლევს (დე)მონტირების გაკეთებას (media:/)
Comment[kk]=Тасушылардың белсендігін байқап тіркеуге не тіркеуден шығаруға мүмкіндік береді: (un)mount (media:/)
Comment[km]=តាមដាន​សកម្មភាព​ព័ត៌មាន និង​អនុញ្ញាត​ឲ្យ​រៀបចំ (មិន​រៀបចំ) (media:/)
Comment[lt]=Stebi laikmenose vykdomus veiksmus ir leidžia (iš)montuoti (media:/)
Comment[lv]=Seko datu nesēju aktivitātēm un ļauj montēt/nomontēt tos (media:/)
Comment[mk]=Води сметка за активностите на носачите и дозволува (од)монтирање (media:/)
Comment[ms]=Ikuti perkembangan aktiviti media dan benarkan untuk (nyah)lekap (media:/)
Comment[nb]=Holder styr på monteringsaktiviteter og lar deg (av)montere (media:/)
Comment[nds]=Blifft bi all Medienaktiviteten op'n Stand un verlöövt dat In- un Afhangen (media:/)
Comment[ne]=मिडिया क्रियाकलापको मार्ग राख्नुहोस् र (अन)माउन्ट (media:/) गर्न अनुमति दिनुहोस्
Comment[nl]=Houdt de media-activiteiten bij en staat u toe om media aan- en af te koppelen (media:/)
Comment[nn]=Held styr på medieaktivitetar og lèt deg montera og avmontera (media:/)
Comment[pa]=ਮਾਊਟ ਕਾਰਵਾਈਆਂ ਦੀ ਜਾਣਕਾਰੀ ਰੱਖੋ ਅਤੇ ਅਨ-ਮਾਊਟ ਕਰਨ ਦਿਓ (ਜੰਤਰ:/)
Comment[pl]=Śledzi zdarzenia związane z nośnikami danych i pozwala je (od)montować (media:/)
Comment[pt]=Manter o registo das actividades de dispositivos e permitir a (des)montagem (media:/)
Comment[pt_BR]=Monitora as atividades de mídias e permite a (des)montagem (media:/)
Comment[ro]=Urmăreşte activităţile multimedia şi permite (de)montarea media:/
Comment[ru]=Автоматическое подключение устройств (media:/)
Comment[se]=Gozit mii dáhpáhuvvá median ja diktá du gálgat ja čadnat daid (media:/)
Comment[sl]=Nadzoruj dejanja medija in dovilo priklop/odklop (media:/)
Comment[sr]=Прати активност медијума и омогућава (де)монтирање (media:/)
Comment[sr@latin]=Prati aktivnost medijuma i omogućava (de)montiranje (media:/)
Comment[sv]=Håll reda på mediaaktiviteter och tillåt (av)montering (media:/)
Comment[ta]=இடைக்காலத்திற்குரிய நடவடிக்கைகளின் வைத்திரு. (சாதனம்:/)த்தை ஏற்ற(இறக்க)கவும் அனுமதி
Comment[tr]=Ortam işlemlerini takip et ve bağlanma işlemlerine izin ver(media:/)
Comment[uk]=Спостерігає за змінами серед носіїв інформації та дозволяє (роз)монтування (media:/)
Comment[x-test]=xxKeep track of media activities and allow to (un)mount (media:/)xx
Comment[zh_TW]=持續追蹤媒體活動並允許(解除)掛載 (media:/)
ServiceTypes=KDEDModule
X-KDE-Library=mediamanager
X-KDE-FactoryName=mediamanager
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
