[Desktop Entry]
Icon=network-workgroup
Name=Samba Shares
Name[af]=Samba Hulpbronne
Name[ar]=مشاركات السامبا
Name[be]=Агульныя тэчкі Samba
Name[be@latin]=Supolnyja resursy „Samba”
Name[bg]=Ресурси на Samba
Name[bn]=সাম্বা শেয়ার
Name[bn_IN]=Samba শেয়ার
Name[br]=Rannadoù Samba
Name[ca]=Recursos compartits de Samba
Name[ca@valencia]=Recursos compartits de Samba
Name[cs]=Sdílené disky Samby
Name[csb]=Dostónczi Sambë
Name[cy]=Cydranniad Samba
Name[da]=Samba-shares
Name[de]=Samba-Freigaben
Name[el]=Κοινόχρηστοι πόροι Samba
Name[eo]=Samba komunaĵoj
Name[es]=Comparticiones Samba
Name[et]=SMB jagatud ressursid
Name[eu]=Samba partekaketak
Name[fa]=مشترکات Samba
Name[fi]=Samba-jaot
Name[fr]=Partages Samba
Name[fy]=Sambanetwurk
Name[ga]=Comhranna Samba
Name[gl]=Comparticións de Samba
Name[gu]=સામ્બા ભાગીદારીઓ
Name[he]=שיתופי Samba
Name[hi]=साम्बा साझेदारी
Name[hne]=साम्बा साझेदारी
Name[hr]=Samba dijeljenja
Name[hsb]=Zhromadne zapiski a graty wot Samba
Name[hu]=Samba-megosztások
Name[is]=Samba sameignir
Name[it]=Condivisioni Samba
Name[ja]=Samba 共有
Name[ka]=Samba-ს საზიაროები
Name[kk]=Samba ресурстары
Name[km]=ការ​ចែក​រំលែក​ Samba
Name[kn]=ಸಾಂಬಾ ಹಂಚಿಕೆಗಳು (ಶೇರ್)
Name[ko]=삼바 공유
Name[ku]=Parvekirinên Sambayê
Name[lt]=Samba bendri diskai
Name[lv]=Samba koplietojumi
Name[mai]=साम्बा साझेदारी
Name[mk]=Samba-заеднички
Name[ml]=സാംബവഴി പങ്കിട്ടവ
Name[mr]=साम्बा भागिदारी
Name[ms]=Perkongsian Samba
Name[nb]=Samba-ressurser
Name[nds]=Samba-Freegaven
Name[ne]=साम्बा साझेदारी
Name[nl]=Sambanetwerk
Name[nn]=Samba-ressursar
Name[or]=Samba ସହଭାଗୀ
Name[pa]=ਸਾਂਬਾ ਸਾਂਝ
Name[pl]=Zasoby Samby
Name[pt]=Partilhas de Samba
Name[pt_BR]=Compartilhamentos do Samba
Name[ro]=Partajări Samba
Name[ru]=Общие папки Samba
Name[se]=Samba-resurssat
Name[sk]=Zdieľania Samby
Name[sl]=Souporabe Sambe
Name[sr]=Самба дељења
Name[sr@latin]=Samba deljenja
Name[sv]=Samba-utdelningar
Name[ta]=சம்பா பங்குகள்
Name[te]=సాంబా భాగస్వామ్యాలు
Name[tg]=Манбаъи Samba
Name[th]=การใช้ร่วมกันของ Samba
Name[tr]=Samba Paylaşımları
Name[uk]=Спільні ресурси Samba
Name[vi]=Chia sẻ Samba
Name[wa]=Pårtaedjes Samba
Name[x-test]=xxSamba Sharesxx
Name[xh]=Izahlulo ze Samba
Name[zh_CN]=Samba 共享
Name[zh_TW]=Samba 資源分享
Open=false
Type=Link
URL=smb:/
