[Desktop Entry]
Encoding=UTF-8
Icon=network
Name=Samba Shares
Name[el]=Κοινόχρηστοι πόροι Samba
Name[fr]=Partages Samba
Name[x-test]=xxSamba Sharesxx
Open=false
Type=Link
URL=smb:/
