[Desktop Entry]
Encoding=UTF-8
Comment=Windows Workgroup
Comment[ar]=مجموعة عمل Windows
Comment[be]=Працоўная група Windows
Comment[bg]=Работна група на Windows
Comment[bn]=উইণ্ডোস ওয়ার্কগ্রুপ
Comment[bs]=Windows radna grupa
Comment[ca]=Grup de treball de Windows
Comment[cs]=Pracovní skupina Windows
Comment[cy]=Gr?p Gwaith Windows
Comment[de]=Windows-Arbeitsgruppe
Comment[el]=Ομάδα εργασίας Windows
Comment[eo]=Vindoza laborgrupo
Comment[es]=Grupo de trabajo de Windows
Comment[et]=Windowsi töögrupp
Comment[eu]=Windows lan taldea
Comment[fa]=گروه کار ویندوز
Comment[fi]=Windows-työryhmä
Comment[fr]=Groupe de travail Windows
Comment[fy]=Windows-wurkkeppel
Comment[gl]=Grupo de Traballo de Windows
Comment[he]=קבוצת עבודה של חלונות
Comment[hi]=विंडोज़ वर्क बुक
Comment[hr]=Windows radna grupa
Comment[hu]=Windows-os munkacsoport
Comment[is]=Windows vinnuhópur
Comment[it]=Gruppo di lavoro di Windows
Comment[ja]=Windowsのワークグループ
Comment[lt]=Windows darbo grupė
Comment[mk]=Windows Работна група
Comment[mn]=Цонхтой ажиллах бүлэг
Comment[mt]=Workgroup tal-Windows
Comment[nds]=Windows-Arbeidsgrupp
Comment[nl]=Windows-werkgroep
Comment[nn]=Windows-arbeidsgruppe
Comment[pa]=ਵਿੰਡੋ ਵਰਕਗਰੁੱਪ
Comment[pl]=Grupa robocza Windows
Comment[pt]=Grupos de Trabalho do Windows
Comment[pt_BR]=Grupo de trabalho do Windows
Comment[ro]=Grupuri de lucru Windows
Comment[ru]=Рабочая группа Windows
Comment[sk]=Pracovná skupina Windows
Comment[sl]=Delovna skupina Windows
Comment[sv]=Windows arbetsgrupp
Comment[ta]=சாளரங்கள் பணிகுழு
Comment[tg]=Гурӯҳи кори Windows
Comment[th]=กลุ่มงานวินโดว์ส
Comment[tr]=Windows Çalışma Grubu
Comment[uk]=Робоча група Windows
Comment[uz]=Windows ишчи гуруҳи
Comment[vi]=Nhóm làm việc của Windows
Comment[wa]=Groupe d' ovraedje Windows
Comment[xx]=xxWindows Workgroupxx
Comment[zh_CN]=Windows 工作组
Comment[zh_TW]=視窗工作群組
Icon=network_local
Type=MimeType
MimeType=application/x-smb-workgroup
X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
