[Desktop Entry]
Encoding=UTF-8
Comment=Windows Workgroup
Comment[af]=Windows Werkgroep
Comment[ar]=مجموعة عمل Windows
Comment[bg]=Работна група на Windows
Comment[br]=Strollad labour Windows
Comment[ca]=Grup de treball de Windows
Comment[cs]=Pracovní skupina Windows
Comment[csb]=Robòczé karno Windowsa
Comment[cy]=Gr?p Gwaith Windows
Comment[de]=Windows-Arbeitsgruppe
Comment[el]=Ομάδα εργασίας Windows
Comment[eo]=Vindoza laborgrupo
Comment[es]=Grupo de trabajo de Windows
Comment[et]=Windowsi töögrupp
Comment[eu]=Windows lan taldea
Comment[fa]=گروه کاری ویندوز
Comment[fi]=Windows-työryhmä
Comment[fr]=Groupe de travail Windows
Comment[fy]=Windows-wurkkeppel
Comment[ga]=Grúpa Oibre Windows
Comment[gl]=Grupo de Traballo de Windows
Comment[he]=קבוצת עבודה של חלונות
Comment[hr]=Windows radna grupa
Comment[hu]=Windows-os munkacsoport
Comment[is]=Windows vinnuhópur
Comment[it]=Gruppo di lavoro di Windows
Comment[ja]=Windows ワークグループ
Comment[ka]=Windows სამუშაო გჯუფი
Comment[kk]=Windows жұмыс тобы
Comment[lt]=Windows darbo grupė
Comment[lv]=Windows darba grupa
Comment[mk]=Windows работна група
Comment[ms]=Kumpulan Kerja Windows
Comment[nb]=Windows-arbeidsgruppe
Comment[nds]=Windows-Arbeitkoppel
Comment[ne]=सञ्झ्याल कार्य समूह
Comment[nl]=Windows-werkgroep
Comment[nn]=Windows-arbeidsgruppe
Comment[pa]=ਵਿੰਡੋ ਵਰਕਗਰੁੱਪ
Comment[pl]=Grupa robocza Windows
Comment[pt]=Grupos de Trabalho do Windows
Comment[pt_BR]=Grupo de trabalho do Windows
Comment[ro]=Grupuri de lucru Windows
Comment[ru]=Рабочая группа Windows
Comment[se]=Windows-bargojoavku
Comment[sl]=Delovna skupina Windows
Comment[sv]=Windows arbetsgrupp
Comment[ta]=சாளரங்கள் பணிகுழு
Comment[tg]=Гурӯҳи кори Windows
Comment[tr]=Windows Çalışma Grubu
Comment[uk]=Робоча група Windows
Comment[uz]=Windows ишчи гуруҳи
Comment[x-test]=xxWindows Workgroupxx
Comment[zh_TW]=視窗工作群組
Icon=network_local
Type=MimeType
MimeType=application/x-smb-workgroup
X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
