[Desktop Entry]
Encoding=UTF-8
Comment=Windows Server
Comment[be]=Сэрвэр Windows
Comment[bg]=Сървър Windows
Comment[br]=Servijer Windows
Comment[bs]=Windows server
Comment[ca]=Servidor Windows
Comment[cs]=Windows server
Comment[cy]=Grŵp Gwaith Windows
Comment[da]=Windows server
Comment[de]=Windows-Server
Comment[eo]=Vindoza servilo
Comment[es]=Servidor Windows
Comment[et]=Windowsi server
Comment[fi]=Windows-palvelin
Comment[fr]=Serveur Windows
Comment[he]=שרת Windows
Comment[hu]=Windows kiszolgáló
Comment[is]=Windows-þjónn
Comment[it]=Server Windows
Comment[mt]=Server tal-Windows
Comment[nb]=MSwindows-tjener
Comment[nl]=Windows-server
Comment[nn]=Windows-tenar
Comment[pa]=ਵਿੰਡੋ ਸਰਵਰ
Comment[pl]=Serwer okien
Comment[pt]=Servidor Windows
Comment[pt_BR]=Servidor Windows
Comment[ro]=Servere Windows
Comment[ru]=Сервер Windows
Comment[sk]=Server Windows
Comment[sl]=Strežnik za Windows
Comment[sr]=Windows сервер
Comment[sr@Latn]=Windows сервер
Comment[sv]=Windows server
Comment[ta]=சாளர சேவகன்
Comment[tr]=Windows Sunucusu
Comment[uk]=Сервер Windows
Comment[uz]=Windows сервери
Comment[xx]=xxWindows Serverxx
Comment[zh_CN]=Windows 服务器
Icon=server
Type=MimeType
MimeType=application/x-smb-server
X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
