[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Medium Information
Name[af]=Medium Informasie
Name[ar]=معلومات عن الوسيط
Name[be]=Інфармацыя аб носьбітах
Name[ca]=Informació de suports
Name[cs]=Informace o médiu
Name[da]=Medieinformation
Name[de]=Medium-Information
Name[el]=Πληροφορίες μέσου
Name[eo]=Konservejaj informoj
Name[es]=Información de recursos
Name[et]=Andmekandja info
Name[eu]=Media informazioa
Name[fa]=اطلاعات رسانه
Name[fi]=Tallenteiden tiedot
Name[fr]=Informations sur le média
Name[fy]=Mediumynformaasje
Name[ga]=Eolas faoin Mheán
Name[gl]=Información do Meio
Name[he]=מידע אודות המדיה
Name[hr]=Podaci o mediju
Name[hu]=Adathordozó-jellemzők
Name[is]=Upplýsingar um miðil
Name[it]=Informazioni supporto
Name[ja]=メディア情報
Name[ka]=ცნობები მატარებლის შესახებ
Name[kk]=Тасушының мәліметі
Name[km]=ព័ត៌មាន​ឧបករណ៍
Name[lt]=Laikmenos informacija
Name[lv]=Datu nesēju informācija
Name[mk]=Информации за носач
Name[ms]=Maklumat Medium
Name[nb]=Medieinformasjon
Name[nds]=Medium-Informatschoon
Name[ne]=माध्यम सूचना
Name[nl]=Mediuminformatie
Name[nn]=Medieinformasjon
Name[pa]=ਮਾਧਿਅਮ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o nośnikach danych
Name[pt]=Informação do Dispositivo
Name[pt_BR]=Informações sobre a Mídia
Name[ro]=Informaţii mediu
Name[ru]=Сведения о носителе
Name[se]=Mediumdieđut
Name[sl]=Informacije o mediju
Name[sr]=Информације о медијуму
Name[sr@Latn]=Informacije o medijumu
Name[sv]=Mediainformation
Name[ta]=சாதனத் தகவல்
Name[tr]=Ortam Bilgisi
Name[uk]=Інформація про носій
Name[uz]=Сақлаш ускуна ҳақида маълумот
Name[x-test]=xxMedium Informationxx
Name[zh_TW]=媒體資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_media
MimeType=media/audiocd;media/hdd_mounted;media/blankcd;media/hdd_unmounted;media/blankdvd;media/cdrom_mounted;media/cdrom_unmounted;media/cdwriter_mounted;media/nfs_mounted;media/cdwriter_unmounted;media/nfs_unmounted;media/removable_mounted;media/dvd_mounted;media/removable_unmounted;media/dvd_unmounted;media/smb_mounted;media/dvdvideo;media/smb_unmounted;media/floppy5_mounted;media/svcd;media/floppy5_unmounted;media/vcd;media/floppy_mounted;media/zip_mounted;media/floppy_unmounted;media/zip_unmounted;media/gphoto2camera
