[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Medium Information
Name[el]=Πληροφορίες μέσου
Name[fr]=Informations sur le média
Name[x-test]=xxMedium Informationxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_media
MimeType=media/audiocd;media/hdd_mounted;media/blankcd;media/hdd_unmounted;media/blankdvd;media/cdrom_mounted;media/cdrom_unmounted;media/cdwriter_mounted;media/nfs_mounted;media/cdwriter_unmounted;media/nfs_unmounted;media/removable_mounted;media/dvd_mounted;media/removable_unmounted;media/dvd_unmounted;media/smb_mounted;media/dvdvideo;media/smb_unmounted;media/floppy5_mounted;media/svcd;media/floppy5_unmounted;media/vcd;media/floppy_mounted;media/zip_mounted;media/floppy_unmounted;media/zip_unmounted;media/gphoto2camera
