[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Medium Information
Name[az]=Mediyum Mə'lumatı
Name[bg]=Информация за устройствата
Name[da]=Medieinformation
Name[eo]=Konservejaj informoj
Name[et]=Andmekandja info
Name[fr]=Informations sur le média
Name[hu]=Adathordozó-jellemzők
Name[mk]=Информации за носач
Name[mt]=Informazzjoni tal-apparat
Name[nl]=Mediuminformatie
Name[pa]=ਮਾਧਿਅਮ ਜਾਣਕਾਰੀ
Name[pt]=Informação do Dispositivo
Name[pt_BR]=Informações sobre a Mídia
Name[sv]=Mediainformation
Name[ta]=சாதனத் தகவல்
Name[tr]=Ortam Bilgisi
Name[uk]=Інформація про носій інформації
Name[zh_CN]=介质信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_media
MimeType=media/cdrom_mounted;media/cdwriter_mounted;media/dvd_mounted;media/floppy5_mounted;media/floppy_mounted;media/hdd_mounted;media/removable_mounted;media/zip_mounted
