[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/audiocd
Comment=Audio CD
Comment[bg]=Аудио диск
Comment[bn]=অডিও সিডি
Comment[br]=CD klevet
Comment[ca]=CD d'àudio
Comment[cs]=Zvukové CD
Comment[da]=Lyd-cd
Comment[el]=CD ήχου
Comment[fi]=CD-äänilevy
Comment[fr]=CD audio
Comment[fy]=Audio-Kompaktskiif
Comment[ga]=Dlúthdhiosca Fuaime
Comment[he]=תקליטורי שמע
Comment[hi]=ऑडियो सीडी
Comment[hu]=Hang-CD
Comment[is]=Hljóð CD
Comment[it]=CD audio
Comment[ja]=オーディオCD
Comment[nb]=Lyd-CD
Comment[nds]=Audio-CD
Comment[nl]=Audio-cd
Comment[nn]=Lyd-CD
Comment[pa]=ਆਡੀਓ CD
Comment[pl]=Płyta CD Audio
Comment[pt]=CD áudio
Comment[pt_BR]=CD de Áudio
Comment[ro]=CD Audio
Comment[ru]=Звуковой CD
Comment[se]=Jietna-CD
Comment[sl]=Avdio CD
Comment[sr]=Аудио CD
Comment[sv]=Ljud-cd
Comment[tr]=Müzik CD'si
Comment[uk]=Аудіо КД
Comment[xx]=xxAudio CDxx
Comment[zh_CN]=音频 CD
Icon=cdaudio_unmount

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

