[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/audiocd
Comment=Audio CD
Comment[af]=Musiek CD
Comment[ar]=قرص مدمج صوتي
Comment[be]=Гукавы CD
Comment[bg]=Аудио диск
Comment[br]=CD klevet
Comment[ca]=CD d'àudio
Comment[cs]=Zvukové CD
Comment[csb]=Aùdio CD
Comment[da]=Lyd-cd
Comment[el]=CD ήχου
Comment[eo]=Muzikaj lumdiskoj
Comment[fa]=دیسک فشردۀ صوتی
Comment[fi]=CD-äänilevy
Comment[fr]=CD audio
Comment[fy]=Audio-Kompaktskiif
Comment[ga]=Dlúthdhiosca Fuaime
Comment[gl]=CD de audio
Comment[he]=תקליטורי שמע
Comment[hr]=Glazbeni CD
Comment[hu]=Hang-CD
Comment[is]=Hljóðdiskur
Comment[it]=CD audio
Comment[ja]=オーディオ CD
Comment[kk]=Аудио CD
Comment[km]=ស៊ីឌី​អូឌីយ៉ូ
Comment[mk]=Аудио ЦД
Comment[ms]=CD Audio
Comment[nb]=Lyd-CD
Comment[nds]=Audio-CD
Comment[ne]=अडियो सी डी
Comment[nl]=Audio-cd
Comment[nn]=Lyd-CD
Comment[pa]=ਆਡੀਓ CD
Comment[pl]=Płyta CD Audio
Comment[pt]=CD de áudio
Comment[pt_BR]=CD de Áudio
Comment[ro]=CD Audio
Comment[ru]=Аудио CD
Comment[se]=Jietna-CD
Comment[sl]=Glasbeni CD
Comment[sr]=Аудио CD
Comment[sv]=Ljud-cd
Comment[tr]=Müzik CD'si
Comment[uk]=Аудіо КД
Comment[uz]=Аудио компакт-диск
Comment[x-test]=xxAudio CDxx
Comment[zh_TW]=音樂 CD
Icon=cdaudio_unmount

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

