[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/blankdvd
Comment=Blank DVD
Comment[el]=Κενό DVD
Comment[fr]=DVD vierge
Comment[x-test]=xxBlank DVDxx
Icon=cdwriter_unmount

