[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/blankcd
Comment=Blank CD
Comment[bg]=Празен диск
Comment[br]=Goullonderiñ ur CD
Comment[da]=Blank cd
Comment[et]=Tühi CD
Comment[fr]=CD vierge
Comment[ga]=Dlúthdhiosca Folamh
Comment[hu]=Üres CD
Comment[nl]=Blanko cd
Comment[pt]=CD vazio
Comment[pt_BR]=CD virgem
Comment[sv]=Tom cd
Comment[ta]=காலி குறுந்தகடு
Comment[tr]=Boş CD
Comment[uk]=Чистий КД
Comment[zh_CN]=空 CD
Icon=cdwriter_unmount

