[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/blankdvd
Comment=Blank DVD
Comment[bg]=Празен диск DVD
Comment[bn]=ফাঁকা ডিভিডি
Comment[br]=Goullonderiñ un DVD
Comment[ca]=DVD en blanc
Comment[cs]=Prázdné DVD
Comment[da]=Blank dvd
Comment[de]=Leere DVD
Comment[es]=Borrar DVD
Comment[et]=Tühi DVD
Comment[fi]=Tyhjä DVD-levy
Comment[fr]=DVD vierge
Comment[fy]=Blanke Dûbelskiif
Comment[ga]=DVD Folamh
Comment[he]=תקליטור DVD ריק
Comment[hi]=खाली डीवीडी
Comment[hu]=Üres DVD
Comment[is]=Tómur DVD
Comment[it]=DVD vergine
Comment[ja]=空のDVD
Comment[lt]=Tuščias DVD
Comment[lv]=Tukšs DVD
Comment[nb]=Tom DVD
Comment[nl]=Blanko dvd
Comment[nn]=Tom DVD
Comment[pl]=Pusta płyta DVD
Comment[pt]=DVD vazio
Comment[pt_BR]=DVD virgem
Comment[ru]=Чистый DVD
Comment[se]=Guorus DVD
Comment[sl]=Prazen DVD
Comment[sr]=Празан DVD
Comment[sr@Latn]=Prazan DVD
Comment[sv]=Tom dvd
Comment[ta]=காலி டிவிடி
Comment[tr]=Boş DVD
Comment[uk]=Чистий DVD
Comment[xx]=xxBlank DVDxx
Comment[zh_CN]=空 DVD
Icon=cdwriter_unmount

