[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/blankdvd
Comment=Blank DVD
Comment[af]=Leë DVD
Comment[ar]=قرص رقمي مرئي فارغ
Comment[be]=Пусты DVD
Comment[bg]=Празен диск DVD
Comment[br]=Goullonderiñ un DVD
Comment[ca]=DVD en blanc
Comment[cs]=Prázdné DVD
Comment[csb]=Czëstô DVD
Comment[da]=Blank dvd
Comment[de]=Leere DVD
Comment[el]=Κενό DVD
Comment[eo]=Malplena DVD
Comment[es]=DVD vacío
Comment[et]=Tühi DVD
Comment[eu]=DVD hutsik
Comment[fa]=DVD خام
Comment[fi]=Tyhjä DVD-levy
Comment[fr]=DVD vierge
Comment[fy]=Blanke Dûbelskiif
Comment[ga]=DVD Folamh
Comment[gl]=DVD valeiro
Comment[he]=תקליטור DVD ריק
Comment[hr]=Prazan DVD
Comment[hu]=Üres DVD
Comment[is]=Tómur DVD
Comment[it]=DVD vergine
Comment[ja]=空の DVD
Comment[ka]=სუფთა DVD
Comment[kk]=Таза DVD
Comment[km]=ឌីវីឌី​ទទេ
Comment[lt]=Tuščias DVD
Comment[lv]=Tukšs DVD
Comment[mk]=Празно DVD
Comment[ms]=DVD Kosong
Comment[nb]=Tom DVD
Comment[nds]=Leddige DVD
Comment[ne]=खाली डी भी डी
Comment[nl]=Lege dvd
Comment[nn]=Tom DVD
Comment[pa]=ਖਾਲੀ DVD
Comment[pl]=Pusta płyta DVD
Comment[pt]=DVD vazio
Comment[pt_BR]=DVD virgem
Comment[ro]=DVD gol
Comment[ru]=Чистый DVD
Comment[se]=Guorus DVD
Comment[sl]=Prazen DVD
Comment[sr]=Празан DVD
Comment[sr@Latn]=Prazan DVD
Comment[sv]=Tom dvd
Comment[ta]=காலி டிவிடி
Comment[tr]=Boş DVD
Comment[uk]=Чистий DVD
Comment[uz]=Бўш DVD
Comment[x-test]=xxBlank DVDxx
Comment[zh_TW]=空白 DVD
Icon=cdwriter_unmount

