[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/blankcd
Comment=Blank CD
Comment[af]=Leë CD
Comment[ar]=قرص مدمج فارغ
Comment[be]=Пусты CD
Comment[bg]=Празен диск
Comment[br]=Goullonderiñ ur CD
Comment[ca]=CD en blanc
Comment[cs]=Prázdné CD
Comment[da]=Blank cd
Comment[de]=Leere CD
Comment[el]=Κενό CD
Comment[eo]=Malplena muzika lumdisko
Comment[es]=CD vacío
Comment[et]=Tühi CD
Comment[eu]=CD hutsik
Comment[fa]=دیسک فشردۀ خام
Comment[fi]=Tyhjä CD
Comment[fr]=CD vierge
Comment[fy]=Blanke Kompaktskiif
Comment[ga]=Dlúthdhiosca Folamh
Comment[gl]=CD valeiro
Comment[he]=תקליטור ריק
Comment[hr]=Prazan CD
Comment[hu]=Üres CD
Comment[is]=Tómur CD
Comment[it]=CD vergine
Comment[ja]=空の CD
Comment[ka]=სუფთა CD
Comment[kk]=Таза CD
Comment[km]=ស៊ីឌី​ទទេ
Comment[lt]=Tuščias CD
Comment[lv]=Tukšs CD
Comment[mk]=Празно ЦД
Comment[ms]=CD Kosong
Comment[nb]=Tom CD
Comment[nds]=Leddige CD
Comment[ne]=खाली सी डी
Comment[nl]=Lege cd
Comment[nn]=Tom CD
Comment[pa]=ਖਾਲੀ CD
Comment[pl]=Pusta płyta CD
Comment[pt]=CD vazio
Comment[pt_BR]=CD virgem
Comment[ro]=CD gol
Comment[ru]=Чистый CD
Comment[se]=Guorus CD
Comment[sl]=Prazen CD
Comment[sr]=Празан CD
Comment[sr@Latn]=Prazan CD
Comment[sv]=Tom cd
Comment[ta]=காலி குறுந்தகடு
Comment[tr]=Boş CD
Comment[uk]=Чистий КД
Comment[uz]=Бўш компакт-диск
Comment[x-test]=xxBlank CDxx
Comment[zh_TW]=空白 CD
Icon=cdwriter_unmount

