[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/camera_mounted
Comment=Mounted Camera
Comment[et]=Ühendatud kaamera
Comment[ga]=Ceamara feistithe
Icon=camera_mount

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

