[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/camera_unmounted
Comment=Unmounted Camera
Comment[af]=Ontkoppelde Kamera
Comment[ar]=كاميرا غير مركبة
Comment[be]=Адмацаваная камера
Comment[br]=DVD-ROM divarc'het
Comment[ca]=Càmera desmuntada
Comment[cs]=Odpojená kamera
Comment[da]=Afmonteret kamera
Comment[de]=Nicht eingebundene Kamera
Comment[el]=Μη προσαρτημένη κάμερα
Comment[eo]=Malsurmetita Filmilo
Comment[es]=Cámara desmontada
Comment[et]=Lahutatud kaamera
Comment[eu]=Kamara desmuntatua
Comment[fa]=دوربین پیاده‌شده
Comment[fi]=Irrotettu kamera
Comment[fr]=Appareil photo non monté
Comment[fy]=Ofkeppele kamera
Comment[ga]=Ceamara Neamhfheistithe
Comment[gl]=Cámara non Montada
Comment[he]=מצלמה מנותקת
Comment[hr]=Nepristupljena kamera
Comment[hu]=Leválasztott fényképezőgép
Comment[is]=Aftengd myndavél
Comment[it]=Macchina fotografica non montata
Comment[ja]=マウントされていないメディア
Comment[ka]=დემონტირებული კამერა
Comment[kk]=Тіркеуден шығарылған фотокамера
Comment[km]=ម៉ាស៊ីន​ថត​ដែលបាន​អាន់​ម៉ោន
Comment[lt]=Išmontuotas fotoaparatas
Comment[mk]=Одмонтирана камера
Comment[nb]=Avmontert kamera
Comment[nds]=Afhungen Kamera
Comment[ne]=अनमाउन्ट गरिएको क्यामेरा
Comment[nl]=Afgekoppelde camera
Comment[nn]=Avmontert kamera
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤਾ ਕੈਮਰਾ
Comment[pl]=Odmontowany aparat fotograficzny
Comment[pt]=Câmara Desmontada
Comment[pt_BR]=Câmera desmontada
Comment[ro]=Aparat foto nemontat
Comment[ru]=Неподключённая камера
Comment[se]=Gálgajuvvon govvenapperáhtta
Comment[sl]=Odklopljen fotoaparat
Comment[sr]=Демонтирана камера
Comment[sr@Latn]=Demontirana kamera
Comment[sv]=Avmonterad kamera
Comment[tr]=Ayrılmış Kamera
Comment[uk]=Роз'єднана камера
Comment[uz]=Уланмаган фотоапарат
Comment[x-test]=xxUnmounted Cameraxx
Comment[zh_TW]=未掛載的照相機
Icon=camera_unmount

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

