[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/camera_mounted
Comment=Mounted Camera
Comment[el]=Προσαρτημένη κάμερα
Comment[fr]=Appareil photo monté
Comment[x-test]=xxMounted Cameraxx
Icon=camera_mount

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

