[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_unmount
Type=MimeType
MimeType=media/cdrom_unmounted
Comment=Unmounted CD-ROM
Comment[af]=Ontkoppel CD-ROM
Comment[ar]=قرص مدمج غير محمّل
Comment[be]=Адмацаваны CD-ROM
Comment[bg]=Демонтиран CD-ROM
Comment[br]=CD-ROM divountet
Comment[ca]=CD-ROM desmuntat
Comment[cs]=Odpojená CDROM
Comment[cy]=CD-ROM wedi'i ddadosod
Comment[da]=Afmonteret cd-rom
Comment[de]=Nicht eingebundene CD-ROM
Comment[el]=Αποπροσαρτημένο CD-ROM
Comment[eo]=Malkroĉita CDROM
Comment[es]=CD-ROM desmontado
Comment[et]=Lahutatud CD-ROM
Comment[eu]=CD-ROM desmuntatua
Comment[fa]=CD-ROM پیاده‌شده
Comment[fi]=Irrotettu CD-ROM
Comment[fr]=CD-ROM non monté
Comment[fy]=Ofkeppele Kompaktskiif
Comment[ga]=CD-ROM neamhfheistithe
Comment[gl]=CD-ROM Non Montado
Comment[he]=תקליטור מנותק
Comment[hr]=Nepristupljeni CD-ROM
Comment[hu]=Leválasztott CD-ROM
Comment[is]=Aftengt geisladrif
Comment[it]=CD-ROM smontato
Comment[ja]=マウントされていない CD-ROM
Comment[ka]=დემონტირებული CD-ROM
Comment[kk]=Тіркеуден шығарған CD-ROM
Comment[km]=CD-ROM មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas CD-ROM
Comment[lv]=Nomontēts CD-ROM
Comment[mk]=Одмонтиран ЦДРОМ
Comment[ms]=CD-ROM Nyahlekap
Comment[nb]=Avmontert CD-plate
Comment[nds]=Afhungen CD-ROM
Comment[ne]=अनमाउन्ट गरिएको सी डी-रोम
Comment[nl]=Afgekoppelde cd-romschijf
Comment[nn]=Avmontert CD-ROM
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ CD-ROM
Comment[pl]=Odmontowany CD-ROM
Comment[pt]=CD-ROM desmontado
Comment[pt_BR]=CD-ROM Desmontado
Comment[ro]=CD-ROM nemontat
Comment[ru]=Отмонтированный CD
Comment[se]=Gálgajuvvon CD-ROM
Comment[sl]=Odklopljen CD-ROM
Comment[sr]=Демонтиран CD-ROM
Comment[sr@Latn]=Demontiran CD-ROM
Comment[sv]=Avmonterad cd-rom
Comment[ta]=வெளியேற்றிய குறுந்தகடு
Comment[tg]=Ҷудо шудаи CD-ROM
Comment[tr]=Ayrılmış CD-ROM
Comment[uk]=Демонтований КД
Comment[uz]=Уланмаган компакт-диск
Comment[x-test]=xxUnmounted CD-ROMxx
Comment[xh]=CD-ROM Enganyuswanga
Comment[zh_TW]=未掛載的 CD-ROM
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
