[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_mount
Type=MimeType
MimeType=media/cdrom_mounted
Comment=Mounted CD-ROM
Comment[x-test]=xxMounted CD-ROMxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
