[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_mount
Type=MimeType
MimeType=media/cdrom_mounted
Comment=Mounted CD-ROM
Comment[af]=Gekoppelde CD-ROM
Comment[ar]=قرص مدمج مركب
Comment[be]=Прымацаваны CD-ROM
Comment[br]=CD-ROM marc'het
Comment[ca]=CD-ROM muntat
Comment[cs]=Připojená CDROM
Comment[cy]=CD-ROM wedi ei osod
Comment[da]=Monteret cd-rom
Comment[de]=Eingebundene CD-ROM
Comment[el]=Προσαρτημένο CD-ROM
Comment[eo]=Kroĉita CDROM
Comment[es]=CD-ROM montado
Comment[et]=Ühendatud CD-ROM
Comment[eu]=CD-ROM muntatua
Comment[fa]=CD-ROM سوارشده
Comment[fi]=Liitetty CD-ROM
Comment[fr]=CD-ROM monté
Comment[fy]=Oankeppele Kompaktskiif
Comment[ga]=CD-ROM feistithe
Comment[gl]=CD-ROM Montado
Comment[he]=תקליטור מחובר
Comment[hr]=Pristupljeni CD-ROM
Comment[hu]=Csatlakoztatott CD-ROM
Comment[is]=Tengt geisladrif
Comment[it]=CD-ROM montato
Comment[ja]=マウントされた CD-ROM
Comment[ka]=მონტირებული CD-ROM
Comment[kk]=Тіркеген CD-ROM
Comment[km]=CD-ROM បាន​រៀបចំ
Comment[lt]=Sumontuotas CD-ROM
Comment[lv]=Piemontēts CD-ROM
Comment[mk]=Монтиран ЦДРОМ
Comment[ms]=CD-ROM Terlekap
Comment[nb]=Montert CD-plate
Comment[nds]=Inhangt CD-ROM
Comment[ne]=माउन्ट गरिएको सी डी-रोम
Comment[nl]=Aangekoppelde cd-romschijf
Comment[nn]=Montert CD-ROM
Comment[pa]=ਮਾਊਟ ਕੀਤੀ CD-ROM
Comment[pl]=Zamontowany CD-ROM
Comment[pt]=CD-ROM montado
Comment[pt_BR]=CD-ROM Montado
Comment[ro]=CD-ROM montat
Comment[ru]=Смонтированный CD
Comment[se]=Čatnon CD-ROM
Comment[sl]=Priklopljen CD-ROM
Comment[sr]=Монитран CD-ROM
Comment[sr@Latn]=Monitran CD-ROM
Comment[sv]=Monterad cd-rom
Comment[ta]=ஏற்றப்பட்ட சிடிராம்
Comment[tg]=Монтаж шудаи CD-ROM
Comment[tr]=Bağlı CD-ROM
Comment[uk]=Змонтований КД
Comment[uz]=Уланган компакт-диск
Comment[x-test]=xxMounted CD-ROMxx
Comment[xh]=CD-ROM Enyusiweyo
Comment[zh_TW]=已掛載的 CD-ROM
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
