[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_mount
Type=MimeType
MimeType=media/cdwriter_mounted
Comment=Mounted CD Writer
Comment[el]=Προσαρτημένο CD Writer
Comment[fr]=Graveur de CD monté
Comment[x-test]=xxMounted CD Writerxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
