[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_unmount
Type=MimeType
MimeType=media/cdwriter_unmounted
Comment=Unmounted CD Writer
Comment[af]=Ontkoppel Cd Skrywer
Comment[ar]=ناسخ أقراص غير محمّل
Comment[az]=Ayrılmış CD Yazıcı
Comment[bg]=Демонтиран CD Writer
Comment[bn]=আনমাউন্ট করা সিডি-রাইটার
Comment[br]=Engraver CD divarc'het
Comment[bs]=Demontiran CD pisač
Comment[ca]=CD Writer desmuntat
Comment[cs]=Odpojená vypalovačka CD
Comment[cy]=Ysgrifennwr CD wedi'i ddadosod
Comment[da]=Afmonteret cd-skriver
Comment[de]=Nicht eingebundener CD-Brenner
Comment[el]=Αποπροσαρτημένο CD Writer
Comment[eo]=Malkroĉita CDRW
Comment[es]=Escritor de CDs desmontado
Comment[et]=Lahutatud CD kirjutaja
Comment[eu]=CD erretzaile desmontatua
Comment[fa]=CD Writer پیاده شده
Comment[fi]=Irroitettu CD-kirjoitin
Comment[fr]=Graveur de CD non monté
Comment[fy]=Ofkeppele Kompaktskiif
Comment[ga]=Scríbhneoir Neamhfheistithe CDanna
Comment[gl]=Grabadora de CD Non Montada
Comment[he]=צורב מנותק
Comment[hi]=अनमाउन्टेड सीडी-राइटर
Comment[hr]=Nemontirani CD-pisač
Comment[hsb]=Njemontowany CD-palak
Comment[hu]=Leválasztott CD-író
Comment[is]=Aftengdur geislaskrifari
Comment[it]=Masterizzatore smontato
Comment[ja]=マウントされていないCDライター
Comment[lo]= ຫັງກາລີ
Comment[lt]=Išmontuotas CD rašymo įrenginys
Comment[lv]=Nomontēts CD rakstītājs
Comment[mk]=Демонтиран CD-режач
Comment[mn]=Салгагдсан КД-шарагч
Comment[mt]=CDWriter mhux immontat
Comment[nb]=Avmontert CD-brenner
Comment[nds]=Afhangt CD-Brenner
Comment[nl]=Afgekoppelde cd-writer
Comment[nn]=Avmontert CD-brennar
Comment[nso]=Sengwadi sa CD seo se Theositswego
Comment[pa]=ਅਨਮਾਊਟਿੰਡ CD ਰਾਇਟਰ
Comment[pl]=Odmontowana nagrywarka CD
Comment[pt]=Gravador de CDs desmontado
Comment[pt_BR]=Gravador de CD Desmontado
Comment[ro]=CD Writer nemontat
Comment[ru]=Отмонтированный CD Writer
Comment[se]=Gálgajuvvon CD-čálli
Comment[sk]=Nepripojená napaľovacia mechanika CD
Comment[sl]=Odklopljen zapisovalnik CD-jev
Comment[sr]=Демонтиран CD резач
Comment[sr@Latn]=Demontiran CD rezač
Comment[sv]=Avmonterad cd-brännare
Comment[ta]=வெளியேற்றிய குறுந்தகடு எழுதி
Comment[tg]=Ҷудо шудаи CD Writer
Comment[th]=เครื่องเขียนซีดีที่ไม่ถูกเม้าทน์
Comment[tr]=Ayrılmış CD Yazıcı
Comment[uk]=Демонтований гравер КД
Comment[uz]=Уланмаган компакт-диск ёзувчи
Comment[ven]=Tshinwali tsha CD tshi songo gonyiswaho
Comment[vi]=Ổ ghi CD được gỡ
Comment[wa]=Plake lazer sol broûleu dismontêye
Comment[xh]=CD Writer Enganyuswanga
Comment[xx]=xxUnmounted CD Writerxx
Comment[zh_CN]=未挂载的刻录机
Comment[zh_TW]=未掛載的 CD Writer
Comment[zu]=I-CD-Writer eyehlisiwe
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
