[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_mount
Type=MimeType
MimeType=media/cdwriter_mounted
Comment=Mounted CD Writer
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
