[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_unmount
Type=MimeType
MimeType=media/cdwriter_unmounted
Comment=Unmounted CD Writer
Comment[af]=Ontkoppelde CD Skrywer
Comment[ar]=ناسخ أقراص غير محمّل
Comment[bg]=Демонтиран CD Writer
Comment[br]=Engraver CD divarc'het
Comment[ca]=CD Writer desmuntat
Comment[cs]=Odpojená vypalovačka CD
Comment[csb]=Òdmòntowóny wëpôlôrz CD
Comment[cy]=Ysgrifennwr CD wedi'i ddadosod
Comment[da]=Afmonteret cd-skriver
Comment[de]=Nicht eingebundener CD-Brenner
Comment[el]=Αποπροσαρτημένο CD Writer
Comment[eo]=Malkroĉita CDRW
Comment[es]=Escritor de CDs desmontado
Comment[et]=Lahutatud CD kirjutaja
Comment[eu]=CD erretzaile desmuntatua
Comment[fa]=CD Writer پیاده‌شده
Comment[fi]=Irrotettu CD-kirjoitin
Comment[fr]=Graveur de CD non monté
Comment[fy]=Ofkeppele Kompaktskiif
Comment[ga]=Scríbhneoir Neamhfheistithe CDanna
Comment[gl]=Grabadora de CD Non Montada
Comment[he]=צורב מנותק
Comment[hr]=Nepristupljeni CD snimač
Comment[hu]=Leválasztott CD-író
Comment[is]=Aftengdur geislaskrifari
Comment[it]=Masterizzatore smontato
Comment[ja]=マウントされていない CD ライター
Comment[ka]=დემონტირებული CD Writer
Comment[kk]=Ажыратылған CD Writer
Comment[km]=ឧបករណ៍​សរសេរ​ស៊ីឌី​មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas CD rašymo įrenginys
Comment[lv]=Nomontēts CD rakstītājs
Comment[mk]=Одмонтиран ЦД-снимач
Comment[ms]=Penulis CD Nyahlekap
Comment[nb]=Avmontert CD-brenner
Comment[nds]=Afhungen CD-Brenner
Comment[ne]=अनमाउन्ट गरिएको सी डी राइटर
Comment[nl]=Afgekoppelde cd-writer
Comment[nn]=Avmontert CD-brennar
Comment[pa]=ਅਨਮਾਊਟ CD ਰਾਇਟਰ
Comment[pl]=Odmontowana nagrywarka CD
Comment[pt]=Gravador de CDs desmontado
Comment[pt_BR]=Gravador de CD Desmontado
Comment[ro]=CD Writer nemontat
Comment[ru]=Отмонтированный CD (с возможностью записи)
Comment[se]=Gálgajuvvon CD-čálli
Comment[sl]=Odklopljen zapisovalnik CD-jev
Comment[sr]=Демонтиран CD резач
Comment[sr@Latn]=Demontiran CD rezač
Comment[sv]=Avmonterad cd-brännare
Comment[ta]=வெளியேற்றிய குறுந்தகடு எழுதி
Comment[tg]=Ҷудо шудаи CD Writer
Comment[tr]=Ayrılmış CD Yazıcı
Comment[uk]=Демонтований гравер КД
Comment[uz]=Уланмаган компакт-диск ёзувчи
Comment[x-test]=xxUnmounted CD Writerxx
Comment[xh]=CD Writer Enganyuswanga
Comment[zh_TW]=未掛載的 CD Writer
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
