[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_mount
Type=MimeType
MimeType=media/cdwriter_mounted
Comment=Mounted CD Writer
Comment[af]=Gekoppelde Cd Skrywer
Comment[ar]=ناسخ أقراص محمّل
Comment[be]=Прымацаваны запісвальнік CD
Comment[bg]=Монтиран CD Writer
Comment[br]=Engraver CD marc'het
Comment[ca]=CD Writer muntat
Comment[cs]=Připojená vypalovačka CD
Comment[csb]=Zamòntowóny wëpôlôrz CD
Comment[cy]=Ysgrifennwr CD wedi'i osod
Comment[da]=Monteret cd-skriver
Comment[de]=Eingebundener CD-Brenner
Comment[el]=Προσαρτημένο CD Writer
Comment[eo]=Kroĉita CDRW
Comment[es]=Escritor de CDs montado
Comment[et]=Ühendatud CD kirjutaja
Comment[eu]=CD erretzaile muntatua
Comment[fa]=CD Writer سوارشده
Comment[fi]=Liitetty CD-kirjoitin
Comment[fr]=Graveur de CD monté
Comment[fy]=Oankeppele Kompaktskiif
Comment[ga]=Scríbhneoir Feistithe CDanna
Comment[gl]=Grabadora de CD Montada
Comment[he]=צורב מחובר
Comment[hr]=Pristupljeni CD snimač
Comment[hu]=Csatlakoztatott CD-író
Comment[is]=Tengdur geislaskrifari
Comment[it]=Masterizzatore montato
Comment[ja]=マウントされている CD ライター
Comment[ka]=მონტირებული CD Writer
Comment[kk]=Тіркеген CD Writer
Comment[km]=ឧបករណ៍​សរសេរ​ស៊ីឌី​បាន​រៀបចំ
Comment[lt]=Sumontuotas CD rašymo įrenginys
Comment[lv]=Piemontēts CD rakstītājs
Comment[mk]=Монтиран ЦД-снимач
Comment[ms]=Penulis CD Terlekap
Comment[nb]=Montert CD-brenner
Comment[nds]=Inhangt CD-Brenner
Comment[ne]=माउन्ट गरिएको सी डी राइटर
Comment[nl]=Aangekoppelde cd-writer
Comment[nn]=Montert CD-brennar
Comment[pa]=ਮਾਊਟ CD ਰਾਇਟਰ
Comment[pl]=Zamontowana nagrywarka CD
Comment[pt]=Gravador de CDs montado
Comment[pt_BR]=Gravador de CD Montado
Comment[ro]=CD Writer montat
Comment[ru]=Смонтированный CD (с возможностью записи)
Comment[se]=Čatnon CD-čálli
Comment[sl]=Priklopljen zapisovalnik CD-jev
Comment[sr]=Монтиран CD резач
Comment[sr@Latn]=Montiran CD rezač
Comment[sv]=Monterad cd-brännare
Comment[ta]=ஏற்றப்பட்ட குறுந்தகடு எழுதி
Comment[tg]=Монтажшудаи CD Writer
Comment[tr]=Bağlı CD Yazıcı
Comment[uk]=Змонтований гравер КД
Comment[uz]=Уланган компакт-диск ёзувчи
Comment[x-test]=xxMounted CD Writerxx
Comment[xh]=CD Writer Enyusiweyo
Comment[zh_TW]=已掛載的 CD Writer
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
