[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_unmount
Type=MimeType
MimeType=media/cdwriter_unmounted
Comment=Unmounted CD Writer
Comment[fr]=Graveur de CD non monté
Comment[x-test]=xxUnmounted CD Writerxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
