[Desktop Entry]
Encoding=UTF-8
Icon=dvd_mount
Type=MimeType
MimeType=media/dvd_mounted
Comment=Mounted DVD
Comment[el]=Προσαρτημένο DVD
Comment[fr]=DVD-ROM monté(s)
Comment[x-test]=xxMounted DVDxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
