[Desktop Entry]
Encoding=UTF-8
Icon=dvd_unmount
Type=MimeType
MimeType=media/dvd_unmounted
Comment=Unmounted DVD
Comment[el]=Αποπροσαρτημένο DVD
Comment[fr]=DVD-ROM non monté(s)
Comment[x-test]=xxUnmounted DVDxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
