[Desktop Entry]
Encoding=UTF-8
Icon=dvd_unmount
Type=MimeType
MimeType=media/dvd_unmounted
Comment=Unmounted DVD
Comment[af]=Ontkoppelde DVD
Comment[ar]=DVD غير محمّل
Comment[bg]=Демонтиран DVD
Comment[br]=DVD-ROM divountet
Comment[ca]=DVD desmuntat
Comment[cs]=Odpojené DVD
Comment[csb]=Òdmòntowóny nëk DVD
Comment[cy]=DVD wedi'i ddadosod
Comment[da]=Afmonteret dvd
Comment[de]=Nicht eingebundene DVD
Comment[el]=Αποπροσαρτημένο DVD
Comment[eo]=Malkroĉita DVD
Comment[es]=DVD desmontado
Comment[et]=Lahutatud DVD
Comment[eu]=DVD desmuntatua
Comment[fa]=DVD پیاده‌شده
Comment[fi]=Irrotettu DVD-levy
Comment[fr]=DVD-ROM non monté(s)
Comment[fy]=Ofkeppele Dûbelskiif
Comment[ga]=DVD neamhfheistithe
Comment[gl]=DVD non Montado
Comment[he]=כונן DVD מנותק
Comment[hr]=Nepristupljeni DVD
Comment[hu]=Leválasztott DVD
Comment[is]=Aftengt DVD
Comment[it]=DVD smontato
Comment[ja]=マウントされていない DVD
Comment[ka]=დემონტირებული DVD
Comment[kk]=Тіркеуден шығарған DVD
Comment[km]=ឌីវីឌី​ដែល​មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas DVD
Comment[lv]=Nomontēts DVD
Comment[mk]=Одмонтиран DVD
Comment[ms]=DVD Nyahlekap
Comment[nb]=Avmontert DVD
Comment[nds]=Afhungen DVD
Comment[ne]=अनमाउन्ट गरिएको डी भी डी
Comment[nl]=Afgekoppelde dvd-romschijf
Comment[nn]=Avmontert DVD
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ DVD
Comment[pl]=Odmontowany DVD
Comment[pt]=DVD desmontado
Comment[pt_BR]=DVD Desmontado
Comment[ro]=DVD nemontat
Comment[ru]=Отмонтированный DVD
Comment[se]=Gálgajuvvon DVD
Comment[sl]=Odklopljen DVD
Comment[sr]=Демонтиран DVD
Comment[sr@Latn]=Demontiran DVD
Comment[sv]=Avmonterad dvd
Comment[ta]=இறக்கப்பட்ட சிடிராம்
Comment[tg]=Ғайри монтажшудаи DVD
Comment[tr]=Ayrılmış DVD
Comment[uk]=Демонтований DVD
Comment[uz]=Уланмаган DVD
Comment[x-test]=xxUnmounted DVDxx
Comment[zh_TW]=未掛載的 DVD-ROM
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
