[Desktop Entry]
Encoding=UTF-8
Icon=dvd_mount
Type=MimeType
MimeType=media/dvd_mounted
Comment=Mounted DVD
Comment[af]=Gekoppelde DVD
Comment[ar]=DVD محمّل
Comment[bg]=Монтиран DVD
Comment[br]=DVD marc'het
Comment[ca]=DVD muntat
Comment[cs]=Připojené DVD
Comment[csb]=Zamòntowóny nëk DVD
Comment[cy]=DVD wedi'i osod
Comment[da]=Monteret dvd
Comment[de]=Eingebundene DVD
Comment[el]=Προσαρτημένο DVD
Comment[eo]=Kroĉita DVD
Comment[es]=DVD montado
Comment[et]=Ühendatud DVD
Comment[eu]=DVD muntatua
Comment[fa]=DVD سوارشده
Comment[fi]=Liitetty DVD-levy
Comment[fr]=DVD-ROM monté(s)
Comment[fy]=Oankeppele Dûbelskiif
Comment[ga]=DVD feistithe
Comment[gl]=DVD Montado
Comment[he]=כונן DVD מחובר
Comment[hr]=Pristupljeni DVD
Comment[hu]=Csatlakoztatott DVD
Comment[is]=Tengt DVD
Comment[it]=DVD montato
Comment[ja]=マウントされた DVD
Comment[ka]=მონტირებული DVD
Comment[kk]=Тіркеген DVD
Comment[km]=ឌីវីឌី​ដែល​បាន​រៀបចំ
Comment[lt]=Sumontuotas DVD
Comment[lv]=Piemontēts DVD
Comment[mk]=Монтиран DVD
Comment[ms]=DVD Terlekap
Comment[nb]=Montert DVD
Comment[nds]=Inhangt DVD
Comment[ne]=माउन्ट गरिएको डी भी डी
Comment[nl]=Aangekoppelde dvd-romschijf
Comment[nn]=Montert DVD
Comment[pa]=ਮਾਊਟ ਕੀਤੀ DVD
Comment[pl]=Zamontowany DVD
Comment[pt]=DVD montado
Comment[pt_BR]=DVD Montado
Comment[ro]=DVD montat
Comment[ru]=Смонтированный DVD
Comment[se]=Čatnon DVD
Comment[sl]=Priklopljen DVD
Comment[sr]=Монтиран DVD
Comment[sr@Latn]=Montiran DVD
Comment[sv]=Monterad dvd
Comment[ta]=ஏற்றப்பட்ட சிடிராம்
Comment[tg]=Монтажшудаи DVD
Comment[tr]=Bağlı DVD
Comment[uk]=Змонтований DVD
Comment[uz]=Уланган DVD
Comment[x-test]=xxMounted DVDxx
Comment[zh_TW]=已掛載的 DVD-ROM
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
