[Desktop Entry]
Encoding=UTF-8
Icon=dvd_mount
Type=MimeType
MimeType=media/dvd_mounted
Comment=Mounted DVD
Comment[ar]=DVD محمّل
Comment[az]=Bağlanmış DVD
Comment[bg]=Монтиран DVD
Comment[bn]=মাউন্ট করা ডিভিডি
Comment[br]=DVD marc'het
Comment[bs]=Montiran DVD
Comment[ca]=DVD muntat
Comment[cs]=Připojené DVD
Comment[cy]=DVD wedi'i osod
Comment[da]=Monteret dvd
Comment[de]=Eingebundene DVD
Comment[el]=Προσαρτημένο DVD
Comment[eo]=Kroĉita DVD
Comment[es]=DVD montado
Comment[et]=Ühendatud DVD
Comment[eu]=DVD montatua
Comment[fa]=DVD سوار شده
Comment[fi]=Liitetty DVD-levy
Comment[fr]=DVD-ROM monté(s)
Comment[fy]=Oankeppele Dûbelskiif
Comment[ga]=DVD feistithe
Comment[gl]=DVD Montado
Comment[he]=כונן DVD מחובר
Comment[hi]=माउन्टेड डीवीडी
Comment[hr]=Montirani DVD
Comment[hu]=Csatlakoztatott DVD
Comment[is]=Tengt DVD
Comment[it]=DVD montato
Comment[ja]=マウントされたDVD
Comment[lo]=ຈໍພາບ
Comment[lt]=Sumontuotas DVD
Comment[lv]=Piemontēts DVD
Comment[mk]=Монтиран DVD
Comment[mn]=Залгагдсан DVD
Comment[mt]=DVD immontat
Comment[nb]=Montert DVD
Comment[nds]=Inhangt DVD
Comment[nl]=Aangekoppelde dvd-romschijf
Comment[nn]=Montert DVD
Comment[pa]=ਮਾਊਟਿੰਡ DVD
Comment[pl]=Zamontowany DVD
Comment[pt]=DVD montado
Comment[pt_BR]=DVD Montado
Comment[ro]=DVD montat
Comment[ru]=Смонтированный DVD
Comment[se]=Čatnon DVD
Comment[sk]=Pripojené DVD
Comment[sl]=Priklopljen DVD
Comment[sr]=Монтиран DVD
Comment[sr@Latn]=Montiran DVD
Comment[sv]=Monterad dvd
Comment[ta]=ஏற்றப்பட்ட சிடிராம்
Comment[tg]=Монтажшудаи DVD
Comment[th]=ดีวีดีที่ถูกเม้าทน์
Comment[tr]=Bağlı DVD
Comment[uk]=Змонтований DVD
Comment[uz]=Уланган DVD
Comment[vi]=DVD được gắn kết
Comment[wa]=Plake lazer DVD montêye
Comment[xx]=xxMounted DVDxx
Comment[zh_CN]=挂载的 DVD
Comment[zh_TW]=已掛載的 DVD-ROM
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
