[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/dvdvideo
Comment=DVD Video Disk
Comment[bg]=Видео диск DVD
Comment[bn]=ডিভিডি ভিডিও ডিস্ক
Comment[br]=Pladenn DVD Video
Comment[ca]=Vídeo disc DVD
Comment[cs]=DVD video
Comment[da]=Dvd video-disk
Comment[es]=Disco de video DVD
Comment[et]=DVD videoplaat
Comment[fr]=DVD vidéo
Comment[fy]=Dûbelskiif Fideoskiif
Comment[he]=תקליטור וידאו של DVD
Comment[hu]=DVD-videolemez
Comment[is]=DVD vídeó diskur
Comment[nb]=DVD video disk
Comment[nl]=DVD Videodisk
Comment[nn]=DVD-videoplate
Comment[pt]=Disco DVD Vídeo
Comment[pt_BR]=DVD de vídeo
Comment[ru]=Видеодиск DVD
Comment[sv]=Dvd-videoskiva
Comment[tr]=DVD Vidyo Diski
Comment[uk]=Виідео диск DVD
Comment[xx]=xxDVD Video Diskxx
Comment[zh_CN]=DVD 影碟
Icon=dvd_unmount

