[Desktop Entry]
Encoding=UTF-8
Icon=3floppy_mount
Type=MimeType
MimeType=media/floppy_mounted
Comment=Mounted Floppy
Comment[x-test]=xxMounted Floppyxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
