[Desktop Entry]
Encoding=UTF-8
Icon=3floppy_unmount
Type=MimeType
MimeType=media/floppy_unmounted
Comment=Unmounted Floppy
Comment[el]=Αποπροσαρτημένη δισκέτα
Comment[fr]=Disquette non montée
Comment[x-test]=xxUnmounted Floppyxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
