[Desktop Entry]
Encoding=UTF-8
Icon=3floppy_mount
Type=MimeType
MimeType=media/floppy_mounted
Comment=Mounted Floppy
Comment[af]=Gekoppelde Sagteskyf
Comment[ar]=قرص مرن محمّل
Comment[be]=Прымацаваная дыскета
Comment[bg]=Монтирано флопи
Comment[br]=Pladennig marc'het
Comment[ca]=Disquet muntat
Comment[cs]=Připojená disketa
Comment[csb]=Zamòntowónô disczétka
Comment[cy]=Disg meddal wedi'i osod
Comment[da]=Monteret floppy
Comment[de]=Eingebundene Diskette
Comment[el]=Προσαρτημένη δισκέτα
Comment[eo]=Kroĉita Disketingo
Comment[es]=Disquete montado
Comment[et]=Ühendatud flopi
Comment[eu]=Diskete muntatua
Comment[fa]=فلاپی سوارشده
Comment[fi]=Liitetty levyke
Comment[fr]=Disquette montée
Comment[fy]=Oankeppele Skiif
Comment[ga]=Diosca flapach feistithe
Comment[gl]=Disquete Montado
Comment[he]=תקליטון מחובר
Comment[hr]=Pristupljena disketa
Comment[hu]=Csatlakoztatott floppy
Comment[is]=Tengdur disklingur
Comment[it]=Dischetto montato
Comment[ja]=マウントされたフロッピー
Comment[ka]=მონტირებული დრეკადი დისკი
Comment[kk]=Тііркеген иілгіш диск
Comment[km]=Floppy បាន​រៀបចំ
Comment[lt]=Sumontuotas lankstus diskelis
Comment[lv]=Piemontēta diskete
Comment[mk]=Монтирана дискета
Comment[ms]=Liut Terlekap
Comment[nb]=Montert diskett
Comment[nds]=Inhangt Diskett
Comment[ne]=माउन्ट गरिएको फ्लपी
Comment[nl]=Aangekoppelde diskette
Comment[nn]=Montert diskett
Comment[pa]=ਮਾਊਟ ਕੀਤੀ ਫਲਾਪੀ
Comment[pl]=Zamontowana dyskietka
Comment[pt]=Disquete montada
Comment[pt_BR]=Disquete Montado
Comment[ro]=Dischetă montată
Comment[ru]=Смонтированная дискета
Comment[se]=Čatnon dibmaskearru
Comment[sl]=Priklopljena disketna enota
Comment[sr]=Монтиран флопи
Comment[sr@Latn]=Montiran flopi
Comment[sv]=Monterad diskett
Comment[ta]=இறக்கப்பட்ட  நெகிழ்வட்டு
Comment[tg]=Монтажшудаи Floppy
Comment[tr]=Bağlı Disket
Comment[uk]=Змонтований флопі
Comment[uz]=Уланган дискет
Comment[x-test]=xxMounted Floppyxx
Comment[xh]=Floppy Enyusiweyo
Comment[zh_TW]=已掛載的軟碟機
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
