[Desktop Entry]
Encoding=UTF-8
Icon=3floppy_unmount
Type=MimeType
MimeType=media/floppy_unmounted
Comment=Unmounted Floppy
Comment[af]=Ontkoppelde Sagteskyf
Comment[ar]=قرص مرن غير محمّل
Comment[bg]=Демонтирано флопи
Comment[br]=Pladennig divountet
Comment[ca]=Disquet desmuntat
Comment[cs]=Odpojená disketa
Comment[csb]=Òdmòntowónô disczétka
Comment[cy]=Disg meddal wedi'i ddadosod
Comment[da]=Afmonteret floppy
Comment[de]=Nicht eingebundene Diskette
Comment[el]=Αποπροσαρτημένη δισκέτα
Comment[eo]=Malkroĉita Disketingo
Comment[es]=Disquete desmontado
Comment[et]=Lahutatud flopi
Comment[eu]=Diskete desmuntatua
Comment[fa]=فلاپی پیاده‌شده
Comment[fi]=Irrotettu levyke
Comment[fr]=Disquette non montée
Comment[fy]=Ofkeppele Skiif
Comment[ga]=Diosca flapach neamhfheistithe
Comment[gl]=Disquete non Montado
Comment[he]=תקליטון מנותק
Comment[hr]=Nepristupljena disketa
Comment[hu]=Leválasztott floppy
Comment[is]=Aftengdur disklingur
Comment[it]=Dischetto non montato
Comment[ja]=マウントされていないフロッピー
Comment[ka]=დემონტირებული დრეკადი დისკი
Comment[kk]=Тіркеуден шығарған иілгіш диск
Comment[km]=Floppy មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas lankstus diskelis
Comment[lv]=Nomontēta diskete
Comment[mk]=Одмонтирана дискета
Comment[ms]=Liut Nyahlekap
Comment[nb]=Avmontert diskett
Comment[nds]=Afhungen Diskett
Comment[ne]=अनमाउन्ट गरिएको फ्लपी
Comment[nl]=Afgekoppelde diskette
Comment[nn]=Avmontert diskett
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ ਫਲਾਪੀ
Comment[pl]=Odmontowana dyskietka
Comment[pt]=Disquete desmontada
Comment[pt_BR]=Disquete Desmontado
Comment[ro]=Dischetă nemontată
Comment[ru]=Отмонтированная дискета
Comment[se]=Gálgajuvvon dibmaskearru
Comment[sl]=Odklopljena disketna enota
Comment[sr]=Демонтиран флопи
Comment[sr@Latn]=Demontiran flopi
Comment[sv]=Avmonterad diskett
Comment[ta]=வெளியேற்றிய நெகிழ்வட்டு
Comment[tg]=Ҷудо шудаи Floppy
Comment[tr]=Bağlanmamış Disket
Comment[uk]=Демонтований флопі
Comment[uz]=Уланмаган дискет
Comment[x-test]=xxUnmounted Floppyxx
Comment[xh]=Floppy Enganyuswanga
Comment[zh_TW]=未掛載的軟碟機
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
