[Desktop Entry]
Encoding=UTF-8
Icon=5floppy_unmount
Type=MimeType
MimeType=media/floppy5_unmounted
Comment=Unmounted 5¼" Floppy
Comment[x-test]=xxUnmounted 5¼" Floppyxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
