[Desktop Entry]
Encoding=UTF-8
Icon=3floppy_mount
Type=MimeType
MimeType=media/floppy_mounted
Comment=Mounted Floppy
Comment[af]=Gekoppelde Sagteskyf
Comment[ar]=قرص مرن محمّل
Comment[az]=Bağlanmış Floppi
Comment[bg]=Монтирано флопи
Comment[bn]=মাউন্ট করা ফ্লপি
Comment[br]=Pladennig marc'het
Comment[bs]=Montirana disketa
Comment[ca]=Disquet muntat
Comment[cs]=Připojená disketa
Comment[cy]=Disg meddal wedi'i osod
Comment[da]=Monteret floppy
Comment[de]=Eingebundene Diskette
Comment[el]=Προσαρτημένη δισκέτα
Comment[eo]=Kroĉita Disketingo
Comment[es]=Disquete montado
Comment[et]=Ühendatud flopi
Comment[eu]=Diskete montatua
Comment[fa]=فلاپی سوار شده
Comment[fi]=Liitetty levyke
Comment[fr]=Disquette montée
Comment[fy]=Oankeppele Skiif
Comment[ga]=Diosca flapach feistithe
Comment[gl]=Disquete Montado
Comment[he]=תקליטון מחובר
Comment[hi]=माउन्टेड फ़्लॉपी
Comment[hr]=Montirana disketa
Comment[hu]=Csatlakoztatott floppy
Comment[is]=Tengdur disklingur
Comment[it]=Dischetto montato
Comment[ja]=マウントされたフロッピー
Comment[lo]=ຟໍແມດຟອບປິ້້ - K
Comment[lt]=Sumontuotas lankstus diskelis
Comment[lv]=Piemontēta diskete
Comment[mk]=Монтирана дискета
Comment[mn]=Залгаатай уян диск
Comment[mt]=Flopi mmontat
Comment[nb]=Montert diskett
Comment[nds]=Inhangt Diskett
Comment[nl]=Aangekoppelde diskette
Comment[nn]=Montert diskett
Comment[nso]=Floppy yeo e Nameleditswego
Comment[pa]=ਮਾਊਟ ਕੀਤੀ ਫਲਾਪੀ
Comment[pl]=Zamontowana dyskietka
Comment[pt]=Disquete montada
Comment[pt_BR]=Disquete Montado
Comment[ro]=Floppy disk montat
Comment[ru]=Смонтированный гибкий диск
Comment[se]=Čatnon dibmaskearru
Comment[sk]=Pripojená disketa
Comment[sl]=Priklopljena disketna enota
Comment[sr]=Монтиран флопи
Comment[sr@Latn]=Montiran flopi
Comment[sv]=Monterad diskett
Comment[ta]=இறக்கப்பட்ட  நெகிழ்வட்டு
Comment[tg]=Монтажшудаи Floppy
Comment[th]=ฟล็อปปีที่ถูกเม้าทน์
Comment[tr]=Bağlı Disket
Comment[uk]=Змонтований флопі
Comment[uz]=Уланган дискет
Comment[ven]=Floppy yo gonyiswaho
Comment[vi]=Đĩa mềm được gắn kết
Comment[wa]=Plakete montêye
Comment[xh]=Floppy Enyusiweyo
Comment[xx]=xxMounted Floppyxx
Comment[zh_CN]=挂载的软驱
Comment[zh_TW]=已掛載的軟碟機
Comment[zu]=I-Floppy eyenyusiwe
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
