[Desktop Entry]
Encoding=UTF-8
Icon=5floppy_mount
Type=MimeType
MimeType=media/floppy5_mounted
Comment=Mounted 5¼" Floppy
Comment[af]=Gekoppelde 5¼" Sagteskyf
Comment[ar]=قرص مرن 5.25 محمّل
Comment[be]=Прымацаваная дыскета 5¼"
Comment[br]=Pladennig 5¼" marc'het
Comment[ca]=Disquet 5¼" muntat
Comment[cs]=Připojená disketa 5¼"
Comment[cy]=Disg meddal 5.25" wedi'i osod
Comment[da]=Monteret 5¼"-floppy
Comment[de]=Eingebundene 5¼"-Diskette
Comment[el]=Προσαρτημένη δισκέτα 5¼"
Comment[eo]=Kroĉita 5¼"-Disketingo
Comment[es]=Disquete 5¼" montado
Comment[et]=Ühendatud 5¼" flopi
Comment[eu]=5¼"ko diskete muntatua
Comment[fa]=فلاپی 5¼" سوارشده
Comment[fi]=Liitetty 5¼"-levyke
Comment[fr]=Disquette 5¼" montée
Comment[fy]=Oankeppele 5¼" Skiif
Comment[ga]=Diosca flapach 5¼" feistithe
Comment[gl]=Disquete 5¼" Montado
Comment[he]=תקליטון "¼5 מחובר
Comment[hr]=Pristupljena 5¼" disketa
Comment[hu]=Csatlakoztatott 5¼"-es floppy
Comment[is]=Tengdur 5¼" disklingur
Comment[it]=Dischetto da 5¼" montato
Comment[ja]=マウントされた 5 インチフロッピー
Comment[ka]=მონტირებული დისკწამყვანი 5¼"
Comment[kk]=Тіркеген 5¼" иілгіш диск
Comment[km]=5¼" Floppy បាន​រៀបចំ
Comment[lt]=Sumontuotas 5¼" lankstus diskelis
Comment[lv]=Piemontēta 5¼" diskete
Comment[mk]=Монтирана 5¼" дискета
Comment[ms]=Liut 5¼" Terlekap
Comment[nb]=Montert 5¼" diskett
Comment[nds]=Inhangt 5¼"-Diskett
Comment[ne]=माउन्ट गरिएको 5¼" फ्लपी
Comment[nl]=Aangekoppelde 5¼" diskette
Comment[nn]=Montert 5¼"-diskett
Comment[pa]=ਮਾਊਟ 5¼" ਫਲਾਪੀ
Comment[pl]=Zamontowana dyskietka 5¼"
Comment[pt]=Disquete de 5¼" montada
Comment[pt_BR]=Disquete  5¼" Montado
Comment[ro]=Dischetă 5¼" montată
Comment[ru]=Смонтированная дискета 5¼"
Comment[se]=Čatnon 5¼-dibmaskearru
Comment[sl]=Priklopljena disketna enota 5¼"
Comment[sr]=Монтиран 5¼" флопи
Comment[sr@Latn]=Montiran 5¼" flopi
Comment[sv]=Monterad 5¼"-diskett
Comment[ta]=ஏற்றப்பட்ட 5¼" நெகிழ்வட்டு
Comment[tg]=Монтажшудаи 5¼" Флоппи
Comment[tr]=Bağlı 5¼" Disket
Comment[uk]=Змонтований флопі 5¼"
Comment[uz]=Уланган 5¼"дискет
Comment[x-test]=xxMounted 5¼" Floppyxx
Comment[xh]=Elayishiweyo 5¼" Floppy
Comment[zh_TW]=已掛載的軟碟機
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
