[Desktop Entry]
Encoding=UTF-8
Icon=5floppy_unmount
Type=MimeType
MimeType=media/floppy5_unmounted
Comment=Unmounted 5¼" Floppy
Comment[ar]=قرص مرن 5.25 غير محمّل
Comment[az]=Ayrılmış 5¼" Floppi
Comment[bg]=Демонтирано флопи 5¼"
Comment[bn]=আনমাউন্ট করা 5¼" ফ্লপি
Comment[br]=Pladennig 5¼" divountet
Comment[bs]=Demontirana 5?" disketa
Comment[ca]=Disquet 5¼" desmuntat
Comment[cs]=Odpojená disketa 5¼"
Comment[cy]=Disg meddal 5.25" wedi'i ddadosod
Comment[da]=Afmonteret 5¼"-floppy
Comment[de]=Nicht eingebundene 5¼"-Diskette
Comment[el]=Αποπροσαρτημένη δισκέτα 5¼"
Comment[eo]=Malkroĉita 5¼"-Disketingo
Comment[es]=Disquete 5¼" desmontado
Comment[et]=Lahutatud 5¼" flopi
Comment[eu]=5¼"ko diskete desmontatua
Comment[fa]=فلاپی 5¼" پیاده شده
Comment[fi]=Irroitettu 5¼" levyke
Comment[fr]=Disquette 5¼" non montée
Comment[fy]=Ofkeppele 5¼" Skiif
Comment[ga]=Diosca flapach 5¼" neamhfheistithe
Comment[gl]=Disquete 5¼" Non Montado
Comment[he]=תקליטון "¼5 מנותק
Comment[hi]=अनमाउन्टेड 5¼" फ़्लॉपी
Comment[hr]=Nemontirana 5¼" disketa
Comment[hu]=Leválasztott 5¼"-es floppy
Comment[is]=Aftengdur 5¼" disklingur
Comment[it]=Dischetto da 5¼" non montato
Comment[ja]=マウントされていない 5インチフロッピー
Comment[lo]=ຫັງກາລີ
Comment[lt]=Išmontuotas 5¼" lankstus diskelis
Comment[lv]=Nomontēta 5¼" diskete
Comment[mk]=Демонтирана 5¼" дискета
Comment[mn]=Салгагдсан 5¼"-Уян диск
Comment[mt]=Flopi 5¼" mhux immontat
Comment[nb]=Avmontert 5¼" diskett
Comment[nds]=Afhangt 5¼" Diskett
Comment[nl]=Afgekoppelde 5¼" diskette 
Comment[nn]=Avmontert 5¼"-diskett
Comment[nso]=Floppy yeo e Theositswego ya 5¼"
Comment[pa]=ਅਨਮਾਊਟ 5¼" ਫਲਾਪੀ
Comment[pl]=Odmontowana dyskietka 5¼"
Comment[pt]=Disquete de 5¼" desmontada
Comment[pt_BR]=Disquete 5¼" Desmontado
Comment[ro]=Dischetă 5¼" nemontată
Comment[ru]=Отмонтированный дисковод 5¼"
Comment[se]=Gálgajuvvon 5¼-dibmaskearru
Comment[sk]=Nepripojená disketa 5¼"
Comment[sl]=Odklopljena disketna enota 5¼"
Comment[sr]=Демонтиран 5¼" флопи
Comment[sr@Latn]=Demontiran 5¼" flopi
Comment[sv]=Avmonterad 5¼"-diskett
Comment[ta]=வெளியேற்றிய 5¼" நெகிழ்வட்டு
Comment[tg]=Ҷудо шудаи 5¼" Флоппи
Comment[th]=ฟล็อปปี 5" ที่ไม่ถูกเม้าทน์
Comment[tr]=Bağlı olmayan 5¼" Disket
Comment[uk]=Демонтований флопі 5¼"
Comment[uz]=Уланмаган 5¼"дискет
Comment[ven]=5¼" Floppy i songo gonyiswaho
Comment[vi]=Đĩa mềm 5¼" được gỡ
Comment[wa]=Plakete 5" ¼ dismontêye
Comment[xh]=Enganyuswanga 5¼" Floppy
Comment[xx]=xxUnmounted 5¼" Floppyxx
Comment[zh_CN]=未挂载的 5.25 英寸软驱
Comment[zh_TW]=未掛載的軟碟機
Comment[zu]=I-5¼" Floppy Yehlisiwe
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
