[Desktop Entry]
Encoding=UTF-8
Icon=5floppy_mount
Type=MimeType
MimeType=media/floppy5_mounted
Comment=Mounted 5¼" Floppy
Comment[fr]=Disquette 5¼" montée
Comment[x-test]=xxMounted 5¼" Floppyxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
