[Desktop Entry]
Encoding=UTF-8
Icon=5floppy_unmount
Type=MimeType
MimeType=media/floppy5_unmounted
Comment=Unmounted 5¼" Floppy
Comment[af]=Ontkoppelde 5¼" Sagteskyf
Comment[ar]=قرص مرن 5.25 غير محمّل
Comment[be]=Адмацаваная дыскета 5¼"
Comment[br]=Pladennig 5¼" divountet
Comment[ca]=Disquet 5¼" desmuntat
Comment[cs]=Odpojená disketa 5¼"
Comment[cy]=Disg meddal 5.25" wedi'i ddadosod
Comment[da]=Afmonteret 5¼"-floppy
Comment[de]=Nicht eingebundene 5¼"-Diskette
Comment[el]=Αποπροσαρτημένη δισκέτα 5¼"
Comment[eo]=Malkroĉita 5¼"-Disketingo
Comment[es]=Disquete 5¼" desmontado
Comment[et]=Lahutatud 5¼" flopi
Comment[eu]=5¼"ko diskete desmuntatua
Comment[fa]=فلاپی 5¼" پیاده‌شده
Comment[fi]=Irrotettu 5¼"-levyke
Comment[fr]=Disquette 5¼" non montée
Comment[fy]=Ofkeppele 5¼" Skiif
Comment[ga]=Diosca flapach 5¼" neamhfheistithe
Comment[gl]=Disquete 5¼" Non Montado
Comment[he]=תקליטון "¼5 מנותק
Comment[hr]=Nepristupljena 5¼" disketa
Comment[hu]=Leválasztott 5¼"-es floppy
Comment[is]=Aftengdur 5¼" disklingur
Comment[it]=Dischetto da 5¼" non montato
Comment[ja]=マウントされていない 5 インチフロッピー
Comment[ka]=დემონტირებული დისკწამყვანი 5¼"
Comment[kk]=Тіркеуден шығарған 5¼" иілгіш дискі
Comment[km]=5¼" Floppy មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas 5¼" lankstus diskelis
Comment[lv]=Nomontēta 5¼" diskete
Comment[mk]=Одмонтирана 5¼" дискета
Comment[ms]=Liut 5¼" Terlekap
Comment[nb]=Avmontert 5¼" diskett
Comment[nds]=Afhungen 5¼"-Diskett
Comment[ne]=अनमाउन्ट गरिएको 5¼" फ्लपी
Comment[nl]=Afgekoppelde 5¼" diskette 
Comment[nn]=Avmontert 5¼"-diskett
Comment[pa]=ਅਨਮਾਊਟ 5¼" ਫਲਾਪੀ
Comment[pl]=Odmontowana dyskietka 5¼"
Comment[pt]=Disquete de 5¼" desmontada
Comment[pt_BR]=Disquete 5¼" Desmontado
Comment[ro]=Dischetă 5¼" nemontată
Comment[ru]=Отмонтированная дискета 5¼"
Comment[se]=Gálgajuvvon 5¼-dibmaskearru
Comment[sl]=Odklopljena disketna enota 5¼"
Comment[sr]=Демонтиран 5¼" флопи
Comment[sr@Latn]=Demontiran 5¼" flopi
Comment[sv]=Avmonterad 5¼"-diskett
Comment[ta]=வெளியேற்றிய 5¼" நெகிழ்வட்டு
Comment[tg]=Ҷудо шудаи 5¼" Флоппи
Comment[tr]=Bağlı olmayan 5¼" Disket
Comment[uk]=Демонтований флопі 5¼"
Comment[uz]=Уланмаган 5¼"дискет
Comment[x-test]=xxUnmounted 5¼" Floppyxx
Comment[xh]=Enganyuswanga 5¼" Floppy
Comment[zh_TW]=未掛載的軟碟機
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
