[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/gphoto2camera
Comment=Camera
Icon=camera_unmount

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

