[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/gphoto2camera
Comment=Camera
Comment[az]=Kamera
Comment[bg]=Фотоапарат
Comment[bn]=ক্যামেরা
Comment[br]=Kamera
Comment[ca]=Càmara
Comment[cs]=Kamera
Comment[da]=Kamera
Comment[eo]=Kamero
Comment[es]=Cámara
Comment[et]=Kaamera
Comment[fr]=Nouvel appareil photo
Comment[fy]=Kamera
Comment[ga]=Ceamara
Comment[he]=מצלמה
Comment[hu]=Kamera
Comment[is]=Myndavél
Comment[nb]=Kamera
Comment[nn]=Kamera
Comment[pt]=Máquina Fotográfica
Comment[pt_BR]=Câmera
Comment[ru]=Камера
Comment[sv]=Kamera
Comment[ta]=புகைப்பட கருவி
Comment[tr]=Kamera
Comment[uk]=Камера
Comment[xx]=xxCameraxx
Comment[zh_CN]=相机
Icon=camera_unmount

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

