[Desktop Entry]
Encoding=UTF-8
Icon=hdd_mount
Type=MimeType
MimeType=media/hdd_mounted
Comment=Mounted Hard Disk Volume
Comment[az]=Bağlanmış Sabit Disk Bölməsi
Comment[bg]=Монтиран дял на твърд диск
Comment[da]=Monteret harddisk-volumen
Comment[eo]=Kroĉita subdisko
Comment[et]=Ühendatud kõvaketta partitsioon
Comment[fr]=Partition de disque dur montée
Comment[hu]=Csatlakoztatott merevlemezes partíció
Comment[mt]=Partizzjoni ta' ħard-disk immuntata
Comment[nl]=Aangekoppelde hardeschijfpartitie
Comment[pa]=ਮਾਊਟਿੰਡ ਹਾਰਡ ਡਿਸਕ ਭਾਗ
Comment[pt]=Volume de Disco Rígido Montado
Comment[pt_BR]=Volume do HD Montado
Comment[sv]=Monterad hårdiskpartition
Comment[ta]=ஏற்றப்பட்ட வன்தகடு வட்டு பிரிவு
Comment[tr]=Bağlanmış Sabit Disk Bölümü
Comment[uk]=Змонтований розділ жорсткого диску
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
