[Desktop Entry]
Encoding=UTF-8
Icon=hdd_unmount
Type=MimeType
MimeType=media/hdd_unmounted
Comment=Unmounted Hard Disk Volume
Comment[az]=Ayrılmış Sabit Disk Bölməsi
Comment[bg]=Демонтиран дял на твърд диск
Comment[bn]=আনমাউন্ট করা হার্ড ডিস্ক ভলিউম
Comment[br]=Pladenn divarc'het
Comment[ca]=Disc dur desmuntat
Comment[cs]=Odpojený oddíl pevného disku
Comment[da]=Afmonteret harddisk-volumen
Comment[eo]=Malkroĉita subdisko
Comment[es]=Volumen de disco duro desmontado
Comment[et]=Lahutatud kõvaketta partitsioon
Comment[fr]=Partition de disque dur non montée
Comment[fy]=Afgekoppelde Fêsteskiif pastitie
Comment[he]=מחיצת כונן קשיח מנותקת
Comment[hu]=Leválasztott merevlemezes partíció
Comment[is]=Aftengd disksneið
Comment[mt]=Partizzjoni ta' ħard-disk mhux immuntata
Comment[nb]=Avmontert harddiskpartisjon
Comment[nl]=Afgekoppelde hardeschijfpartitie
Comment[nn]=Umontert harddiskvolum
Comment[pa]=ਅਨਮਾਊਟਿੰਡ ਹਾਰਡ ਡਿਸਕ ਭਾਗ
Comment[pt]=Volume de Disco Rígido Desmontado
Comment[pt_BR]=Volume do HD Desmontado
Comment[ru]=Отмонтированный том жесткого диска
Comment[sv]=Avmonterad hårdiskpartition
Comment[ta]=வெளியேற்றப்பட்ட வன்வட்டு பகுதி
Comment[tr]=Ayrılmış Sabit Disk Bölümü
Comment[uk]=Демонтований розділ жорсткого диску
Comment[xx]=xxUnmounted Hard Disk Volumexx
Comment[zh_CN]=未挂载的硬盘卷
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
