[Desktop Entry]
Encoding=UTF-8
Icon=hdd_unmount
Type=MimeType
MimeType=media/hdd_unmounted
Comment=Unmounted Hard Disk Volume
Comment[af]=Ontkoppelde Hard Skyf Partisie
Comment[ar]=تجزئة قرص صلب غير محمّلة
Comment[be]=Адмацаваны раздзел жорсткага дыска
Comment[bg]=Демонтиран дял на твърд диск
Comment[br]=Pladenn divarc'het
Comment[ca]=Disc dur desmuntat
Comment[cs]=Odpojený oddíl pevného disku
Comment[da]=Afmonteret harddisk-volumen
Comment[de]=Nicht eingebundene Festplattenpartition
Comment[el]=Αποπροσαρτημένη κατάτμηση σκληρού δίσκου
Comment[eo]=Malkroĉita subdisko
Comment[es]=Volumen de disco duro desmontado
Comment[et]=Lahutatud kõvaketta partitsioon
Comment[eu]=Diska gogorraren zatiketa desmuntatua
Comment[fa]=حجم دیسک سخت پیاده‌شده
Comment[fi]=Irrotettu kiintolevyosio
Comment[fr]=Partition de disque dur non montée
Comment[fy]=Ofkeppele Fêsteskiif folume
Comment[ga]=Imleabhar Diosca Crua Gan Fheistiú
Comment[gl]=Partición do Disco Duro Non Montada
Comment[he]=מחיצת כונן קשיח מנותקת
Comment[hr]=Nepristupljeni volumen tvrdog diska
Comment[hu]=Leválasztott merevlemezes partíció
Comment[is]=Aftengd disksneið
Comment[it]=Volume disco rigido non montato
Comment[ja]=マウントされていないハードディスク ボリューム
Comment[ka]=დემონტირებული ხისტი დისკის ტომი
Comment[kk]=Тіркеуден шығарған қатқыл диск томы
Comment[km]=ទំហំ​ថាស​រឹង​ដែល​មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas kieto disko skirsnis
Comment[lv]=Nomontēts cietais disks
Comment[mk]=Одмонтирана партиција на тврд диск
Comment[ms]=Volum Cakera Keras Nyahlekap
Comment[nb]=Avmontert harddiskpartisjon
Comment[nds]=Afhungen Fastplaat-Partitschoon
Comment[ne]=अनमाउन्ट गरिएको हार्ड डिस्क भोल्युम
Comment[nl]=Afgekoppelde hardeschijfpartitie
Comment[nn]=Umontert harddiskvolum
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ ਹਾਰਡ ਡਿਸਕ ਭਾਗ
Comment[pl]=Odmontowana partycja dysku twardego
Comment[pt]=Volume de disco rígido desmontado
Comment[pt_BR]=Volume do HD Desmontado
Comment[ro]=Volum de hard disc nemontat
Comment[ru]=Отмонтированный раздел жёсткого диска
Comment[se]=Gálgajuvvon garraskearrooassi
Comment[sl]=Odklopljen pogon trdega diska
Comment[sr]=Демонтирана партиција хард диска
Comment[sr@Latn]=Demontirana particija hard diska
Comment[sv]=Avmonterad hårdiskpartition
Comment[ta]=வெளியேற்றப்பட்ட வன்வட்டு பகுதி
Comment[tr]=Ayrılmış Sabit Disk Bölümü
Comment[uk]=Демонтований розділ жорсткого диску
Comment[uz]=Қаттиқ дискнинг уланмаган қисми
Comment[x-test]=xxUnmounted Hard Disk Volumexx
Comment[zh_TW]=未掛載的硬碟分割區
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
