[Desktop Entry]
Encoding=UTF-8
Icon=hdd_unmount
Type=MimeType
MimeType=media/hdd_unmounted
Comment=Unmounted Hard Disk Volume
Comment[az]=Ayrılmış Sabit Disk Bölməsi
Comment[bg]=Демонтиран дял на твърд диск
Comment[br]=Pladenn divarc'het
Comment[da]=Afmonteret harddisk-volumen
Comment[eo]=Malkroĉita subdisko
Comment[et]=Lahutatud kõvaketta partitsioon
Comment[fr]=Partition de disque dur non montée
Comment[hu]=Leválasztott merevlemezes partíció
Comment[mt]=Partizzjoni ta' ħard-disk mhux immuntata
Comment[nl]=Afgekoppelde hardeschijfpartitie
Comment[pa]=ਅਨਮਾਊਟਿੰਡ ਹਾਰਡ ਡਿਸਕ ਭਾਗ
Comment[pt]=Volume de Disco Rígido Desmontado
Comment[pt_BR]=Volume do HD Desmontado
Comment[sv]=Avmonterad hårdiskpartition
Comment[ta]=வெளியேற்றப்பட்ட வன்வட்டு பகுதி
Comment[tr]=Ayrılmış Sabit Disk Bölümü
Comment[uk]=Демонтований розділ жорсткого диску
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
