[Desktop Entry]
Encoding=UTF-8
Icon=hdd_mount
Type=MimeType
MimeType=media/hdd_mounted
Comment=Mounted Hard Disk Volume
Comment[el]=Προσαρτημένη κατάτμηση σκληρού δίσκου
Comment[fr]=Partition de disque dur montée
Comment[x-test]=xxMounted Hard Disk Volumexx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
