[Desktop Entry]
Encoding=UTF-8
Icon=nfs_unmount
Type=MimeType
MimeType=media/nfs_unmounted
Comment=Unmounted NFS Share
Comment[az]=Ayrılmış NFS Sahəsi
Comment[bg]=Демонтиран ресурс NFS
Comment[da]=Afmonteret NFS-share
Comment[eo]=Malkroĉita NFS-disko
Comment[et]=Lahutatud NFS ressurss
Comment[fr]=Ressource NFS non montée
Comment[hu]=Leválasztott NFS-megosztás
Comment[mk]=Демонтиран NFS ресурс
Comment[mt]=Riżors NFS mhux immuntat
Comment[nl]=Afgekoppelde NFS-hulpbron
Comment[pa]=ਅਨਮਾਊਟਿੰਡ NFS ਸਾਂਝ
Comment[pt]=Partilha de NFS Desmontada
Comment[pt_BR]=Volume NFS Desmontado
Comment[sv]=Avmonterad NFS-resurs
Comment[ta]=இறக்கப்பட்ட NFS பங்கு
Comment[tr]=Bağlanmamış NFS Paylaşımı
Comment[uk]=Демонтований ресурс NFS
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
