[Desktop Entry]
Encoding=UTF-8
Icon=nfs_unmount
Type=MimeType
MimeType=media/nfs_unmounted
Comment=Unmounted NFS Share
Comment[az]=Ayrılmış NFS Sahəsi
Comment[bg]=Демонтиран ресурс NFS
Comment[bn]=আনমাউন্ট করা এন-এফ-এস শেয়ার
Comment[ca]=Recurs NFS desmuntat
Comment[cs]=Odpojený zdroj NFS
Comment[da]=Afmonteret NFS-share
Comment[eo]=Malkroĉita NFS-disko
Comment[es]=Recurso NFS desmontado
Comment[et]=Lahutatud NFS ressurss
Comment[fr]=Ressource NFS non montée
Comment[fy]=Oankeppele NFS-helpboarne
Comment[he]=משאב NFS מנותק
Comment[hu]=Leválasztott NFS-megosztás
Comment[is]=Aftengd NFS auðlind
Comment[mk]=Демонтиран NFS ресурс
Comment[mt]=Riżors NFS mhux immuntat
Comment[nb]=Avmontert NFS-ressurs
Comment[nl]=Afgekoppelde NFS-hulpbron
Comment[nn]=Umontert delt NFS-ressurs
Comment[pa]=ਅਨਮਾਊਟਿੰਡ NFS ਸਾਂਝ
Comment[pt]=Partilha de NFS Desmontada
Comment[pt_BR]=Volume NFS Desmontado
Comment[ru]=Отмонтированный ресурс NFS
Comment[sv]=Avmonterad NFS-resurs
Comment[ta]=இறக்கப்பட்ட NFS பங்கு
Comment[tr]=Bağlanmamış NFS Paylaşımı
Comment[uk]=Демонтований ресурс NFS
Comment[xx]=xxUnmounted NFS Sharexx
Comment[zh_CN]=未挂载的 NFS 共享
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
