[Desktop Entry]
Encoding=UTF-8
Icon=nfs_unmount
Type=MimeType
MimeType=media/nfs_unmounted
Comment=Unmounted NFS Share
Comment[az]=Ayrılmış NFS Sahəsi
Comment[bg]=Демонтиран ресурс NFS
Comment[bn]=আনমাউন্ট করা এন-এফ-এস শেয়ার
Comment[ca]=Recurs NFS desmuntat
Comment[cs]=Odpojený zdroj NFS
Comment[da]=Afmonteret NFS-share
Comment[de]=Nicht eingebundene NFS-Freigabe
Comment[el]=Αποπροσαρτημένος πόρος NFS
Comment[eo]=Malkroĉita NFS-disko
Comment[es]=Recurso NFS desmontado
Comment[et]=Lahutatud NFS ressurss
Comment[fi]=Irroitettu NFS resurssi
Comment[fr]=Ressource NFS non montée
Comment[fy]=Oankeppele NFS-helpboarne
Comment[he]=משאב NFS מנותק
Comment[hi]=अनमाउन्टेड एनएफ़एस साझा
Comment[hu]=Leválasztott NFS-megosztás
Comment[is]=Aftengd NFS auðlind
Comment[it]=Risorsa NFS non montata
Comment[ja]=マウントされていないNFSシェア
Comment[lt]=Išmontuotas NFS bendro naudojimo resursas
Comment[lv]=Nomontēta NFS šāre
Comment[mk]=Демонтиран NFS ресурс
Comment[mt]=Riżors NFS mhux immuntat
Comment[nb]=Avmontert NFS-ressurs
Comment[nds]=Afhangt NFS-Ressource
Comment[nl]=Afgekoppelde NFS-hulpbron
Comment[nn]=Umontert delt NFS-ressurs
Comment[pa]=ਅਨਮਾਊਟਿੰਡ NFS ਸਾਂਝ
Comment[pl]=Odmontowany system plików NFS
Comment[pt]=Partilha de NFS Desmontada
Comment[pt_BR]=Volume NFS Desmontado
Comment[ru]=Отмонтированный ресурс NFS
Comment[se]=Gálgajuvvon NFS-resursa
Comment[sl]=Odklopljen vir NFS
Comment[sr]=Демонтирано NFS дељење
Comment[sr@Latn]=Demontirano NFS deljenje
Comment[sv]=Avmonterad NFS-resurs
Comment[ta]=இறக்கப்பட்ட NFS பங்கு
Comment[tr]=Bağlanmamış NFS Paylaşımı
Comment[uk]=Демонтований ресурс NFS
Comment[xx]=xxUnmounted NFS Sharexx
Comment[zh_CN]=未挂载的 NFS 共享
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
