[Desktop Entry]
Encoding=UTF-8
Icon=nfs_mount
Type=MimeType
MimeType=media/nfs_mounted
Comment=Mounted NFS Share
Comment[x-test]=xxMounted NFS Sharexx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
