[Desktop Entry]
Encoding=UTF-8
Icon=usbpendrive_unmount
Type=MimeType
MimeType=media/removable_unmounted
Comment=Unmounted Removable Medium
Comment[af]=Ontkoppel Verwyderbare Medium
Comment[ar]=وسيط قابل للإزالة غير مركب
Comment[bg]=Демонтиран преносим носител
Comment[br]=Medium ar skoroù lem/laka divarc'het
Comment[ca]=Suport extraible desmuntat
Comment[cs]=Odpojené výměnné médium
Comment[csb]=Òdmòntowóné òdłączalné medium
Comment[da]=Afmonteret medie der kan fjernes
Comment[de]=Nicht eingebundenes Wechsellaufwerk
Comment[el]=Αποπροσαρτημένο αφαιρούμενο μέσο
Comment[eo]=Malkroĉita forigebla konservejo
Comment[es]=Recurso extraíble desmontado
Comment[et]=Lahutatud eemaldatav andmekandja
Comment[eu]=Euskarri aldagarria desmuntatua
Comment[fa]=رسانۀ برداشتنی پیاده‌شده
Comment[fi]=Irrotettu irrotettava resurssi
Comment[fr]=Média amovible non monté
Comment[fy]=Ofkeppele ferwiderber medium
Comment[ga]=Meán Inbhainte Gan Fheistiú
Comment[gl]=Dispositivo Extraíbel Non Montado
Comment[he]=מדייה חיצונית מנותקת
Comment[hr]=Nepristupljen izmjenjiv medij
Comment[hu]=Leválasztott adathordozó
Comment[is]=Aftengdur útskiptanlegur miðill
Comment[it]=Supporto rimovibile non montato
Comment[ja]=マウントされていないリムーバブル メディア
Comment[ka]=დემონტირებული პორტატიული მოწყობილობა
Comment[kk]=Тіркеуден шығарған ауыстырмалы тасушы
Comment[km]=ឧបករណ៍​ចល័ត​ដែល​មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas pašalinamas diskas
Comment[lv]=Nomontēts noņemamais datu nesējs
Comment[mk]=Одмонтиран отстранлив носач
Comment[ms]=Medium Boleh Buang Nyahlekap
Comment[nb]=Avmontert flyttbart medium
Comment[nds]=Afhungen tuuschbor Loopwark
Comment[ne]=अनमाउन्ट गरिएको हटाउन सकिने मेडिअम
Comment[nl]=Afgekoppeld verwijderbaar medium
Comment[nn]=Umontert flyttbart medium
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ ਹਟਾਉਣਯੋਗ ਮਾਧਿਅਮ
Comment[pl]=Odmontowany nośnik wymienny
Comment[pt]=Dispositivo amovível desmontado
Comment[pt_BR]=Mídia Removível Desmontada
Comment[ro]=Mediu amovibil nemontat
Comment[ru]=Отмонтированный внешний диск
Comment[se]=Gálgaduvvon sirdehahtti medium
Comment[sl]=Odklopljen odstranljiv medij
Comment[sr]=Демонтиран уклоњиви медијум
Comment[sr@Latn]=Demontiran uklonjivi medijum
Comment[sv]=Avmonterad flyttbar enhet
Comment[ta]=ஏற்றாத நீக்கக்கூடிய சாதனம்
Comment[tr]=Bağlanmamış Ayrılabilir Ortam
Comment[uk]=Демонтований переносний носій
Comment[uz]=Уланмаган сақлаш ускунаси
Comment[x-test]=xxUnmounted Removable Mediumxx
Comment[zh_TW]=未掛載的可攜式媒體
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
