[Desktop Entry]
Encoding=UTF-8
Icon=usbpendrive_unmount
Type=MimeType
MimeType=media/removable_unmounted
Comment=Unmounted Removable Medium
Comment[az]=Ayrılmış Çıxarıla Bilən Mediyum
Comment[bg]=Демонтиран преносим носител
Comment[bn]=আনমাউন্ট করা অপসারণযোগ্য মিডিয়াম
Comment[ca]=Suport extraible desmuntat
Comment[cs]=Odpojené výměnné médium
Comment[da]=Afmonteret medie der kan fjernes
Comment[de]=Nicht eingebundene Wechsellaufwerk
Comment[el]=Αποπροσαρτημένο αφαιρούμενο μέσο
Comment[eo]=Malkroĉita forigebla konservejo
Comment[es]=Recurso extraíble desmontado
Comment[et]=Lahutatud eemaldatav andmekandja
Comment[fi]=Irroitettu irroitettava resurssi
Comment[fr]=Média amovible non monté
Comment[fy]=Ofkeppele ferwiderber medium
Comment[he]=מדייה חיצונית מנותקת
Comment[hi]=अनमाउन्टेड रीमूवेबल माध्यम
Comment[hu]=Leválasztott adathordozó
Comment[is]=Aftengdur útskiptanlegur miðill
Comment[it]=Supporto rimuovibile non montato
Comment[ja]=マウントされていないリムーバブル メディア
Comment[lt]=Išmontuotas pašalinamas diskas
Comment[lv]=Nomontēts noņemamais datu nesējs
Comment[mk]=Демонтиран отстранлив носач
Comment[mt]=Riżors għall-ħażna tad-data mhux immuntat
Comment[nb]=Avmontert flyttbart medium
Comment[nds]=Afhangt tuuschbor Loopwark
Comment[nl]=Afgekoppeld verwijderbaar medium
Comment[nn]=Umontert flyttbart medium
Comment[pa]=ਅਨਮਾਊਟਿੰਡ ਹਟਾਉਣਯੋਗ ਮਾਧਿਅਮ
Comment[pl]=Odmontowany nośnik wymienny
Comment[pt]=Dispositivo Amovível Desmontado
Comment[pt_BR]=Mídia Removível Desmontada
Comment[ru]=Отмонтированный сменный носитель
Comment[se]=Gálgaduvvon sirdehahtti medium
Comment[sl]=Odklopljen odstranljiv medij
Comment[sr]=Демонтиран уклоњиви медијум
Comment[sr@Latn]=Demontiran uklonjivi medijum
Comment[sv]=Avmonterad flyttbar enhet
Comment[ta]=ஏற்றாத நீக்கக்கூடிய சாதனம்
Comment[tr]=Bağlanmamış Ayrılabilir Ortam
Comment[uk]=Демонтований переносний носій
Comment[xx]=xxUnmounted Removable Mediumxx
Comment[zh_CN]=未挂载的可移动介质
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
