[Desktop Entry]
Encoding=UTF-8
Icon=usbpendrive_mount
Type=MimeType
MimeType=media/removable_mounted
Comment=Mounted Removable Medium
Comment[az]=Bağlanmış Çıxarıla Bilən Mediyum
Comment[bg]=Монтиран преносим носител
Comment[bn]=মাউন্ট করা অপসারণযোগ্য মিডিয়াম
Comment[ca]=Suport extraible muntat
Comment[cs]=Připojené výměnné médium
Comment[da]=Monteret medie der kan fjernes
Comment[de]=Eingebundenes Wechsellaufwerk
Comment[el]=Προσαρτημένος αφαιρούμενο μέσο
Comment[eo]=Kroĉita forigebla konservejo
Comment[es]=Recurso extraíble montado
Comment[et]=Ühendatud eemaldatav andmekandja
Comment[fi]=Liitetty irroitettava resurssi
Comment[fr]=Média amovible monté
Comment[fy]=Oankeppele ferwiderber medium
Comment[he]=מדיה חיצונית מחוברת
Comment[hi]=माउन्टेड रीमूवेबल माध्यम
Comment[hu]=Csatlakoztatott adathordozó
Comment[is]=Tengdur útskiptanlegur miðill
Comment[it]=Supporto rimuovibile montato
Comment[ja]=マウントされたリムーバブル メディア
Comment[lt]=Sumontuotas pašalinamas diskas
Comment[lv]=Piemontēts noņemamais datu nesējs
Comment[mk]=Монтиран отстранлив носач
Comment[mt]=Riżors NFS immuntat
Comment[nb]=Montert flyttbart medium
Comment[nds]=Inhangt tuuschbor Loopwark
Comment[nl]=Aangekoppeld verwijderbaar medium
Comment[nn]=Montert flyttbart medium
Comment[pa]=ਮਾਊਟ ਕੀਤੇ ਹਟਾਉਣਯੋਗ ਮਾਧਿਅਮ
Comment[pl]=Zamontowany nośnik wymienny
Comment[pt]=Dispositivo Amovível Montado
Comment[pt_BR]=Mídia Removível Montada
Comment[ru]=Смонтированный сменный носитель
Comment[se]=Čátnon sirdehahtti medium
Comment[sl]=Priklopljen odstranljiv medij
Comment[sr]=Монтиран уклоњиви медијум
Comment[sr@Latn]=Montiran uklonjivi medijum
Comment[sv]=Monterad flyttbar enhet
Comment[ta]=ஏற்றப்பட்ட நீக்கக்கூடிய மீடியம்
Comment[tr]=Bağlı Ayrılabilir Ortam
Comment[uk]=Змонтований переносний носій
Comment[xx]=xxMounted Removable Mediumxx
Comment[zh_CN]=挂载的可移动介质
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
