[Desktop Entry]
Encoding=UTF-8
Icon=usbpendrive_mount
Type=MimeType
MimeType=media/removable_mounted
Comment=Mounted Removable Medium
Comment[af]=Gekoppelde Verwyderbare Medium
Comment[ar]=وسيط قابل للإزالة مركب
Comment[be]=Прымацаваны зменны носьбіт
Comment[br]=Medium lem-laka marc'het
Comment[ca]=Suport extraible muntat
Comment[cs]=Připojené výměnné médium
Comment[da]=Monteret medie der kan fjernes
Comment[de]=Eingebundenes Wechsellaufwerk
Comment[el]=Προσαρτημένος αφαιρούμενο μέσο
Comment[eo]=Kroĉita forigebla konservejo
Comment[es]=Recurso extraíble montado
Comment[et]=Ühendatud eemaldatav andmekandja
Comment[eu]=Euskarri aldagarria muntatua
Comment[fa]=رسانۀ برداشتنی سوارشده
Comment[fi]=Liitetty irrotettava resurssi
Comment[fr]=Média amovible monté
Comment[fy]=Oankeppele ferwiderber medium
Comment[ga]=Meán Feistithe Inbhainte
Comment[gl]=Dispositivo Extraíbel Montado
Comment[he]=מדיה חיצונית מחוברת
Comment[hr]=Pristupljen izmjenjiv medij
Comment[hu]=Csatlakoztatott adathordozó
Comment[is]=Tengdur útskiptanlegur miðill
Comment[it]=Supporto rimovibile montato
Comment[ja]=マウントされたリムーバブル メディア
Comment[ka]=მონტირებული პორტატიული მოწყობილობა
Comment[kk]=Тіркеген ауыстырмалы тасушы
Comment[km]=ឧបករណ៍​ចល័ត​ដែល​បាន​រៀបចំ
Comment[lt]=Sumontuotas pašalinamas diskas
Comment[lv]=Piemontēts noņemamais datu nesējs
Comment[mk]=Монтиран отстранлив носач
Comment[ms]=Medium Boleh Buang Terlekap
Comment[nb]=Montert flyttbart medium
Comment[nds]=Inhangt tuuschbor Loopwark
Comment[ne]=माउन्ट गरिएको हटाउन सकिने मेडिअम
Comment[nl]=Aangekoppeld verwijderbaar medium
Comment[nn]=Montert flyttbart medium
Comment[pa]=ਮਾਊਟ ਕੀਤੇ ਹਟਾਉਣਯੋਗ ਮਾਧਿਅਮ
Comment[pl]=Zamontowany nośnik wymienny
Comment[pt]=Dispositivo amovível montado
Comment[pt_BR]=Mídia Removível Montada
Comment[ro]=Mediu amovibil montat
Comment[ru]=Смонтированный внешний диск
Comment[se]=Čátnon sirdehahtti medium
Comment[sl]=Priklopljen odstranljiv medij
Comment[sr]=Монтиран уклоњиви медијум
Comment[sr@Latn]=Montiran uklonjivi medijum
Comment[sv]=Monterad flyttbar enhet
Comment[ta]=ஏற்றப்பட்ட நீக்கக்கூடிய மீடியம்
Comment[tr]=Bağlı Ayrılabilir Ortam
Comment[uk]=Змонтований переносний носій
Comment[uz]=Уланган сақлаш ускунаси
Comment[x-test]=xxMounted Removable Mediumxx
Comment[zh_TW]=已掛載的可攜式媒體
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
