[Desktop Entry]
Encoding=UTF-8
Icon=usbpendrive_mount
Type=MimeType
MimeType=media/removable_mounted
Comment=Mounted Removable Medium
Comment[az]=Bağlanmış Çıxarıla Bilən Mediyum
Comment[bg]=Монтиран преносим носител
Comment[da]=Monteret medie der kan fjernes
Comment[eo]=Kroĉita forigebla konservejo
Comment[et]=Ühendatud eemaldatav andmekandja
Comment[fr]=Média amovible monté
Comment[hu]=Csatlakoztatott adathordozó
Comment[mk]=Монтиран отстранлив носач
Comment[mt]=Riżors NFS immuntat
Comment[nl]=Aangekoppeld verwijderbaar medium
Comment[pa]=ਮਾਊਟਿੰਡ ਹਟਾਉਣਯੋਗ ਮਾਧਿਅਮ
Comment[pt]=Dispositivo Amovível Montado
Comment[pt_BR]=Mídia Removível Montada
Comment[sv]=Monterad flyttbar enhet
Comment[ta]=ஏற்றப்பட்ட நீக்கக்கூடிய மீடியம்
Comment[tr]=Bağlı Ayrılabilir Ortam
Comment[uk]=Змонтований переносний носій
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
