[Desktop Entry]
Encoding=UTF-8
Icon=usbpendrive_unmount
Type=MimeType
MimeType=media/removable_unmounted
Comment=Unmounted Removable Medium
Comment[fr]=Média amovible non monté
Comment[x-test]=xxUnmounted Removable Mediumxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
