[Desktop Entry]
Encoding=UTF-8
Icon=nfs_unmount
Type=MimeType
MimeType=media/smb_unmounted
Comment=Unmounted Samba (Microsoft Network) Share
Comment[x-test]=xxUnmounted Samba (Microsoft Network) Sharexx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
