[Desktop Entry]
Encoding=UTF-8
Icon=nfs_unmount
Type=MimeType
MimeType=media/smb_unmounted
Comment=Unmounted Samba (Microsoft Network) Share
Comment[af]=Ontkoppelde Samba (Microsoft Netwerk) Hulpbron
Comment[ar]=مشاركة Samba غير محمّلة
Comment[be]=Адмацаваная агульная тэчка Samba (Сетка Microsoft)
Comment[bg]=Демонтиран ресурс Samba (Microsoft Network)
Comment[br]=Rennad Samba (rouedad Microsoft) divarc'het
Comment[ca]=Recurs de Samba (xarxa Microsoft) desmuntat
Comment[cs]=Odpojený Samba (Microsoft Network) prostředek
Comment[csb]=Òdmòntowóné ùdzélenié Sambë (Microsoft Network)
Comment[cy]=Cydranniad Samba (Rhwydwaith Microsoft) wedi'i ddadosod
Comment[da]=Afmonteret Samba-share (Microsoft-netværk)
Comment[de]=Nicht eingebundene Samba-Freigabe (Microsoft-Netzwerk)
Comment[el]=Αποπροσαρτημένος κοινόχρηστος πόρος Samba (Δίκτυο Microsoft)
Comment[eo]=Malkroĉita Sambo-disko
Comment[es]=Recurso de Samba desmontado (Red de Microsoft)
Comment[et]=Lahutatud Samba (Microsoft Network) ressurss
Comment[eu]=Samba (Microsoft sarea) partekaketa desmuntatua
Comment[fa]=مشترک Samba (Microsoft Network) پیاده‌شده
Comment[fi]=Irrotettu Samba-jako (Microsoft-verkko)
Comment[fr]=Partage Samba (réseau Microsoft) non monté
Comment[fy]=Ofkeppele Samba-netwurkboarne (Microsoft-netwurken)
Comment[ga]=Comhroinn Samba (Microsoft Network) Gan Fheistiú
Comment[gl]=Compartición Samba Non Montada (Rede de Microsoft)
Comment[he]=שיתוף Microsoft Network) Samba) מנותק
Comment[hr]=Nepristupljeno Samba dijeljenje (Microsoft mreža)
Comment[hu]=Leválasztott Samba-megosztás
Comment[is]=Aftengd Samba (Microsoft Network) sameign
Comment[it]=Condivisione samba (Rete Microsoft) non montata
Comment[ja]=マウントされていない Samba (マイクロソフトのネットワーク) 共有
Comment[ka]=დემონტირებული Samba რესურსი (Microsoft-ის ქსელი)
Comment[kk]=Тіркеуден шығарған Samba ресурсы (Microsoft желісі)
Comment[km]=Samba (បណ្ដាញ Microsoft) Share មិន​ទាន់​រៀបចំ
Comment[lt]=Išmontuotas Samba (Microsoft Network) bendro naudojimo diskas
Comment[lv]=Nomontēta Samba (Microsoft tīkla) šāre
Comment[mk]=Одмонтиран Samba заеднички ресурс (Microsoft мрежа)
Comment[ms]=Perkongsian Samba Nyahlekap (Rangkaian Microsoft)
Comment[nb]=Avmontert Samba-katalog (Microsoft nettverk)
Comment[nds]=Afhungen Samba-Freegaav (Microsoft-Nettwark)
Comment[ne]=अनमाउन्ट गरिएको साम्बा (माइक्रो सफ्ट सञ्जाल) साझेदारी
Comment[nl]=Afgekoppelde Samba-netwerkbron (Microsoft-netwerkbron)
Comment[nn]=Avmontert Samba-ressurs (Microsoft-nettverk)
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ ਸਾਂਬਾ (ਮਾਈਕਰੋਸਾਫਟ ਨੈੱਟਵਰਕ) ਸਾਂਝ
Comment[pl]=Odmontowany udział Samby (sieci typu Microsoft Network)
Comment[pt]=Partilha de Samba (Microsoft Network) desmontada
Comment[pt_BR]=Compartilhamento do Samba (Rede Microsoft) desmontado
Comment[ro]=Partajare Samba (reţea Microsoft) nemontată
Comment[ru]=Отмонтированный ресурс сети Microsoft
Comment[se]=Gálgajuvvon Samba-resursa (Microsoft-fierbmi)
Comment[sl]=Odklopljen deljeni vir Sambe (Microsoftovo omrežje)
Comment[sr]=Демонтирано Samba дељење (Microsoft-ова мрежа)
Comment[sr@Latn]=Demontirano Samba deljenje (Microsoft-ova mreža)
Comment[sv]=Avmonterad utdelad Samba-katalog (Microsoft-nätverk)
Comment[ta]=சம்பாவை வெளியேற்று(மைக்ரேசாப்ட் வலை) பகிர்வு
Comment[tg]=Ҷудо шудаи манбаъи Samba (шабакаи Microsoft)
Comment[tr]=Bağlanmış Samba (Microsoft Network) Paylaşımı
Comment[uk]=Демонтований спільний ресурс Samba (мережа Microsoft)
Comment[x-test]=xxUnmounted Samba (Microsoft Network) Sharexx
Comment[xh]=Samba Enganyuswanga (Umsebenzi womnatha we Microsoft) Ulwahlulo
Comment[zh_TW]=未掛載的 Samba (Microsoft 網路) 分享
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
