[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/svcd
Comment=Super Video CD
Comment[bg]=Супер видео CD
Comment[da]=Super Video-cd
Comment[fr]=Super CD vidéo
Comment[hu]=Super Video-CD
Comment[nl]=Super Video-cd
Comment[pt]=Super Vídeo CD
Comment[pt_BR]=Super vídeo CD (SVCD)
Comment[sv]=Supervideo-cd
Comment[tr]=Süper Vidyo CD
Comment[uk]=Супер відео КД
Icon=cdrom_unmount
