[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/svcd
Comment=Super Video CD
Comment[bg]=Супер видео CD
Comment[bn]=সুপার ভিডিও সিডি
Comment[ca]=CD Súper Vídeo
Comment[da]=Super Video-cd
Comment[fr]=Super CD vidéo
Comment[fy]=Super Fideo-kompaktskiif
Comment[hu]=Super Video-CD
Comment[is]=Súper vídeó CD
Comment[nb]=Super video CD
Comment[nl]=Super Video-cd
Comment[nn]=Super Video-CD
Comment[pt]=Super Vídeo CD
Comment[pt_BR]=Super vídeo CD (SVCD)
Comment[sv]=Supervideo-cd
Comment[tr]=Süper Vidyo CD
Comment[uk]=Супер відео КД
Comment[xx]=xxSuper Video CDxx
Comment[zh_CN]=超级 VCD
Icon=cdrom_unmount
