[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/svcd
Comment=Super Video CD
Comment[ar]=قرص مدمج مرئي Super
Comment[bg]=Супер видео CD
Comment[ca]=CD Súper Vídeo
Comment[da]=Super Video-cd
Comment[eo]=Supervida lumdisko
Comment[fa]=دیسک فشردۀ ابرویدیویی
Comment[fr]=Super CD vidéo
Comment[fy]=Super Fideo-kompaktskiif
Comment[gl]=Super Vídeo CD
Comment[hu]=Super Video-CD
Comment[is]=Súper vídeó CD
Comment[it]=Super video CD
Comment[ja]=スーパービデオ CD
Comment[ka]=სუპერ ვიდეო CD
Comment[km]=ស៊ីឌី​វីដេអូ​គុណភាព​ខ្ពស់
Comment[mk]=Супер видео ЦД
Comment[ms]=CD Supervideo
Comment[nb]=Super video CD
Comment[nds]=Super-Video-CD
Comment[ne]=सुपर भिडियो सी डी
Comment[nl]=Super Video-cd
Comment[nn]=Super Video-CD
Comment[pa]=ਸੁਪਰ ਵੀਡਿਓ CD
Comment[pl]=Płyta Super Video CD
Comment[pt]=Super Vídeo CD
Comment[pt_BR]=Super vídeo CD (SVCD)
Comment[ro]=CD Super Video
Comment[sr]=Супер видео CD
Comment[sr@Latn]=Super video CD
Comment[sv]=Supervideo-cd
Comment[ta]=சூப்பர் படக்காட்சி குறுந்தகடு
Comment[tg]=Супер Видео CD
Comment[tr]=Süper Vidyo CD
Comment[uk]=Супер відео КД
Comment[uz]=Супер-видео компакт-диск
Comment[x-test]=xxSuper Video CDxx
Comment[zh_TW]=超級視訊 CD
Icon=cdrom_unmount
