[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/vcd
Comment=Video CD
Comment[ar]=قرص مدمج  مرئي
Comment[br]=CD Video
Comment[ca]=CD Vídeo
Comment[da]=Video-cd
Comment[el]=Βίντεο CD
Comment[eo]=Vida lumdisko
Comment[fa]=دیسک فشردۀ ویدیویی
Comment[fr]=CD vidéo
Comment[fy]=Fideo-kompaktskiif
Comment[ga]=Dlúthdhiosca Físe
Comment[gl]=Vídeo CD
Comment[hu]=Video-CD
Comment[is]=Vídeó CD
Comment[ja]=ビデオ CD
Comment[kk]=Бейне CD
Comment[km]=ស៊ីឌី​វីដេអូ
Comment[mk]=Видео ЦД
Comment[ms]=CD Video
Comment[nds]=Video-CD
Comment[ne]=भिडियो सी डी
Comment[nl]=Video-cd
Comment[nn]=Video-CD
Comment[pa]=ਵੀਡਿਓ CD
Comment[pl]=Płyta Video CD
Comment[pt]=Vídeo CD
Comment[pt_BR]=Vídeo CD (VCD)
Comment[ro]=CD Video
Comment[sr]=Видео CD
Comment[sv]=Video-cd
Comment[ta]=படக்காட்சி குறுந்தகடு
Comment[tg]=Видео CD
Comment[tr]=Vidyo CD
Comment[uk]=Відео КД
Comment[uz]=Видео компакт-диск
Comment[x-test]=xxVideo CDxx
Comment[zh_TW]=視訊 CD
Icon=cdrom_unmount
