[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/vcd
Comment=Video CD
Comment[bg]=Видео CD
Comment[bn]=ভিডিও সিডি
Comment[br]=CD Video
Comment[ca]=CD Vídeo
Comment[da]=Video-cd
Comment[el]=Βίντεο CD
Comment[eu]=Bideo CD
Comment[fr]=CD vidéo
Comment[fy]=Fideo-kompaktskiif
Comment[hi]=वीडियो सीडी
Comment[hu]=Video-CD
Comment[is]=Vídeó CD
Comment[ja]=ビデオ CD
Comment[nl]=Video-cd
Comment[nn]=Video-CD
Comment[pa]=ਵੀਡਿਓ CD
Comment[pl]=Płyta Video CD
Comment[pt]=Vídeo CD
Comment[pt_BR]=Vídeo CD (VCD)
Comment[ro]=CD Video
Comment[sr]=Видео CD
Comment[sv]=Video-cd
Comment[ta]=படக்காட்சி குறுந்தகடு
Comment[tr]=Vidyo CD
Comment[uk]=Видео КД
Comment[xx]=xxVideo CDxx
Comment[zh_CN]=VCD
Icon=cdrom_unmount
