[Desktop Entry]
Encoding=UTF-8
Icon=zip_mount
Type=MimeType
MimeType=media/zip_mounted
Comment=Mounted Zip Disk
Comment[el]=Προσαρτημένος δίσκος Zip
Comment[fr]=Disque Zip monté
Comment[x-test]=xxMounted Zip Diskxx
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
