[Desktop Entry]
Encoding=UTF-8
Icon=zip_unmount
Type=MimeType
MimeType=media/zip_unmounted
Comment=Unmounted Zip Disk
Comment[af]=Ontkoppel Zip Disket
Comment[ar]=قرص Zip غير محمّل
Comment[be]=Адмацаваны дыск Zip
Comment[bg]=Демонтиран диск Zip
Comment[br]=Pladenn Zip divountet
Comment[ca]=Disc Zip desmuntat
Comment[cs]=Odpojený disk Zip
Comment[csb]=Òdmòntowóny disk Zip
Comment[cy]=Disg Zip wedi'i ddadosod
Comment[da]=Afmonteret zip-disk
Comment[de]=Nicht eingebundenes Zip-Medium
Comment[el]=Αποπροσαρτημένος δίσκος Zip
Comment[eo]=Malkroĉita ZIP-disko
Comment[es]=Disco Zip desmontado
Comment[et]=Lahutatud Zip-ketas
Comment[eu]=Zip diska desmuntatua
Comment[fa]=دیسک فشردۀ پیاده‌شده
Comment[fi]=Irrotettu Zip-levy
Comment[fr]=Disque Zip non monté
Comment[fy]=Ofkeppele Zip-skiif
Comment[ga]=Diosca Zip neamhfheistithe
Comment[gl]=Disco Zip non Montado
Comment[he]=תקליטון Zip מנותק
Comment[hr]=Nepristupljeni Zip disk
Comment[hu]=Leválasztott Zip-lemez
Comment[is]=Aftengdur Zip diskur
Comment[it]=Disco Zip non montato
Comment[ja]=マウントされていない Zip ディスク
Comment[ka]=დემონტირებული диск Zip
Comment[kk]=Тіркеуден шығарған Zip дискі
Comment[km]=ថាស Zip មិន​បាន​រៀបចំ
Comment[lt]=Išmontuotas Zip diskas
Comment[lv]=Nomontēts Zip disks
Comment[mk]=Одмонтиран Зип-диск
Comment[ms]=Cakera Zip Nyahlekap
Comment[nb]=Avmontert Zip-disk
Comment[nds]=Afhungen Zip-Diskett
Comment[ne]=अनमाउन्ट गरिएको जिप डिस्क
Comment[nl]=Afgekoppelde Zip-diskette
Comment[nn]=Avmontert Zip-disk
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ ਜ਼ਿਪ ਡਿਸਕ
Comment[pl]=Odmontowana dyskietka Zip
Comment[pt]=Disco ZIP desmontado
Comment[pt_BR]=Disco Zip Desmontado
Comment[ro]=Disc ZIP nemontat
Comment[ru]=Отмонтированный диск Zip
Comment[se]=Gálgajuvvon Zip-skearru
Comment[sl]=Odklopljen disk Zip
Comment[sr]=Демонтиран Zip диск
Comment[sr@Latn]=Demontiran Zip disk
Comment[sv]=Avmonterad Zip-diskett
Comment[ta]=வெளியேற்றிய சுருக்க தகடு
Comment[tg]=Ҷудо шудаи диски Zip
Comment[tr]=Ayrılmış Zip Diski
Comment[uk]=Демонтований диск Zip
Comment[uz]=Уланмаган ZIP-диск
Comment[x-test]=xxUnmounted Zip Diskxx
Comment[xh]=Diski Yoqokelelo ndawone Enganyuswanga
Comment[zh_TW]=未掛載的 Zip 磁碟
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
