[Desktop Entry]
Encoding=UTF-8
Icon=zip_mount
Type=MimeType
MimeType=media/zip_mounted
Comment=Mounted Zip Disk
Comment[af]=Gekoppelde Zip Disket
Comment[ar]=قرص Zip محمّل
Comment[az]=Bağlanmış Zip Disk
Comment[bg]=Монтиран диск Zip
Comment[bn]=মাউন্ট করা জিপ (Zip) ডিস্ক
Comment[br]=Pladenn Zip marc'het
Comment[bs]=Montiran Zip disk
Comment[ca]=Disc Zip muntat
Comment[cs]=Připojený disk Zip
Comment[cy]=Disg Zip wedi'i osod 
Comment[da]=Monteret zip-disk
Comment[de]=Eingebundenes Zip-Medium
Comment[el]=Προσαρτημένος δίσκος Zip
Comment[eo]=Kroĉita ZIP-disko
Comment[es]=Disco Zip montado
Comment[et]=Ühendatud Zip-ketas
Comment[eu]=Zip diska montatua
Comment[fa]=دیسک زیپ سوار شده
Comment[fi]=Liitetty Zip-levy
Comment[fr]=Disque Zip monté
Comment[fy]=Oankeppelee Zip-skiif
Comment[ga]=Diosca Zip feistithe
Comment[gl]=Disco Zip Montado
Comment[he]=תקליטון Zip מחובר
Comment[hi]=माउन्टेड जिप डिस्क
Comment[hr]=Montirani Zip disk
Comment[hu]=Csatlakoztatott Zip-lemez
Comment[is]=Tengdur Zip diskur
Comment[it]=Disco Zip montato
Comment[ja]=マウントされたZipディスク
Comment[lo]=ຈໍພາບ
Comment[lt]=Sumontuotas Zip diskas
Comment[lv]=Piemontēts Zip disks
Comment[mk]=Монтиран Зип диск
Comment[mn]=Залгагдсан Zip-Диск
Comment[mt]=Diska Zip immuntata
Comment[nb]=Montert Zip Disk
Comment[nds]=Inhangt Zip-Diskett
Comment[nl]=Aangekoppelde Zip-diskette
Comment[nn]=Montert Zip-disk
Comment[nso]=Disk yeo e Nameleditswego ya ZIP
Comment[pa]=ਮਾਊਟਿੰਡ ਜਿਪ ਡਿਸਕ
Comment[pl]=Zamontowana dyskietka Zip
Comment[pt]=Disco ZIP montado
Comment[pt_BR]=Disco Zip Montado
Comment[ro]=Disc ZIP montat
Comment[ru]=Смонтированный диск Zip
Comment[se]=Čatnojuvvon Zip-skearru
Comment[sk]=Pripojený disk Zip
Comment[sl]=Priklopljen disk Zip
Comment[sr]=Монтиран Zip диск
Comment[sr@Latn]=Montiran Zip disk
Comment[sv]=Monterad Zip-diskett
Comment[ta]=இறக்கப்பட்ட சுருக்க வட்டு
Comment[tg]=Монтажшудаи диски Zip
Comment[th]=ดิสก์ Zip ที่ถูกเม้าทน์
Comment[tr]=Bağlı Zip Diski
Comment[uk]=Змонтований диск Zip
Comment[uz]=Уланган ZIP-диск
Comment[ven]=Disk ya Zip yo gonyiswaho
Comment[wa]=Plakete ZIP montêye
Comment[xh]=Diski Yoqokelelo ndawonye Kwediski
Comment[xx]=xxMounted Zip Diskxx
Comment[zh_CN]=挂载的 Zip 磁盘
Comment[zh_TW]=已掛載的 Zip 磁碟
Comment[zu]=I-disk yokuhlanganiselwe ndawonye eyenyusiwe
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
