[Desktop Entry]
Encoding=UTF-8
Icon=zip_mount
Type=MimeType
MimeType=media/zip_mounted
Comment=Mounted Zip Disk
Comment[af]=Gekoppelde Zip Disket
Comment[ar]=قرص Zip محمّل
Comment[be]=Прымацаваны дыск Zip
Comment[bg]=Монтиран диск Zip
Comment[br]=Pladenn Zip marc'het
Comment[ca]=Disc Zip muntat
Comment[cs]=Připojený disk Zip
Comment[cy]=Disg Zip wedi'i osod 
Comment[da]=Monteret zip-disk
Comment[de]=Eingebundenes Zip-Medium
Comment[el]=Προσαρτημένος δίσκος Zip
Comment[eo]=Kroĉita ZIP-disko
Comment[es]=Disco Zip montado
Comment[et]=Ühendatud Zip-ketas
Comment[eu]=Zip diska muntatua
Comment[fa]=دیسک فشردۀ سوارشده
Comment[fi]=Liitetty Zip-levy
Comment[fr]=Disque Zip monté
Comment[fy]=Oankeppelee Zip-skiif
Comment[ga]=Diosca Zip feistithe
Comment[gl]=Disco Zip Montado
Comment[he]=תקליטון Zip מחובר
Comment[hr]=Pristupljeni Zip disk
Comment[hu]=Csatlakoztatott Zip-lemez
Comment[is]=Tengdur Zip diskur
Comment[it]=Disco Zip montato
Comment[ja]=マウントされた Zip ディスク
Comment[ka]=მონტირებული диск Zip
Comment[kk]=Тіркеген Zip дискі
Comment[km]=ថាស Zip បាន​រៀបចំ
Comment[lt]=Sumontuotas Zip diskas
Comment[lv]=Piemontēts Zip disks
Comment[mk]=Монтиран Зип-диск
Comment[ms]=Cakera Zip Terlekap
Comment[nb]=Montert Zip-disk
Comment[nds]=Inhangt Zip-Diskett
Comment[ne]=माउन्ट गरिएको जिप डिस्क
Comment[nl]=Aangekoppelde Zip-diskette
Comment[nn]=Montert Zip-disk
Comment[pa]=ਮਾਊਟ ਕੀਤੀ ਜਿਪ ਡਿਸਕ
Comment[pl]=Zamontowana dyskietka Zip
Comment[pt]=Disco ZIP montado
Comment[pt_BR]=Disco Zip Montado
Comment[ro]=Disc ZIP montat
Comment[ru]=Смонтированный диск Zip
Comment[se]=Čatnojuvvon Zip-skearru
Comment[sl]=Priklopljen disk Zip
Comment[sr]=Монтиран Zip диск
Comment[sr@Latn]=Montiran Zip disk
Comment[sv]=Monterad Zip-diskett
Comment[ta]=இறக்கப்பட்ட சுருக்க வட்டு
Comment[tg]=Монтажшудаи диски Zip
Comment[tr]=Bağlı Zip Diski
Comment[uk]=Змонтований диск Zip
Comment[uz]=Уланган ZIP-диск
Comment[x-test]=xxMounted Zip Diskxx
Comment[xh]=Diski Yoqokelelo ndawonye Kwediski
Comment[zh_TW]=已掛載的 Zip 磁碟
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory
