[Desktop Entry]
Type=Service
Icon=edit-find
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=filenamesearchmodule
X-KDE-FactoryName=filenamesearchmodule
X-KDE-DBus-ModuleName=filenamesearchmodule
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false

Name=Search Folder Updater
Comment=Allows automatic updates of Search Folders
