[Desktop Entry]
Type=Service
Icon=edit-find
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=filenamesearchmodule
X-KDE-FactoryName=filenamesearchmodule
X-KDE-DBus-ModuleName=filenamesearchmodule
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false

Name=Search Folder Updater
Name[ca]=Actualitzador de les carpetes de cerca
Name[ca@valencia]=Actualitzador de les carpetes de cerca
Name[de]=Suchordner-Aktualisierung
Name[es]=Actualizador de carpetas de búsqueda
Name[fi]=Hakukansion päivitin
Name[fr]=Mise à jour du dossier Recherche
Name[it]=Strumento di aggiornamento delle cartelle di ricerca
Name[nb]=Søkemappe-oppdatering
Name[nl]=Bijwerker van zoekmap
Name[nn]=Søkjemappe-oppdatering
Name[pl]=Uaktualnienie katalogu wyszukiwania
Name[pt]=Actualização das Pastas de Pesquisa
Name[sk]=Aktualizátor priečinkov hľadania
Name[sl]=Posodobilnik iskalnih map
Name[sr]=Ажурирање фасцикли претраге
Name[sr@ijekavian]=Ажурирање фасцикли претраге
Name[sr@ijekavianlatin]=Ažuriranje fascikli pretrage
Name[sr@latin]=Ažuriranje fascikli pretrage
Name[sv]=Uppdateringsverktyg för sökkataloger
Name[uk]=Засіб оновлення тек пошуку
Name[x-test]=xxSearch Folder Updaterxx
Name[zh_TW]=搜尋資料夾更新器
Comment=Allows automatic updates of Search Folders
Comment[ca]=Permet l'actualització automàtica de les carpetes de cerca
Comment[ca@valencia]=Permet l'actualització automàtica de les carpetes de cerca
Comment[de]=Ermöglicht die automatische Aktualisierung von Suchordnern
Comment[es]=Permite actualizaciones automáticas de carpetas de búsqueda
Comment[fi]=Mahdollistaa hakukansioiden automaattisen päivittämisen
Comment[fr]=Permet une mise à jour automatique des dossiers de recherche
Comment[it]=Consente aggiornamenti automatici delle cartelle di ricerca
Comment[nb]=Tillater automatisk oppdatering av søkemapper
Comment[nl]=Staat automatisch bijwerken van zoekmappen toe
Comment[nn]=Tillèt automatiske oppdateringar av søkjemapper
Comment[pl]=Umożliwia samoczynne uaktualnienia katalogów wyszukiwania
Comment[pt]=Permite as actualizações automáticas das Pastas de Pesquisa
Comment[sk]=Umožní automatické aktualizácie priečinkov hľadania
Comment[sl]=Omogoča samodejno posodabljanje iskalnih map
Comment[sr]=Омогућава аутоматско ажурирање фасцикли претраге
Comment[sr@ijekavian]=Омогућава аутоматско ажурирање фасцикли претраге
Comment[sr@ijekavianlatin]=Omogućava automatsko ažuriranje fascikli pretrage
Comment[sr@latin]=Omogućava automatsko ažuriranje fascikli pretrage
Comment[sv]=Tillåter automatisk uppdatering av sökkataloger
Comment[uk]=Надає змогу автоматично оновлювати теки пошуку
Comment[x-test]=xxAllows automatic updates of Search Foldersxx
Comment[zh_TW]=允許自動更新搜尋資料夾
