[Desktop Entry]
Type=Link

URL=network:/

Icon=network-workgroup
Name=Network
Name[de]=Netzwerk
Name[et]=Võrk
Name[fr]=Réseau
Name[pt]=Rede
Name[pt_BR]=Rede
Name[sv]=Nätverk
Name[tr]=Ağ
Name[uk]=Мережа
Name[zh_TW]=網路
