[Desktop Entry]
Type=Link

URL=network:/

Icon=network-workgroup
Name=Network
# Comment=

# Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
