[Desktop Entry]
Type=Service
Name=ShortURIFilter
Name[uk]=Фільтр коротких URI
Name[x-test]=xxShortURIFilterxx
X-KDE-Library=kshorturifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=5
