[Desktop Entry]
Type=Service
Name=FixHostFilter
Name[csb]=Filter FixHost
Name[de]=Rechnernamen-Korrektur-Filter
Name[hi]=फ़िक्स-होस्ट-फ़िल्टर
Name[is]=LagaHostSía
Name[mr]=फिक्स होस्ट फिल्टर
Name[nds]=FastReeknerFilter
Name[ne]=होस्ट फिल्टर निश्चित गर्नुहोस्
Name[nn]=FiksVertFilter
Name[pl]=Filtr nazw komputerów
Name[pt]=Filtro de Correcção da Máquina
Name[sr]=Филтер за поправку домаћина
Name[sr@latin]=Filter za popravku domaćina
Name[sv]=Fast värddatorfilter
Name[vi]=Bộ lọc sửa máy
Name[x-test]=xxFixHostFilterxx
Name[zh_CN]=固定主机过滤器
Name[zh_TW]=固定主機過濾
X-KDE-Library=fixhosturifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=0
