[Desktop Entry]
Type=Service
Name=FixHostFilter
Name[uk]=FixHostFilter
Name[x-test]=xxFixHostFilterxx
X-KDE-Library=fixhosturifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=1
