[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=FixHostFilter
Name[de]=Rechnernamen-Korrektur-Filter
Name[nds]=FastReeknerFilter
Name[x-test]=xxFixHostFilterxx
Name[zh_TW]=固定主機過濾
X-KDE-Library=libfixhosturifilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=0
