[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=networkwatcher
X-KDE-DBus-ModuleName=networkwatcher
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Network Watcher
Name[ca]=Vigilant de la xarxa
Name[ca@valencia]=Vigilant de la xarxa
Name[csb]=Dozérôcz sécë
Name[da]=Netværksovervåger
Name[et]=Võrgujälgija
Name[fi]=Verkkotilan valvoja
Name[gu]=નેટવર્ક દેખરેખ
Name[km]=កម្មវិធីមើល​បណ្ដាញ
Name[nds]=Nettwark-Kieker
Name[pt]=Vigilante da Rede
Name[pt_BR]=Monitor de rede
Name[sv]=Nätverksövervakare
Name[tr]=Ağ İzleyici
Name[uk]=Наглядач мережі
Name[zh_CN]=网络监视器
Name[zh_TW]=網路監控器
Comment=Keeps track of the network and updates directory listings of the network:/ protocol
Comment[ca]=Fa un seguiment de la xarxa i actualitza els llistats de directoris del protocol network:/
Comment[ca@valencia]=Fa un seguiment de la xarxa i actualitza els llistats de directoris del protocol network:/
Comment[da]=Holder øje med netværket og opdaterer mappelister for protokollen network:/
Comment[et]=Hoiab võrgul silma peal ja uuendab protokolli network:/ kataloogide nimekirja
Comment[km]=តាមដាន​បណ្ដាញ និង​ថត​ធ្វើ​ឲ្យ​ទាន់សម័យ​ដោយ​រាយ​ពិធីការ network:/
Comment[nds]=Beluert dat Nettwark un frischt Orner-Oplisten vun't network:/-Protokoll op
Comment[pt]=Mantém um registo da rede e actualiza as listagens de pastas no protocolo 'network:/'
Comment[pt_BR]=Monitora a rede e atualiza a listagem de diretórios do protocolo network:/
Comment[sv]=Håller reda på nätverket och uppdaterar kataloglistningar för protokollet network:/
Comment[uk]=Стежить за мережею і оновлює списки каталогів протоколу network:/
Comment[zh_TW]=保持追蹤此網路，並更新 network:/ 協定中的目錄清單
