[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=networkwatcher
X-KDE-DBus-ModuleName=networkwatcher
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Network Watcher
Name[bg]=Наблюдение на мрежата
Name[ca]=Vigilant de la xarxa
Name[ca@valencia]=Vigilant de la xarxa
Name[csb]=Dozérôcz sécë
Name[da]=Netværksovervåger
Name[de]=Netzwerküberwacung
Name[et]=Võrgujälgija
Name[fi]=Verkkotilan valvoja
Name[fr]=Surveillance du réseau
Name[gl]=Vixilante da rede
Name[gu]=નેટવર્ક દેખરેખ
Name[is]=Netskoðunartól
Name[km]=កម្មវិធីមើល​បណ្ដាញ
Name[ko]=네트워크 모니터
Name[lv]=Tīkla novērotājs
Name[mai]=नेटवर्क वाचर
Name[nb]=Nettversksovervåker
Name[nds]=Nettwark-Kieker
Name[nl]=Netwerkbewaker
Name[nn]=Nettverksovervakar
Name[pt]=Vigilante da Rede
Name[pt_BR]=Monitor de rede
Name[sl]=Opazovalnik omrežja
Name[sv]=Nätverksövervakare
Name[tr]=Ağ İzleyici
Name[uk]=Наглядач мережі
Name[wa]=Waiteu d' rantoele
Name[x-test]=xxNetwork Watcherxx
Name[zh_CN]=网络监视器
Name[zh_TW]=網路監控器
Comment=Keeps track of the network and updates directory listings of the network:/ protocol
Comment[ca]=Fa un seguiment de la xarxa i actualitza els llistats de directoris del protocol network:/
Comment[ca@valencia]=Fa un seguiment de la xarxa i actualitza els llistats de directoris del protocol network:/
Comment[da]=Holder øje med netværket og opdaterer mappelister for protokollen network:/
Comment[de]=Überwacht das Netzwerk und aktualisiert Ordnerauflistungen des Protokolls „network:/“
Comment[et]=Hoiab võrgul silma peal ja uuendab protokolli network:/ kataloogide nimekirja
Comment[fr]=Conserve des enregistrements du réseaux et met à jours les contenus des dossiers pour le protocole network:/
Comment[gl]=Vixía a rede e actualiza as listaxes de cartafoles do protocolo network:/
Comment[is]=Fylgist með netvirkni og uppfærir möppubreytingar með network:/ samskiptareglunni
Comment[km]=តាមដាន​បណ្ដាញ និង​ថត​ធ្វើ​ឲ្យ​ទាន់សម័យ​ដោយ​រាយ​ពិធីការ network:/
Comment[ko]=네트워크의 변경 사항을 추적하며 network:/ 프로토콜의 디렉터리 목록을 업데이트합니다
Comment[lv]=Seko līdzi tīkam un atjaunina network:/ protokola mapju sarakstus
Comment[nb]=Holder øye med nettverket og oppdaterer katalogoppføringer for protokollen network:/
Comment[nds]=Beluert dat Nettwark un frischt Orner-Oplisten vun't network:/-Protokoll op
Comment[nn]=Held auge med nettverket og oppdaterer kataloglistene i network:/-protokollen
Comment[pt]=Mantém um registo da rede e actualiza as listagens de pastas no protocolo 'network:/'
Comment[pt_BR]=Monitora a rede e atualiza a listagem de diretórios do protocolo network:/
Comment[sl]=Sledi omrežju in posodablja seznam map za protokol network:/
Comment[sv]=Håller reda på nätverket och uppdaterar kataloglistningar för protokollet network:/
Comment[uk]=Стежить за мережею і оновлює списки каталогів протоколу network:/
Comment[x-test]=xxKeeps track of the network and updates directory listings of the network:/ protocolxx
Comment[zh_CN]=跟踪网络及 network:/ 协议所列目录的更新情况
Comment[zh_TW]=保持追蹤此網路，並更新 network:/ 協定中的目錄清單
