[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Desktop Folder Notifier
Name[ca]=Notificador de carpeta d'escriptori del KDED
Name[el]=Ειδοποιητής KDED φακέλων επιφάνειας εργασίας
Name[et]=KDED töölaua kausta teadustaja
Name[ga]=Fógróir Fillteáin Deisce KDED
Name[gu]=KDE ડેસ્કટોપ ફોલ્ડર નોટિફાયર
Name[km]=កម្មវិធី​ជូន​ដំណឹង​​ថត​ផ្ទៃតុ KDED
Name[nds]=KDED-Bescheden för Schriefdischornern
Name[pa]=KDED ਡੈਸਕਟਾ ਫੋਲਡਰ ਨੋਟੀਫਾਇਰ
Name[pt]=Notificador de Pastas do Ambiente de Trabalho do KDED
Name[pt_BR]=Notificador de Pastas da Área de Trabalho do KDED
Name[ro]=Notificare KDED pentru dosar de pe birou
Name[sv]=KDED underrättelser om skrivbordskataloger
Name[th]=ตัวแจ้งให้ทราบเกี่ยวโฟลเดอร์บนเดสก์ทอป KDED
Name[tr]=KDED Masaüstü Dizini Bildirici
Name[uk]=Сповіщувач про стільничні теки для KDED
Name[x-test]=xxKDED Desktop Folder Notifierxx
Name[zh_CN]=KDED 桌面文件夹通知器
Name[zh_TW]=KDED 桌面資料夾通知程式
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=desktopnotifier
X-KDE-FactoryName=desktopnotifier
X-KDE-DBus-ModuleName=desktopnotifier
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-autoload=false

