[Desktop Entry]
Encoding=UTF-8
Name=Home
Name[uk]=Домівка
Name[x-test]=xxHomexx
GenericName=Personal Files
GenericName[uk]=Особисті файли
GenericName[x-test]=xxPersonal Filesxx
URL[$e]=$HOME
Icon=user-home
Type=Link

